Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            default:
                threshold: 1
                informational: true
            codewhisperer:
                target: 70%
                paths:
                    - src/codewhisperer/*
                flags:
                    - 'codewhisperer'
            amazonqFeatureDev:
                target: 70%
                paths:
                    - src/amazonqFeatureDev/*
                flags:
                    - 'amazonqFeatureDev'
        patch: no
        changes: no

comment: off

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - src/codewhisperer/
    amazonqFeatureDev:
        paths:
            - src/amazonqFeatureDev/

fix: require "await" or .catch() on async calls
  src/codecatalyst/activation.ts
  src/codecatalyst/devEnv.ts
  src/testInteg/codecatalyst/devEnv.test.ts
Due: none

fix: require "await" or .catch() on async calls
  src/amazonq/onboardingPage/index.ts
  src/amazonq/webview/ui/connector.ts
  src/amazonqFeatureDev/app.ts
  src/amazonqFeatureDev/controllers/chat/controller.ts
  src/amazonqGumby/activation.ts
  src/amazonqGumby/entrypoint.ts
  src/applicationcomposer/messageHandlers/addFileWatchMessageHandler.ts
  src/applicationcomposer/messageHandlers/deployMessageHandler.ts
  src/applicationcomposer/messageHandlers/generateResourceHandler.ts
  src/applicationcomposer/messageHandlers/initMessageHandler.ts
  src/applicationcomposer/messageHandlers/loadFileMessageHandler.ts
  src/applicationcomposer/messageHandlers/saveFileMessageHandler.ts
  src/applicationcomposer/webviewManager.ts
  src/awsexplorer/activation.ts
  src/cdk/explorer/rootNode.ts
  src/cloudWatchLogs/commands/addLogEvents.ts
  src/cloudWatchLogs/commands/copyLogResource.ts
  src/cloudWatchLogs/commands/saveCurrentLogDataContent.ts
  src/cloudWatchLogs/commands/searchLogGroup.ts
  src/codecatalyst/activation.ts
  src/codecatalyst/auth.ts
  src/codecatalyst/commands.ts
Due: amazonqFeatureDev

fix: require "await" or .catch() on async calls
  src/amazonqFeatureDev/controllers/chat/controller.ts
  src/codewhispererChat/controllers/chat/controller.ts
Due: amazonqFeatureDev

fix: require "await" or .catch() on async calls
  src/amazonqGumby/entrypoint.ts
  src/codecatalyst/devEnv.ts
  src/codecatalyst/devfile.ts
  src/codecatalyst/explorer.ts
  src/codecatalyst/reconnect.ts
  src/codecatalyst/utils.ts
  src/codecatalyst/vue/configure/backend.ts
  src/codecatalyst/vue/create/backend.ts
  src/codecatalyst/wizards/selectResource.ts
Due: none

add changelog
  .changes/next-release/Removal-ca09407d-b3ce-43df-a236-d12f7fa888f3.json
Due: none

fix(codewhisperer): cloud9 chain suggestion bug #4173
  .changes/next-release/Bug Fix-18261950-9a6c-4fdf-b618-5c45ffaa3e82.json
  src/codewhisperer/service/keyStrokeHandler.ts
Due: codewhisperer

feat(auth): drop "Switch connections"/"Add new connections" in Q/CW menus #4217
  .changes/next-release/Removal-ca09407d-b3ce-43df-a236-d12f7fa888f3.json
  docs/develop.md
  package.json
  src/codewhisperer/commands/basicCommands.ts
  src/codewhisperer/commands/invokeRecommendation.ts
  src/codewhisperer/util/authUtil.ts
Due: codewhisperer

Amazon Q Transform: Always execute IDE bundled maven whenever maven command fails (#4084)
  .changes/next-release/bugfix-0cd6cb68-2ee7-4e79-8f6d-18c6a5592731.json
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerSessionContext.kt
Due: none

fix: require "await" or .catch() on async calls
  src/codewhisperer/service/transformationResultsViewProvider.ts
  src/codewhisperer/tracker/codewhispererTracker.ts
  src/codewhisperer/util/authUtil.ts
Due: codewhisperer

fix: require "await" or .catch() on async calls
  src/codewhisperer/activation.ts
  src/codewhisperer/commands/basicCommands.ts
  src/codewhisperer/service/referenceLogViewProvider.ts
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

fix: require "await" or .catch() on async calls
  src/codewhisperer/service/keyStrokeHandler.ts
  src/codewhisperer/service/recommendationHandler.ts
  src/codewhisperer/service/referenceLogViewProvider.ts
Due: codewhisperer

fix: require "await" or .catch() on async calls
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/service/featureConfigProvider.ts
  src/codewhisperer/service/inlineCompletionService.ts
Due: codewhisperer

fix: require "await" or .catch() on async calls
  src/codewhisperer/util/authUtil.ts
  src/codewhisperer/util/customizationUtil.ts
  src/codewhisperer/views/securityIssue/securityIssueWebview.ts
  src/codewhisperer/vue/backend.ts
  src/codewhispererChat/commands/registerCommands.ts
Due: codewhisperer

fix: require "await" or .catch() on async calls
  src/codewhisperer/commands/basicCommands.ts
  src/codewhisperer/commands/invokeRecommendation.ts
  src/codewhisperer/commands/startSecurityScan.ts
  src/codewhisperer/util/authUtil.ts
  src/test/codewhisperer/tracker/codewhispererTracker.test.ts
Due: codewhisperer

fix: require "await" or .catch() on async calls
  src/codewhisperer/service/transformByQHandler.ts
  src/codewhisperer/service/transformationHubViewProvider.ts
Due: codewhisperer

fix: require "await" or .catch() on async calls
  src/codewhisperer/service/inlineCompletionService.ts
  src/codewhisperer/service/keyStrokeHandler.ts
Due: codewhisperer

tests: disable fail fast for windows tests, enable e2e
  .github/workflows/node.js.yml
  src/testE2E/codecatalyst/client.test.ts
Due: none

fix: align transform user click telemetry behavior with VSCode implem… (#4080)
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerSessionContext.kt
Due: none

Return if event is undefined
  src/codewhisperer/service/securityIssueProvider.ts
  src/codewhisperer/util/dependencyGraph/cloudformationDependencyGraph.ts
Due: codewhisperer

fix tests
  src/test/feedback/commands/submitFeedbackListener.test.ts
  src/test/shared/clients/defaultS3Client.test.ts
Due: none

lint: require "await" or .catch() on async calls
  src/ec2/explorer/ec2ParentNode.ts
  src/ecr/commands/createRepository.ts
  src/ecr/commands/deleteRepository.ts
  src/ecr/commands/deleteTag.ts
  src/ecs/activation.ts
  src/ecs/commands.ts
Due: none

lint: require "await" or .catch() on async calls
  src/codewhispererChat/controllers/chat/controller.ts
  src/codewhispererChat/view/messages/messageListener.ts
  src/common/browserUtils.ts
Due: none

lint: require "await" or .catch() on async calls
  src/eventSchemas/commands/downloadSchemaItemCode.ts
  src/eventSchemas/commands/viewSchemaItem.ts
  src/eventSchemas/vue/searchSchemas.ts
  src/eventSchemas/wizards/schemaCodeDownloadWizard.ts
  src/extension.ts
Due: none

lint: require "await" or .catch() on async calls
  src/codewhisperer/util/userGroupUtil.ts
  src/codewhispererChat/commands/registerCommands.ts
  src/codewhispererChat/controllers/chat/controller.ts
Due: codewhisperer

lint: require "await" or .catch() on async calls
  src/dev/activation.ts
  src/extension.ts
Due: none

lint: require "await" or .catch() on async calls
  src/dev/activation.ts
  src/dev/beta.ts
  src/dev/codecatalyst.ts
  src/dynamicResources/activation.ts
  src/dynamicResources/awsResourceManager.ts
  src/dynamicResources/commands/copyIdentifier.ts
  src/dynamicResources/commands/deleteResource.ts
  src/dynamicResources/commands/openResource.ts
  src/dynamicResources/commands/saveResource.ts
  src/ec2/commands.ts
Due: none

fix(deps): outdated `marked` dependency
  package-lock.json
  package.json
  scripts/build/generateNonCodeFiles.ts
Due: none

deps: remove @types/marked
  package-lock.json
  package.json
Due: none

refactor(deps): use synchronous `marked`
  scripts/build/generateNonCodeFiles.ts
Due: none

deps: migrate to @smithy/shared-ini-file-loader
  package-lock.json
  package.json
Due: none

fixup! deps: migrate to @smithy/shared-ini-file-loader
  src/auth/providers/sharedCredentialsProvider.ts
  src/test/credentials/provider/sharedCredentialsProvider.test.ts
Due: none

reset schema service
  src/test/dynamicResources/awsResourceManager.test.ts
Due: none

deps: migrate to @smithy/shared-ini-file-loader #4223
  package-lock.json
  package.json
  src/auth/providers/sharedCredentialsProvider.ts
  src/test/credentials/provider/sharedCredentialsProvider.test.ts
Due: none

Uninstall - confirm this works before pulling from draft
  package-lock.json
  package.json
Due: none

Update src/test/utilities/stubber.ts
  src/test/utilities/stubber.ts
Due: none

deps: remove @types/he, @types/proxyquire
  package-lock.json
  package.json
Due: none

deps: remove @types/he, @types/proxyquire #4224
  package-lock.json
  package.json
Due: none

codewhisperer: skip flaky tests
  src/test/codewhisperer/service/telemetry.test.ts
Due: none
