Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            default:
                threshold: 1
                informational: true
            codewhisperer:
                target: 70%
                paths:
                    - src/codewhisperer/*
                flags:
                    - 'codewhisperer'
            amazonqFeatureDev:
                target: 70%
                paths:
                    - src/amazonqFeatureDev/*
                flags:
                    - 'amazonqFeatureDev'
        patch: no
        changes: no

comment: off

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - src/codewhisperer/
    amazonqFeatureDev:
        paths:
            - src/amazonqFeatureDev/

ci: fail on "rejected promise not handled"
  buildspec/linuxTests.yml
Due: none

ci: ignore known "rejected promise" issues
  buildspec/linuxTests.yml
Due: none

fix(tests): "rejected promise not handled"
  src/test/cloudWatchLogs/commands/saveCurrentLogDataContent.test.ts
Due: none

fix(tests): "rejected promise not handled" #3814
  src/test/cloudWatchLogs/commands/saveCurrentLogDataContent.test.ts
Due: none

fix: require "await" or .catch() on async calls
  src/shared/sam/activation.ts
  src/shared/sam/cli/samCliDetection.ts
  src/shared/sam/cli/samCliSettings.ts
  src/shared/sam/cli/samCliValidationNotification.ts
  src/shared/sam/cli/samCliValidationUtils.ts
  src/shared/sam/debugger/awsSamDebugger.ts
  src/shared/sam/debugger/commands/addSamDebugConfiguration.ts
  src/shared/ui/common/variablesPrompter.ts
  src/shared/ui/picker.ts
  src/shared/ui/pickerPrompter.ts
  src/shared/utilities/cliUtils.ts
  src/shared/utilities/messages.ts
  src/shared/utilities/vsCodeUtils.ts
  src/shared/vscode/uriHandler.ts
  src/shared/wizards/multiStepWizard.ts
  src/test/shared/sam/debugger/samDebugConfigProvider.test.ts
Due: none

fix: require "await" or .catch() on async calls
  src/amazonq/activation.ts
  src/amazonq/auth/controller.ts
  src/amazonq/commons/controllers/contentController.ts
Due: none

fix: require "await" or .catch() on async calls
  src/auth/credentials/utils.ts
  src/auth/deprecated/loginManager.ts
  src/codecatalyst/devEnv.ts
  src/ecs/commands.ts
  src/shared/sam/localLambdaRunner.ts
  src/shared/utilities/messages.ts
Due: none

fix: require "await" or .catch() on async calls
  src/apigateway/commands/copyUrl.ts
  src/apprunner/activation.ts
  src/apprunner/commands/createServiceFromEcr.ts
  src/apprunner/explorer/apprunnerServiceNode.ts
  src/apprunner/wizards/deploymentButton.ts
  src/auth/activation.ts
  src/auth/auth.ts
  src/auth/connection.ts
  src/auth/credentials/utils.ts
Due: none

fix: require "await" or .catch() on async calls
  src/amazonq/webview/ui/apps/cwChatConnector.ts
  src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  src/amazonq/webview/ui/connector.ts
  src/amazonq/webview/ui/followUps/handler.ts
  src/amazonq/webview/ui/messages/handler.ts
  src/amazonq/webview/ui/quickActions/handler.ts
  src/amazonqFeatureDev/controllers/chat/controller.ts
Due: amazonqFeatureDev

fix: require "await" or .catch() on async calls
  src/auth/deprecated/loginManager.ts
  src/auth/secondaryAuth.ts
  src/auth/ui/statusBarItem.ts
  src/auth/ui/vue/show.ts
Due: none

fix: require "await" or .catch() on async calls
  src/shared/activationReloadState.ts
  src/shared/awsContextCommands.ts
  src/shared/awsFiletypes.ts
  src/shared/cloudformation/activation.ts
  src/shared/codelens/codeLensUtils.ts
  src/shared/credentials/defaultCredentialSelectionDataProvider.ts
  src/shared/debug/launchConfiguration.ts
  src/shared/extensionUtilities.ts
  src/shared/extensions/git.ts
  src/shared/extensions/ssh.ts
  src/shared/filesystemUtilities.ts
  src/shared/fs/templateRegistry.ts
  src/shared/globalState.ts
  src/shared/sam/sync.ts
  src/shared/schemas.ts
  src/shared/sshConfig.ts
  src/shared/telemetry/activation.ts
  src/shared/treeview/nodes/awsTreeNodeBase.ts
  src/shared/treeview/resource.ts
  src/shared/treeview/utils.ts
  src/shared/ui/buttons.ts
  src/shared/ui/common/region.ts
  src/shared/ui/common/roles.ts
Due: none

fix: require "await" or .catch() on async calls
  src/auth/ui/vue/show.ts
  src/auth/utils.ts
Due: none

fix: require "await" or .catch() on async calls
  src/shared/fs/watchedFiles.ts
  src/shared/logger/activation.ts
  src/shared/regions/regionProvider.ts
  src/shared/remoteSession.ts
  src/shared/sam/activation.ts
  src/shared/sam/debugger/commands/addSamDebugConfiguration.ts
  src/shared/sam/debugger/csharpSamDebug.ts
  src/shared/sam/localLambdaRunner.ts
Due: none

fixup
  src/shared/ui/common/roles.ts
Due: none

fix: require "await" or .catch() on async calls
  src/amazonq/explorer/amazonQChildrenNodes.ts
  src/amazonq/explorer/amazonQNode.ts
  src/amazonq/onboardingPage/index.ts
  src/amazonq/util/viewBadgeHandler.ts
  src/amazonq/webview/messages/messageDispatcher.ts
Due: none

fix: update codewhisperer telemetry client model #4200
  src/codewhisperer/client/user-service-2.json
  src/codewhisperer/tracker/codewhispererTracker.ts
  src/codewhispererChat/controllers/chat/chatRequest/converter.ts
  src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: codewhisperer

fix: error handling, move constants, add test, remove dep
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/models/constants.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
  src/feedback/vue/submitFeedback.ts
  src/shared/utilities/textUtilities.ts
  src/testInteg/amazonqGumby/transformByQ.test.ts
Due: codewhisperer

fix(transform): error handling, add test, remove dep #4191
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/models/constants.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
  src/shared/utilities/textUtilities.ts
  src/testInteg/amazonqGumby/transformByQ.test.ts
Due: codewhisperer

Update .changes/next-release/Bug Fix-219eee10-03c2-4122-9bf8-30f0c4ce6f88.json
  .changes/next-release/Bug Fix-219eee10-03c2-4122-9bf8-30f0c4ce6f88.json
Due: none

AmazonQ: Incorrect range fix (#4189)
  .changes/next-release/Bug Fix-219eee10-03c2-4122-9bf8-30f0c4ce6f88.json
  src/codewhispererChat/editor/context/focusArea/focusAreaExtractor.ts
  src/test/codewhispererChat/editor/context/focusArea/focusAreaExtractor.test.ts
Due: none

fix: remove deps
  package-lock.json
  package.json
Due: none

fix(integ): remove go extension activation.
  src/testInteg/sam.test.ts
Due: none

fix(integ): remove go extension activation. (#4207)
  src/testInteg/sam.test.ts
Due: none

Check for handleDocumentChange
  src/codewhisperer/service/securityIssueProvider.ts
Due: codewhisperer

Update samLambdaRuntime.ts add python3.12
  src/lambda/models/samLambdaRuntime.ts
Due: none

feat(sam): python 3.12 support for SAM, lambda
  README.quickstart.cloud9.md
  src/eventSchemas/models/schemaCodeLangs.ts
  src/shared/sam/debugger/pythonSamDebug.ts
  src/test/eventSchemas/model/schemaCodeLangs.test.ts
  src/test/lambda/models/samLambdaRuntime.test.ts
  src/test/lambda/models/samTemplates.test.ts
  src/testInteg/sam.test.ts
Due: none

feat(sam): python 3.12 support for SAM, lambda
  .changes/next-release/Feature-b6ebf0bc-9be1-4ef5-872a-cf993591585d.json
Due: none

fix: remove deps #4211
  package-lock.json
  package.json
Due: none

fix(tests): "rejected promise not handled"
  src/test/eventSchemas/commands/downloadSchemaItemCode.test.ts
Due: none

fix(tests): "rejected promise not handled" #4201
  src/test/eventSchemas/commands/downloadSchemaItemCode.test.ts
Due: none

fixed code block text background color
  package-lock.json
  package.json
Due: none

removed unused attributes for new MynahUI
  src/amazonq/webview/ui/messages/handler.ts
  src/amazonq/webview/ui/quickActions/handler.ts
Due: none

fix: add missing code transform telemetry
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/service/transformByQHandler.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
Due: codewhisperer

Update .changes/next-release/Bug Fix-18261950-9a6c-4fdf-b618-5c45ffaa3e82.json
  .changes/next-release/Bug Fix-18261950-9a6c-4fdf-b618-5c45ffaa3e82.json
Due: none

use static message for general error metric
  src/codewhisperer/commands/startTransformByQ.ts
Due: codewhisperer

refactor(auth): don't display switch connections/add new connections in Q/CW ellipses menus
  docs/develop.md
  package.json
  src/codewhisperer/commands/basicCommands.ts
  src/codewhisperer/commands/invokeRecommendation.ts
  src/codewhisperer/util/authUtil.ts
Due: codewhisperer

Remove redundant logging
  src/codewhisperer/commands/startTransformByQ.ts
Due: codewhisperer

feat(sam): python 3.12 support for SAM, lambda #4208
  .changes/next-release/Feature-b6ebf0bc-9be1-4ef5-872a-cf993591585d.json
  README.quickstart.cloud9.md
  src/eventSchemas/models/schemaCodeLangs.ts
  src/lambda/models/samLambdaRuntime.ts
  src/shared/sam/debugger/pythonSamDebug.ts
  src/test/eventSchemas/model/schemaCodeLangs.test.ts
  src/test/lambda/models/samLambdaRuntime.test.ts
  src/test/lambda/models/samTemplates.test.ts
  src/testInteg/sam.test.ts
Due: none

fix: require "await" or .catch() on async calls
  src/codecatalyst/devEnv.ts
  src/codecatalyst/wizards/selectResource.ts
  src/codewhisperer/activation.ts
  src/codewhisperer/client/codewhisperer.ts
  src/codewhisperer/commands/basicCommands.ts
Due: codewhisperer
