Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

telemetry: code transform data byte size, result field #4180
  .changes/next-release/Feature-20c6488b-1750-4ca6-9eb3-b509f49f194b.json
  src/amazonqGumby/telemetry/codeTransformTelemetry.ts
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/service/transformByQHandler.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
Due: codewhisperer

fix: omit redundant metric emission
  src/codewhisperer/service/transformByQHandler.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
Due: codewhisperer

nit: modify error message
  src/codewhisperer/service/transformationResultsViewProvider.ts
Due: codewhisperer

Addressing comments
  src/codewhisperer/commands/onAcceptance.ts
  src/codewhisperer/commands/onInlineAcceptance.ts
  src/codewhisperer/commands/startSecurityScan.ts
  src/codewhisperer/service/completionProvider.ts
  src/codewhisperer/service/inlineCompletionItemProvider.ts
  src/codewhisperer/service/recommendationHandler.ts
  src/codewhisperer/util/editorContext.ts
Due: codewhisperer

Improve pom detection algorithm (#4053)
  .changes/next-release/bugfix-4c31acbd-6839-4b1f-a0ec-7e2c8402e6ff.json
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/Utils.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/ValidationResult.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererActionNodeTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codemodernizer/CodeWhispererCodeModernizerTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codemodernizer/CodeWhispererCodeModernizerTestBase.kt
Due: none

Feature - Emit additional Code Transform telemetry (#4063)
  .changes/next-release/feature-09c9bb6d-d79b-4bbc-9241-735f0efc1098.json
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/ArtifactHandler.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codemodernizer/CodeWhispererCodeModernizerTest.kt
Due: none

fix(codewhisperer): support code generation for IaC languages without external plugin extensions (#4181)
  .changes/next-release/Bug Fix-ec18555e-d716-40b5-b8d1-54dad851fdc2.json
  src/codewhisperer/commands/onAcceptance.ts
  src/codewhisperer/commands/onInlineAcceptance.ts
  src/codewhisperer/commands/startSecurityScan.ts
  src/codewhisperer/service/completionProvider.ts
  src/codewhisperer/service/inlineCompletionItemProvider.ts
  src/codewhisperer/service/recommendationHandler.ts
  src/codewhisperer/util/editorContext.ts
  src/codewhisperer/util/runtimeLanguageContext.ts
  src/codewhisperer/util/telemetryHelper.ts
  src/test/codewhisperer/util/runtimeLanguageContext.test.ts
Due: codewhisperer

fix: reorder input checks, remove modals, add jobId to table (#4184)
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/models/constants.ts
  src/codewhisperer/models/model.ts
  src/codewhisperer/service/transformByQHandler.ts
  src/codewhisperer/service/transformationHubViewProvider.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
  src/test/codewhisperer/commands/transformByQ.test.ts
Due: codewhisperer

Chore - normalize telemetry JDK strings emitted from VSCode
  src/amazonqGumby/telemetry/codeTransformTelemetry.ts
  src/codewhisperer/commands/startTransformByQ.ts
Due: codewhisperer

fix: include jobId in IDE feedback
  src/feedback/vue/submitFeedback.vue
Due: none

nit: update string
  src/feedback/vue/submitFeedback.vue
Due: none

fix: Fix missing conversationId in /dev
  src/amazonqFeatureDev/session/session.ts
Due: amazonqFeatureDev

fix: "/dev" fails with "Conversation id must exist" #4188
  src/amazonqFeatureDev/session/session.ts
Due: amazonqFeatureDev

changelog
  .changes/next-release/Bug Fix-d05c652b-4f1d-4c90-9386-c1a1c40219e8.json
Due: none

AmazonQ: Incorrect range fix
  .changes/next-release/Bug Fix-219eee10-03c2-4122-9bf8-30f0c4ce6f88.json
  src/codewhispererChat/editor/context/focusArea/focusAreaExtractor.ts
  src/test/codewhispererChat/editor/context/focusArea/focusAreaExtractor.test.ts
Due: none

upgrade telemetry version
  package-lock.json
  package.json
  src/shared/telemetry/vscodeTelemetry.json
Due: none

fix: add jobId when sending feedback
  src/feedback/vue/submitFeedback.ts
Due: none

fix(telemetry): normalize JDK strings #4185
  src/amazonqGumby/telemetry/codeTransformTelemetry.ts
  src/codewhisperer/commands/startTransformByQ.ts
Due: codewhisperer

Release 2.4.0
  .changes/2.4.0.json
  .changes/next-release/Bug Fix-d05c652b-4f1d-4c90-9386-c1a1c40219e8.json
  .changes/next-release/Bug Fix-ec18555e-d716-40b5-b8d1-54dad851fdc2.json
  .changes/next-release/Feature-20c6488b-1750-4ca6-9eb3-b509f49f194b.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Upgrade to Kotlin 1.9.21 (#4005)
  build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/software/aws/toolkits/gradle/BuildScriptUtils.kt
  gradle/libs.versions.toml
  jetbrains-gateway/build.gradle.kts
  kotlinResolution.settings.gradle.kts
  settings.gradle.kts
Due: none

Update version to snapshot version: 2.5.0-SNAPSHOT
  package-lock.json
  package.json
Due: none

upgrade telemetry version
  package-lock.json
  package.json
Due: none

Amazon Q Transform: Provide IDE bundled MavenRunner for transform (#4070)
  .changes/next-release/feature-94919c2c-0d33-4f58-9c8e-f5b8cb661d1f.json
  gradle/libs.versions.toml
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/ArtifactHandler.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/ideMaven/TransformMavenRunner.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/ideMaven/TransformRunnable.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerSessionContext.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codemodernizer/CodeWhispererCodeModernizerSessionTest.kt
  resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Due: none

telemetry: add rule id to security scan metrics #4182
  package-lock.json
  package.json
  src/codewhisperer/commands/basicCommands.ts
  src/codewhisperer/models/model.ts
  src/codewhisperer/service/securityIssueHoverProvider.ts
  src/codewhisperer/service/securityScanHandler.ts
  src/shared/telemetry/vscodeTelemetry.json
  src/test/codewhisperer/service/securityIssueHoverProvider.test.ts
Due: codewhisperer

fix incorrect type casting
  src/codewhisperer/service/recommendationHandler.ts
Due: codewhisperer

changelog
  .changes/next-release/Bug Fix-524dba3b-28f6-4aef-b5f6-2624b73c868c.json
Due: none

remove unneeded import
  src/codewhisperer/service/recommendationHandler.ts
Due: codewhisperer

telemetry: add rule id to security scan metrics (#4069)
  jetbrains-core/resources/telemetryOverride.json
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanSession.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/telemetry/CodeWhispererTelemetryService.kt
Due: none

fix(codewhisperer): incorrect type cast if error is not AwsError #4193
  .changes/next-release/Bug Fix-524dba3b-28f6-4aef-b5f6-2624b73c868c.json
  src/codewhisperer/service/recommendationHandler.ts
Due: codewhisperer

fix: show scan output logs with any log level
  src/codewhisperer/commands/startSecurityScan.ts
Due: codewhisperer

add changelog
  .changes/next-release/Bug Fix-29e2ab3a-6bef-49c4-874c-05752122ea7b.json
Due: none

Update .changes/next-release/Bug Fix-29e2ab3a-6bef-49c4-874c-05752122ea7b.json
  .changes/next-release/Bug Fix-29e2ab3a-6bef-49c4-874c-05752122ea7b.json
Due: none

fix(auth): command 'aws.codeWhisperer.refresh' not found
  src/codewhisperer/util/authUtil.ts
Due: codewhisperer

fix(auth): command 'aws.codeWhisperer.refresh' not found #4195
  src/codewhisperer/util/authUtil.ts
Due: codewhisperer

fix(telemetry): codewhisperer_perceivedLatency` emitted without "result"
  src/codewhisperer/service/recommendationHandler.ts
Due: codewhisperer

fix(telemetry): metric emitted without "result" #4197
  src/codewhisperer/service/recommendationHandler.ts
Due: codewhisperer

fix typo on lazylogrule.kt (#4078)
  detekt-rules/src/software/aws/toolkits/gradle/detekt/rules/LazyLogRule.kt
Due: none

Fix issue loading project into IDE (#4077)
  kotlinResolution.settings.gradle.kts
Due: none

fix(codewhisperer): "Show Scanned Files" shows empty logs (#4194)
  .changes/next-release/Bug Fix-29e2ab3a-6bef-49c4-874c-05752122ea7b.json
  src/codewhisperer/commands/startSecurityScan.ts
Due: codewhisperer

Update CWSPR telemetry client as per API model changes.
  src/codewhisperer/client/user-service-2.json
  src/codewhisperer/tracker/codewhispererTracker.ts
  src/codewhispererChat/controllers/chat/chatRequest/converter.ts
  src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: codewhisperer

Path conditions:
  codewhisperer: any of: src/codewhisperer/
  amazonqFeatureDev: any of: src/amazonqFeatureDev/
