Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

refactor(logs): remove "Watch Logs" command #6533
  CONTRIBUTING.md
  docs/images/debug-console-filter.png
  packages/core/src/dev/activation.ts
  packages/core/src/shared/logger/logger.ts
  packages/core/src/shared/logger/toolkitLogger.ts
  packages/core/src/test/testLogger.ts
  packages/toolkit/package.json
Due: none

Fix: filter out frequent client error from codegeneration telemetry
  packages/core/src/amazonqFeatureDev/constants.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: codewhisperer, amazonqFeatureDev

Pull error messages as constants
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/amazonqFeatureDev/constants.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: codewhisperer, amazonqFeatureDev

tests(amazonq): add skipped test report generator
  package.json
  scripts/skippedTestReport.ts
Due: none

test(toolkit): Add region provider remote test (#6425)
  packages/core/src/shared/regions/regionProvider.ts
  packages/core/src/testInteg/regionProvider.test.ts
Due: none

feat: implement throttle
  packages/core/src/shared/utilities/functionUtils.ts
  packages/core/src/test/shared/utilities/functionUtils.test.ts
Due: none

fix type
  packages/core/src/amazonqFeatureDev/constants.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: codewhisperer, amazonqFeatureDev

combine conditions when testing
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: none

refactor: move throttle up
  packages/core/src/auth/auth.ts
  packages/core/src/auth/providers/credentialsProviderManager.ts
Due: none

fix typo
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
Due: amazonqFeatureDev

fix(amazonq): language server fails to start in non-debug mode (#6538)
  packages/core/src/shared/lsp/utils/platform.ts
Due: none

feat: add more decorators to track
  packages/core/src/auth/auth.ts
Due: none

test: update techdebt test
  packages/core/src/test/techdebt.test.ts
Due: none

test(amazonq): Add inline completion e2e tests (#6486)
  packages/amazonq/test/e2e/inline/inline.test.ts
  packages/core/src/test/codewhisperer/testUtil.ts
  packages/core/src/test/setupUtil.ts
Due: none

feat(amazonq): Support pre-release LSP versions (#6539)
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/amazonq/test/e2e/lsp/lspInstaller.test.ts
  packages/core/src/shared/lsp/lspResolver.ts
Due: codewhisperer

Used util function isAPIClientError when filtering error
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/errors.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: codewhisperer, amazonqFeatureDev

fix(amazonq): Split trace server logs into separate output channel (#6467)
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

refactor: move throttle down to avoid side effects
  packages/core/src/auth/auth.ts
  packages/core/src/auth/providers/credentialsProviderManager.ts
Due: none

foo
  packages/amazonq/src/lsp/client.ts
  packages/core/src/auth/sso/ssoAccessTokenProvider.ts
  packages/core/src/shared/extensionUtilities.ts
Due: codewhisperer

test(e2e): stabilize Amazon Q feature development tests (#6520)
  packages/amazonq/test/e2e/amazonq/featureDev.test.ts
  packages/amazonq/test/e2e/amazonq/framework/framework.ts
Due: none

refactor: increase debugging trail of function_call
  packages/core/src/auth/sso/validation.ts
  packages/core/src/auth/utils.ts
  packages/core/src/codecatalyst/auth.ts
  packages/core/src/codewhisperer/util/authUtil.ts
  packages/core/src/dev/activation.ts
  packages/core/src/extensionNode.ts
  packages/core/src/login/webview/vue/toolkit/backend_toolkit.ts
Due: codewhisperer

getSlectedCustomization should has no side effect
  packages/core/src/codewhisperer/util/customizationUtil.ts
Due: codewhisperer

selectCustomization if override is provided by the service
  packages/core/src/shared/featureConfig.ts
Due: none

test: update techdebt test to reference correct file
  packages/core/src/test/techdebt.test.ts
Due: none

refactor(logging): scope log messages to specific LSP using topic headers. (#6526)
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/logger/logger.ts
  packages/core/src/shared/lsp/utils/cleanup.ts
  packages/core/src/test/shared/lsp/utils/cleanup.test.ts
Due: codewhisperer

refactor(amazonq): refactor doc and featureDev SessionState
  packages/amazonq/test/unit/amazonqFeatureDev/session/session.test.ts
  packages/core/src/amazonq/commons/connector/baseMessenger.ts
  packages/core/src/amazonq/commons/connector/connectorMessages.ts
  packages/core/src/amazonq/commons/session/sessionConfigFactory.ts
  packages/core/src/amazonqDoc/controllers/chat/controller.ts
  packages/core/src/amazonqDoc/session/session.ts
  packages/core/src/amazonqDoc/session/sessionState.ts
  packages/core/src/amazonqDoc/types.ts
  packages/core/src/amazonqFeatureCommon/client/client.ts
  packages/core/src/amazonqFeatureCommon/constants.ts
  packages/core/src/amazonqFeatureCommon/index.ts
  packages/core/src/amazonqFeatureCommon/session/sessionState.ts
  packages/core/src/amazonqFeatureCommon/types.ts
  packages/core/src/amazonqFeatureCommon/util/files.ts
  packages/core/src/amazonqFeatureCommon/util/telemetryHelper.ts
  packages/core/src/amazonqFeatureCommon/util/upload.ts
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/index.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
  packages/core/src/test/amazonqFeatureDev/session/sessionState.test.ts
  packages/core/src/test/amazonqFeatureDev/utils.ts
  packages/core/src/testInteg/perf/registerNewFiles.test.ts
Due: codewhisperer, amazonqFeatureDev

refactor(amazonq): refactor doc and featureDev SessionState
  packages/core/src/amazonq/client/client.ts
  packages/core/src/amazonq/commons/connector/connectorMessages.ts
  packages/core/src/amazonq/constants.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/session/sessionState.ts
  packages/core/src/amazonq/types.ts
  packages/core/src/amazonq/util/files.ts
  packages/core/src/amazonq/util/telemetryHelper.ts
  packages/core/src/amazonq/util/upload.ts
  packages/core/src/amazonqDoc/controllers/chat/controller.ts
  packages/core/src/amazonqDoc/session/session.ts
  packages/core/src/amazonqDoc/session/sessionState.ts
  packages/core/src/amazonqDoc/types.ts
  packages/core/src/amazonqFeatureCommon/index.ts
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/index.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/test/amazonq/session/testSetup.ts
  packages/core/src/test/amazonq/utils.ts
  packages/core/src/test/amazonqDoc/session/sessionState.test.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
  packages/core/src/test/amazonqFeatureDev/session/sessionState.test.ts
  packages/core/src/test/index.ts
  packages/core/src/testInteg/perf/registerNewFiles.test.ts
Due: codewhisperer, amazonqFeatureDev

Refactor sessionState tests
  packages/core/src/test/amazonq/session/testSetup.ts
  packages/core/src/test/amazonqDoc/session/sessionState.test.ts
  packages/core/src/test/amazonqFeatureDev/session/sessionState.test.ts
Due: none

refactor(amazonq): refactor doc and featureDev SessionState
  packages/amazonq/test/unit/amazonqFeatureDev/session/session.test.ts
  packages/core/src/amazonq/commons/connector/connectorMessages.ts
  packages/core/src/amazonq/commons/types.ts
  packages/core/src/amazonq/constants.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/session/sessionState.ts
  packages/core/src/amazonq/types.ts
  packages/core/src/amazonq/util/files.ts
  packages/core/src/amazonq/util/telemetryHelper.ts
  packages/core/src/amazonqDoc/session/sessionState.ts
  packages/core/src/amazonqDoc/types.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/index.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/test/amazonq/session/testSetup.ts
  packages/core/src/test/amazonq/utils.ts
  packages/core/src/test/amazonqDoc/session/sessionState.test.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
  packages/core/src/test/amazonqFeatureDev/session/sessionState.test.ts
  packages/core/src/testInteg/perf/registerNewFiles.test.ts
Due: codewhisperer, amazonqFeatureDev

Update packages/core/src/amazonqDoc/session/sessionState.ts
  packages/core/src/amazonqDoc/session/sessionState.ts
Due: none

Fix
  packages/core/src/amazonqDoc/session/sessionState.ts
Due: none

Change handleError
  packages/core/src/amazonq/session/sessionState.ts
  packages/core/src/amazonqDoc/session/sessionState.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

Fix
  packages/core/src/amazonq/session/sessionState.ts
  packages/core/src/amazonqDoc/session/sessionState.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

startCodeGeneration change
  packages/core/src/amazonqDoc/session/sessionState.ts
Due: none

Fix conflict
  packages/core/src/amazonq/util/files.ts
Due: none
