Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            default:
                threshold: 1
                informational: true
            codewhisperer:
                target: 70%
                paths:
                    - src/codewhisperer/*
                flags:
                    - 'codewhisperer'
            amazonqFeatureDev:
                target: 70%
                paths:
                    - src/amazonqFeatureDev/*
                flags:
                    - 'amazonqFeatureDev'
        patch: no
        changes: no

comment: off

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - src/codewhisperer/
    amazonqFeatureDev:
        paths:
            - src/amazonqFeatureDev/

fix: fix telemetry
  src/amazonqGumby/entrypoint.ts
Due: none

test: add integ test
  src/codewhisperer/service/transformationResultsViewProvider.ts
  src/testInteg/amazonqGumby/transformByQ.test.ts
Due: codewhisperer

fix: fix integ test from no connection issue
  src/testInteg/amazonqGumby/transformByQ.test.ts
Due: none

fix: skip test if no valid conn
  src/testInteg/amazonqGumby/transformByQ.test.ts
Due: none

CW: Change in payload size for GO and Ruby from 1MB to 200KB for security scans
  src/codewhisperer/models/constants.ts
Due: codewhisperer

CW: Change in payload size for Go and Ruby from 1MB to 200KB (#4158)
  src/codewhisperer/models/constants.ts
Due: codewhisperer

Feature - Update aws-toolkit-commons package - update AmazonQ Code Transform telemetry definitions for new package update
  .changes/next-release/Bug Fix-a8d6edab-136e-4a0e-ba04-1bdd4e1a45eb.json
  package-lock.json
  package.json
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

test: fix integ test case sync skip issue
  src/testInteg/amazonqGumby/transformByQ.test.ts
  src/testInteg/util/amazonQUtil.ts
Due: none

fix: use fs instead of findFiles to check for Gradle
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

Chore - remove stale import
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

fix: fix integ test
  src/testInteg/amazonqGumby/transformByQ.test.ts
Due: none

fix: remove integ test
  src/testInteg/amazonqGumby/transformByQ.test.ts
Due: none

fix: fix integ test
  src/testInteg/amazonqGumby/transformByQ.test.ts
  src/testInteg/util/amazonQUtil.ts
Due: none

add the error name to the metric
  src/amazonqFeatureDev/client/featureDev.ts
  src/amazonqFeatureDev/errors.ts
Due: amazonqFeatureDev

add mid streaming error mappings and minor fixes
  src/amazonqFeatureDev/client/featureDev.ts
  src/amazonqFeatureDev/errors.ts
Due: amazonqFeatureDev

feat(amazonqFeatureDev, telemetry): add status codes to api errors for better error telemetry
  src/amazonqFeatureDev/client/featureDev.ts
  src/amazonqFeatureDev/errors.ts
  src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

improve handling of error instances
  src/amazonqFeatureDev/client/featureDev.ts
  src/amazonqFeatureDev/errors.ts
Due: amazonqFeatureDev

assert errors better
  src/amazonqFeatureDev/client/featureDev.ts
  src/amazonqFeatureDev/errors.ts
  src/shared/errors.ts
Due: amazonqFeatureDev

telemetry(amazonqFeatureDev): generateApproach api error metrics, minor fixes #4149
  src/amazonqFeatureDev/client/featureDev.ts
  src/amazonqFeatureDev/errors.ts
  src/amazonqFeatureDev/session/sessionState.ts
  src/shared/errors.ts
Due: amazonqFeatureDev

fix: disable CodeCatalyst view in cloud9-classic
  package.json
Due: none

Feature - Update aws-toolkit-commons package (#4051)
  .changes/next-release/bugfix-32139a16-d00e-43e2-aab8-a356008abfd1.json
  gradle/libs.versions.toml
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codemodernizer/CodeWhispererCodeModernizerTest.kt
Due: none

amazonQ: only add missing scopes intentionally (#4152)
  src/amazonq/auth/controller.ts
  src/amazonq/explorer/amazonQChildrenNodes.ts
  src/codewhisperer/commands/basicCommands.ts
  src/codewhisperer/util/authUtil.ts
  src/test/codewhisperer/util/authUtil.test.ts
Due: codewhisperer

fix: disable CodeCatalyst view in cloud9-classic #4160
  package.json
Due: none

docs: Modify/add information to docs
  CONTRIBUTING.md
  docs/ARCHITECTURE.md
  docs/images/debugMenu.png
  docs/images/developerMenu.png
  docs/images/developerModeEnabled.png
  docs/images/runTests.png
  docs/telemetry.md
Due: none

Chore - delete changelog sinces its only internal change
  .changes/next-release/Bug Fix-a8d6edab-136e-4a0e-ba04-1bdd4e1a45eb.json
Due: none

Remove moment from getRelativeDate
  src/shared/utilities/textUtilities.ts
  src/test/shared/utilities/textUtilities.test.ts
Due: none

fix test
  src/test/s3/explorer/s3FileNode.test.ts
Due: none

CW: Removing unnecessary code duplication in security scans. (#4049)
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/CodeScanSessionConfig.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/JavaScriptCodeScanSessionConfig.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/TypeScriptCodeScanSessionConfig.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererConstants.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanTestBase.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCsharpCodeScanTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererGoCodeScanTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererJavaCodeScanTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererJavaScriptCodeScanTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererJsonCodeScanTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererPythonCodeScanTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererRubyCodeScanTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererTfCodeScanTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererTypeScriptCodeScanTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererYamlCodeScanTest.kt
  resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Due: none

Add option to override CodeCatalyst API endpoint to registry (#4042)
  jetbrains-core/resources/META-INF/plugin.xml
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/caws/CawsClientCustomizer.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/caws/CawsCloneDialogComponent.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/caws/CawsEndpoints.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/caws/CawsHttpAuthProvider.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/caws/CawsClientCustomizerTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/caws/CawsEndpointsTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/utils/rules/RegistryExtension.kt
  jetbrains-gateway/src/software/aws/toolkits/jetbrains/gateway/CawsConnectorViewPanels.kt
Due: none

Feature - Update aws-toolkit-commons package (#4159)
  package-lock.json
  package.json
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

feat(codecatalyst): Use MDE endpoint set by environment variable (#3997)
  .changes/next-release/feature-6a3685d3-e758-4083-8c1c-2fe1779a2a8f.json
  jetbrains-core/resources/META-INF/services/caws.xml
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/caws/CawsConstants.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/caws/envclient/CawsEnvironmentClient.kt
Due: none

Drop IDE 223, Gateway 232 (#4041)
  .changes/next-release/removal-7b9cff71-9f8f-4669-9009-9e4e911b271e.json
  .changes/next-release/removal-ecd37ab2-89a3-4675-ad62-68cf1b57b043.json
  .run/Run IDE - Core [2022.3].run.xml
  .run/Run IDE - Gateway [2023.2].run.xml
  .run/Run IDE - Rider [2022.3].run.xml
  .run/Run IDE - Ultimate [2022.3].run.xml
  README.md
  buildSrc/src/main/kotlin/software/aws/toolkits/gradle/intellij/IdeVersions.kt
  jetbrains-core/src-223/software/aws/toolkits/jetbrains/core/docker/DockerUtils.kt
  jetbrains-core/src-231-232/org/jetbrains/plugins/terminal/TerminalIcons.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/core/docker/DockerUtils.kt
  jetbrains-core/tst-223/com/intellij/testFramework/common/ThreadLeakTracker.kt
  jetbrains-gateway/src-232/com/intellij/openapi/rd/util/startWithModalProgressAsync.kt
  jetbrains-gateway/src-232/com/intellij/platform/ide/progress/ModalTaskOwner.kt
  jetbrains-gateway/src-232/com/intellij/platform/ide/progress/TaskCancellation.kt
  jetbrains-gateway/src-232/com/intellij/platform/util/progress/indeterminateStep.kt
  jetbrains-rider/src-223/software/aws/toolkits/jetbrains/core/compatability/RiderProjectTemplate.kt
  jetbrains-rider/src-223/software/aws/toolkits/jetbrains/services/lambda/dotnet/DotNetSamProjectGenerator.kt
  jetbrains-rider/src-231-232/com/jetbrains/rider/languages/fileTypes/csharp/CSharpLanguage.kt
  jetbrains-rider/src-231/software/aws/toolkits/jetbrains/core/compatability/RiderCompat.kt
  jetbrains-rider/src-231/software/aws/toolkits/jetbrains/services/lambda/WorkspaceModel.kt
  jetbrains-rider/src-231/software/aws/toolkits/jetbrains/utils/OpenSolutionFileParams.kt
  jetbrains-rider/src/software/aws/toolkits/jetbrains/core/compatability/RiderProjectTemplate.kt
  jetbrains-rider/src/software/aws/toolkits/jetbrains/services/lambda/dotnet/DotNetSamProjectGenerator.kt
  jetbrains-rider/tst-223/software/aws/toolkits/jetbrains/services/lambda/compat/CachedImageIcon.kt
  jetbrains-rider/tst-231/base/AwsReuseSolutionTestBase.kt
  jetbrains-ultimate/src-231/software/aws/toolkits/jetbrains/UiConstraints.kt
  jetbrains-ultimate/tst-223/software/aws/toolkits/jetbrains/datagrip/auth/mockDataSourceSshTunnelConfiguration.kt
  jetbrains-ultimate/tst-231/software/aws/toolkits/jetbrains/go/VgoCompatShims.kt
  jetbrains-ultimate/tst-231/software/aws/toolkits/jetbrains/go/VgoDependencyInstance.java
  jetbrains-ultimate/tst/software/aws/toolkits/jetbrains/datagrip/auth/mockDataSourceSshTunnelConfiguration.kt
  settings.gradle.kts
Due: none

Remove localized timestamp moment dependency
  src/cloudWatchLogs/commands/viewLogStream.ts
  src/iot/explorer/iotCertificateNode.ts
  src/iot/explorer/iotPolicyVersionNode.ts
  src/s3/explorer/s3FileNode.ts
  src/shared/constants.ts
  src/shared/utilities/textUtilities.ts
  src/test/cloudWatchLogs/commands/viewLogStream.test.ts
  src/test/iot/explorer/iotPolicyVersionNode.test.ts
  src/test/s3/explorer/s3FileNode.test.ts
Due: none

Migrate logfile name
  src/shared/logger/activation.ts
Due: none

codewhisperer: increase poll frequency
  .changes/next-release/Bug Fix-8dafab20-12b5-41a2-8786-889ec65cc70a.json
  src/codewhisperer/models/constants.ts
Due: codewhisperer

undo auto format
  src/codewhisperer/models/constants.ts
Due: codewhisperer

fix: fix integ tests
  src/testInteg/amazonqGumby/transformByQ.test.ts
  src/testInteg/util/amazonQUtil.ts
Due: none

nit: add comment
  src/testInteg/amazonqGumby/transformByQ.test.ts
Due: none

add new field in telemetry api
  src/codewhisperer/client/codewhisperer.ts
  src/codewhisperer/client/user-service-2.json
  src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer
