Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            default:
                target: 70%
                threshold: 5%
                informational: true
            codewhisperer:
                paths:
                    - packages/core/src/codewhisperer/*
                flags:
                    - 'codewhisperer'
            amazonqFeatureDev:
                paths:
                    - packages/core/src/amazonqFeatureDev/*
                flags:
                    - 'amazonqFeatureDev'
            amazonqGumby:
                paths:
                    - packages/core/src/amazonqGumby/*
            codewhispererChat:
                paths:
                    - packages/core/src/codewhispererChat/*
            applicationcomposer:
                paths:
                    - packages/core/src/applicationcomposer/*
            stepFunctions:
                target: 50%
                threshold: 10%
                paths:
                    - packages/core/src/stepFunctions/*
            threatComposer:
                paths:
                    - packages/core/src/threatComposer/*
        patch: false
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - packages/core/src/codewhisperer/
    amazonqFeatureDev:
        paths:
            - packages/core/src/amazonqFeatureDev/

patch
  packages/core/src/codewhisperer/util/runtimeLanguageContext.ts
Due: codewhisperer

patch
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/util/runtimeLanguageContext.ts
Due: codewhisperer

patch extension
  packages/core/src/codewhisperer/util/runtimeLanguageContext.ts
Due: codewhisperer

fixup
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

fix(lambda): [Getting Started] New local invoke webView (#1754)
  packages/core/src/lambda/vue/configEditor/samInvoke.css
  packages/core/src/lambda/vue/configEditor/samInvokeBackend.ts
  packages/core/src/lambda/vue/configEditor/samInvokeComponent.vue
  packages/core/src/lambda/vue/configEditor/samInvokeFrontend.ts
Due: none

refactor: rename childProcess -> processUtils
  packages/core/src/awsService/ecs/commands.ts
  packages/core/src/codecatalyst/model.ts
  packages/core/src/dev/codecatalyst.ts
  packages/core/src/shared/extensions/ssh.ts
  packages/core/src/shared/remoteSession.ts
  packages/core/src/shared/sam/cli/samCliBuild.ts
  packages/core/src/shared/sam/cli/samCliInfo.ts
  packages/core/src/shared/sam/cli/samCliInvoker.ts
  packages/core/src/shared/sam/cli/samCliInvokerUtils.ts
  packages/core/src/shared/sam/cli/samCliLocalInvoke.ts
  packages/core/src/shared/sam/debugger/csharpSamDebug.ts
  packages/core/src/shared/sam/debugger/goSamDebug.ts
  packages/core/src/shared/sam/debugger/typescriptSamDebug.ts
  packages/core/src/shared/sam/localLambdaRunner.ts
  packages/core/src/shared/sam/sync.ts
  packages/core/src/shared/sshConfig.ts
  packages/core/src/shared/utilities/cliUtils.ts
  packages/core/src/shared/utilities/pathFind.ts
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/shared/vscode/env.ts
  packages/core/src/test/awsService/ec2/sshKeyPair.test.ts
  packages/core/src/test/fakeExtensionContext.ts
  packages/core/src/test/lambda/commands/deploySamApplication.test.ts
  packages/core/src/test/shared/codelens/localLambdaRunner.test.ts
  packages/core/src/test/shared/extensions/ssh.test.ts
  packages/core/src/test/shared/sam/cli/samCliBuild.test.ts
  packages/core/src/test/shared/sam/cli/samCliInit.test.ts
  packages/core/src/test/shared/sam/cli/samCliLocalInvoke.test.ts
  packages/core/src/test/shared/sam/cli/samCliTestUtils.ts
  packages/core/src/test/shared/sam/cli/testSamCliProcessInvoker.ts
  packages/core/src/test/shared/sshConfig.test.ts
  packages/core/src/test/shared/utilities/cliUtils.test.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
  packages/core/src/test/shared/vscode/env.test.ts
Due: none

fixup
  packages/core/src/codewhisperer/commands/invokeRecommendation.ts
  packages/core/src/codewhisperer/service/keyStrokeHandler.ts
  packages/core/src/codewhisperer/service/recommendationService.ts
Due: codewhisperer

refactor(rename): childProcess -> processUtils (#5665)
  packages/core/src/awsService/ecs/commands.ts
  packages/core/src/codecatalyst/model.ts
  packages/core/src/dev/codecatalyst.ts
  packages/core/src/shared/extensions/ssh.ts
  packages/core/src/shared/remoteSession.ts
  packages/core/src/shared/sam/cli/samCliBuild.ts
  packages/core/src/shared/sam/cli/samCliInfo.ts
  packages/core/src/shared/sam/cli/samCliInvoker.ts
  packages/core/src/shared/sam/cli/samCliInvokerUtils.ts
  packages/core/src/shared/sam/cli/samCliLocalInvoke.ts
  packages/core/src/shared/sam/debugger/csharpSamDebug.ts
  packages/core/src/shared/sam/debugger/goSamDebug.ts
  packages/core/src/shared/sam/debugger/typescriptSamDebug.ts
  packages/core/src/shared/sam/localLambdaRunner.ts
  packages/core/src/shared/sam/sync.ts
  packages/core/src/shared/sshConfig.ts
  packages/core/src/shared/utilities/cliUtils.ts
  packages/core/src/shared/utilities/pathFind.ts
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/shared/vscode/env.ts
  packages/core/src/test/awsService/ec2/sshKeyPair.test.ts
  packages/core/src/test/fakeExtensionContext.ts
  packages/core/src/test/lambda/commands/deploySamApplication.test.ts
  packages/core/src/test/shared/codelens/localLambdaRunner.test.ts
  packages/core/src/test/shared/extensions/ssh.test.ts
  packages/core/src/test/shared/sam/cli/samCliBuild.test.ts
  packages/core/src/test/shared/sam/cli/samCliInit.test.ts
  packages/core/src/test/shared/sam/cli/samCliLocalInvoke.test.ts
  packages/core/src/test/shared/sam/cli/samCliTestUtils.ts
  packages/core/src/test/shared/sam/cli/testSamCliProcessInvoker.ts
  packages/core/src/test/shared/sshConfig.test.ts
  packages/core/src/test/shared/utilities/cliUtils.test.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
  packages/core/src/test/shared/vscode/env.test.ts
Due: none

fix(amazonq): Remove automatic focus on prompt input field after response
  packages/amazonq/.changes/next-release/Bug Fix-ecd96a79-8bb7-4411-ae6b-8952381dc86d.json
  packages/core/src/amazonq/webview/ui/main.ts
Due: none

determine if in Debug & Run mode
  packages/core/src/shared/vscode/env.ts
Due: none

docs(ec2): add ec2 connect details to `arch_features.md` (#5652)
  docs/arch_features.md
Due: none

telemetry(amazonq): Add telemetry tracing for amazon q inline (#5655)
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/codewhisperer/commands/onInlineAcceptance.ts
  packages/core/src/codewhisperer/service/keyStrokeHandler.ts
  packages/core/src/codewhisperer/service/recommendationHandler.ts
  packages/core/src/codewhisperer/service/recommendationService.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
  packages/core/src/codewhisperer/views/activeStateController.ts
  packages/core/src/codewhisperer/views/lineAnnotationController.ts
Due: codewhisperer

feat(telemetry): include user intent for copy and insert code interactions (#5654)
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/model.ts
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
  packages/core/src/codewhispererChat/view/messages/messageListener.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: none

add file locking mechanism
  package-lock.json
  packages/core/package.json
  packages/core/src/shared/fs/fs.ts
  packages/core/src/shared/fs/node/fs.ts
  packages/core/src/test/shared/fs/fs.test.ts
  packages/core/src/test/shared/fs/node/fs.test.ts
  packages/core/src/test/testUtil.ts
Due: none

add function to determine OS session
  packages/core/src/shared/extensionUtilities.ts
  packages/core/src/shared/globalState.ts
  packages/core/src/shared/utilities/osUtils.ts
  packages/core/src/test/shared/utilities/osUtils.test.ts
  packages/core/src/test/testUtil.ts
Due: none

add getPids() + rename childProcess -> processUtils
  package-lock.json
  packages/core/package.json
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
  packages/webpack.web.config.js
Due: none

add binary search function
  packages/core/src/shared/utilities/searchUtils.ts
  packages/core/src/test/shared/utilities/searchUtils.test.ts
Due: none

fix(amazonqFeatureDev): fallback to . in the prefix
  packages/core/src/amazonqFeatureDev/util/files.ts
Due: amazonqFeatureDev

add test for many files
  packages/core/src/test/amazonqFeatureDev/prepareRepoData.test.ts
Due: none

Default isInternalUser to false on forgotten and expired connection
  packages/core/src/auth/auth.ts
Due: none

clean up implementation to factor out duplicate code across two cases
  packages/core/src/shared/performance/performance.ts
  packages/core/src/test/amazonqFeatureDev/prepareRepoData.test.ts
Due: none

fix pr comments
  packages/core/src/shared/utilities/osUtils.ts
  packages/core/src/test/shared/fs/node/fs.test.ts
Due: none

adjust thresholds, remove utility function
  packages/core/src/shared/performance/performance.ts
  packages/core/src/test/amazonqFeatureDev/prepareRepoData.test.ts
Due: none

fix(amazonq): verify path for .obsolete file
  packages/core/src/shared/handleUninstall.ts
Due: none

feat(lambda): [Getting Started] Add file name in LaunchConfig (#1761)
  packages/core/src/lambda/vue/configEditor/samInvokeBackend.ts
  packages/core/src/lambda/vue/configEditor/samInvokeComponent.vue
  packages/core/src/lambda/vue/configEditor/samInvokeFrontend.ts
Due: none

adjust thresholds based on CI results
  packages/core/src/test/amazonqFeatureDev/prepareRepoData.test.ts
Due: none

refactor samconfig class
  packages/core/src/awsService/appBuilder/explorer/samProject.ts
  packages/core/src/lambda/commands/deploySamApplication.ts
  packages/core/src/shared/sam/build.ts
  packages/core/src/shared/sam/config.ts
  packages/core/src/shared/sam/sync.ts
  packages/core/src/shared/sam/utils.ts
Due: none

improve docs
  packages/core/src/amazonq/messages/chatMessageDuration.ts
  packages/core/src/amazonq/util/eventRecorder.ts
  packages/core/src/amazonq/webview/messages/messageDispatcher.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: none

add more barriers to flaky test
  packages/core/src/awsService/ec2/sshKeyPair.ts
Due: none

change isDeleted logic to both keys deleted
  packages/core/src/awsService/ec2/sshKeyPair.ts
  packages/core/src/test/awsService/ec2/sshKeyPair.test.ts
Due: none

fix pr comments
  packages/core/src/shared/fs/fs.ts
  packages/core/src/shared/fs/node/fs.ts
  packages/core/src/shared/utilities/osUtils.ts
  packages/core/src/shared/utilities/uriUtils.ts
Due: none

telemetry(amazonq): measure e2e latency for amazon q requests (#5566)
  packages/core/src/amazonq/messages/chatMessageDuration.ts
  packages/core/src/amazonq/util/eventRecorder.ts
  packages/core/src/amazonq/webview/messages/messageDispatcher.ts
  packages/core/src/amazonq/webview/ui/apps/cwChatConnector.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/messages/handler.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/controllers/chat/model.ts
  packages/core/src/codewhispererChat/view/connector/connector.ts
  packages/core/src/codewhispererChat/view/messages/messageListener.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/shared/utilities/map.ts
Due: none

adjust thresholds
  packages/core/src/test/amazonqFeatureDev/prepareRepoData.test.ts
Due: none

add option to not overwrite the keys
  packages/core/src/awsService/ec2/sshKeyPair.ts
  packages/core/src/test/awsService/ec2/model.test.ts
Due: none

fix(amazonqFeatureDev): validate orphaned path created files and choose first as default folder
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/amazonqFeatureDev/util/files.ts
Due: amazonqFeatureDev

feat(utils): Add some util functions for upcoming feature (#5657)
  package-lock.json
  packages/core/package.json
  packages/core/src/shared/extensionUtilities.ts
  packages/core/src/shared/fs/fs.ts
  packages/core/src/shared/fs/node/fs.ts
  packages/core/src/shared/globalState.ts
  packages/core/src/shared/utilities/osUtils.ts
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/shared/utilities/searchUtils.ts
  packages/core/src/shared/utilities/uriUtils.ts
  packages/core/src/shared/vscode/env.ts
  packages/core/src/test/shared/fs/fs.test.ts
  packages/core/src/test/shared/fs/node/fs.test.ts
  packages/core/src/test/shared/utilities/osUtils.test.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
  packages/core/src/test/shared/utilities/searchUtils.test.ts
  packages/core/src/test/testUtil.ts
  packages/webpack.web.config.js
Due: none

chore(amazonqFeatureDev): include changelog
  packages/amazonq/.changes/next-release/Bug Fix-93a879d3-5fa1-47d3-a908-77fcbce9335d.json
Due: none

fix(amazonq): verify path for .obsolete file (#5671)
  packages/core/src/shared/handleUninstall.ts
Due: none

refactor to allow onStdOut parameter
  packages/core/src/awsService/ec2/sshKeyPair.ts
  packages/core/src/shared/utilities/pathFind.ts
Due: none
