Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            default:
                target: 70%
                threshold: 5%
                informational: true
            codewhisperer:
                paths:
                    - packages/core/src/codewhisperer/*
                flags:
                    - 'codewhisperer'
            amazonqFeatureDev:
                paths:
                    - packages/core/src/amazonqFeatureDev/*
                flags:
                    - 'amazonqFeatureDev'
            amazonqGumby:
                paths:
                    - packages/core/src/amazonqGumby/*
            codewhispererChat:
                paths:
                    - packages/core/src/codewhispererChat/*
            applicationcomposer:
                paths:
                    - packages/core/src/applicationcomposer/*
            stepFunctions:
                target: 50%
                threshold: 10%
                paths:
                    - packages/core/src/stepFunctions/*
            threatComposer:
                paths:
                    - packages/core/src/threatComposer/*
        patch: false
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - packages/core/src/codewhisperer/
    amazonqFeatureDev:
        paths:
            - packages/core/src/amazonqFeatureDev/

remove duplicate metric
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
Due: codewhisperer

fix PR comment
  packages/core/src/test/shared/crypto.test.ts
Due: none

heartbeat - delete before overwrite
  packages/core/src/shared/crashMonitoring.ts
Due: none

Update packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

fix(auth): Fix device code detection when running auth through tunneled vscode (#5847)
  packages/amazonq/.changes/next-release/Bug Fix-771c645f-eeea-4da5-b2d2-4315dfad9506.json
  packages/core/src/auth/sso/ssoAccessTokenProvider.ts
  packages/core/src/shared/vscode/env.ts
  packages/toolkit/.changes/next-release/Bug Fix-9c15d2c5-6b28-42ae-b068-f71821acf62a.json
Due: none

fix reason
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

patch language configiration not added correctly #5663
  packages/core/src/codewhisperer/util/runtimeLanguageContext.ts
Due: codewhisperer

use waitUntil
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
  packages/core/src/shared/utilities/timeoutUtils.ts
Due: codewhisperer

feat(feature dev): Add setting to opt in/out of QSDA auto build feature
  packages/amazonq/.changes/next-release/Feature-10418729-4b46-4126-b1af-623a08f0223c.json
  packages/amazonq/package.json
  packages/amazonq/test/unit/amazonqFeatureDev/session/session.test.ts
  packages/core/package.nls.json
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/types.ts
  packages/core/src/amazonqFeatureDev/util/files.ts
  packages/core/src/codewhisperer/util/codewhispererSettings.ts
  packages/core/src/shared/settings-amazonq.gen.ts
Due: codewhisperer, amazonqFeatureDev

add powershell
  packages/core/src/codewhisperer/util/runtimeLanguageContext.ts
Due: codewhisperer

remove dev console.log
  packages/amazonq/test/unit/codewhisperer/util/runtimeLanguageContext.test.ts
Due: none

telemetry(amazonq): Create server request metrics that include conversation id creation (#5839)
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: none

Support autoscrolling
  packages/core/src/awsService/cloudWatchLogs/commands/tailLogGroup.ts
Due: none

telemetry(bug): sessionId not unique (#5845)
  packages/core/src/dev/activation.ts
  packages/core/src/shared/telemetry/activation.ts
  packages/core/src/shared/telemetry/util.ts
  packages/core/src/test/shared/telemetry/util.test.ts
Due: none

fix(telemetry): fix grammer in time to first usable chunk metric
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: none

feat(amazonq): Add project context to inline completion (#5729)
  packages/amazonq/.changes/next-release/Bug Fix-59d88db7-cfd5-41da-9a63-2a6391b27add.json
  packages/amazonq/src/app/chat/activation.ts
  packages/amazonq/test/unit/amazonq/lsp/lspClient.test.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/types.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
  packages/core/src/shared/featureConfig.ts
  packages/core/src/testInteg/perf/buildIndex.test.ts
  packages/webpack.web.config.js
Due: codewhisperer

update
  packages/amazonq/.changes/next-release/Feature-93485fee-05c0-4dc9-abde-9072590cbd45.json
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/shared/featureConfig.ts
Due: none

fix(telemetry): fix grammer in time to first usable chunk metric (#5855)
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: none

remove duplicate list of language names
  packages/core/src/codewhispererChat/editor/context/file/languages.ts
Due: none

remove redundant if
  packages/core/src/codewhispererChat/editor/context/file/languages.ts
Due: none

fix(crash): Add more telemetry info to crash reporting (#5850)
  packages/core/src/shared/crashMonitoring.ts
  packages/core/src/shared/crypto.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/shared/utilities/timeoutUtils.ts
  packages/core/src/test/shared/crashMonitoring.test.ts
  packages/core/src/test/shared/crypto.test.ts
Due: none

telemetry: add acceptedCharCount to UserTriggerDecision STE (#5846)
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

implement static threshold approach
  .github/workflows/jscpd.json
  .github/workflows/node.js.yml
Due: none

Remove redundant position variable
  packages/core/src/awsService/cloudWatchLogs/commands/tailLogGroup.ts
Due: none

docs(crash): sequence diagram #5827
  docs/telemetry-perf.md
Due: none

rename var
  packages/core/src/codewhispererChat/editor/context/file/languages.ts
Due: none

updating form selection to allow jdk17 as source
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

remove duplication in sam test file
  packages/core/src/test/lambda/config/samParameterCompletionItemProvider.test.ts
Due: none

adding new changelog entry
  packages/amazonq/.changes/next-release/Feature-76e907b5-f09d-4b24-bc60-156471d3cb22.json
Due: none

start of work towards branch compare
  .github/workflows/jscpd.json
  .github/workflows/node.js.yml
  packages/core/src/awsService/ec2/util2.ts
Due: none

adjust script
  .github/workflows/node.js.yml
Due: none

try previous verson
  .github/workflows/node.js.yml
Due: none

tack on origin
  .github/workflows/node.js.yml
Due: none

adjust diff syntax;
  .github/workflows/node.js.yml
Due: none

seperate into two steps
  .github/workflows/node.js.yml
Due: none

attempt to hardcode upstream
  .github/workflows/node.js.yml
Due: none

docs(amazonq): Add latency metric diagrams for amazon q chat
  docs/telemetry-perf.md
Due: none

Update CrashMonitoring
  docs/telemetry-perf.md
Due: none

feat(notifications): notifications controller and view panel (#5828)
  packages/amazonq/package.json
  packages/core/package.json
  packages/core/package.nls.json
  packages/core/src/codewhisperer/util/zipUtil.ts
  packages/core/src/notifications/controller.ts
  packages/core/src/notifications/index.ts
  packages/core/src/notifications/panelNode.ts
  packages/core/src/notifications/rules.ts
  packages/core/src/notifications/types.ts
  packages/core/src/shared/globalState.ts
  packages/core/src/shared/logger/toolkitLogger.ts
  packages/core/src/shared/vscode/setContext.ts
  packages/core/src/test/notifications/controller.test.ts
  packages/core/src/test/notifications/resources/emergency/1.x.json
  packages/core/src/test/notifications/resources/startup/1.x.json
  packages/core/src/test/notifications/rules.test.ts
  packages/core/src/test/notifications/types.test.ts
  packages/toolkit/package.json
Due: codewhisperer

use latest ubuntu, prereq lint
  .github/workflows/node.js.yml
Due: none
