Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

ci(jscpd): merge target branch in jscpd to avoid false negatives. (#6572)
  .github/workflows/filterDuplicates.js
  .github/workflows/node.js.yml
Due: none

Download functionality
  packages/core/src/awsService/appBuilder/models/metadata.json
  packages/core/src/awsService/appBuilder/serverlessLand.ts
  packages/core/src/awsService/appBuilder/wizards/serverlessLandWizard.ts
Due: none

feat(amazonq): /doc: add support for infrastructure diagrams
  packages/amazonq/.changes/next-release/Feature-088c8b44-eb51-4495-84fb-2e02878ff4bc.json
  packages/amazonq/test/unit/amazonqFeatureDev/util/files.test.ts
  packages/core/src/amazonq/session/sessionState.ts
  packages/core/src/amazonq/util/files.ts
  packages/core/src/amazonqDoc/controllers/chat/controller.ts
  packages/core/src/amazonqDoc/session/sessionState.ts
  packages/core/src/amazonqFeatureDev/index.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/codewhisperer/util/zipUtil.ts
  packages/core/src/shared/utilities/workspaceUtils.ts
  packages/core/src/testInteg/perf/collectFiles.test.ts
  packages/core/src/testInteg/perf/prepareRepoData.test.ts
  packages/core/src/testInteg/shared/utilities/workspaceUtils.test.ts
Due: codewhisperer, amazonqFeatureDev

ci: fix and enable post-release notification
  buildspec/release/80notify.yml
Due: none

test run
  packages/amazonq/test/e2e/amazonq/testGen.test.ts
Due: none

treat deprecation as permanent
  packages/core/src/shared/lsp/manifestResolver.ts
Due: none

add console.log and run 10 times
  packages/amazonq/test/e2e/amazonq/testGen.test.ts
Due: none

Building Quick Pick structure
  packages/core/package.nls.json
  packages/core/src/awsService/appBuilder/activation.ts
  packages/core/src/awsService/appBuilder/models/serverlessland-metadata.json
  packages/core/src/awsService/appBuilder/models/serverlesslandMetadataManager.ts
  packages/core/src/awsService/appBuilder/serverlessLand.ts
  packages/core/src/awsService/appBuilder/wizards/serverlessLandWizard.ts
  packages/toolkit/package.json
Due: none

ci: fix and enable post-release notification (#6613)
  buildspec/release/80notify.yml
Due: none

Arranging file structure
  packages/core/src/awsService/appBuilder/activation.ts
  packages/core/src/awsService/appBuilder/serverlessLand/serverlessLandMain.ts
  packages/core/src/awsService/appBuilder/serverlessLand/serverlessLandWizard.ts
  packages/core/src/awsService/appBuilder/serverlessLand/serverlessland-metadata.json
  packages/core/src/awsService/appBuilder/serverlessLand/serverlesslandMetadataManager.ts
Due: none

fix(codestyle): fix stepfunctions integration lint errors
  packages/core/src/stepFunctions/workflowStudio/activation.ts
  packages/core/src/stepFunctions/workflowStudio/handleMessage.ts
  packages/core/src/stepFunctions/workflowStudio/workflowStudioEditor.ts
  packages/core/src/stepFunctions/workflowStudio/workflowStudioEditorProvider.ts
Due: none

refactor: notify.txt typos
  buildspec/release/notify.txt
Due: none

refactor: notify.txt typos (#6616)
  buildspec/release/notify.txt
Due: none

Adding entrypoint to Lambda Section in Explorer
  packages/core/package.nls.json
  packages/toolkit/package.json
Due: none

Entrypoint from Getting started walkthrough link
  packages/core/resources/walkthrough/appBuilder/AppPicker.md
Due: none

config(amazonq): update polling config for codefix
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

Review revision
  packages/core/src/awsService/appBuilder/activation.ts
  packages/core/src/awsService/appBuilder/serverlessLand/main.ts
  packages/core/src/awsService/appBuilder/serverlessLand/metadata.json
  packages/core/src/awsService/appBuilder/serverlessLand/metadataManager.ts
  packages/core/src/awsService/appBuilder/serverlessLand/wizard.ts
Due: none

Adding sourcefile to the zip before traversing the project
  packages/amazonq/test/unit/codewhisperer/util/zipUtil.test.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/util/zipUtil.ts
  packages/core/src/shared/utilities/workspaceUtils.ts
Due: codewhisperer

config(amazonq): update polling config for codefix (#6617)
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

Adding Changelog
  packages/amazonq/.changes/next-release/Bug Fix-951be4f5-ae4f-4ce7-82be-81de2c34d0d3.json
Due: none

fix(amazonq): auto-review removes existing issues (#6535)
  packages/amazonq/.changes/next-release/Bug Fix-c8a60497-e42c-4141-bcfe-2c44188bc98b.json
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/codewhisperer/service/diagnosticsProvider.ts
  packages/core/src/codewhisperer/service/securityIssueProvider.ts
  packages/core/src/shared/utilities/commentUtils.ts
  packages/core/src/test/shared/utilities/commentUtils.test.ts
Due: codewhisperer

refactor: simplify isFirstUse for Q
  packages/core/src/auth/utils.ts
Due: none

refactor(cleanup): remove dead code
  packages/core/src/auth/activation.ts
Due: none

save
  CONTRIBUTING.md
  packages/amazonq/src/lsp/activation.ts
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/amazonq/test/e2e/lsp/lspInstaller.test.ts
  packages/core/src/amazonq/lsp/config.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/lsp/baseLspInstaller.ts
Due: codewhisperer

fixup
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/lsp/baseLspInstaller.ts
Due: codewhisperer

telemetry(amazonq): Adding requestId for uploadArtifactToS3 in amazonq_utgGenerateTests event (#6598) ## Problem - IDE does not emit requestId if it fails at `uploadArtifactToS3` in `/test`
  packages/core/src/testFixtures/workspaceFolder/java17-gradle/HelloWorldFunction/.gradle/nb-cache/trust/9C06A64349A60BAD9DB9EEDFE28873BB5782B8B59B966A4A371C0BE743DABAA2
  packages/core/src/testFixtures/workspaceFolder/java17-image/HelloWorldFunction/.gradle/nb-cache/trust/D90939895FF18635F9A7F1F8F1A179B8CD7962C30FD9227FEE9A5270BCA51E4F
Due: none

fix build
  packages/amazonq/src/lsp/config.ts
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/amazonq/test/unit/amazonq/lsp/config.test.ts
Due: codewhisperer

config(amazonq): Simplify amazon q workspace lsp configuration options (#6581)
  CONTRIBUTING.md
  packages/amazonq/src/lsp/activation.ts
  packages/amazonq/src/lsp/config.ts
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/amazonq/test/e2e/lsp/lspInstaller.test.ts
  packages/amazonq/test/unit/amazonq/lsp/config.test.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/lsp/config.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/dev/activation.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/lsp/baseLspInstaller.ts
  packages/core/src/shared/settings.ts
Due: codewhisperer

test(amazonq): add e2e tests for /doc
  packages/amazonq/test/e2e/amazonq/doc.test.ts
  packages/core/src/amazonqDoc/constants.ts
Due: codewhisperer

feat(amazonq): /doc: add support for infrastructure diagrams (#6561)
  packages/amazonq/.changes/next-release/Feature-088c8b44-eb51-4495-84fb-2e02878ff4bc.json
  packages/amazonq/test/unit/amazonqFeatureDev/util/files.test.ts
  packages/core/src/amazonq/session/sessionState.ts
  packages/core/src/amazonq/util/files.ts
  packages/core/src/amazonqDoc/controllers/chat/controller.ts
  packages/core/src/amazonqDoc/session/sessionState.ts
  packages/core/src/amazonqFeatureDev/index.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/codewhisperer/util/zipUtil.ts
  packages/core/src/shared/utilities/workspaceUtils.ts
  packages/core/src/testInteg/perf/collectFiles.test.ts
  packages/core/src/testInteg/perf/prepareRepoData.test.ts
  packages/core/src/testInteg/shared/utilities/workspaceUtils.test.ts
Due: codewhisperer, amazonqFeatureDev

feat: add waitUntil when checking ssm agent status
  packages/core/src/awsService/ec2/model.ts
  packages/core/src/test/awsService/ec2/model.test.ts
Due: none

test: add error code to test connection failure
  packages/core/src/awsService/ec2/model.ts
  packages/core/src/shared/extensions/ssh.ts
  packages/core/src/test/shared/extensions/ssh.test.ts
Due: none

refactor: sync isFirstUse w/ ClientId
  packages/core/src/auth/utils.ts
  packages/core/src/shared/telemetry/util.ts
  packages/core/src/test/shared/telemetry/util.test.ts
Due: none

deps(build): update esbuild-loader to 4.3.0
  package-lock.json
  packages/core/package.json
  packages/webpack.base.config.js
Due: none

refactor(cleanup): remove dead code (#6619)
  packages/core/src/auth/activation.ts
Due: none

refactor: simplify test ssm connection
  packages/core/src/shared/extensions/ssh.ts
Due: none

test(amazonq): add retry mechanism for /doc e2e tests
  packages/amazonq/test/e2e/amazonq/doc.test.ts
Due: none

chore: exercise /doc e2e tests for 100 time
  packages/amazonq/test/e2e/amazonq/doc.test.ts
Due: none

feat: pipe error from spawned process into message
  packages/core/src/awsService/ec2/model.ts
  packages/core/src/shared/extensions/ssh.ts
  packages/core/src/test/shared/extensions/ssh.test.ts
Due: none

doc: add doc string and improve default message
  packages/core/src/shared/extensions/ssh.ts
Due: none
