Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

fix(amazonq): Split trace server logs into separate output channel
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

add prod check and beta logics
  buildspec/release/70checkmarketplace.yml
Due: none

added beta check and dummy version logics
  buildspec/release/70checkmarketplace.yml
Due: none

test(flaky): avoid relying on race condition for tested behavior #6452
  packages/core/src/test/shared/fs/fs.test.ts
Due: none

Release 3.44.0
  package-lock.json
  packages/toolkit/.changes/3.44.0.json
  packages/toolkit/.changes/next-release/Bug Fix-2a3bed78-156a-4391-b79d-225ae6d98939.json
  packages/toolkit/.changes/next-release/Feature-48c399ea-d42f-4ea1-8f32-d8bc1486a107.json
  packages/toolkit/.changes/next-release/Feature-a7fb8317-77bc-4459-a278-2bc98fd0a5cf.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Due: none

Release 1.45.0
  package-lock.json
  packages/amazonq/.changes/1.45.0.json
  packages/amazonq/.changes/next-release/Bug Fix-1d7e776d-333a-4f39-a8e6-29ea2ecb19c9.json
  packages/amazonq/.changes/next-release/Bug Fix-8212e8e4-f65f-4594-a04f-76d47c61b41e.json
  packages/amazonq/.changes/next-release/Feature-10418729-4b46-4126-b1af-623a08f0223c.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
Due: none

delete beta_version variable
  buildspec/release/70checkmarketplace.yml
Due: none

refactor: implement custom credentials provider
  packages/core/src/auth/providers/sharedCredentialsProvider.ts
Due: none

refactor(stepfunctions): use real code paths in test, address lint issues, adjust logger message
  packages/core/src/shared/logger/logger.ts
  packages/core/src/stepFunctions/workflowStudio/handleMessage.ts
  packages/core/src/stepFunctions/workflowStudio/workflowStudioApiHandler.ts
  packages/core/src/stepFunctions/workflowStudio/workflowStudioEditor.ts
  packages/core/src/test/stepFunctions/workflowStudio/workflowStudioApiHandler.test.ts
Due: none

Adding back Build and execute
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonqTest/chat/controller/controller.ts
Due: none

refactor: rename profile field to match expected
  packages/core/src/auth/providers/sharedCredentialsProvider.ts
Due: none

docs: add documentation link in implementation
  packages/core/src/auth/providers/sharedCredentialsProvider.ts
Due: none

test: increase valid duration for message to appear
  packages/core/src/testInteg/codecatalyst/devEnv.test.ts
Due: none

Update version to snapshot version: 3.45.0-SNAPSHOT
  package-lock.json
  packages/toolkit/package.json
Due: none

Update version to snapshot version: 1.46.0-SNAPSHOT
  package-lock.json
  packages/amazonq/package.json
Due: none

deps: remove deprecated dependencies
  package-lock.json
  packages/core/package.json
  packages/core/src/auth/providers/ec2CredentialsProvider.ts
  packages/core/src/auth/providers/ecsCredentialsProvider.ts
  packages/core/src/auth/providers/sharedCredentialsProvider.ts
Due: none

refactor: add stronger typing
  packages/core/src/auth/providers/sharedCredentialsProvider.ts
Due: none

test: skip the flaky test
  packages/core/src/testInteg/codecatalyst/devEnv.test.ts
Due: none

add || true to install
  buildspec/release/70checkmarketplace.yml
  packages/amazonq/.changes/1.45.0-SNAPSHOT.json
  packages/amazonq/.changes/next-release/Bug Fix-1d7e776d-333a-4f39-a8e6-29ea2ecb19c9.json
  packages/amazonq/.changes/next-release/Bug Fix-8212e8e4-f65f-4594-a04f-76d47c61b41e.json
  packages/amazonq/.changes/next-release/Feature-10418729-4b46-4126-b1af-623a08f0223c.json
  packages/amazonq/CHANGELOG.md
Due: none

feat(stepfunctions): Support calling TestState API from Workflow Studio #6421
  packages/core/src/extensionNode.ts
  packages/core/src/shared/clients/stepFunctionsClient.ts
  packages/core/src/shared/logger/logger.ts
  packages/core/src/stepFunctions/workflowStudio/activation.ts
  packages/core/src/stepFunctions/workflowStudio/handleMessage.ts
  packages/core/src/stepFunctions/workflowStudio/types.ts
  packages/core/src/stepFunctions/workflowStudio/workflowStudioApiHandler.ts
  packages/core/src/stepFunctions/workflowStudio/workflowStudioEditor.ts
  packages/core/src/stepFunctions/workflowStudio/workflowStudioEditorProvider.ts
  packages/core/src/test/stepFunctions/workflowStudio/workflowStudioApiHandler.test.ts
Due: none

feat(amazonq): Add description and github issue link to feedback form
  package-lock.json
  packages/core/package.json
  packages/core/src/amazonq/webview/messages/messageDispatcher.ts
  packages/core/src/amazonq/webview/ui/commands.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/texts/constants.ts
Due: none

add: changelog
  packages/amazonq/.changes/next-release/Feature-d4b1f56f-fbfd-43e9-b4e1-e2c972dcf197.json
Due: none

feat(amazonq): migrate /doc and /dev to zipStream
  packages/amazonq/.changes/next-release/Bug Fix-ca03bdf5-a707-479e-9405-e9ac3b73e30a.json
  packages/amazonq/test/unit/amazonqFeatureDev/util/files.test.ts
  packages/core/src/amazonqFeatureDev/util/files.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/utilities/zipStream.ts
  packages/core/src/test/shared/utilities/zipStream.test.ts
  packages/core/src/testInteg/perf/prepareRepoData.test.ts
Due: amazonqFeatureDev

test(flaky): skip all performance tests. (#6459)
  packages/core/src/shared/performance/performance.ts
Due: none

docs: remove documentation link since its already in the types
  packages/core/src/auth/providers/sharedCredentialsProvider.ts
Due: none

fix(amazonq): normalize paths for zip
  packages/core/src/amazonqFeatureDev/util/files.ts
Due: amazonqFeatureDev

fix al2023 arm64
  packages/amazonq/.changes/next-release/Bug Fix-5c9f7fbc-1333-4c28-a049-7b17a17a7cea.json
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

test(core): assertTelemetry should accept partial metrics
  packages/core/src/test/codewhisperer/startSecurityScan.test.ts
  packages/core/src/test/shared/telemetry/spans.test.ts
  packages/core/src/test/testUtil.ts
Due: none

test: implement tests for behavior of credentials provider
  packages/core/src/auth/providers/sharedCredentialsProvider.ts
  packages/core/src/test/credentials/provider/sharedCredentialsProvider.test.ts
Due: none

feat(amazonq): migrate /doc and /dev to zipStream (#6472)
  packages/amazonq/.changes/next-release/Bug Fix-ca03bdf5-a707-479e-9405-e9ac3b73e30a.json
  packages/amazonq/test/unit/amazonqFeatureDev/util/files.test.ts
  packages/core/src/amazonqFeatureDev/util/files.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/utilities/zipStream.ts
  packages/core/src/test/shared/utilities/zipStream.test.ts
  packages/core/src/testInteg/perf/prepareRepoData.test.ts
Due: amazonqFeatureDev

merge: undo merge
  packages/amazonq/.changes/next-release/Bug Fix-ca03bdf5-a707-479e-9405-e9ac3b73e30a.json
  packages/amazonq/test/unit/amazonqFeatureDev/util/files.test.ts
  packages/core/src/amazonqFeatureDev/util/files.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/utilities/zipStream.ts
  packages/core/src/test/shared/utilities/zipStream.test.ts
  packages/core/src/testInteg/perf/prepareRepoData.test.ts
Due: amazonqFeatureDev

deps: consume single credential providers package
  package-lock.json
  packages/core/package.json
Due: none

deps: consume only cred providers needed
  package-lock.json
  packages/core/package.json
Due: none

feat(toolkit): Upgrade amazon-states-language-service to 1.15.0
  package-lock.json
  packages/core/package.json
  packages/toolkit/.changes/next-release/Feature-f899524a-1862-4e6f-a10a-bda639f1e792.json
Due: none

deps: avoid relying on deprecated package
  package-lock.json
  packages/core/package.json
  packages/core/src/auth/providers/ec2CredentialsProvider.ts
  packages/core/src/auth/providers/ecsCredentialsProvider.ts
  packages/core/src/auth/providers/sharedCredentialsProvider.ts
Due: none

debounce getChatAuthState()
  packages/amazonq/src/extensionNode.ts
  packages/core/src/codewhisperer/util/authUtil.ts
Due: codewhisperer

revert getToken() debounce
  packages/core/src/auth/sso/ssoAccessTokenProvider.ts
  packages/core/src/test/credentials/sso/ssoAccessTokenProvider.test.ts
Due: none

rename buildListRecommendationRequest -> buildGenerateCompletionRequest
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/core/src/codewhisperer/service/recommendationHandler.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

remove generate function argument from getRecommendations
  packages/core/src/codewhisperer/service/recommendationHandler.ts
Due: codewhisperer

remove cancellation token usage for crossfile code path
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
  packages/core/src/codewhisperer/util/supplementalContext/supplementalContextUtil.ts
Due: codewhisperer
