Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

deps: Update "aws-sdk" to v2.1692.0
  package-lock.json
  packages/amazonq/test/unit/codewhisperer/service/securityScanHandler.test.ts
  packages/core/package.json
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
  packages/core/src/test/codewhisperer/testUtil.ts
Due: none

fix(amazonq): add error message for README update too large
  packages/amazonq/.changes/next-release/Feature-8a43c3c3-9ecb-44b6-bb0c-34d2065aee26.json
  packages/core/package.nls.json
  packages/core/src/amazonqDoc/errors.ts
  packages/core/src/amazonqDoc/session/sessionState.ts
Due: codewhisperer

update changelog
  packages/amazonq/.changes/next-release/Feature-8a43c3c3-9ecb-44b6-bb0c-34d2065aee26.json
Due: none

new client
  src.gen/@amzn/amazon-codewhisperer-streaming/LICENSE
  src.gen/@amzn/amazon-codewhisperer-streaming/README.md
  src.gen/@amzn/amazon-codewhisperer-streaming/api-extractor.json
  src.gen/@amzn/amazon-codewhisperer-streaming/package-lock.json
  src.gen/@amzn/amazon-codewhisperer-streaming/package.json
  src.gen/@amzn/amazon-codewhisperer-streaming/src/CodeWhispererStreaming.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/CodeWhispererStreamingClient.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/auth/httpAuthExtensionConfiguration.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/auth/httpAuthSchemeProvider.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/commands/ExportResultArchiveCommand.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/commands/GenerateAssistantResponseCommand.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/commands/GenerateTaskAssistPlanCommand.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/commands/SendMessageCommand.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/commands/index.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/endpoints.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/extensionConfiguration.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/index.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/models/CodeWhispererStreamingServiceException.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/models/index.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/models/models_0.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/protocols/Aws_restJson1.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/runtimeConfig.browser.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/runtimeConfig.native.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/runtimeConfig.shared.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/runtimeConfig.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/src/runtimeExtensions.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/tsconfig.cjs.json
  src.gen/@amzn/amazon-codewhisperer-streaming/tsconfig.es.json
  src.gen/@amzn/amazon-codewhisperer-streaming/tsconfig.json
  src.gen/@amzn/amazon-codewhisperer-streaming/tsconfig.types.json
  src.gen/@amzn/codewhisperer-streaming/README.md
  src.gen/@amzn/codewhisperer-streaming/package-lock.json
  src.gen/@amzn/codewhisperer-streaming/package.json
  src.gen/@amzn/codewhisperer-streaming/src/extensionConfiguration.ts
  src.gen/@amzn/codewhisperer-streaming/src/protocols/Aws_restJson1.ts
  src.gen/@amzn/codewhisperer-streaming/typedoc.json
Due: none

regen client
  buildspec/release/10changeversion.yml
  docs/build.md
  package-lock.json
  package.json
  packages/amazonq/src/api.ts
  packages/amazonq/src/inlineChat/provider/inlineChatProvider.ts
  packages/core/package.json
  packages/core/src/amazonq/extApi.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/controller/messenger/messenger.ts
  packages/core/src/applicationcomposer/messageHandlers/generateResourceHandler.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
  packages/core/src/codewhispererChat/controllers/chat/chatRequest/converter.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/controllers/chat/model.ts
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
  packages/core/src/codewhispererChat/controllers/chat/userIntent/userIntentRecognizer.ts
  packages/core/src/shared/clients/codewhispererChatClient.ts
  packages/core/src/shared/errors.ts
  packages/core/src/shared/utilities/download.ts
  packages/core/src/testInteg/perf/downloadExportResultArchive.test.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/package.json
Due: codewhisperer

numberOfTestsGenerated is correctly emitted as 0
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
Due: codewhisperer

add type annotation
  package-lock.json
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  src.gen/@amzn/amazon-codewhisperer-streaming/package-lock.json
Due: amazonqFeatureDev

test
  packages/core/src/test/setupUtil.ts
Due: none

fix(amazonq): Prevent customization override if user has manually selected a customization
  packages/amazonq/.changes/next-release/Bug Fix-d8c02c38-bdc4-492a-bf8c-6c35e35087be.json
  packages/core/src/codewhisperer/index.ts
  packages/core/src/codewhisperer/util/customizationUtil.ts
  packages/core/src/test/amazonq/customizationUtil.test.ts
Due: codewhisperer

address comments
  packages/core/src/codewhisperer/commands/basicCommands.ts
Due: codewhisperer

fix(amazonq): add error message for README update too large (#6347)
  packages/amazonq/.changes/next-release/Feature-8a43c3c3-9ecb-44b6-bb0c-34d2065aee26.json
  packages/core/package.nls.json
  packages/core/src/amazonqDoc/errors.ts
  packages/core/src/amazonqDoc/session/sessionState.ts
Due: codewhisperer

test authutil error
  packages/core/src/test/setupUtil.ts
Due: none

revert: Q new user view badge handler
  packages/amazonq/package.json
  packages/amazonq/src/app/chat/activation.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/util/viewBadgeHandler.ts
  packages/core/src/amazonq/webview/webView.ts
  packages/core/src/shared/globalState.ts
Due: codewhisperer

fix(wizard): replace .apply(this) with .bind(this) in constructor
  packages/core/src/shared/wizards/wizard.ts
Due: none

revert: Q new user view badge handler (#6350)
  packages/amazonq/package.json
  packages/amazonq/src/app/chat/activation.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/util/viewBadgeHandler.ts
  packages/core/src/amazonq/webview/webView.ts
  packages/core/src/shared/globalState.ts
Due: codewhisperer

fix(dev): Q developer menu opening wrong auth state
  packages/core/src/dev/activation.ts
  packages/core/src/shared/utilities/mementos.ts
Due: none

telemetry(amazonq): conditionally include classifierResult and classifierThreshold in pojo emitted in telemetry
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

chore: add Prettier rule for end-of-line consistency
  .eslintrc.js
Due: none

fix: normalize test file paths for cross-platform compatibility
  packages/core/src/test/testRunner.ts
Due: none

address comments
  packages/amazonq/test/unit/codewhisperer/models/model.test.ts
  packages/amazonq/test/unit/codewhisperer/ui/prompters.test.ts
Due: none

fix test
  packages/core/src/codewhisperer/commands/basicCommands.ts
Due: codewhisperer

fix test
  packages/amazonq/test/unit/codewhisperer/models/model.test.ts
Due: none

lint
  packages/core/src/codewhisperer/commands/basicCommands.ts
Due: codewhisperer

remove redundant sessions varaible
  packages/core/src/codewhisperer/service/testGenHandler.ts
Due: codewhisperer

fix(e2e): failing Auth Lambda (#6334)
  packages/core/src/test/setupUtil.ts
Due: none

fix(amazonq): add link to docs
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

test(amazonq): Add e2e tests for lsp auto updating (#6326)
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/amazonq/test/e2e/lsp/lspInstaller.test.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/languageServer/lspResolver.ts
Due: codewhisperer

changelog for inline completion project context
  packages/amazonq/.changes/next-release/Feature-d0329e3d-65bd-4987-b87c-ee11b86de399.json
Due: none

fix(amazonq): broaden search strings
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
Due: codewhisperer

move dep to core module
  package-lock.json
  package.json
  packages/core/package.json
Due: none

improve middleware typing
  packages/core/src/shared/awsClientBuilderV3.ts
Due: none

remove redundant type
  packages/core/src/shared/awsClientBuilderV3.ts
Due: none

fix(wizard): wizard remains in "not ready" state if a custom init() was provided #6339
  packages/core/src/shared/wizards/wizard.ts
  packages/core/src/test/shared/wizards/wizardTestUtils.ts
Due: none

fix(amazonq): broaden search strings (#6357)
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
Due: codewhisperer

fix(amazonq): add link to docs (#6355)
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

make types more specific
  packages/core/src/shared/awsClientBuilderV3.ts
  packages/core/src/shared/clients/ssm.ts
Due: none

improve types further
  packages/core/src/shared/awsClientBuilderV3.ts
Due: none

improve typing
  packages/core/src/shared/awsClientBuilderV3.ts
Due: none

loosen type to fix error
  packages/core/src/shared/awsClientBuilderV3.ts
Due: none

Update error messaging
  packages/core/src/awsService/appBuilder/explorer/detectSamProjects.ts
  packages/core/src/awsService/appBuilder/explorer/nodes/appNode.ts
  packages/core/src/awsService/appBuilder/explorer/nodes/deployedNode.ts
  packages/core/src/awsService/appBuilder/explorer/samProject.ts
  packages/core/src/awsService/appBuilder/utils.ts
  packages/core/src/awsService/appBuilder/walkthrough.ts
  packages/core/src/test/awsService/appBuilder/explorer/detectSamProjects.test.ts
  packages/core/src/test/awsService/appBuilder/explorer/samProject.test.ts
  packages/core/src/test/awsService/appBuilder/utils.test.ts
  packages/core/src/test/awsService/appBuilder/walkthrough.test.ts
Due: none

Path conditions:
  codewhisperer: any of: packages/core/src/codewhisperer/, packages/core/src/amazonq*/*, packages/amazonq/src/, but not: node_modules/, plugins/, scripts/, src.gen/
  amazonqFeatureDev: any of: packages/core/src/amazonqFeatureDev/, but not: node_modules/, plugins/, scripts/, src.gen/
