Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            default:
                target: 70%
                threshold: 5%
                informational: true
            codewhisperer:
                paths:
                    - packages/core/src/codewhisperer/*
                flags:
                    - 'codewhisperer'
            amazonqFeatureDev:
                paths:
                    - packages/core/src/amazonqFeatureDev/*
                flags:
                    - 'amazonqFeatureDev'
            amazonqGumby:
                paths:
                    - packages/core/src/amazonqGumby/*
            codewhispererChat:
                paths:
                    - packages/core/src/codewhispererChat/*
            applicationcomposer:
                paths:
                    - packages/core/src/applicationcomposer/*
            stepFunctions:
                target: 50%
                threshold: 10%
                paths:
                    - packages/core/src/stepFunctions/*
            threatComposer:
                paths:
                    - packages/core/src/threatComposer/*
        patch: false
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - packages/core/src/codewhisperer/
    amazonqFeatureDev:
        paths:
            - packages/core/src/amazonqFeatureDev/

Add new fields in UserTriggerDecision and UserModification events
  packages/core/src/codewhisperer/client/user-service-2.json
  packages/core/src/codewhisperer/service/inlineCompletionService.ts
  packages/core/src/codewhisperer/service/recommendationHandler.ts
  packages/core/src/codewhisperer/tracker/codewhispererCodeCoverageTracker.ts
  packages/core/src/codewhisperer/tracker/codewhispererTracker.ts
  packages/core/src/codewhisperer/util/codeWhispererSession.ts
  packages/core/src/codewhisperer/util/commonUtil.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

refactor(amazonq): move getIndentedCode to textDocumentUtilities and use cwsprChatInteractionType
  packages/core/src/amazonq/commons/controllers/contentController.ts
  packages/core/src/amazonq/util/functionUtils.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/shared/utilities/textDocumentUtilities.ts
  packages/core/src/shared/utilities/textUtilities.ts
Due: none

refactor(amazonq): move getIndentedCode, cleanup telemetry #5765
  packages/core/src/amazonq/commons/controllers/contentController.ts
  packages/core/src/amazonq/util/functionUtils.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/shared/utilities/textDocumentUtilities.ts
  packages/core/src/shared/utilities/textUtilities.ts
Due: none

build fix
  package-lock.json
  packages/amazonq/test/unit/codewhisperer/tracker/codewhispererCodeCoverageTracker.test.ts
  packages/core/src/codewhisperer/tracker/codewhispererCodeCoverageTracker.ts
  packages/core/src/codewhisperer/tracker/codewhispererTracker.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

addresss comments
  package-lock.json
  packages/core/src/codewhisperer/tracker/codewhispererTracker.ts
Due: codewhisperer

lint fix
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

Adding Language to user events
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
Due: none

doc(logs): gear icon missing
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

telemetry(messages): maybeShowMinVscodeWarning
  package-lock.json
  packages/core/src/shared/extensionStartup.ts
  packages/core/src/shared/utilities/messages.ts
  packages/core/src/test/shared/extensionUtilities.test.ts
Due: none

telemetry(amazonq): add metrics for stop code generation
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: amazonqFeatureDev

telemetry(amazonq): add metrics for stop code generation
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: none

initial work
  packages/core/src/amazonqFeatureDev/util/files.ts
  packages/core/src/shared/performance/zipSpy.ts
  packages/core/src/test/amazonqFeatureDev/prepareRepoData.test.ts
Due: amazonqFeatureDev

telemetry(amazonq): Add new fields in UserTriggerDecision and UserModification events (#5766)
  packages/amazonq/test/unit/codewhisperer/tracker/codewhispererCodeCoverageTracker.test.ts
  packages/core/src/codewhisperer/client/user-service-2.json
  packages/core/src/codewhisperer/service/inlineCompletionService.ts
  packages/core/src/codewhisperer/service/recommendationHandler.ts
  packages/core/src/codewhisperer/tracker/codewhispererCodeCoverageTracker.ts
  packages/core/src/codewhisperer/tracker/codewhispererTracker.ts
  packages/core/src/codewhisperer/util/codeWhispererSession.ts
  packages/core/src/codewhisperer/util/commonUtil.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

fix(telemetry): Crash monitoring fixes (#5741)
  packages/amazonq/src/extensionNode.ts
  packages/core/src/extensionNode.ts
  packages/core/src/shared/crashMonitoring.ts
  packages/core/src/shared/filesystemUtilities.ts
  packages/core/src/shared/utilities/functionUtils.ts
  packages/core/src/shared/utilities/osUtils.ts
  packages/core/src/test/shared/crashMonitoring.test.ts
  packages/core/src/test/shared/filesystemUtilities.test.ts
  packages/core/src/test/shared/fs/fs.test.ts
  packages/core/src/test/shared/utilities/functionUtils.test.ts
  packages/core/src/test/shared/utilities/osUtils.test.ts
  packages/core/src/test/testUtil.ts
Due: none

delete unneeded code
  packages/core/src/shared/performance/zipSpy.ts
  packages/core/src/test/amazonqFeatureDev/prepareRepoData.test.ts
Due: none

telemetry(messages): maybeShowMinVscodeWarning #5762
  package-lock.json
  packages/core/src/shared/extensionStartup.ts
  packages/core/src/shared/utilities/messages.ts
  packages/core/src/test/shared/extensionUtilities.test.ts
Due: none

Release 1.29.0
  package-lock.json
  packages/amazonq/.changes/1.29.0.json
  packages/amazonq/.changes/next-release/Bug Fix-0d324321-bddd-4f93-80c4-80978930f157.json
  packages/amazonq/.changes/next-release/Bug Fix-3f76aff8-1622-4647-aafe-3210cf0c3b74.json
  packages/amazonq/.changes/next-release/Bug Fix-5576420e-6db2-4045-a99f-afced496da0f.json
  packages/amazonq/.changes/next-release/Bug Fix-55ef93ff-1589-41bc-a482-ed09002f1fd9.json
  packages/amazonq/.changes/next-release/Bug Fix-dd58d9cb-4fb4-4cb3-a9a2-dc5c5462e529.json
  packages/amazonq/.changes/next-release/Bug Fix-ff32752d-fa0b-4d38-b719-68eb3c9ddca6.json
  packages/amazonq/.changes/next-release/Deprecation-4577def6-0191-48db-bec3-480b226285b8.json
  packages/amazonq/.changes/next-release/Feature-294f0da4-1fb4-43c9-90f2-e066d7351c3c.json
  packages/amazonq/.changes/next-release/Feature-3ebcda93-ca02-4682-b475-dead26e94900.json
  packages/amazonq/.changes/next-release/Feature-88ac445a-7a5a-4127-97f7-eaccd41629e6.json
  packages/amazonq/.changes/next-release/Feature-b02fae9d-cb44-4625-af37-0b119c18ef63.json
  packages/amazonq/.changes/next-release/Removal-c259464a-0437-47e6-be6c-8df023ad477c.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
Due: none

Release 3.28.0
  package-lock.json
  packages/toolkit/.changes/3.28.0.json
  packages/toolkit/.changes/next-release/Breaking Change-91df9fbf-ea4b-4087-b43f-77f35253c525.json
  packages/toolkit/.changes/next-release/Bug Fix-d8111f1d-c5f8-48ee-9b25-6d64a98bc3c2.json
  packages/toolkit/.changes/next-release/Deprecation-2df766d2-cbec-4fdc-bb69-80f90d9d15ef.json
  packages/toolkit/.changes/next-release/Feature-7dfff66e-77a0-478d-8b74-6f3990b85a16.json
  packages/toolkit/.changes/next-release/Removal-cf2f67d7-fd40-4834-960c-bbd57508a7f4.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Due: none

Update version to snapshot version: 3.29.0-SNAPSHOT
  package-lock.json
  packages/toolkit/package.json
Due: none

refactor(dev): remove errorName from Error classes
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/errors.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: amazonqFeatureDev

Update version to snapshot version: 1.30.0-SNAPSHOT
  package-lock.json
  packages/amazonq/package.json
Due: none

Revert "build: temporarily relax min vscode version"
  packages/amazonq/package.json
  packages/core/package.json
  packages/toolkit/package.json
Due: none

feat(dev-mode): always log to `aws.dev.logfile` at "debug" log-level
  CONTRIBUTING.md
  packages/core/src/shared/logger/activation.ts
  packages/core/src/shared/logger/logger.ts
  packages/core/src/test/shared/logger/activation.test.ts
Due: none

feat(dev-mode): always log to aws.dev.logfile at "debug" log-level #5770
  CONTRIBUTING.md
  packages/core/src/shared/logger/activation.ts
  packages/core/src/shared/logger/logger.ts
  packages/core/src/test/shared/logger/activation.test.ts
Due: none

use node before globals init
  packages/core/src/test/globalSetup.test.ts
Due: none

patch
  packages/core/src/amazonq/lsp/lspClient.ts
Due: none

cleanup
  packages/amazonq/test/unit/amazonq/lsp/lspClient.test.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/types.ts
  packages/core/src/testInteg/buildIndex.test.ts
Due: none

update lsp binary
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

add force arg to avoid empty try-catch
  packages/core/src/test/globalSetup.test.ts
Due: none

make it clear we are using nodefs features
  packages/core/src/test/globalSetup.test.ts
Due: none

clean up code
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

clean up
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
  packages/toolkit/package.json
Due: codewhisperer

further clean up
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
Due: codewhisperer

fix build
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
Due: codewhisperer

fix unit test
  packages/amazonq/test/unit/amazonq/lsp/lspClient.test.ts
Due: none

cyclic dep
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
Due: codewhisperer

patch
  packages/amazonq/test/unit/amazonq/lsp/lspClient.test.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/toolkit/package.json
Due: none

revert change
  packages/core/src/amazonq/lsp/lspClient.ts
Due: none

build: revert "build: temporarily relax min vscode version" #5771
  packages/amazonq/package.json
  packages/core/package.json
  packages/toolkit/package.json
Due: none
