Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

refactor: simplify folder logic
  packages/core/src/shared/constants.ts
  packages/core/src/shared/crashMonitoring.ts
  packages/core/src/shared/errors.ts
Due: none

test
  README.md
  lambda-nodejs16.x/.gitignore
  lambda-nodejs16.x/README.TOOLKIT.md
  lambda-nodejs16.x/README.md
  lambda-nodejs16.x/events/event.json
  lambda-nodejs16.x/hello-world/.npmignore
  lambda-nodejs16.x/hello-world/app.js
  lambda-nodejs16.x/hello-world/package.json
  lambda-nodejs16.x/hello-world/tests/unit/test-handler.js
  lambda-nodejs16.x/samconfig.toml
  lambda-nodejs16.x/template.yaml
Due: none

refactor(fs): use node:fs, drop fs-extra in copyFiles.ts #5761
  buildspec/shared/linux-pre_build.sh
  package-lock.json
  package.json
  packages/amazonq/scripts/build/copyFiles.ts
  packages/amazonq/test/e2e/amazonq/framework/jsdomInjector.ts
  packages/core/scripts/build/copyFiles.ts
  packages/toolkit/scripts/build/copyFiles.ts
Due: none

use fsPath instead of path
  packages/core/src/test/awsService/ec2/model.test.ts
  packages/core/src/test/awsService/ec2/sshKeyPair.test.ts
Due: none

Update README.md
  README.md
Due: none

minor refactors
  packages/core/src/shared/crashMonitoring.ts
Due: none

remove waitUntil
  packages/core/src/awsService/ec2/sshKeyPair.ts
Due: none

implement any workaround
  package-lock.json
  package.json
  packages/amazonq/scripts/build/copyFiles.ts
  packages/core/scripts/build/copyFiles.ts
  packages/toolkit/scripts/build/copyFiles.ts
Due: none

add techdebt test
  packages/core/src/test/techdebt.test.ts
Due: none

Update packages/core/src/shared/constants.ts
  packages/core/src/shared/constants.ts
Due: none

add back deleted function
  packages/core/src/shared/utilities/uriUtils.ts
Due: none

add helper function to remove code dupe
  packages/core/src/awsService/cloudWatchLogs/commands/searchLogGroup.ts
  packages/core/src/awsService/ec2/commands.ts
  packages/core/src/shared/utilities/textDocumentUtilities.ts
Due: none

propagate renaming
  packages/core/src/awsService/ec2/activation.ts
  packages/core/src/awsService/ec2/ec2LogDocumentProvider.ts
  packages/core/src/test/awsService/ec2/ec2LogDocumentProvider.test.ts
Due: none

Update packages/core/src/test/techdebt.test.ts
  packages/core/src/test/techdebt.test.ts
Due: none

remove dep
  package-lock.json
  packages/core/package.json
Due: none

try node 18 types as dep
  package-lock.json
  package.json
  packages/amazonq/scripts/build/copyFiles.ts
  packages/core/scripts/build/copyFiles.ts
  packages/toolkit/scripts/build/copyFiles.ts
Due: none

add tailLogGroup tests
  packages/core/src/test/awsService/cloudWatchLogs/commands/tailLogGroup.test.ts
Due: none

minimize changes
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/auth/connection.ts
  packages/core/src/awsService/iot/explorer/iotCertificateNode.ts
  packages/core/src/awsService/iot/explorer/iotPolicyNode.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/testInteg/perf/buildIndex.test.ts
Due: codewhisperer, amazonqFeatureDev

minimize changes
  packages/core/src/auth/connection.ts
  packages/core/src/codecatalyst/devEnv.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/lambda/models/samLambdaRuntime.ts
  packages/core/src/shared/errors.ts
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
  packages/core/src/webviews/main.ts
Due: codewhisperer

minimize changes
  packages/core/src/shared/sam/debugger/awsSamDebugger.ts
Due: none

minimize changes
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

add abt support
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
  packages/core/src/shared/featureConfig.ts
Due: codewhisperer

minimize changes
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

fix flaky test
  packages/core/src/shared/crashMonitoring.ts
  packages/core/src/test/shared/crashMonitoring.test.ts
Due: none

fix(crash): handle sleep/wake appropriately (#5787)
  packages/core/src/shared/constants.ts
  packages/core/src/shared/crashMonitoring.ts
  packages/core/src/shared/errors.ts
  packages/core/src/shared/utilities/timeoutUtils.ts
  packages/core/src/test/shared/crashMonitoring.test.ts
Due: none

update message in techdebt
  packages/core/src/test/techdebt.test.ts
Due: none

feat(notifications): initial rule engine (#5783)
  packages/core/src/notifications/rules.ts
  packages/core/src/notifications/types.ts
  packages/core/src/shared/telemetry/util.ts
  packages/core/src/test/notifications/rules.test.ts
Due: none

Update packages/core/package.nls.json
  packages/core/package.nls.json
Due: none

rename files back
  packages/core/src/awsService/ec2/sshKeyPair.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/shared/remoteSession.ts
  packages/core/src/shared/sam/cli/samCliLocator.ts
  packages/core/src/shared/sam/debugger/typescriptSamDebug.ts
  packages/core/src/shared/utilities/pathFind.ts
  packages/core/src/test/shared/utilities/pathFind.test.ts
Due: codewhisperer

fix imports
  packages/core/src/awsService/ec2/sshKeyPair.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/shared/remoteSession.ts
  packages/core/src/shared/sam/cli/samCliLocator.ts
  packages/core/src/shared/sam/debugger/typescriptSamDebug.ts
  packages/core/src/shared/utilities/pathFind.ts
  packages/core/src/test/shared/utilities/pathFind.test.ts
Due: codewhisperer

test: add+refactor crash monitoring tests
  packages/core/src/shared/crashMonitoring.ts
  packages/core/src/test/shared/crashMonitoring.test.ts
Due: none

fix: handle edge case of irrelevant files
  packages/core/src/shared/crashMonitoring.ts
  packages/core/src/test/shared/crashMonitoring.test.ts
Due: none

fix(amazonq): display animation for Apply Diff and View Diff buttons
  packages/core/resources/css/amazonq-chat.css
  packages/core/src/amazonq/webview/generators/webViewContent.ts
Due: none

add more testing
  packages/core/src/shared/utilities/pathFind.ts
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/pathFind.test.ts
Due: none

test(crash): Crash minor fixes (#5804)
  packages/core/src/shared/crashMonitoring.ts
  packages/core/src/test/shared/crashMonitoring.test.ts
Due: none

avoid unnecessary churn
  packages/core/src/awsService/ec2/sshKeyPair.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/shared/remoteSession.ts
  packages/core/src/shared/sam/debugger/typescriptSamDebug.ts
Due: codewhisperer

fix imports
  packages/core/src/awsService/ec2/sshKeyPair.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/shared/remoteSession.ts
  packages/core/src/shared/sam/cli/samCliLocator.ts
Due: codewhisperer

new lsp
  package-lock.json
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

avoid circular dependency
  packages/core/src/awsService/ec2/sshKeyPair.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/shared/sam/cli/samCliLocator.ts
  packages/core/src/shared/utilities/pathFind.ts
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/shared/utilities/programUtils.ts
  packages/core/src/test/shared/utilities/pathFind.test.ts
Due: codewhisperer

Path conditions:
  codewhisperer: any of: packages/core/src/codewhisperer/
  amazonqFeatureDev: any of: packages/core/src/amazonqFeatureDev/
