Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

telemetry: add isFirstUse to session_start, auth_signInPageOpened, auth_userState
  packages/amazonq/src/extension.ts
  packages/core/src/login/webview/commonAuthViewProvider.ts
  packages/core/src/shared/telemetry/telemetryService.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: codewhisperer

check if existing connections caused isFirstUse discrepancy
  packages/core/src/auth/utils.ts
Due: none

telemetry(auth): emit metric when Auth webview loaded
  packages/core/src/login/webview/vue/backend.ts
  packages/core/src/login/webview/vue/login.vue
  packages/core/src/login/webview/vue/reauthenticate.vue
Due: none

chore: testing
  packages/amazonq/test/e2e/amazonq/doc.test.ts
Due: none

fix unit tests
  packages/core/src/shared/telemetry/util.ts
  packages/core/src/test/credentials/utils.test.ts
  packages/core/src/test/shared/telemetry/util.test.ts
Due: none

feat(amazonq): Add lsp downloading support for windows/lunx
  packages/core/src/shared/fs/fs.ts
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/vscode/env.ts
Due: none

telemetry(auth): Update metrics to better debug Auth dropoff (#6625)
  packages/amazonq/src/extension.ts
  packages/core/src/auth/utils.ts
  packages/core/src/login/webview/commonAuthViewProvider.ts
  packages/core/src/login/webview/vue/backend.ts
  packages/core/src/login/webview/vue/login.vue
  packages/core/src/login/webview/vue/reauthenticate.vue
  packages/core/src/shared/telemetry/telemetryService.ts
  packages/core/src/shared/telemetry/util.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/test/credentials/utils.test.ts
  packages/core/src/test/shared/telemetry/util.test.ts
Due: codewhisperer

chore: testing
  packages/core/src/test/amazonqDoc/controller.test.ts
Due: none

Updating logic for getWorkspaceRelativePath in shared src
  packages/core/src/codewhisperer/util/zipUtil.ts
  packages/core/src/shared/utilities/workspaceUtils.ts
Due: codewhisperer

Adding changelog
  packages/amazonq/.changes/next-release/Bug Fix-ee447a9f-6a92-47c5-8e94-069c1aee46ab.json
Due: none

Revert "feat(amazonq): UTG build, execute logic for internal users #6610"
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/models/model.ts
Due: codewhisperer

refactor: make message more concise.
  packages/core/src/awsService/ec2/model.ts
Due: none

fix(amazonq): Revert "feat(amazonq): UTG build, execute logic for internal users #6… (#6629)
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/models/model.ts
Due: codewhisperer

fix: add space to avoid lint issue
  packages/core/src/awsService/ec2/model.ts
Due: none

fix minor bug when context cmd list is empty
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

feat(amazonq): add context command selection to Q chat (#5)
  package-lock.json
  packages/core/package.json
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/types.ts
  packages/core/src/amazonq/webview/messages/messageDispatcher.ts
  packages/core/src/amazonq/webview/ui/apps/baseConnector.ts
  packages/core/src/amazonq/webview/ui/apps/cwChatConnector.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/messages/handler.ts
  packages/core/src/codewhisperer/util/gitUtil.ts
  packages/core/src/codewhispererChat/app.ts
  packages/core/src/codewhispererChat/commands/registerCommands.ts
  packages/core/src/codewhispererChat/controllers/chat/chatRequest/converter.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/controllers/chat/model.ts
  packages/core/src/codewhispererChat/view/connector/connector.ts
  packages/core/src/codewhispererChat/view/messages/messageListener.ts
Due: codewhisperer

further fix cyclic dependency
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

update lsp for falcon (#6)
  packages/amazonq/package.json
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

fix cyclic dependencies; minimize code changes; reformat code
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/webview/ui/apps/cwChatConnector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/messages/handler.ts
  packages/core/src/codewhisperer/util/gitUtil.ts
  packages/core/src/codewhispererChat/controllers/chat/chatRequest/converter.ts
Due: codewhisperer

lsp version to 0.1.39
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

fix linter
  packages/core/src/amazonq/lsp/types.ts
  packages/core/src/codewhispererChat/app.ts
Due: none

fix: add fs exists check for system prompts directory (#10)
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

dev lsp 0.1.37
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

fix: refresh prompt list when project prompt is added (#16)
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

update lsp version
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

feat(amazonq): saved prompts (#7)
  packages/core/src/amazonq/webview/ui/apps/cwChatConnector.ts
  packages/core/src/amazonq/webview/ui/commands.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/tabs/constants.ts
  packages/core/src/codewhispererChat/app.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/controllers/chat/model.ts
  packages/core/src/codewhispererChat/view/connector/connector.ts
  packages/core/src/codewhispererChat/view/messages/messageListener.ts
Due: none

fix: add feature flag command to context (#13)
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/shared/featureConfig.ts
Due: none

speed up loading the context commands (#12)
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

Add context transparency feature to Q chat @workspace (#9)
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/webview/ui/apps/cwChatConnector.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonqFeatureDev/client/codewhispererruntime-2022-11-11.json
  packages/core/src/codewhisperer/client/user-service-2.json
  packages/core/src/codewhispererChat/app.ts
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/controllers/chat/model.ts
  packages/core/src/codewhispererChat/view/connector/connector.ts
  packages/core/src/codewhispererChat/view/messages/messageListener.ts
  src.gen/@amzn/codewhisperer-streaming/src/models/models_0.ts
Due: codewhisperer, amazonqFeatureDev

fix: @workspace command (#11)
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

Add 'create a new prompt' context to bottom of prompts list (#8)
  package-lock.json
  packages/core/package.json
  packages/core/src/amazonq/webview/ui/apps/cwChatConnector.ts
  packages/core/src/amazonq/webview/ui/commands.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/tabs/constants.ts
  packages/core/src/codewhispererChat/app.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/view/connector/connector.ts
  packages/core/src/codewhispererChat/view/messages/messageListener.ts
Due: none

context transparency multiple fixes (#17)
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/codewhisperer/client/user-service-2.json
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/model.ts
Due: codewhisperer

chore: testing
  packages/core/src/test/amazonqDoc/controller.test.ts
  packages/core/src/test/amazonqDoc/utils.ts
Due: none

disable ws (#19)
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

disable and remove implicit workspace context experiment
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

linter
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

refactor: generalize expected to positive and negative pattern
  packages/core/src/awsService/ec2/sshKeyPair.ts
  packages/core/src/shared/sam/cli/samCliLocator.ts
  packages/core/src/shared/utilities/pathFind.ts
  packages/core/src/shared/utilities/textUtilities.ts
  packages/core/src/test/shared/utilities/textUtilities.test.ts
Due: none

fix(amazonq): Updating logic for getWorkspaceRelativePath in shared src for /test (#6628)
  packages/amazonq/.changes/next-release/Bug Fix-ee447a9f-6a92-47c5-8e94-069c1aee46ab.json
  packages/core/src/codewhisperer/util/zipUtil.ts
  packages/core/src/shared/utilities/workspaceUtils.ts
Due: codewhisperer

enable context transparency for folder case (#20)
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/types.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

Path conditions:
  codewhisperer: any of: packages/core/src/codewhisperer/, packages/core/src/amazonq*/*, packages/amazonq/src/, but not: node_modules/, plugins/, scripts/, src.gen/
  amazonqFeatureDev: any of: packages/core/src/amazonqFeatureDev/, but not: node_modules/, plugins/, scripts/, src.gen/
