Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

feat(amazonq): Log attribution notice when downloading language server
  packages/core/src/shared/lsp/baseLspInstaller.ts
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/types.ts
Due: none

fix(amazonq): type error for workspaceIndexCacheDirPath (#7191)
  packages/core/src/codewhisperer/util/codewhispererSettings.ts
Due: codewhisperer

fix(amazonq): retry LSP token refresh on recoverable errors only. (#7192)
  packages/amazonq/src/lsp/auth.ts
Due: codewhisperer

clean up logging, fix predictionTracker tests
  packages/core/src/codewhisperer/nextEditPrediction/PredictionKeyStrokeHandler.ts
  packages/core/src/codewhisperer/nextEditPrediction/activation.ts
  packages/core/src/test/codewhisperer/nextEditPrediction/PredictionTracker.test.ts
Due: codewhisperer

fix(amazonq): explain issue fails
  packages/amazonq/src/lsp/chat/commands.ts
  packages/core/src/codewhispererChat/commands/registerCommands.ts
Due: codewhisperer

fix(amazonq): open review tab for generate tests
  packages/core/src/amazonq/webview/ui/quickActions/handler.ts
Due: none

fix(amazonq): open review tab for generate tests (#7195)
  packages/core/src/amazonq/webview/ui/quickActions/handler.ts
Due: none

fix(amazonq): explain issue fails (#7194)
  packages/amazonq/src/lsp/chat/commands.ts
  packages/core/src/codewhispererChat/commands/registerCommands.ts
Due: codewhisperer

feat: add validation for missing fields in telemetry
  packages/core/src/shared/logger/logger.ts
  packages/core/src/shared/telemetry/util.ts
  packages/core/src/test/shared/telemetry/util.test.ts
Due: none

fix(amazonq): add event publisher for generateUnitTests
  packages/amazonq/src/lsp/chat/commands.ts
  packages/core/src/codewhispererChat/commands/registerCommands.ts
Due: codewhisperer

use noDebug field from config
  packages/core/src/lambda/vue/configEditor/samInvokeBackend.ts
  packages/core/src/lambda/vue/configEditor/samInvokeFrontend.ts
Due: none

fix: stop workspace indexing in extension
  packages/amazonq/src/app/chat/activation.ts
Due: codewhisperer

add changelog
  packages/toolkit/.changes/next-release/Feature-b9357975-bda4-4ec8-a8ea-d955708b7596.json
Due: none

feat(amazonq): Log attribution notice when downloading language server (#7193)
  packages/core/src/shared/lsp/baseLspInstaller.ts
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/types.ts
Due: none

fix(amazonq): stop workspace indexing in extension (#7197)
  packages/amazonq/src/app/chat/activation.ts
Due: codewhisperer

fix(amazonq): add event publisher for generateUnitTests (#7198)
  packages/amazonq/src/lsp/chat/commands.ts
  packages/core/src/codewhispererChat/commands/registerCommands.ts
Due: codewhisperer

fix(amazonq): re-enable developer profile fetching in flare (#7190)
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

Return successful region profiles when some fail
  packages/core/src/codewhisperer/region/regionProfileManager.ts
Due: codewhisperer

fix(amazonq): enable agentic mode
  packages/amazonq/src/lsp/chat/webviewProvider.ts
Due: codewhisperer

fix: tie enableLocalIndex back to user setting
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

refactor paths for windows test fail
  packages/core/src/codewhisperer/nextEditPrediction/PredictionTracker.ts
  packages/core/src/test/codewhisperer/nextEditPrediction/PredictionTracker.test.ts
Due: codewhisperer

fix(amazonq): tie enableLocalIndex back to user setting (#7200)
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

fix uri path leading seperator
  packages/core/src/test/codewhisperer/nextEditPrediction/PredictionTracker.test.ts
Due: none

merge from hybrid branch
  aws-toolkit-vscode.code-workspace
  package-lock.json
  packages/amazonq/.changes/1.62.0.json
  packages/amazonq/.changes/next-release/Bug Fix-489e72aa-bb0d-4964-bd84-002f25db6b5f.json
  packages/amazonq/.changes/next-release/Bug Fix-8290a06f-ee3f-4235-b8af-faedb1bdfbe4.json
  packages/amazonq/.vscode/launch.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
  packages/amazonq/src/lsp/auth.ts
  packages/amazonq/src/lsp/chat/activation.ts
  packages/amazonq/src/lsp/chat/commands.ts
  packages/amazonq/src/lsp/chat/messages.ts
  packages/amazonq/src/lsp/chat/webviewProvider.ts
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/src/lsp/config.ts
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/core/.vscode/settings.json
  packages/core/src/codewhisperer/util/codewhispererSettings.ts
  packages/core/src/shared/extensionGlobals.ts
  packages/core/src/shared/logger/logger.ts
  packages/core/src/shared/lsp/baseLspInstaller.ts
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/utilities/messages.ts
  packages/toolkit/.changes/3.56.0.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Due: codewhisperer

fix(amazonq): dev profile selection breaks if certain regions aren't avalible
  packages/amazonq/.changes/next-release/Bug Fix-415cbf18-1985-4e66-9918-6789133896c7.json
  packages/core/src/codewhisperer/region/regionProfileManager.ts
Due: codewhisperer

use endpoints for avalible region size
  packages/core/src/codewhisperer/region/regionProfileManager.ts
Due: codewhisperer

feat: avoid throwing on missingFields
  packages/core/src/shared/telemetry/util.ts
  packages/core/src/test/shared/telemetry/util.test.ts
Due: none

test: remove duplicate test
  packages/core/src/test/shared/telemetry/util.test.ts
Due: none

test: update test with new error message
  packages/core/src/test/lambda/vue/remoteInvoke/invokeLambda.test.ts
Due: none

test: swap test case back
  packages/core/src/shared/telemetry/util.ts
  packages/core/src/test/lambda/vue/remoteInvoke/invokeLambda.test.ts
Due: none

feat: allow child process to configure custom thresholds
  packages/amazonq/src/lsp/client.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/shared/lsp/utils/platform.ts
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: codewhisperer

refactor: reuse constant from processUtils
  packages/amazonq/src/lsp/client.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/shared/utilities/processUtils.ts
Due: codewhisperer

feat(amazonq): add reference log for chat messages
  packages/amazonq/src/lsp/chat/messages.ts
  packages/core/src/amazonq/commons/model.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonqDoc/session/session.ts
  packages/core/src/amazonqFeatureDev/constants.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
Due: codewhisperer, amazonqFeatureDev

fix(amazonq): full project scan command not working
  packages/core/src/amazonq/webview/ui/quickActions/handler.ts
Due: none

feat(amazonq): add reference log for chat messages (#7206)
  packages/amazonq/src/lsp/chat/messages.ts
  packages/core/src/amazonq/commons/model.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonqDoc/session/session.ts
  packages/core/src/amazonqFeatureDev/constants.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
Due: codewhisperer, amazonqFeatureDev

feat(lambda): user can invoke locally without debugging #7149
  packages/core/src/lambda/vue/configEditor/samInvokeComponent.vue
  packages/core/src/lambda/vue/configEditor/samInvokeFrontend.ts
  packages/toolkit/.changes/next-release/Feature-b9357975-bda4-4ec8-a8ea-d955708b7596.json
Due: none

fix(amazonq): enable agentic mode (#7199)
  packages/amazonq/src/lsp/chat/webviewProvider.ts
Due: codewhisperer

fix(amazonq): full project scan command not working (#7207)
  packages/core/src/amazonq/webview/ui/quickActions/handler.ts
Due: none

fix: tests
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: none

fix(amazonq): dev profile selection breaks if certain regions aren't … (#7203)
  packages/amazonq/.changes/next-release/Bug Fix-415cbf18-1985-4e66-9918-6789133896c7.json
  packages/core/src/codewhisperer/region/regionProfileManager.ts
Due: codewhisperer

Path conditions:
  codewhisperer: any of: packages/core/src/codewhisperer/, packages/core/src/amazonq*/*, packages/amazonq/src/, but not: node_modules/, plugins/, scripts/, src.gen/
  amazonqFeatureDev: any of: packages/core/src/amazonqFeatureDev/, but not: node_modules/, plugins/, scripts/, src.gen/
