Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            default:
                threshold: 1
                informational: true
            codewhisperer:
                target: 70%
                paths:
                    - src/codewhisperer/*
                flags:
                    - 'codewhisperer'
            amazonqFeatureDev:
                target: 70%
                paths:
                    - src/amazonqFeatureDev/*
                flags:
                    - 'amazonqFeatureDev'
        patch: no
        changes: no

comment: off

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - src/codewhisperer/
    amazonqFeatureDev:
        paths:
            - src/amazonqFeatureDev/

remove result attributes for events
  src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: none

fix(codewhisperer): remove build requirement for java
  src/codewhisperer/util/dependencyGraph/javaDependencyGraph.ts
  src/test/codewhisperer/util/dependencyGraph/javaDependencyGraph.test.ts
Due: codewhisperer

Add UserContext, suggestionCount and clientId into STE
  src/codewhisperer/client/codewhisperer.ts
  src/codewhisperer/client/user-service-2.json
  src/codewhisperer/util/authUtil.ts
  src/codewhisperer/util/telemetryHelper.ts
  src/test/codewhisperer/service/codewhisperer.test.ts
Due: codewhisperer

Add UserContext, suggestionCount and clientId into STE (#4108)
  src/codewhisperer/client/codewhisperer.ts
  src/codewhisperer/client/user-service-2.json
  src/codewhisperer/util/authUtil.ts
  src/codewhisperer/util/telemetryHelper.ts
  src/test/codewhisperer/service/codewhisperer.test.ts
Due: codewhisperer

refactor: telemetry property check no longer uses spy
  src/shared/telemetry/telemetryLogger.ts
  src/test/globalSetup.test.ts
Due: none

build: use "-debug" suffix for debug builds
  scripts/build/package.ts
Due: none

Removing test case: Redundant
  src/test/codewhisperer/service/codewhisperer.test.ts
Due: none

fix: Toolkit submenus are added to other extensions
  package.json
Due: none

remove sleep and use waitUntil
  src/test/codewhisperer/service/telemetry.test.ts
Due: none

fix: Toolkit submenus are added to other extensions #4113
  package.json
Due: none

changelog
  .changes/next-release/Bug Fix-546034a4-7a26-4c29-b0ae-5f2ddb7b9697.json
Due: none

fix(codecatalyst): "No handler found" error
  .changes/next-release/Bug Fix-5caa0d38-8b96-437c-9710-3b288794d9ab.json
  package.json
  src/codecatalyst/uriHandlers.ts
  src/extension.ts
  src/shared/vscode/uriHandler.ts
  src/test/codecatalyst/uriHandlers.test.ts
  src/test/shared/vscode/uriHandler.test.ts
Due: none

fix(codecatalyst): "No handler found" error #4112
  .changes/next-release/Bug Fix-5caa0d38-8b96-437c-9710-3b288794d9ab.json
  package.json
  src/codecatalyst/uriHandlers.ts
  src/extension.ts
  src/shared/vscode/uriHandler.ts
  src/test/codecatalyst/uriHandlers.test.ts
  src/test/shared/vscode/uriHandler.test.ts
Due: none

add debugging assertions
  src/test/codewhisperer/service/telemetry.test.ts
Due: none

add change log
  .changes/next-release/Bug Fix-d086954c-0bde-4ab8-9d07-7eac324faaf8.json
Due: none

Update src/test/globalSetup.test.ts
  src/test/globalSetup.test.ts
Due: none

skip the test case in failure as it's not a blocker
  src/test/codewhisperer/service/telemetry.test.ts
Due: none

Add changelog for Gateway deprecation notice (#4024)
  .changes/next-release/bugfix-bc9d5b67-1e0b-4c59-b153-8a0afb1148b2.json
  .changes/next-release/feature-883dd051-3b36-46ea-aea8-12ff3f82c226.json
Due: none

suggestionState default to Unseen instead of undefined
  src/codewhisperer/models/model.ts
Due: codewhisperer

patch
  src/codewhisperer/models/model.ts
Due: codewhisperer

refactor: move telemetry validation out of tests
  src/shared/telemetry/exemptMetrics.ts
  src/shared/telemetry/telemetryLogger.ts
  src/shared/telemetry/telemetryService.ts
  src/shared/telemetry/util.ts
  src/test/globalSetup.test.ts
  src/test/shared/telemetry/spans.test.ts
Due: none

use const instead of let
  src/test/codewhisperer/service/featureConfigProvider.test.ts
  src/test/codewhisperer/testUtil.ts
Due: none

use const instead of let (#4115)
  src/test/codewhisperer/service/featureConfigProvider.test.ts
  src/test/codewhisperer/testUtil.ts
Due: none

mark panel events are passive
  src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: none

Update spans.test.ts
  src/test/shared/telemetry/spans.test.ts
Due: none

refactor(awsq): remove externalBrowserUtils, use openUrl() instead
  src/amazonq/commons/externalBrowser/externalBrowserUtils.ts
  src/amazonqFeatureDev/controllers/chat/controller.ts
  src/codewhispererChat/controllers/chat/controller.ts
  src/test/amazonq/commons/externalBrowser/externalBrowserUtils.test.ts
Due: amazonqFeatureDev

Update TESTPLAN.md
  docs/TESTPLAN.md
Due: none

feature: support custom lint rules
  .eslintrc.js
  CONTRIBUTING.md
  package-lock.json
  package.json
  plugins/eslint-plugin-aws-local/index.ts
  plugins/eslint-plugin-aws-local/lib/rules/no-only-in-tests.ts
  plugins/eslint-plugin-aws-local/package.json
  plugins/eslint-plugin-aws-local/test/rules/no-only-in-tests.test.ts
  plugins/eslint-plugin-aws-local/test/testUtil.ts
  plugins/eslint-plugin-aws-local/tsconfig.json
Due: none

added changelog item
  .changes/next-release/Bug Fix-dc5d5825-4d0e-4a2e-9ec3-63b4a0466662.json
Due: none

AmazonQ: Fix for incorrect code selection range values
  src/codewhispererChat/editor/context/focusArea/focusAreaExtractor.ts
  src/test/codewhispererChat/editor/context/focusArea/focusAreaExtractor.test.ts
Due: none

Hide Amazon Q and CodeCatalyst views in Sagemaker
  docs/develop.md
  package.json
  src/extension.ts
Due: none

fix: check for pom.xml in root dir only
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

mark panel events as passive (#4026)
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/cwc/controller/chat/telemetry/TelemetryHelper.kt
Due: none

Fix freezing UI for long running validation when clicking transform (#4023)
  .changes/next-release/bugfix-b48efe91-6724-4e8e-a154-26f74a51f4bc.json
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
Due: none

Fix: normalize code transformation by gumby metrics
  src/amazonq/explorer/amazonQChildrenNodes.ts
  src/amazonqGumby/activation.ts
  src/amazonqGumby/constants.ts
  src/amazonqGumby/entrypoint.ts
  src/amazonqGumby/model.ts
  src/amazonqGumby/telemetry/codeTransformTelemetry.ts
  src/codewhisperer/commands/basicCommands.ts
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/models/constants.ts
  src/codewhisperer/models/model.ts
  src/codewhisperer/service/transformByQHandler.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
  src/shared/telemetry/vscodeTelemetry.json
  src/shared/utilities/download.ts
Due: codewhisperer

Ran newchange
  .changes/next-release/Bug Fix-10423f43-addc-4a2a-af17-91d532c319f0.json
  src/amazonqGumby/telemetry/codeTransformTelemetry.ts
Due: none

Merge vscode telemetry
  src/shared/telemetry/vscodeTelemetry.json
Due: none

add changelog entry
  .changes/next-release/Breaking Change-d11aa2b2-96e2-46f7-9a06-5fceab6299ec.json
Due: none

Fix: unit test
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer
