Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

fix(amazonq): Fixed a bug where issues are double counted in the Q chat (#6767)
  packages/amazonq/.changes/next-release/Bug Fix-a24316fe-1ff9-44e4-9d5c-6b78aa7f0d1e.json
  packages/core/src/codewhisperer/service/securityScanHandler.ts
Due: codewhisperer

refactor: rename client
  packages/core/src/awsService/apprunner/explorer/apprunnerServiceNode.ts
  packages/core/src/awsService/cloudWatchLogs/commands/searchLogGroup.ts
  packages/core/src/awsService/cloudWatchLogs/commands/viewLogStream.ts
  packages/core/src/awsService/cloudWatchLogs/explorer/cloudWatchLogsNode.ts
  packages/core/src/awsService/cloudWatchLogs/registry/logDataRegistry.ts
  packages/core/src/awsService/cloudWatchLogs/wizard/liveTailLogStreamSubmenu.ts
  packages/core/src/awsService/cloudWatchLogs/wizard/tailLogGroupWizard.ts
  packages/core/src/shared/clients/cloudWatchLogsClient.ts
  packages/core/src/test/awsService/apprunner/explorer/apprunnerServiceNode.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/explorer/cloudWatchLogsNode.test.ts
Due: none

refactor: finish migration
  packages/core/src/awsService/cloudWatchLogs/commands/viewLogStream.ts
  packages/core/src/awsService/cloudWatchLogs/wizard/liveTailLogStreamSubmenu.ts
  packages/core/src/shared/clients/cloudWatchLogsClient.ts
Due: none

refactor: remove other imports of cwl sdkv2
  packages/core/src/awsService/apprunner/explorer/apprunnerServiceNode.ts
  packages/core/src/awsService/cloudWatchLogs/commands/searchLogGroup.ts
  packages/core/src/awsService/cloudWatchLogs/commands/viewLogStream.ts
  packages/core/src/awsService/cloudWatchLogs/explorer/cloudWatchLogsNode.ts
  packages/core/src/awsService/cloudWatchLogs/explorer/logGroupNode.ts
  packages/core/src/awsService/cloudWatchLogs/registry/logDataRegistry.ts
  packages/core/src/shared/clients/cloudWatchLogsClient.ts
  packages/core/src/test/awsService/cloudWatchLogs/explorer/logGroupNode.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/registry/logDataRegistry.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/utils.test.ts
  packages/core/src/test/shared/utilities/collectionUtils.test.ts
Due: none

show customer facing message
  packages/amazonq/.changes/next-release/Bug Fix-7bb4ae68-204d-48a1-a510-490d2a2a938a.json
  packages/core/src/codewhisperer/service/testGenHandler.ts
Due: codewhisperer

Update packages/core/src/codewhisperer/util/codewhispererSettings.ts
  packages/core/src/codewhisperer/util/codewhispererSettings.ts
Due: codewhisperer

Update packages/amazonq/.changes/next-release/Feature-b0ddb09f-ae4a-453f-b689-a5c6c5f599f9.json
  packages/amazonq/.changes/next-release/Feature-b0ddb09f-ae4a-453f-b689-a5c6c5f599f9.json
Due: none

deps: regen the streaming client
  src.gen/@amzn/codewhisperer-streaming/README.md
  src.gen/@amzn/codewhisperer-streaming/package-lock.json
  src.gen/@amzn/codewhisperer-streaming/src/commands/GenerateAssistantResponseCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/GenerateTaskAssistPlanCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/SendMessageCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/models/models_0.ts
  src.gen/@amzn/codewhisperer-streaming/src/protocols/Aws_restJson1.ts
Due: none

wip
  packages/core/src/codewhisperer/client/user-service-2.json
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
  packages/core/src/codewhispererChat/controllers/chat/chatRequest/converter.ts
  src.gen/@amzn/codewhisperer-streaming/README.md
  src.gen/@amzn/codewhisperer-streaming/src/commands/ExportResultArchiveCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/GenerateAssistantResponseCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/GenerateTaskAssistPlanCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/SendMessageCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/models/models_0.ts
  src.gen/@amzn/codewhisperer-streaming/src/protocols/Aws_restJson1.ts
Due: codewhisperer

deps: remove old s3 import
  packages/core/src/test/shared/sam/deploy.test.ts
Due: none

refactor: rename cwl file
  packages/core/src/awsService/apprunner/explorer/apprunnerServiceNode.ts
  packages/core/src/awsService/cloudWatchLogs/commands/searchLogGroup.ts
  packages/core/src/awsService/cloudWatchLogs/commands/viewLogStream.ts
  packages/core/src/awsService/cloudWatchLogs/explorer/cloudWatchLogsNode.ts
  packages/core/src/awsService/cloudWatchLogs/registry/logDataRegistry.ts
  packages/core/src/awsService/cloudWatchLogs/wizard/liveTailLogStreamSubmenu.ts
  packages/core/src/awsService/cloudWatchLogs/wizard/tailLogGroupWizard.ts
  packages/core/src/shared/clients/cloudWatchLogs.ts
  packages/core/src/test/awsService/apprunner/explorer/apprunnerServiceNode.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/explorer/cloudWatchLogsNode.test.ts
Due: none

refactor: remove v3 suffix to import
  packages/core/src/awsService/cloudWatchLogs/commands/viewLogStream.ts
  packages/core/src/shared/clients/cloudWatchLogs.ts
Due: none

fix: change type on test data
  packages/core/src/test/shared/sam/deploy.test.ts
Due: none

telemetry(webview): Emit toolkit_X module telemetry on auth webview
  packages/core/src/amazonq/webview/messages/messageDispatcher.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/login/webview/vue/amazonq/backend_amazonq.ts
  packages/core/src/login/webview/vue/backend.ts
  packages/core/src/login/webview/vue/login.vue
  packages/core/src/login/webview/vue/reauthenticate.vue
  packages/core/src/login/webview/vue/root.vue
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/webviews/main.ts
Due: none

fix race condition
  packages/core/src/login/webview/commonAuthViewProvider.ts
  packages/core/src/login/webview/vue/root.vue
Due: none

Address comments
  packages/core/src/shared/sam/build.ts
Due: none

show customer facing message
  packages/amazonq/.changes/next-release/Bug Fix-7bb4ae68-204d-48a1-a510-490d2a2a938a.json
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/session/session.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
Due: codewhisperer

add test
  packages/amazonq/test/unit/codewhisperer/service/securityIssueTreeViewProvider.test.ts
Due: none

refactor
  packages/amazonq/test/unit/codewhisperer/service/securityIssueTreeViewProvider.test.ts
Due: none

remove changelog
  packages/amazonq/.changes/next-release/Feature-74b446b9-7205-4f88-a279-9efadf471f87.json
Due: none

fix: allow retries in cw sdk client
  packages/core/src/shared/clients/codewhispererChatClient.ts
Due: none

Update Bug Fix-7bb4ae68-204d-48a1-a510-490d2a2a938a.json
  packages/amazonq/.changes/next-release/Bug Fix-7bb4ae68-204d-48a1-a510-490d2a2a938a.json
Due: none

feat(amazonq): support SAS findings (#6751)
  packages/amazonq/package.json
  packages/amazonq/test/unit/codewhisperer/service/securityIssueTreeViewProvider.test.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/securityIssueTreeViewProvider.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/codewhisperer/util/securityScanLanguageContext.ts
  packages/core/src/codewhisperer/views/securityIssue/vue/root.vue
  packages/core/src/shared/utilities/commentUtils.ts
  packages/core/src/test/codewhisperer/commands/basicCommands.test.ts
Due: codewhisperer

refactor: drop maxAttempts to 3 instead of 5
  packages/core/src/shared/clients/codewhispererChatClient.ts
Due: none

ci(changelog): escape changelog for notify, default entry when no changes (#6784)
  buildspec/release/80notify.yml
  packages/toolkit/CHANGELOG.md
  scripts/createRelease.ts
Due: none

fix(/review): code issues ellipses menu displaying toolkit options
  packages/amazonq/.changes/next-release/Bug Fix-385a5132-b128-4acb-920a-53990ebdb7c4.json
  packages/amazonq/package.json
  packages/core/src/amazonq/webview/webView.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/commands/registerCommands.ts
  packages/toolkit/package.json
Due: amazonqFeatureDev

docs(stepfunctions): update Step Functions marketplace documentation (#6783)
  docs/marketplace/vscode/stepFunctions.gif
  packages/toolkit/.changes/next-release/Feature-7359863e-64bc-4f03-918d-3a6cea89038e.json
  packages/toolkit/README.md
Due: none

feat(amazonq): Add changelog item for enabling inline code suggestions via Amazon Q Language Server
  packages/amazonq/.changes/next-release/Feature-7a3c930e-cc8e-4323-9ecd-c1bf767fd2ed.json
Due: none

telemetry: Move common errors to shared folder
  packages/amazonq/test/unit/amazonqFeatureDev/util/files.test.ts
  packages/core/src/amazonq/errors.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/util/files.ts
  packages/core/src/amazonqDoc/session/session.ts
  packages/core/src/amazonqFeatureDev/errors.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/shared/errors.ts
Due: codewhisperer, amazonqFeatureDev

change from default powershell 5 to pwsh 7
  packages/core/src/shared/sshConfig.ts
Due: none

add ec2_connect.ps1
  packages/core/resources/ec2_connect.ps1
Due: none

refactor(cloudformation): migrate client to use sdkv3. (#6792)
  packages/core/src/dynamicResources/awsResourceManager.ts
  packages/core/src/dynamicResources/explorer/nodes/resourcesNode.ts
  packages/core/src/lambda/commands/deleteCloudFormation.ts
  packages/core/src/lambda/explorer/cloudFormationNodes.ts
  packages/core/src/lambda/utils.ts
  packages/core/src/shared/clients/cloudFormation.ts
  packages/core/src/shared/clients/cloudFormationClient.ts
  packages/core/src/shared/sam/deploy.ts
  packages/core/src/shared/sam/sync.ts
  packages/core/src/shared/ui/sam/stackPrompter.ts
  packages/core/src/test/dynamicResources/awsResourceManager.test.ts
  packages/core/src/test/dynamicResources/explorer/moreResourcesNode.test.ts
  packages/core/src/test/lambda/explorer/cloudFormationNodes.test.ts
  packages/core/src/test/shared/sam/deploy.test.ts
  packages/core/src/test/shared/sam/sync.test.ts
  packages/core/src/test/shared/ui/sam/stackPrompter.test.ts
Due: none

refactor(cwl): migrate client to sdkv3 (#6796)
  packages/core/src/awsService/apprunner/explorer/apprunnerServiceNode.ts
  packages/core/src/awsService/cloudWatchLogs/commands/searchLogGroup.ts
  packages/core/src/awsService/cloudWatchLogs/commands/viewLogStream.ts
  packages/core/src/awsService/cloudWatchLogs/explorer/cloudWatchLogsNode.ts
  packages/core/src/awsService/cloudWatchLogs/explorer/logGroupNode.ts
  packages/core/src/awsService/cloudWatchLogs/registry/logDataRegistry.ts
  packages/core/src/awsService/cloudWatchLogs/wizard/liveTailLogStreamSubmenu.ts
  packages/core/src/awsService/cloudWatchLogs/wizard/tailLogGroupWizard.ts
  packages/core/src/shared/clients/cloudWatchLogs.ts
  packages/core/src/shared/clients/cloudWatchLogsClient.ts
  packages/core/src/test/awsService/apprunner/explorer/apprunnerServiceNode.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/explorer/cloudWatchLogsNode.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/explorer/logGroupNode.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/registry/logDataRegistry.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/utils.test.ts
  packages/core/src/test/shared/utilities/collectionUtils.test.ts
Due: none

fix(review): code issues ellipses menu displaying toolkit options (#6799)
  packages/amazonq/.changes/next-release/Bug Fix-385a5132-b128-4acb-920a-53990ebdb7c4.json
  packages/amazonq/package.json
  packages/core/src/amazonq/webview/webView.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/commands/registerCommands.ts
  packages/toolkit/package.json
Due: amazonqFeatureDev

wip
  packages/core/src/codewhispererChat/controllers/chat/chatRequest/converter.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/controllers/chat/model.ts
  packages/core/src/codewhispererChat/tools/fsRead.ts
  packages/core/src/codewhispererChat/tools/tool_index.json
Due: none

refactor: unify collect files implementations
  packages/core/src/amazonq/util/files.ts
  packages/core/src/codewhisperer/util/zipUtil.ts
  packages/core/src/shared/utilities/workspaceUtils.ts
  packages/core/src/testInteg/shared/utilities/workspaceUtils.test.ts
Due: codewhisperer

refactor: move duplicated pieces to beforeEach in tests
  packages/core/src/testInteg/shared/utilities/workspaceUtils.test.ts
Due: none

refactor: remove code dupe in tests with helper method
  packages/core/src/testInteg/shared/utilities/workspaceUtils.test.ts
Due: none

refactor: add more helper functions in tests to avoid duplication
  packages/core/src/testInteg/shared/utilities/workspaceUtils.test.ts
Due: none

Path conditions:
  codewhisperer: any of: packages/core/src/codewhisperer/, packages/core/src/amazonq*/*, packages/amazonq/src/, but not: node_modules/, plugins/, scripts/, src.gen/
  amazonqFeatureDev: any of: packages/core/src/amazonqFeatureDev/, but not: node_modules/, plugins/, scripts/, src.gen/
