Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

add change log
  packages/toolkit/.changes/next-release/Bug Fix-bbd8c658-8ffa-4a1d-b9f1-9c81c3122b75.json
Due: none

fix(amazonq): add jobId to all metrics
  package-lock.json
  package.json
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
Due: codewhisperer

Adds capability to send new context commands to AB groups
  packages/amazonq/.changes/next-release/Feature-37eb706c-57a1-4751-888d-220b2f68ee4d.json
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
Due: none

fine tune supplemental context strategy telemetry
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
Due: codewhisperer

add jobId in once more
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
Due: codewhisperer

config(inline-completion): change supplemental context configuration to always use repomap (#6205)
  packages/amazonq/test/unit/codewhisperer/util/crossFileContextUtil.test.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
Due: codewhisperer

factor out to general isEnabled function
  packages/core/src/shared/settings.ts
Due: none

telemetry(inline-suggestion): fine tune supplemental context strategy telemetry (#6242)
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
Due: codewhisperer

telemetry(amazonq): add jobId to all metrics #6241
  package-lock.json
  package.json
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
Due: codewhisperer

avoid using same function for experiment
  packages/core/src/shared/settings.ts
Due: none

update sync command logic to get parameter override from wizard
  packages/core/src/shared/sam/deploy.ts
  packages/core/src/shared/sam/sync.ts
  packages/core/src/test/shared/sam/sync.test.ts
Due: none

factor out other method
  packages/core/src/shared/settings.ts
Due: none

move code to be adjacent
  packages/core/src/shared/settings.ts
Due: none

generate class based on prompt
  packages/core/src/shared/settings.ts
Due: none

fix(amazonq): apply fix removes other issues (#6236)
  packages/amazonq/.changes/next-release/Bug Fix-1fd5992c-cc2e-49ac-8afc-360d7f0a3966.json
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/service/securityIssueProvider.ts
  packages/core/src/test/codewhisperer/commands/basicCommands.test.ts
Due: codewhisperer

Updating the statusCode from String to Int
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/error.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
Due: codewhisperer

Removing statusCode from the UTG telemetry event
  packages/core/src/amazonqTest/error.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/toolkit/package.json
Due: codewhisperer

Minor edits
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/controller/messenger/messenger.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

feat(amazonq): Add UI Update for Progress bar and New button for Cancelling Code Generation
  packages/amazonq/.changes/next-release/Feature-2b91347f-c5e7-4dcd-b902-70467692bafd.json
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonqFeatureDev/app.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/test/amazonqFeatureDev/utils.ts
Due: codewhisperer, amazonqFeatureDev

fix type problem
  packages/core/src/shared/settings.ts
Due: none

export type as well as value
  packages/core/src/shared/settings.ts
  packages/core/src/test/shared/settings.test.ts
Due: none

remove unnecessary await
  packages/core/src/awsService/apprunner/commands/pauseService.ts
  packages/core/src/shared/settings.ts
Due: none

remove awaits
  packages/core/src/auth/sso/ssoAccessTokenProvider.ts
  packages/core/src/awsService/apprunner/wizards/deploymentButton.ts
  packages/core/src/awsService/ecs/commands.ts
  packages/core/src/awsService/s3/fileViewerManager.ts
  packages/core/src/codecatalyst/activation.ts
  packages/core/src/codewhisperer/commands/gettingStartedPageCommands.ts
  packages/core/src/codewhisperer/util/authUtil.ts
  packages/core/src/codewhisperer/vue/backend.ts
  packages/core/src/shared/awsContextCommands.ts
  packages/core/src/shared/extensionStartup.ts
  packages/core/src/shared/sam/activation.ts
  packages/core/src/shared/sam/sync.ts
  packages/core/src/shared/settings.ts
  packages/core/src/shared/utilities/messages.ts
Due: codewhisperer

increase threshold
  packages/core/src/testInteg/perf/getFileSha384.test.ts
Due: none

delay tech-debt expiry
  packages/core/src/test/techdebt.test.ts
Due: none

test(techdebt): snooze deadline #6250
  packages/core/src/test/techdebt.test.ts
Due: none

fix(amazonq): code block extends beyond margins
  packages/core/resources/css/securityIssue.css
Due: none

add changelog
  packages/amazonq/.changes/next-release/Bug Fix-c0428af9-a9e5-4f7f-a4f3-9cfe4ea851c9.json
Due: none

fix(lambda): template parameter prompter not available from all entrypoints #6240
  packages/core/src/awsService/appBuilder/wizards/templateParametersWizard.ts
  packages/core/src/shared/sam/deploy.ts
  packages/core/src/shared/sam/sync.ts
  packages/core/src/shared/ui/wizardPrompter.ts
  packages/core/src/test/awsService/appBuilder/wizards/deployTypeWizard.test.ts
  packages/core/src/test/shared/sam/deploy.test.ts
  packages/core/src/test/shared/sam/sync.test.ts
  packages/core/src/test/shared/wizards/prompterTester.ts
  packages/toolkit/.changes/next-release/Bug Fix-bbd8c658-8ffa-4a1d-b9f1-9c81c3122b75.json
Due: none

try adding to node.js file
  .github/workflows/node.js.yml
Due: none

change file target
  .github/workflows/node.js.yml
Due: none

make path properly relative
  .github/workflows/node.js.yml
  packages/core/src/test/testRunner.ts
Due: none

include dot as prefix
  .github/workflows/node.js.yml
Due: none

make isPromptEnabled non-async
  packages/core/src/auth/sso/ssoAccessTokenProvider.ts
  packages/core/src/awsService/apprunner/commands/pauseService.ts
  packages/core/src/awsService/apprunner/wizards/deploymentButton.ts
  packages/core/src/awsService/ecs/commands.ts
  packages/core/src/awsService/s3/fileViewerManager.ts
  packages/core/src/codecatalyst/activation.ts
  packages/core/src/codewhisperer/util/authUtil.ts
  packages/core/src/codewhisperer/vue/backend.ts
  packages/core/src/shared/awsContextCommands.ts
  packages/core/src/shared/extensionStartup.ts
  packages/core/src/shared/sam/sync.ts
  packages/core/src/shared/settings.ts
  packages/core/src/shared/utilities/messages.ts
  packages/core/src/test/shared/settings.test.ts
Due: codewhisperer

migrate existing cases
  packages/core/src/awsService/ecs/commands.ts
  packages/core/src/codewhisperer/commands/gettingStartedPageCommands.ts
  packages/core/src/shared/sam/activation.ts
Due: codewhisperer

replace vscode.cancellation with waitUntil for timeout purpose
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
Due: codewhisperer

tst
  packages/amazonq/test/unit/codewhisperer/util/crossFileContextUtil.test.ts
Due: none

changelog
  packages/amazonq/.changes/next-release/Bug Fix-9575c7da-3e49-4051-ba29-6b292d3e399a.json
Due: none

patch
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
Due: codewhisperer

fix test failure
  packages/amazonq/test/unit/codewhisperer/util/crossFileContextUtil.test.ts
  packages/amazonq/test/unit/codewhisperer/util/supplemetalContextUtil.test.ts
Due: none
