Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

changelog
  .changes/next-release/Bug Fix-55510462-3473-4c65-a3f8-52f6a79e4a26.json
Due: none

Update .changes/next-release/Bug Fix-3f2c34ab-615e-4501-b697-75b38a7f4c39.json
  .changes/next-release/Bug Fix-3f2c34ab-615e-4501-b697-75b38a7f4c39.json
Due: none

Update .changes/next-release/Bug Fix-55510462-3473-4c65-a3f8-52f6a79e4a26.json
  .changes/next-release/Bug Fix-55510462-3473-4c65-a3f8-52f6a79e4a26.json
Due: none

feat(logs): "AWS (Developer): Watch Logs"
  CONTRIBUTING.md
  docs/images/debug-console-filter.png
  package.json
  src/dev/activation.ts
  src/extension.ts
  src/shared/logger/activation.ts
  src/shared/logger/logger.ts
  src/shared/logger/winstonToolkitLogger.ts
  src/shared/telemetry/telemetryLogger.ts
  src/shared/utilities/textUtilities.ts
  src/test/testLogger.ts
Due: none

feat(logs): "Watch Logs" command #4176
  CONTRIBUTING.md
  docs/images/debug-console-filter.png
  package.json
  src/dev/activation.ts
  src/extension.ts
  src/shared/logger/activation.ts
  src/shared/logger/logger.ts
  src/shared/logger/winstonToolkitLogger.ts
  src/shared/telemetry/telemetryLogger.ts
  src/shared/utilities/textUtilities.ts
  src/test/testLogger.ts
Due: none

fix(telemetry): metrics was emitted without the `result` property
  src/extension.ts
  src/shared/logger/commands.ts
Due: none

fix(gumby): set shell to false
  src/codewhisperer/service/transformByQHandler.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
Due: codewhisperer

add changelog
  .changes/next-release/Bug Fix-454d780d-97bc-49af-9391-527808d8bd33.json
Due: none

fix: fix lint error by adding void
  src/codewhisperer/service/transformationResultsViewProvider.ts
Due: codewhisperer

update changelog text
  .changes/next-release/Bug Fix-3f2c34ab-615e-4501-b697-75b38a7f4c39.json
Due: none

feat(sam): improve rendering of SAM Lambda logs
  .changes/next-release/Feature-a4a67f74-2ea2-4e18-9864-c8904e0128e6.json
  src/codewhisperer/models/constants.ts
  src/extensionWeb.ts
  src/shared/logger/activation.ts
  src/shared/logger/outputChannel.ts
  src/shared/logger/outputChannelTransport.ts
  src/shared/sam/cli/samCliLocalInvoke.ts
  src/test/testUtil.ts
Due: codewhisperer

fixup! feat(sam): improve rendering of SAM Lambda logs
  src/shared/logger/outputChannelTransport.ts
Due: none

fixup! fixup! feat(sam): improve rendering of SAM Lambda logs
  src/shared/logger/outputChannelTransport.ts
Due: none

fixup! fixup! fixup! feat(sam): improve rendering of SAM Lambda logs
  src/shared/logger/outputChannelTransport.ts
Due: none

fix(codewhisperer): right context merge #4275
  .changes/next-release/Bug Fix-3f2c34ab-615e-4501-b697-75b38a7f4c39.json
  src/codewhisperer/service/inlineCompletionItemProvider.ts
  src/test/codewhisperer/service/inlineCompletionService.test.ts
Due: codewhisperer

fix(codewhisperer): closing symbol handling during typeahead #4257
  .changes/next-release/Bug Fix-55510462-3473-4c65-a3f8-52f6a79e4a26.json
  src/codewhisperer/commands/onAcceptance.ts
  src/codewhisperer/commands/onInlineAcceptance.ts
  src/codewhisperer/models/model.ts
  src/codewhisperer/service/inlineCompletionItemProvider.ts
  src/codewhisperer/util/closingBracketUtil.ts
  src/test/codewhisperer/commands/onAcceptance.test.ts
  src/test/codewhisperer/commands/onInlineAcceptance.test.ts
  src/test/codewhisperer/util/closingBracketUtil.test.ts
Due: codewhisperer

fixup! fixup! fixup! fixup! feat(sam): improve rendering of SAM Lambda logs
  src/shared/logger/outputChannelTransport.ts
Due: none

feat(sam): improve rendering of SAM output #4285
  .changes/next-release/Feature-a4a67f74-2ea2-4e18-9864-c8904e0128e6.json
  src/codewhisperer/models/constants.ts
  src/extensionWeb.ts
  src/shared/logger/activation.ts
  src/shared/logger/outputChannel.ts
  src/shared/logger/outputChannelTransport.ts
  src/shared/sam/cli/samCliLocalInvoke.ts
  src/test/testUtil.ts
Due: codewhisperer

fix test failure caused by non-reset CW state
  src/test/codewhisperer/commands/onAcceptance.test.ts
  src/test/codewhisperer/commands/onInlineAcceptance.test.ts
Due: none

fix(gumby): set shell to false (#4286)
  .changes/next-release/Bug Fix-454d780d-97bc-49af-9391-527808d8bd33.json
  src/codewhisperer/service/transformByQHandler.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
Due: codewhisperer

Fix missing `/` in CODEOWNERS (#4061)
  .github/CODEOWNERS
Due: none

refactor: monolithic function in amazon q code transform #4273
  src/amazonqGumby/telemetry/codeTransformTelemetry.ts
  src/amazonqGumby/telemetry/codeTransformTelemetryState.ts
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/models/model.ts
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

fix(logging): "debug" messages not shown in "AWS Toolkit Logs" channel
  src/shared/logger/outputChannelTransport.ts
Due: none

fix(logging): no "debug" messages in "AWS Toolkit Logs" channel #4289
  src/shared/logger/outputChannelTransport.ts
Due: none

fix(telemetry): metrics emitted without the `result` property #4284
  src/extension.ts
  src/shared/logger/commands.ts
Due: none

fix(gumby): run mvnw if mvn fails
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/models/constants.ts
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

fix(appcomposer): improve sync auth messaging
  .changes/next-release/Bug Fix-acaea338-3c74-41b5-b09a-839806679551.json
  src/applicationcomposer/messageHandlers/deployMessageHandler.ts
  src/applicationcomposer/webviewManager.ts
  src/auth/utils.ts
  src/shared/utilities/messages.ts
Due: none

browser: remove non-complex uses of fs-extra for codewhisperer
  src/amazonqFeatureDev/util/download.ts
  src/codewhisperer/service/transformByQHandler.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
  src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
  src/codewhisperer/util/supplementalContext/utgUtils.ts
  src/srcShared/fs.ts
  src/test/codewhisperer/service/transformationResultsHandler.test.ts
  src/test/codewhisperer/util/crossFileContextUtil.test.ts
  src/test/srcShared/fs.test.ts
  src/testE2E/amazonqGumby/transformByQ.test.ts
Due: codewhisperer, amazonqFeatureDev

browser: remove usage of got in codewhisperer
  src/amazonqFeatureDev/util/upload.ts
  src/applicationcomposer/webviewManager.ts
  src/codewhisperer/service/securityScanHandler.ts
  src/codewhisperer/service/transformByQHandler.ts
  src/common/request.ts
  src/test/amazonqFeatureDev/session/sessionState.test.ts
  src/test/codewhisperer/commands/startSecurityScan.test.ts
  src/test/common/request.test.ts
  src/testE2E/amazonqGumby/transformByQ.test.ts
  src/testInteg/common/request.ts
Due: codewhisperer, amazonqFeatureDev

fixed dependency versions
  package-lock.json
  src.gen/@amzn/codewhisperer-streaming/package.json
Due: none

add change log
  .changes/next-release/Feature-46a5faf6-6909-48b4-bce3-d74e390b5519.json
Due: none

fix: re-order mvn / mvnw runs
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

fix(tests): unreliable codewhisperer tests #4288
  src/test/codewhisperer/commands/onAcceptance.test.ts
  src/test/codewhisperer/commands/onInlineAcceptance.test.ts
Due: none

feat(gumby): run mvnw if mvn fails #4290
  .changes/next-release/Feature-46a5faf6-6909-48b4-bce3-d74e390b5519.json
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/models/constants.ts
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

MRU list util implementation
  src/shared/utilities/collectionUtils.ts
  src/test/shared/utilities/collectionUtils.test.ts
Due: none

feat: Add App, AppFactory and basic Controller for Amazon Q Feature Dev capability and enable Feature Dev capability in UI (#1783)
  .github/CODEOWNERS
  jetbrains-core/resources/META-INF/plugin.xml
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonq/webview/Browser.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/FeatureDevApp.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/FeatureDevAppFactory.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/InboundAppMessagesHandler.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/controller/FeatureDevController.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/messages/FeatureDevMessage.kt
Due: none

fix(scripts): "newChange" script does not add final newline
  scripts/newChange.ts
Due: none

fix(telemetry): metrics emitted without the `result` property
  src/awsexplorer/activation.ts
Due: none

fix(appcomposer): move IAM credentials prompt to SAM sync
  src/applicationcomposer/messageHandlers/deployMessageHandler.ts
  src/auth/utils.ts
  src/shared/sam/sync.ts
Due: none

remove $TZ env var from CI
  .github/workflows/node.js.yml
  buildspec/linuxE2ETests.yml
  buildspec/linuxIntegrationTests.yml
  buildspec/linuxTests.yml
  buildspec/windowsTests.yml
Due: none

Path conditions:
  codewhisperer: any of: src/codewhisperer/
  amazonqFeatureDev: any of: src/amazonqFeatureDev/
