Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

add test
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
Due: none

add test
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/codewhisperer/client/user-service-2.json
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

add jvm_21
  packages/core/src/codewhisperer/client/user-service-2.json
Due: codewhisperer

fix another unhandled promise
  packages/core/src/test/notifications/controller.test.ts
Due: none

update versions
  package-lock.json
  packages/core/package.json
Due: none

feat(amazonq): java21 support
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
  packages/core/src/codewhisperer/client/user-service-2.json
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
Due: codewhisperer

include test in PR
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
Due: none

update tests and pr feedback
  packages/amazonq/test/unit/codewhisperer/commands/onAcceptance.test.ts
  packages/amazonq/test/unit/codewhisperer/commands/onInlineAcceptance.test.ts
  packages/amazonq/test/unit/codewhisperer/service/completionProvider.test.ts
  packages/amazonq/test/unit/codewhisperer/service/inlineCompletionService.test.ts
  packages/amazonq/test/unit/codewhisperer/service/recommendationHandler.test.ts
  packages/amazonq/test/unit/codewhisperer/util/telemetryHelper.test.ts
  packages/core/src/codewhisperer/commands/onInlineAcceptance.ts
  packages/core/src/codewhisperer/service/inlineCompletionService.ts
  packages/core/src/codewhisperer/service/recommendationHandler.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
  packages/core/src/test/codewhisperer/testUtil.ts
Due: codewhisperer

fix(core): Could not fetch endpoints
  packages/core/src/extension.ts
  packages/core/src/shared/regions/regionProvider.ts
Due: none

fix(core): Could not fetch endpoints (#6418)
  packages/core/src/extension.ts
  packages/core/src/shared/regions/regionProvider.ts
Due: none

Release 3.43.0
  package-lock.json
  packages/toolkit/.changes/3.43.0.json
  packages/toolkit/.changes/next-release/Bug Fix-b033b55b-52a5-488a-a4a7-c3228232bca6.json
  packages/toolkit/.changes/next-release/Bug Fix-f7aec5a8-a21c-4539-9ed4-820dd9887598.json
  packages/toolkit/.changes/next-release/Removal-3ef48be0-d3f3-4252-be69-9a0684406944.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Due: none

Release 1.44.0
  package-lock.json
  packages/amazonq/.changes/1.44.0.json
  packages/amazonq/.changes/next-release/Bug Fix-097e1816-d641-481d-8709-dae31a987473.json
  packages/amazonq/.changes/next-release/Bug Fix-11625969-6700-4d10-805f-b6eaea2287a2.json
  packages/amazonq/.changes/next-release/Bug Fix-34e877a1-d2ca-4c93-9dee-5dd2019769fe.json
  packages/amazonq/.changes/next-release/Bug Fix-38581ab6-e9f3-4b45-aef9-5f93e4a97a26.json
  packages/amazonq/.changes/next-release/Bug Fix-7545b1a5-9cc7-416e-aafd-0d2733142941.json
  packages/amazonq/.changes/next-release/Bug Fix-817a49a4-df99-4bbe-88a1-c906861b6fc1.json
  packages/amazonq/.changes/next-release/Bug Fix-a49b3835-40c5-4878-ac0c-c4c613f1bf97.json
  packages/amazonq/.changes/next-release/Bug Fix-da5a775a-766c-4862-8cab-2bb0259acb2f.json
  packages/amazonq/.changes/next-release/Bug Fix-fdf7f991-1da6-405d-8a8a-3ce1af1db29d.json
  packages/amazonq/.changes/next-release/Feature-7f17c8e5-2242-4a8a-93bc-f7a6c08899dc.json
  packages/amazonq/.changes/next-release/Feature-f0d4f2ca-72c5-4434-8cf3-fcd742bf33d7.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
Due: none

Update version to snapshot version: 3.44.0-SNAPSHOT
  package-lock.json
  packages/toolkit/package.json
Due: none

Update version to snapshot version: 1.45.0-SNAPSHOT
  package-lock.json
  packages/amazonq/package.json
Due: none

- add a timeout to the template build registration - updated test with a small delay to avoid possible race condition and test flakiness
  packages/core/src/shared/sam/utils.ts
  packages/core/src/test/shared/sam/build.test.ts
Due: none

fix lint issue
  packages/core/src/shared/sam/deploy.ts
Due: none

telemetry(amazonq): add fields for code fix events
  package-lock.json
  package.json
  packages/amazonq/test/unit/codewhisperer/service/securityScanHandler.test.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
Due: codewhisperer

refactor(util): merge withRetries into waitUntil #6387
  packages/core/src/notifications/controller.ts
  packages/core/src/shared/crashMonitoring.ts
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
  packages/core/src/shared/utilities/functionUtils.ts
  packages/core/src/shared/utilities/timeoutUtils.ts
  packages/core/src/test/notifications/controller.test.ts
  packages/core/src/test/shared/utilities/functionUtils.test.ts
  packages/core/src/test/shared/utilities/timeoutUtils.test.ts
Due: none

fix telemetry metadata field
  packages/core/src/shared/lsp/manifestResolver.ts
Due: none

port metrics down from commons until release
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: none

feat(lambda): Connect CW Live Tail to Lambda functions
  packages/core/package.nls.json
  packages/core/src/awsService/appBuilder/explorer/nodes/deployedNode.ts
  packages/core/src/awsService/cloudWatchLogs/activation.ts
  packages/core/src/awsService/cloudWatchLogs/commands/tailLogGroup.ts
  packages/core/src/awsService/cloudWatchLogs/wizard/tailLogGroupWizard.ts
  packages/core/src/lambda/activation.ts
  packages/core/src/test/awsService/cloudWatchLogs/commands/tailLogGroup.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/wizard/tailLogGroupWizard.test.ts
  packages/toolkit/.changes/next-release/Feature-48c399ea-d42f-4ea1-8f32-d8bc1486a107.json
  packages/toolkit/package.json
Due: none

implement logic for manifest telemetry
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/util.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/lsp/manifestResolver.ts
Due: none

feat: allow install, build, and test commands separately
  packages/core/src/amazonqFeatureDev/constants.ts
Due: codewhisperer, amazonqFeatureDev

fix(amazonq): log full error
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
Due: codewhisperer

fix(feature dev): adding required files to upload for execution engine
  packages/core/src/shared/filetypes.ts
  packages/core/src/test/shared/filetypes.test.ts
Due: none

Update wording for changeset
  packages/toolkit/.changes/next-release/Feature-48c399ea-d42f-4ea1-8f32-d8bc1486a107.json
Due: none

patch
  packages/core/src/shared/featureConfig.ts
Due: none

edit strings
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

test(toolkit): Add region provider remote test
  packages/core/src/shared/regions/regionProvider.ts
  packages/core/src/testInteg/regionProvider.test.ts
Due: none

feat: check marketplace in release
  buildspec/release/70checkmarketplace.yml
Due: none

refactor(core): Manifest/LSP fetching should use httpResourceFetcher
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/manifestResolver.ts
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
Due: none

fixup
  packages/webpack.web.config.js
Due: none

fixup
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/manifestResolver.ts
Due: none

telemetry: add docgeneration V2 telemetry
  packages/core/src/amazonq/commons/diff.ts
  packages/core/src/amazonqDoc/controllers/chat/controller.ts
  packages/core/src/amazonqDoc/controllers/docGenerationTask.ts
  packages/core/src/amazonqDoc/session/session.ts
  packages/core/src/amazonqFeatureDev/client/codewhispererruntime-2022-11-11.json
  packages/core/src/codewhisperer/client/user-service-2.json
Due: codewhisperer, amazonqFeatureDev

telemetry: implement logic for server resolution
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/manifestResolver.ts
  packages/core/src/shared/lsp/types.ts
Due: none

refactor: move tryFunctions to core and include tests
  packages/core/src/amazonq/lsp/util.ts
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/manifestResolver.ts
  packages/core/src/shared/utilities/tsUtils.ts
  packages/core/src/test/shared/utilities/tsUtils.test.ts
Due: none

fix: generalize cleanup to apply to other installer
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/lsp/util.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/test/amazonq/lsp/util.test.ts
  packages/core/src/test/amazonq/lsp/workplaceInstaller.test.ts
Due: codewhisperer

refactor: avoid exporting unnecessarily
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
Due: none

refactor: reduce noise in changes
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
Due: none
