Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

save
  packages/amazonq/src/lsp/activation.ts
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/languageServer/types.ts
  packages/core/src/shared/languageServer/utils/platform.ts
Due: codewhisperer

Fix for unsupproted languages test generation query
  package.json
  packages/amazonq/.changes/next-release/Bug Fix-cb743d9a-67da-41a2-bda3-9bc8bfa19b75.json
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/controller/messenger/messenger.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

Including package-lock.json
  package-lock.json
Due: none

add message after accept/reject action
  packages/amazonq/.changes/next-release/Bug Fix-b6d52b75-69e6-47bb-939b-5ddede03f977.json
  packages/core/src/amazonqTest/chat/controller/controller.ts
Due: none

max 20k char for inline supplementalContext
  packages/amazonq/test/unit/codewhisperer/util/crossFileContextUtil.test.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
  packages/core/src/test/codewhisperer/testUtil.ts
Due: codewhisperer

change log
  packages/amazonq/.changes/next-release/Bug Fix-72b26a2d-3647-4d07-b0ef-92238e3f0050.json
Due: none

const curLen
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
Due: codewhisperer

Adds capability to send new context commands to AB groups
  packages/amazonq/.changes/next-release/Feature-37eb706c-57a1-4751-888d-220b2f68ee4d.json
  packages/amazonq/test/e2e/amazonq/welcome.test.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
Due: none

fix(amazonq): max 20k char for inline supplementalContext (#6366)
  packages/amazonq/.changes/next-release/Bug Fix-72b26a2d-3647-4d07-b0ef-92238e3f0050.json
  packages/amazonq/test/unit/codewhisperer/util/crossFileContextUtil.test.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
  packages/core/src/test/codewhisperer/testUtil.ts
Due: codewhisperer

feat(amazonq): capability to send new context commands to AB groups (#6239)
  packages/amazonq/.changes/next-release/Feature-37eb706c-57a1-4751-888d-220b2f68ee4d.json
  packages/amazonq/test/e2e/amazonq/welcome.test.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
Due: none

feat(inline completion): enhance inline completion context fetching (#6356)
  packages/amazonq/.changes/next-release/Feature-d0329e3d-65bd-4987-b87c-ee11b86de399.json
Due: none

Update packages/amazonq/.changes/next-release/Bug Fix-cb743d9a-67da-41a2-bda3-9bc8bfa19b75.json
  packages/amazonq/.changes/next-release/Bug Fix-cb743d9a-67da-41a2-bda3-9bc8bfa19b75.json
Due: none

fix(sso): Sign in did not allow custom start url
  packages/core/src/auth/sso/constants.ts
  packages/core/src/login/webview/vue/backend.ts
  packages/core/src/login/webview/vue/login.vue
  packages/core/src/shared/utilities/uriUtils.ts
  packages/core/src/test/shared/utilities/uriUtils.test.ts
Due: none

changelog items
  packages/amazonq/.changes/next-release/Bug Fix-71c6bbc1-67ae-4318-a7f0-c594e097ebc4.json
  packages/toolkit/.changes/next-release/Bug Fix-29e6ef4c-536b-47bb-ae27-26b802ccdb65.json
Due: none

cammel case supplemental context strategy ids
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
  packages/core/src/codewhisperer/util/supplementalContext/utgUtils.ts
Due: codewhisperer

patch
  packages/core/src/codewhisperer/util/supplementalContext/supplementalContextUtil.ts
Due: codewhisperer

a
  packages/amazonq/test/unit/codewhisperer/service/recommendationHandler.test.ts
Due: none

refactor(inline suggestion): camel case supplemental context strategy ids #6369
  packages/amazonq/test/unit/codewhisperer/service/recommendationHandler.test.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
  packages/core/src/codewhisperer/util/supplementalContext/supplementalContextUtil.ts
  packages/core/src/codewhisperer/util/supplementalContext/utgUtils.ts
Due: codewhisperer

fix(amazonq): conditionally display remaining code generation iterations
  packages/amazonq/.changes/next-release/Feature-f03a4f2f-5819-4276-b914-be0b1a4ecedf.json
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
  packages/core/src/test/amazonqFeatureDev/session/sessionState.test.ts
  packages/toolkit/package.json
Due: amazonqFeatureDev

message now only in endSession
  packages/core/src/amazonqTest/chat/controller/controller.ts
Due: none

feat(amazonq): change active file context limit to 40k
  packages/core/src/codewhispererChat/editor/context/focusArea/focusAreaExtractor.ts
Due: none

add comments
  packages/core/src/codewhisperer/tracker/codewhispererCodeCoverageTracker.ts
Due: codewhisperer

fix(amazonq): remove hard-coded limits and instead rely server-side data to communicate number of code generations remaining
  packages/amazonq/.changes/next-release/Feature-f03a4f2f-5819-4276-b914-be0b1a4ecedf.json
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
  packages/core/src/test/amazonqFeatureDev/session/sessionState.test.ts
Due: amazonqFeatureDev

fix(dev): Q developer menu opening wrong auth state #6351
  packages/core/src/dev/activation.ts
  packages/core/src/shared/utilities/mementos.ts
Due: none

fix(amazonq): remove hard-coded limits and instead rely server-side data to communicate number of code generations remaining
  packages/amazonq/.changes/next-release/Bug Fix-ef93f909-3aa5-4e62-a4fc-850376161d24.json
Due: none

build: normalize filepath slashes, eol consistency #6353
  .eslintrc.js
  packages/core/src/test/testRunner.ts
Due: none

fix(amazonq): use server-side data to decide remaining code generations #6370
  packages/amazonq/.changes/next-release/Bug Fix-ef93f909-3aa5-4e62-a4fc-850376161d24.json
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
  packages/toolkit/package.json
Due: amazonqFeatureDev

save
  packages/amazonq/src/lsp/activation.ts
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/languageServer/types.ts
Due: codewhisperer

refactor(amazonq): Improve robustness of lsp installation process (#6364)
  packages/amazonq/src/lsp/activation.ts
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/languageServer/types.ts
  packages/core/src/shared/languageServer/utils/platform.ts
Due: codewhisperer

refactor(core): Move shared/languageServer -> shared/lsp
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/lsp/languageModelCache.ts
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/manifestResolver.ts
  packages/core/src/shared/lsp/types.ts
  packages/core/src/shared/lsp/utils/platform.ts
  packages/core/src/shared/lsp/utils/runner.ts
  packages/core/src/stepFunctions/asl/aslServer.ts
Due: none

refactor sub-functions
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: none

add rule and migrate existing cases
  .eslintrc.js
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/shared/env/resolveEnv.ts
  packages/core/src/shared/utilities/downloadPatterns.ts
  packages/core/src/shared/utilities/pollingSet.ts
Due: codewhisperer

simplify output
  .github/workflows/filterDuplicates.js
Due: none

add duplicate
  packages/core/src/awsService/ec2/model2.ts
Due: none

test(amazonq): add edit README E2E test case for /doc
  packages/amazonq/test/e2e/amazonq/doc.test.ts
Due: none

generalize url
  .github/workflows/filterDuplicates.js
  .github/workflows/node.js.yml
Due: none

refactor(lsp): Use internal ChildProcess module for launching language servers
  packages/amazonq/src/lsp/client.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/lsp/utils/platform.ts
  packages/core/src/shared/utilities/processUtils.ts
Due: codewhisperer

add missing slash
  .github/workflows/filterDuplicates.js
Due: none

clean up and add docs
  .github/workflows/filterDuplicates.js
  packages/core/src/awsService/ec2/model2.ts
Due: none

ci(jscpd): improve output format #6373
  .github/workflows/filterDuplicates.js
  .github/workflows/node.js.yml
Due: none

Path conditions:
  codewhisperer: any of: packages/core/src/codewhisperer/, packages/core/src/amazonq*/*, packages/amazonq/src/, but not: node_modules/, plugins/, scripts/, src.gen/
  amazonqFeatureDev: any of: packages/core/src/amazonqFeatureDev/, but not: node_modules/, plugins/, scripts/, src.gen/
