Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

fix variable
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

chore: update according to the comments
  packages/amazonq/test/unit/amazonqFeatureDev/util/files.test.ts
  packages/core/src/amazonq/errors.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/util/files.ts
  packages/core/src/amazonqDoc/session/session.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
Due: codewhisperer, amazonqFeatureDev

refactor: migrate ec2 usage to v3
  packages/core/src/awsService/ec2/commands.ts
  packages/core/src/awsService/ec2/ec2LogDocumentProvider.ts
  packages/core/src/awsService/ec2/explorer/ec2InstanceNode.ts
  packages/core/src/awsService/ec2/explorer/ec2ParentNode.ts
  packages/core/src/awsService/ec2/model.ts
  packages/core/src/awsService/ec2/prompter.ts
  packages/core/src/awsService/ec2/utils.ts
  packages/core/src/awsexplorer/regionNode.ts
  packages/core/src/shared/clients/ec2.ts
  packages/core/src/shared/clients/ec2Client.ts
  packages/core/src/test/awsService/ec2/activation.test.ts
  packages/core/src/test/awsService/ec2/ec2LogDocumentProvider.test.ts
  packages/core/src/test/awsService/ec2/explorer/ec2InstanceNode.test.ts
  packages/core/src/test/awsService/ec2/explorer/ec2ParentNode.test.ts
  packages/core/src/test/awsService/ec2/model.test.ts
  packages/core/src/test/awsService/ec2/prompter.test.ts
  packages/core/src/test/awsService/ec2/utils.test.ts
  packages/core/src/test/shared/clients/ec2Client.test.ts
Due: none

deps: remove imports of v2 ec2
  packages/core/src/awsService/ec2/explorer/ec2InstanceNode.ts
  packages/core/src/awsService/ec2/model.ts
  packages/core/src/awsService/ec2/remoteSessionManager.ts
  packages/core/src/test/awsService/ec2/explorer/ec2ParentNode.test.ts
Due: none

refactor: remove duplicate code in the tests
  packages/core/src/test/awsService/ec2/prompter.test.ts
Due: none

test: add back techdebt test as reminder to check
  packages/core/src/test/techdebt.test.ts
Due: none

Web view
  packages/core/src/awsService/appBuilder/serverlessLand/metadata.json
  packages/core/src/awsService/appBuilder/serverlessLand/metadataManager.ts
  packages/core/src/awsService/appBuilder/serverlessLand/webViewManager.ts
  packages/core/src/awsService/appBuilder/serverlessLand/wizard.ts
  packages/core/src/shared/ui/pickerPrompter.ts
Due: none

feat(sdkv3): enable persistent connections by forcing keep alive header. (#6664)
  packages/core/src/shared/awsClientBuilderV3.ts
  packages/core/src/test/techdebt.test.ts
  packages/core/src/testE2E/shared/awsClientBuilderV3.test.ts
Due: none

fix: re-implement proper pagination
  packages/core/src/awsService/ec2/explorer/ec2ParentNode.ts
  packages/core/src/awsService/ec2/prompter.ts
  packages/core/src/shared/clients/clientWrapper.ts
  packages/core/src/shared/clients/ec2.ts
  packages/core/src/shared/clients/ssm.ts
  packages/core/src/test/awsService/ec2/explorer/ec2ParentNode.test.ts
  packages/core/src/test/awsService/ec2/prompter.test.ts
  packages/core/src/test/shared/clients/ec2Client.test.ts
Due: none

Show the Amazon Q Logs while executing client side build
  packages/core/src/amazonqTest/chat/controller/controller.ts
Due: none

test: update tests to use pagination
  packages/core/src/test/shared/clients/ec2Client.test.ts
Due: none

fix(amazonq): adjust feature config customization arn override logic
  packages/core/src/codewhisperer/util/customizationUtil.ts
  packages/core/src/shared/featureConfig.ts
  packages/core/src/shared/globalState.ts
Due: codewhisperer

If user tries to generate /test on second or third package in a workspace we show wrong view diff
  packages/core/src/amazonqTest/chat/controller/controller.ts
Due: none

fix lint
  packages/core/src/shared/featureConfig.ts
Due: none

address comments
  packages/core/src/shared/globalState.ts
Due: none

Adding Change log
  packages/amazonq/.changes/next-release/Bug Fix-21c570d4-388e-460f-88e1-7034ed7e17d4.json
Due: none

context limit 40k
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

fix github action
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

feat(amazonq): generate scanName from workspace config
  packages/amazonq/test/unit/codewhisperer/service/securityScanHandler.test.ts
  packages/core/src/codewhisperer/commands/startSecurityScan.ts
  packages/core/src/codewhisperer/index.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/testE2E/codewhisperer/securityScan.test.ts
Due: codewhisperer

Adding additional patterns for file filtering for test generation.
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/shared/utilities/workspaceUtils.ts
Due: codewhisperer

Expand data source and output options for Distributed Map in ASL language schema
  package-lock.json
  packages/core/package.json
  packages/toolkit/.changes/next-release/Feature-43784260-ff60-4419-8fe3-a886a2b37fc6.json
Due: none

revamp test to not stub files to better simulate real environment
  packages/amazonq/test/unit/codewhisperer/service/securityScanHandler.test.ts
Due: none

Sorting workspace folders in ziputils for test generation usecase.
  packages/core/src/codewhisperer/util/zipUtil.ts
  packages/core/src/shared/utilities/workspaceUtils.ts
Due: codewhisperer

removed debugging comment
  packages/amazonq/test/unit/codewhisperer/service/securityScanHandler.test.ts
Due: none

correction for workspace folder for usecase.
  packages/core/src/codewhisperer/util/zipUtil.ts
Due: codewhisperer

Revamp test to unaccount for windows bug to solve later
  packages/amazonq/test/unit/codewhisperer/service/securityScanHandler.test.ts
Due: none

Fixed syntax errors and updated the test generation ignore pattern list.
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/shared/utilities/workspaceUtils.ts
Due: codewhisperer

Correction for files ignore patterns
  packages/core/src/shared/utilities/workspaceUtils.ts
Due: none

Updating wizard file
  packages/core/src/awsService/appBuilder/serverlessLand/main.ts
  packages/core/src/awsService/appBuilder/serverlessLand/metadataManager.ts
  packages/core/src/awsService/appBuilder/serverlessLand/wizard.ts
Due: none

Fixed file to be the core folder
  packages/amazonq/test/unit/codewhisperer/service/securityScanHandler.test.ts
Due: none

fix(stepfunctions): Bug fixes - handling unsupported messages, fix undo sync bug, code cleanup (#6667)
  packages/core/src/stepFunctions/workflowStudio/handleMessage.ts
  packages/core/src/stepFunctions/workflowStudio/types.ts
  packages/core/src/stepFunctions/workflowStudio/workflowStudioEditorProvider.ts
  packages/toolkit/package.json
Due: none

feat(toolkit): Expand data source and output options for Distributed Map in ASL language schema (#6680)
  package-lock.json
  packages/core/package.json
  packages/toolkit/.changes/next-release/Feature-43784260-ff60-4419-8fe3-a886a2b37fc6.json
Due: none

fix(amazonq): Test generation shows incorrect view diff view (#6676)
  packages/amazonq/.changes/next-release/Bug Fix-21c570d4-388e-460f-88e1-7034ed7e17d4.json
  packages/core/src/amazonqTest/chat/controller/controller.ts
Due: none

refactor(sdkv3): cache clients on creation. (#6645)
  packages/core/src/extensionNode.ts
  packages/core/src/shared/awsClientBuilderV3.ts
  packages/core/src/shared/clients/clientWrapper.ts
  packages/core/src/test/shared/awsClientBuilderV3.test.ts
  packages/core/src/testE2E/shared/awsClientBuilderV3.test.ts
Due: none

feat: implement proper pagination
  packages/core/src/shared/utilities/asyncCollection.ts
  packages/core/src/test/shared/utilities/asyncCollection.test.ts
Due: none

fix(test): add setter for innerText
  packages/amazonq/test/e2e/amazonq/framework/jsdomInjector.ts
Due: none

fix(amazonq): Set context limit to 40k characters (#6677)
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

fix(amazonq): adjust feature-config customization ARN-override logic #6674
  packages/core/src/codewhisperer/util/customizationUtil.ts
  packages/core/src/shared/featureConfig.ts
  packages/core/src/shared/globalState.ts
Due: codewhisperer

correction for removing usecase from workspaceUtils.
  packages/core/src/codewhisperer/util/zipUtil.ts
  packages/core/src/shared/utilities/workspaceUtils.ts
Due: codewhisperer

Path conditions:
  codewhisperer: any of: packages/core/src/codewhisperer/, packages/core/src/amazonq*/*, packages/amazonq/src/, but not: node_modules/, plugins/, scripts/, src.gen/
  amazonqFeatureDev: any of: packages/core/src/amazonqFeatureDev/, but not: node_modules/, plugins/, scripts/, src.gen/
