Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

save
  packages/amazonq/src/lsp/activation.ts
  packages/amazonq/src/lsp/download.ts
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/amazonq/test/unit/amazonq/lsp/lspController.test.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/shared/fetchLsp.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/languageServer/lspManager.ts
  packages/core/src/shared/languageServer/manifestManager.ts
  packages/core/src/shared/languageServer/types.ts
  packages/core/src/shared/utilities/download.ts
  packages/core/src/test/shared/fetchLSP.test.ts
  packages/core/src/test/shared/languageServer/lspManager.test.ts
  packages/core/src/testInteg/perf/getFileSha384.test.ts
  packages/core/src/testInteg/perf/tryInstallLsp.test.ts
Due: codewhisperer

fix(amazonq): Skip including deleted files for FeatureDev context.
  packages/amazonq/.changes/next-release/Bug Fix-4f85fc73-11cd-4033-bc93-b49ff3c3e45e.json
  packages/core/src/amazonqFeatureDev/util/files.ts
  packages/core/src/shared/errors.ts
Due: amazonqFeatureDev

fix(amazonq): skip including deleted files for FeatureDev context #6312
  packages/amazonq/.changes/next-release/Bug Fix-4f85fc73-11cd-4033-bc93-b49ff3c3e45e.json
  packages/core/src/amazonqFeatureDev/util/files.ts
  packages/core/src/shared/errors.ts
Due: amazonqFeatureDev

fix failing tests
  packages/core/src/test/credentials/sso/ssoAccessTokenProvider.test.ts
Due: none

add debounce sanity check test
  packages/core/src/test/credentials/sso/ssoAccessTokenProvider.test.ts
Due: none

Update packages/amazonq/test/unit/codewhisperer/tracker/userWrittenCodeTracker.test.ts
  packages/amazonq/test/unit/codewhisperer/tracker/userWrittenCodeTracker.test.ts
Due: none

update Q editing reset timer
  packages/core/src/codewhisperer/tracker/userWrittenCodeTracker.ts
Due: codewhisperer

implement telemetry for exceeding thresholds
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: none

fix another broken test
  packages/core/src/auth/sso/ssoAccessTokenProvider.ts
  packages/core/src/test/credentials/provider/sharedCredentialsProvider.test.ts
Due: none

undo font char changes
  packages/toolkit/package.json
Due: none

fix incorrect clientComponentLatency@preprocessLatency
  packages/core/src/codewhisperer/service/recommendationHandler.ts
  packages/core/src/codewhisperer/util/codeWhispererSession.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

test
  packages/amazonq/test/unit/codewhisperer/util/telemetryHelper.test.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

add process as str to telemetry
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: none

remove explicit adding now that tracker is singleton
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: none

add a safety clear before tests run
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: none

regroup tests
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: none

undo workaround
  package-lock.json
  src.gen/@amzn/amazon-q-developer-streaming-client/package-lock.json
  src.gen/@amzn/amazon-q-developer-streaming-client/package.json
Due: none

fix for /test for files outside of workspace.
  packages/core/src/amazonqTest/chat/controller/controller.ts
Due: none

Added changelog
  packages/amazonq/.changes/next-release/Bug Fix-b071ef14-0566-4efa-9a16-43362b87639f.json
Due: none

Change logic for customization override to not override if user has manually selected a customization
  packages/amazonq/.changes/next-release/Bug Fix-d8c02c38-bdc4-492a-bf8c-6c35e35087be.json
  packages/core/src/codewhisperer/index.ts
  packages/core/src/codewhisperer/util/customizationUtil.ts
  packages/core/src/test/amazonq/customizationUtil.test.ts
Due: codewhisperer

Update controller.ts
  packages/core/src/amazonqTest/chat/controller/controller.ts
Due: none

update
  packages/amazonq/src/lsp/activation.ts
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/amazonq/test/unit/amazonq/lsp/lspController.test.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/crypto.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/languageServer/lspResolver.ts
  packages/core/src/shared/languageServer/manifestResolver.ts
  packages/core/src/shared/languageServer/types.ts
  packages/core/src/shared/utilities/download.ts
  packages/core/src/shared/vscode/env.ts
  packages/core/src/test/shared/languageServer/lspManager.test.ts
  packages/core/src/testInteg/perf/getFileSha384.test.ts
  packages/core/src/testInteg/perf/tryInstallLsp.test.ts
Due: codewhisperer

fix
  packages/core/src/shared/languageServer/lspResolver.ts
Due: none

remove tests
  packages/core/src/test/shared/languageServer/lspManager.test.ts
Due: none

Update packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/controller/controller.ts
Due: none

Fix in chat message
  packages/core/src/amazonqTest/chat/controller/controller.ts
Due: none

refactor to spy on debounced funcitionality
  packages/core/src/auth/sso/ssoAccessTokenProvider.ts
  packages/core/src/test/credentials/sso/ssoAccessTokenProvider.test.ts
Due: none

feat(amazonq): Auto update language servers when new versions are available (#6310)
  packages/amazonq/src/lsp/activation.ts
  packages/amazonq/src/lsp/download.ts
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/amazonq/test/unit/amazonq/lsp/lspController.test.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/crypto.ts
  packages/core/src/shared/fetchLsp.ts
  packages/core/src/shared/globalState.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/languageServer/lspResolver.ts
  packages/core/src/shared/languageServer/manifestResolver.ts
  packages/core/src/shared/languageServer/types.ts
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
  packages/core/src/shared/vscode/env.ts
  packages/core/src/testInteg/perf/getFileSha384.test.ts
  packages/core/src/testInteg/perf/tryInstallLsp.test.ts
Due: codewhisperer

Adding Telemetry metric for files out of workspace scope.
  package.json
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/controller/messenger/messenger.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
  packages/toolkit/package.json
Due: codewhisperer

Revert package.json in toolkit.
  packages/toolkit/package.json
Due: none

fix(auth): debounce getToken() function (#6282)
  packages/core/src/auth/sso/ssoAccessTokenProvider.ts
  packages/core/src/test/credentials/provider/sharedCredentialsProvider.test.ts
  packages/core/src/test/credentials/sso/ssoAccessTokenProvider.test.ts
Due: none

feat(amazonq): Add lsp downloading support for windows/lunx
  packages/core/src/shared/vscode/env.ts
Due: none

fix(docdb): resolve ESLint issues in DocDB files
  packages/core/src/docdb/explorer/dbClusterNode.ts
  packages/core/src/docdb/explorer/dbGlobalClusterNode.ts
  packages/core/src/docdb/wizards/regionalClusterWizard.ts
  packages/core/src/test/docdb/utils.test.ts
Due: none

refactor(test): remove unclear assertion for esult.lines in zip generation test
  packages/amazonq/test/unit/codewhisperer/util/zipUtil.test.ts
Due: none

chore (docdb): reduce log verbosity by changing some info logs to debug
  packages/core/src/docdb/explorer/dbClusterNode.ts
  packages/core/src/docdb/explorer/dbElasticClusterNode.ts
  packages/core/src/docdb/explorer/dbGlobalClusterNode.ts
  packages/core/src/docdb/explorer/dbInstanceNode.ts
  packages/core/src/docdb/explorer/dbResourceNode.ts
Due: none

test(amazonq): Add e2e tests for lsp auto updating
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/amazonq/test/e2e/lsp/lspInstaller.test.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/languageServer/lspResolver.ts
Due: codewhisperer

fix(amazonq): update messaging for /doc
  packages/amazonq/.changes/next-release/Bug Fix-21e0fd75-299f-4f16-8fd6-ef6211ddd06b.json
  packages/core/package.nls.json
  packages/core/src/amazonqDoc/constants.ts
  packages/core/src/amazonqDoc/controllers/chat/controller.ts
Due: codewhisperer

chore: remove unused telemetry of /doc
  packages/core/src/amazonqDoc/controllers/chat/controller.ts
Due: none

add link to relevant issue
  packages/core/src/shared/awsClientBuilderV3.ts
Due: none

Release 3.41.0
  package-lock.json
  packages/toolkit/.changes/3.41.0.json
  packages/toolkit/.changes/next-release/Removal-1c5617ae-50c9-4de1-a191-a2d57dce5bd7.json
  packages/toolkit/.changes/next-release/Removal-6703e62b-3835-402b-b187-b327c58f425b.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Due: none
