Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

add a comment
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

Fix: unit test
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

update comment so that builds retry
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

duplicate pojo name Recommendation, rename to CompletionRecommendation
  src/codewhisperer/models/model.ts
  src/codewhisperer/service/completionProvider.ts
  src/codewhisperer/service/importAdderProvider.ts
  src/codewhisperer/service/inlineCompletionItemProvider.ts
  src/codewhisperer/service/recommendationHandler.ts
  src/codewhisperer/util/codeWhispererSession.ts
  src/codewhisperer/util/importAdderUtil.ts
  src/codewhisperer/util/telemetryHelper.ts
  src/test/codewhisperer/commands/onAcceptance.test.ts
  src/test/codewhisperer/commands/onInlineAcceptance.test.ts
  src/test/codewhisperer/service/completionProvider.test.ts
  src/test/codewhisperer/service/inlineCompletionService.test.ts
  src/test/codewhisperer/service/recommendationHandler.test.ts
  src/test/codewhisperer/util/model.test.ts
  src/test/codewhisperer/util/telemetryHelper.test.ts
Due: codewhisperer

fix(transform): check for pom.xml in root dir only (#4130)
  .changes/next-release/Breaking Change-d11aa2b2-96e2-46f7-9a06-5fceab6299ec.json
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

Chore - add project pre-validation errors
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/service/transformByQHandler.ts
  src/shared/telemetry/vscodeTelemetry.json
Due: codewhisperer

CodeWhisperer: ab testing feature (#4020)
  gradle/libs.versions.toml
  jetbrains-core/resources/META-INF/plugin.xml
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/credentials/CodeWhispererClientAdaptor.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/service/CodeWhispererFeatureConfigService.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/service/CodeWhispererService.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/startup/CodeWhispererProjectStartupActivity.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/telemetry/CodeWhispererTelemetryService.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererConstants.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererUtil.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/telemetry/ClientMetadata.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererClientAdaptorTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererFeatureConfigServiceTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererTelemetryServiceTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererUtilTest.kt
  sdk-codegen/codegen-resources/codewhispererruntime/service-2.json
Due: none

update test
  src/test/codewhisperer/util/codeParsingUtil.test.ts
  src/test/codewhisperer/util/utgUtils.test.ts
Due: none

AmazonQ: Fix for incorrect code selection range values (#4127)
  src/codewhispererChat/editor/context/focusArea/focusAreaExtractor.ts
  src/test/codewhispererChat/editor/context/focusArea/focusAreaExtractor.test.ts
Due: none

patch remove debug log
  src/test/codewhisperer/util/codeParsingUtil.test.ts
Due: none

codewhisperer: remove build requirement (#4114)
  .changes/next-release/Bug Fix-d086954c-0bde-4ab8-9d07-7eac324faaf8.json
  src/codewhisperer/util/dependencyGraph/javaDependencyGraph.ts
  src/test/codewhisperer/util/dependencyGraph/javaDependencyGraph.test.ts
Due: codewhisperer

Revert "Ran newchange"
  .changes/next-release/Bug Fix-10423f43-addc-4a2a-af17-91d532c319f0.json
  src/amazonqGumby/telemetry/codeTransformTelemetry.ts
Due: none

codewhisperer: remove build requirement (#4025)
  .changes/next-release/bugfix-0451fd5a-678f-4947-b678-50fc9ce28eb5.json
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/JavaCodeScanSessionConfig.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererJavaCodeScanTest.kt
Due: none

Fix: remove unnecessary transform
  src/amazonqGumby/telemetry/codeTransformTelemetry.ts
Due: none

Updating version to 2.1
  .changes/2.1.json
  .changes/next-release/bugfix-0451fd5a-678f-4947-b678-50fc9ce28eb5.json
  .changes/next-release/bugfix-b48efe91-6724-4e8e-a154-26f74a51f4bc.json
  .changes/next-release/bugfix-bc9d5b67-1e0b-4c59-b153-8a0afb1148b2.json
  .changes/next-release/feature-883dd051-3b36-46ea-aea8-12ff3f82c226.json
  CHANGELOG.md
  gradle.properties
Due: none

CW: Ruby language support for security scans
  src/codewhisperer/models/constants.ts
  src/codewhisperer/util/dependencyGraph/dependencyGraph.ts
  src/codewhisperer/util/dependencyGraph/dependencyGraphFactory.ts
  src/codewhisperer/util/dependencyGraph/rubyDependencyGraph.ts
  src/test/codewhisperer/util/dependencyGraph/dependencyGraphFactory.test.ts
  src/test/codewhisperer/util/dependencyGraph/rubyDependencyGraph.test.ts
  src/testFixtures/workspaceFolder/ruby-plain-sam-app/src/app.rb
  src/testFixtures/workspaceFolder/ruby-plain-sam-app/template.yaml
Due: codewhisperer

Change Log for Ruby Security scan
  .changes/next-release/Feature-186b5746-5987-4c64-9c6a-54f7e3b91dbc.json
Due: none

Fix: comments
  src/amazonqGumby/activation.ts
  src/amazonqGumby/telemetry/codeTransformTelemetry.ts
  src/codewhisperer/commands/basicCommands.ts
  src/codewhisperer/commands/startTransformByQ.ts
Due: codewhisperer

Fix: re-adding throw
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

fix test failure utgUtil.test
  src/test/codewhisperer/util/utgUtils.test.ts
Due: none

Updating SNAPSHOT version to 2.2-SNAPSHOT
  gradle.properties
Due: none

Update .changes/next-release/Bug Fix-dc5d5825-4d0e-4a2e-9ec3-63b4a0466662.json
  .changes/next-release/Bug Fix-dc5d5825-4d0e-4a2e-9ec3-63b4a0466662.json
Due: none

fix(amazonq): disabled prompt input (#4107)
  .changes/next-release/Bug Fix-dc5d5825-4d0e-4a2e-9ec3-63b4a0466662.json
  package-lock.json
  package.json
Due: none

refactor(awsq): remove externalBrowserUtils, use openUrl() #4117
  src/amazonq/commons/externalBrowser/externalBrowserUtils.ts
  src/amazonqFeatureDev/controllers/chat/controller.ts
  src/codewhispererChat/controllers/chat/controller.ts
  src/test/amazonq/commons/externalBrowser/externalBrowserUtils.test.ts
Due: amazonqFeatureDev

Change CodeTransformConstants to enum
  src/amazonqGumby/constants.ts
Due: none

Refactor models and constants file to models folder
  src/amazonqGumby/models/constants.ts
  src/amazonqGumby/models/model.ts
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

Refactor - refactor variables to ENUM as preferred coding style for this repository
  src/amazonqGumby/activation.ts
  src/amazonqGumby/telemetry/codeTransformTelemetry.ts
Due: none

Refactor generated types to enums
  src/amazonqGumby/activation.ts
  src/amazonqGumby/telemetry/codeTransformTelemetry.ts
  src/codewhisperer/commands/basicCommands.ts
Due: codewhisperer

Refactor change uploadZipSize to codeTransformTotalByteSize and refactor with TODO statements for each byte count
  src/codewhisperer/service/transformByQHandler.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
  src/shared/telemetry/vscodeTelemetry.json
  src/shared/utilities/download.ts
Due: codewhisperer

Refactor change uploadZipSize to codeTransformTotalByteSize and refactor with TODO statements for each byte count
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/service/transformByQHandler.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
  src/shared/telemetry/vscodeTelemetry.json
  src/shared/utilities/download.ts
Due: codewhisperer

Fix: removing unneeded import
  src/amazonqGumby/activation.ts
Due: none

Chore - remove codeTransformConfigurationFilePath
  src/codewhisperer/commands/startTransformByQ.ts
  src/shared/telemetry/vscodeTelemetry.json
Due: codewhisperer

refact(awsq): update enable button string
  src/amazonq/explorer/amazonQChildrenNodes.ts
Due: none

remove duplicate code
  src/codewhisperer/commands/invokeRecommendation.ts
  src/codewhisperer/service/keyStrokeHandler.ts
  src/codewhisperer/service/recommendationService.ts
Due: codewhisperer

unused import
  src/codewhisperer/commands/invokeRecommendation.ts
Due: codewhisperer

fix(awsq): use more reliable command to focus on Amazon Q Chat view
  .changes/next-release/Bug Fix-c3b1288b-9bb9-41a8-910e-44bd160631a4.json
  src/amazonq/activation.ts
  src/amazonq/explorer/amazonQChildrenNodes.ts
  src/amazonq/onboardingPage/index.ts
  src/auth/ui/vue/show.ts
  src/codewhisperer/commands/basicCommands.ts
  src/codewhispererChat/commands/registerCommands.ts
Due: codewhisperer

fix: help > open logs may not work after interacting with other options
  src/shared/logger/commands.ts
Due: none

feat(codewhisperer): golang support
  src/codewhisperer/models/constants.ts
  src/codewhisperer/util/dependencyGraph/dependencyGraph.ts
  src/codewhisperer/util/dependencyGraph/dependencyGraphFactory.ts
  src/codewhisperer/util/dependencyGraph/goDependencyGraph.ts
  src/test/codewhisperer/testUtil.ts
  src/test/codewhisperer/util/dependencyGraph/goDependencyGraph.test.ts
  src/testFixtures/workspaceFolder/go1-zip/go.mod
  src/testFixtures/workspaceFolder/go1-zip/help.go
  src/testFixtures/workspaceFolder/go1-zip/main.go
  src/testFixtures/workspaceFolder/go1-zip/util/number.go
Due: codewhisperer

add changelog
  .changes/next-release/Feature-9c1f0662-e3b1-486d-a16d-db27923fe3ba.json
Due: none

Path conditions:
  codewhisperer: any of: src/codewhisperer/
  amazonqFeatureDev: any of: src/amazonqFeatureDev/
