Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # https://docs.codecov.com/docs/commit-status
            all:
                target: 80%
                threshold: 5%
                informational: true
                only_pulls: true
            codewhisperer:
                paths:
                    - packages/core/src/codewhisperer/*
                flags:
                    - 'codewhisperer'
                target: 80%
                threshold: 5%
                informational: true
                only_pulls: true
            amazonqFeatureDev:
                paths:
                    - packages/core/src/amazonqFeatureDev/*
                flags:
                    - 'amazonqFeatureDev'
                target: 80%
                threshold: 5%
                informational: true
                only_pulls: true
            amazonqGumby:
                paths:
                    - packages/core/src/amazonqGumby/*
                target: 80%
                threshold: 5%
                informational: true
                only_pulls: true
            codewhispererChat:
                paths:
                    - packages/core/src/codewhispererChat/*
                target: 80%
                threshold: 5%
                informational: true
                only_pulls: true
            applicationcomposer:
                paths:
                    - packages/core/src/applicationcomposer/*
                target: 80%
                threshold: 5%
                informational: true
                only_pulls: true
            stepFunctions:
                paths:
                    - packages/core/src/stepFunctions/*
                target: 50%
                threshold: 10%
                informational: true
                only_pulls: true
            threatComposer:
                paths:
                    - packages/core/src/threatComposer/*
                target: 80%
                threshold: 5%
                informational: true
                only_pulls: true
        patch: false
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - packages/core/src/codewhisperer/
    amazonqFeatureDev:
        paths:
            - packages/core/src/amazonqFeatureDev/

update docs with more info
  docs/arch_features.md
Due: none

fail on invalid patterns
  packages/core/src/awsService/ec2/model.ts
  packages/core/src/test/awsService/ec2/model.test.ts
Due: none

ai gen
  packages/core/src/codewhisperer/tracker/qCodeGenTracker.ts
Due: codewhisperer

ai code gen
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/codewhisperer/service/recommendationHandler.ts
  packages/core/src/codewhisperer/tracker/qCodeGenTracker.ts
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
Due: codewhisperer

update
  packages/amazonq/src/inlineChat/controller/inlineChatController.ts
  packages/core/src/codewhisperer/index.ts
  packages/core/src/codewhisperer/tracker/qCodeGenTracker.ts
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: codewhisperer

more code
  packages/core/src/codewhisperer/commands/onInlineAcceptance.ts
  packages/core/src/codewhisperer/tracker/qCodeGenTracker.ts
Due: codewhisperer

added telemetry helper for amazonq_utgGenerateTests metric
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/controller/messenger/messenger.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

revert constants format to camelcase
  packages/core/src/awsService/appBuilder/explorer/openTemplate.ts
  packages/core/src/shared/sam/build.ts
  packages/core/src/shared/sam/constants.ts
  packages/core/src/shared/sam/deploy.ts
  packages/core/src/shared/sam/sync.ts
  packages/core/src/shared/sam/utils.ts
Due: none

feat(amazonq): automatically scroll to fix section
  packages/amazonq/.changes/next-release/Feature-65d6b661-7ab8-409d-8af8-918db3e69a2d.json
  packages/core/src/codewhisperer/views/securityIssue/securityIssueWebview.ts
  packages/core/src/codewhisperer/views/securityIssue/vue/root.vue
Due: codewhisperer

fix(auth): malformed SSO cache didn't prompt reauth (#6164)
  packages/amazonq/.changes/next-release/Bug Fix-a243e8d5-b494-46a1-9ec0-c8c6af3cbf35.json
  packages/core/src/auth/sso/cache.ts
  packages/core/src/shared/regions/regionProvider.ts
  packages/core/src/shared/utilities/cacheUtils.ts
  packages/core/src/test/credentials/sso/cache.test.ts
  packages/core/src/test/credentials/sso/ssoAccessTokenProvider.test.ts
  packages/toolkit/.changes/next-release/Bug Fix-868c7cda-80c1-4947-a498-3792f88622ad.json
Due: none

Removing session cleanUp before emitting the telemetry event
  packages/core/src/amazonqTest/chat/controller/controller.ts
Due: none

UTG Error handling
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqTest/error.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/codeFixHandler.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/codewhisperer/util/zipUtil.ts
Due: codewhisperer

lint errors
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

Addressing comments
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/error.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
Due: codewhisperer

Adding statusCode for exportResultArchive API
  packages/core/src/amazonqTest/error.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
Due: codewhisperer

Minor change in UploadTestArtifactToS3Error error message
  packages/core/src/codewhisperer/service/securityScanHandler.ts
Due: codewhisperer

lint errors
  packages/core/src/amazonqTest/error.ts
Due: none

Minor fixes
  packages/core/src/amazonqTest/chat/controller/controller.ts
Due: none

Minor change in science side telemetry errors
  packages/core/src/amazonqTest/chat/controller/controller.ts
Due: none

Error handling in UTG
  packages/core/src/amazonqTest/error.ts
Due: none

replacing customerFacingMessage with UiMessage
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/error.ts
Due: none

Addressing comments
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
Due: codewhisperer

revert
  packages/toolkit/package.json
Due: none

telemetry(amazonq): cleanup amazonq_utgGenerateTests logic #6212
  package-lock.json
  package.json
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/controller/messenger/messenger.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: codewhisperer

add exception for new case
  packages/core/src/awsService/accessanalyzer/vue/iamPolicyChecks.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
Due: codewhisperer

update
  packages/amazonq/src/inlineChat/controller/inlineChatController.ts
  packages/core/src/amazonq/commons/controllers/contentController.ts
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/codewhisperer/client/user-service-2.json
  packages/core/src/codewhisperer/commands/onInlineAcceptance.ts
  packages/core/src/codewhisperer/index.ts
  packages/core/src/codewhisperer/service/inlineCompletionItemProvider.ts
  packages/core/src/codewhisperer/service/recommendationHandler.ts
  packages/core/src/codewhisperer/tracker/userWrittenCodeTracker.ts
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
  packages/toolkit/package.json
Due: codewhisperer

minimize changes
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: none

test(amazonq): E2E test for /doc
  packages/amazonq/test/e2e/amazonq/doc.test.ts
  packages/amazonq/test/e2e/amazonq/featureDev.test.ts
  packages/amazonq/test/e2e/amazonq/framework/messenger.ts
  packages/core/package.json
Due: none

fix(amazonq): diagnostics code is incorrect
  packages/amazonq/.changes/next-release/Bug Fix-8331f6fe-6955-4a49-91ac-e4ca3fbe4165.json
  packages/amazonq/test/unit/codewhisperer/service/diagnosticsProvider.test.ts
  packages/core/src/codewhisperer/service/diagnosticsProvider.ts
Due: codewhisperer

test(amazonq): fix test names
  packages/amazonq/test/e2e/amazonq/doc.test.ts
Due: none

update
  packages/amazonq/src/inlineChat/controller/inlineChatController.ts
  packages/core/src/amazonq/commons/controllers/contentController.ts
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
Due: codewhisperer, amazonqFeatureDev

fix cyclic dependency
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/tracker/userWrittenCodeTracker.ts
Due: codewhisperer

telemetry(amazonq): Removing session cleanUp before emitting the telemetry event (#6211)
  packages/core/src/amazonqTest/chat/controller/controller.ts
Due: none

try opt in @workspace context once if users are in treatment group
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/shared/featureConfig.ts
Due: none

UTG Error handling
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqTest/error.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/codeFixHandler.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
  packages/core/src/codewhisperer/util/zipUtil.ts
Due: codewhisperer

revert
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none
