Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

refactor: moving existing functions to datetime
  packages/core/src/awsService/cloudWatchLogs/commands/viewLogStream.ts
  packages/core/src/awsService/cloudWatchLogs/document/textContent.ts
  packages/core/src/awsService/ecs/commands.ts
  packages/core/src/awsService/iot/explorer/iotCertificateNode.ts
  packages/core/src/awsService/iot/explorer/iotPolicyVersionNode.ts
  packages/core/src/awsService/s3/explorer/s3FileNode.ts
  packages/core/src/codecatalyst/wizards/selectResource.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationHubViewProvider.ts
  packages/core/src/shared/datetime.ts
  packages/core/src/shared/utilities/textUtilities.ts
  packages/core/src/test/awsService/cloudWatchLogs/commands/viewLogStream.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/registry/logDataRegistry.test.ts
  packages/core/src/test/awsService/iot/explorer/iotPolicyVersionNode.test.ts
  packages/core/src/test/awsService/s3/explorer/s3FileNode.test.ts
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
  packages/core/src/test/shared/datetime.test.ts
  packages/core/src/test/shared/utilities/textUtilities.test.ts
Due: codewhisperer

test(packageJson): sync fonts to Toolkits
  packages/toolkit/package.json
Due: none

refactor(auth): move startUrls to constants file (#5998)
  packages/core/src/auth/auth.ts
  packages/core/src/auth/connection.ts
  packages/core/src/auth/providers/sharedCredentialsProvider.ts
  packages/core/src/auth/sso/constants.ts
  packages/core/src/auth/sso/model.ts
  packages/core/src/auth/sso/ssoAccessTokenProvider.ts
  packages/core/src/awsService/cloudWatchLogs/commands/viewLogStream.ts
  packages/core/src/awsService/cloudWatchLogs/document/textContent.ts
  packages/core/src/awsService/ecs/commands.ts
  packages/core/src/awsService/iot/explorer/iotCertificateNode.ts
  packages/core/src/awsService/iot/explorer/iotPolicyVersionNode.ts
  packages/core/src/awsService/s3/explorer/s3FileNode.ts
  packages/core/src/codecatalyst/auth.ts
  packages/core/src/codecatalyst/uriHandlers.ts
  packages/core/src/codecatalyst/wizards/selectResource.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationHubViewProvider.ts
  packages/core/src/login/webview/vue/amazonq/backend_amazonq.ts
  packages/core/src/login/webview/vue/toolkit/backend_toolkit.ts
  packages/core/src/shared/datetime.ts
  packages/core/src/shared/utilities/textUtilities.ts
  packages/core/src/test/awsService/cloudWatchLogs/commands/viewLogStream.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/registry/logDataRegistry.test.ts
  packages/core/src/test/awsService/iot/explorer/iotPolicyVersionNode.test.ts
  packages/core/src/test/awsService/s3/explorer/s3FileNode.test.ts
  packages/core/src/test/codecatalyst/uriHandlers.test.ts
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
  packages/core/src/test/credentials/testUtil.ts
  packages/core/src/test/notifications/rules.test.ts
  packages/core/src/test/shared/datetime.test.ts
  packages/core/src/test/shared/utilities/textUtilities.test.ts
Due: codewhisperer

test(packagejson): sync fonts to Toolkits (#6007)
  packages/toolkit/package.json
Due: none

test(PolicyChecks): remove flaky check with executeCommand
  packages/core/src/test/awsService/accessanalyzer/iamPolicyChecks.test.ts
Due: none

test(policychecks): remove flaky executeCommand check #6009
  packages/core/src/test/awsService/accessanalyzer/iamPolicyChecks.test.ts
Due: none

test(notifications): unit tests for notification rendering (#5947)
  packages/core/src/notifications/panelNode.ts
  packages/core/src/shared/utilities/textDocumentUtilities.ts
  packages/core/src/test/notifications/rendering.test.ts
Due: none

only add retries to unit tests
  packages/core/src/test/testRunner.ts
  packages/toolkit/test/unit/index.ts
Due: none

wrap entire check in a waitUntil
  packages/core/src/test/credentials/auth.test.ts
Due: none

Construct LogEvent filter from params. Validate buildStartLiveTailCommand in unit tests
  packages/core/src/awsService/cloudWatchLogs/registry/liveTailSession.ts
  packages/core/src/test/awsService/cloudWatchLogs/registry/liveTailSession.test.ts
Due: none

rename tests
  packages/core/src/test/awsService/cloudWatchLogs/registry/liveTailSession.test.ts
Due: none

Remove redundant code in tests
  packages/core/src/test/awsService/cloudWatchLogs/registry/liveTailSession.test.ts
Due: none

Change convertToTimeString import
  packages/core/src/awsService/cloudWatchLogs/registry/liveTailSession.ts
Due: none

feat(logging): support logger instances
  packages/core/src/shared/logger/logger.ts
  packages/core/src/shared/logger/toolkitLogger.ts
  packages/core/src/test/globalSetup.test.ts
  packages/core/src/test/shared/logger/toolkitLogger.test.ts
  packages/core/src/test/testLogger.ts
Due: none

a
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
  packages/core/src/shared/featureConfig.ts
Due: codewhisperer

a
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

Fix issue related to App-builder placeholder message
  packages/core/src/awsService/appBuilder/explorer/nodes/appNode.ts
  packages/core/src/awsService/appBuilder/explorer/nodes/rootNode.ts
  packages/core/src/test/shared/applicationBuilder/explorer/nodes/appNode.test.ts
  packages/core/src/test/shared/applicationBuilder/explorer/nodes/rootNode.test.ts
Due: none

region in debug config should override default toolkit region
  packages/core/src/shared/sam/debugger/awsSamDebugger.ts
  packages/core/src/shared/sam/localLambdaRunner.ts
  packages/core/src/test/shared/sam/debugger/samDebugConfigProvider.test.ts
  packages/toolkit/.changes/next-release/Bug Fix-e5a76bd7-06a7-4a59-aead-8ea3e3924ee9.json
Due: none

update changelog
  packages/toolkit/.changes/next-release/Bug Fix-3f75e95c-f940-42e3-b0e2-b6a3b9143a58.json
Due: none

Assert deepstrictEqual on command input
  packages/core/src/test/awsService/cloudWatchLogs/registry/liveTailSession.test.ts
Due: none

fixup! feat(logging): support logger instances
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/extension.ts
  packages/core/src/shared/utilities/logAndShowUtils.ts
  packages/core/src/test/codewhisperer/commands/basicCommands.test.ts
  packages/core/src/test/globalSetup.test.ts
  packages/core/src/test/lambda/vue/remoteInvoke/invokeLambda.test.ts
  packages/core/src/test/lambda/vue/samInvokeBackend.test.ts
  packages/core/src/test/shared/applicationBuilder/explorer/nodes/deployedNode.test.ts
  packages/core/src/test/shared/logger/toolkitLogger.test.ts
  packages/core/src/test/webview/server.test.ts
  packages/core/src/webviews/server.ts
Due: codewhisperer

fix(cwl): set LogEventFilter when constructing LiveTailSession #6008
  packages/core/src/awsService/cloudWatchLogs/registry/liveTailSession.ts
  packages/core/src/test/awsService/cloudWatchLogs/registry/liveTailSession.test.ts
Due: none

feat(logging): support logger instances #5941
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/extension.ts
  packages/core/src/shared/logger/logger.ts
  packages/core/src/shared/logger/toolkitLogger.ts
  packages/core/src/shared/utilities/logAndShowUtils.ts
  packages/core/src/test/codewhisperer/commands/basicCommands.test.ts
  packages/core/src/test/globalSetup.test.ts
  packages/core/src/test/lambda/vue/remoteInvoke/invokeLambda.test.ts
  packages/core/src/test/lambda/vue/samInvokeBackend.test.ts
  packages/core/src/test/shared/applicationBuilder/explorer/nodes/deployedNode.test.ts
  packages/core/src/test/shared/logger/toolkitLogger.test.ts
  packages/core/src/test/testLogger.ts
  packages/core/src/test/webview/server.test.ts
  packages/core/src/webviews/server.ts
Due: codewhisperer

update changelog
  packages/toolkit/.changes/next-release/Bug Fix-e5a76bd7-06a7-4a59-aead-8ea3e3924ee9.json
Due: none

test
  packages/amazonq/test/unit/codewhisperer/util/crossFileContextUtil.test.ts
  packages/amazonq/test/unit/codewhisperer/util/supplemetalContextUtil.test.ts
  packages/core/src/test/shared/featureConfig.test.ts
Due: none

patch
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
Due: codewhisperer

update
  packages/amazonq/src/inlineChat/controller/inlineChatController.ts
  packages/core/src/codewhisperer/index.ts
  packages/core/src/codewhisperer/tracker/qCodeGenTracker.ts
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: codewhisperer

fix open file behavior on accepted changes
  packages/core/src/amazonq/commons/diff.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/test/amazonq/common/diff.test.ts
Due: amazonqFeatureDev

bugBash: add diffInt metric to aws_loginWithBrowser
  packages/core/src/auth/sso/ssoAccessTokenProvider.ts
Due: none

refractor prompters and tests
  package-lock.json
  packages/core/src/awsService/appBuilder/explorer/openTemplate.ts
  packages/core/src/shared/sam/build.ts
  packages/core/src/shared/sam/deploy.ts
  packages/core/src/shared/sam/process.ts
  packages/core/src/shared/sam/sync.ts
  packages/core/src/shared/sam/utils.ts
  packages/core/src/shared/ui/sam/bucket.ts
  packages/core/src/shared/ui/sam/ecr.ts
  packages/core/src/shared/ui/sam/paramsSource.ts
  packages/core/src/shared/ui/sam/samTemplate.ts
  packages/core/src/shared/ui/sam/stack.ts
  packages/core/src/test/awsService/appBuilder/wizards/deployTypeWizard.test.ts
  packages/core/src/test/shared/sam/build.test.ts
  packages/core/src/test/shared/sam/deploy.test.ts
  packages/core/src/test/shared/sam/sync.test.ts
  packages/core/src/test/shared/sam/utils.test.ts
  packages/core/src/test/shared/ui/sam/bucket.test.ts
  packages/core/src/test/shared/ui/sam/ecr.test.ts
  packages/core/src/test/shared/ui/sam/paramSource.test.ts
  packages/core/src/test/shared/ui/sam/samTemplate.test.ts
  packages/core/src/test/shared/ui/sam/stack.test.ts
  packages/core/src/test/shared/wizards/prompterTester.ts
  packages/core/src/testInteg/sam.test.ts
  packages/toolkit/.changes/next-release/Bug Fix-6d959757-2d07-40a7-af18-f1b52473ec2d.json
  packages/toolkit/.changes/next-release/Bug Fix-a60cf459-c957-4a38-9d77-2fc512fbac4a.json
  packages/toolkit/package.json
Due: none

add unit test for ensureRepo
  packages/core/src/test/shared/sam/sync.test.ts
Due: none

refactor
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
Due: codewhisperer

Revert "refactor"
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
Due: codewhisperer

test
  packages/amazonq/test/unit/codewhisperer/util/crossFileContextUtil.test.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
Due: codewhisperer

add unit test
  packages/core/src/auth/sso/ssoAccessTokenProvider.ts
  packages/core/src/test/credentials/sso/ssoAccessTokenProvider.test.ts
Due: none

add utility to parse ssh version number
  packages/core/src/shared/extensions/ssh.ts
  packages/core/src/test/shared/extensions/ssh.test.ts
Due: none

update telemetry types from common
  package-lock.json
  package.json
Due: none

add check for ssh version
  packages/core/src/shared/extensions/ssh.ts
  packages/core/src/shared/remoteSession.ts
Due: none

factor out assertion into ssh file
  packages/core/src/shared/extensions/ssh.ts
  packages/core/src/shared/remoteSession.ts
Due: none

Path conditions:
  codewhisperer: any of: packages/core/src/codewhisperer/
  amazonqFeatureDev: any of: packages/core/src/amazonqFeatureDev/
