Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

fix: add back byte limit to test
  packages/core/src/testInteg/shared/utilities/workspaceUtils.test.ts
Due: none

fix(amazonq): improve system prompts for rules
  packages/amazonq/.changes/next-release/Bug Fix-62081c53-09b4-46b0-80b0-6eb853ffabd6.json
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: none

fix(amazonq): use isInDirectory utility
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: none

backend error handling
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/session/session.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
Due: codewhisperer

fix(amazonq): /test: show descriptive error message (#6795)
  packages/amazonq/.changes/next-release/Bug Fix-7bb4ae68-204d-48a1-a510-490d2a2a938a.json
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
Due: codewhisperer

Adding Tool execution
  packages/core/src/amazonq/webview/ui/apps/cwChatConnector.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/view/connector/connector.ts
Due: none

telemetry(amazonq): /dev error classification #6772
  packages/amazonq/test/unit/amazonqFeatureDev/util/files.test.ts
  packages/core/src/amazonq/errors.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/util/files.ts
  packages/core/src/amazonqDoc/session/session.ts
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/errors.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/shared/errors.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: codewhisperer, amazonqFeatureDev

fix(amazonq): Improve responses for saved prompts, workspace rules #6805
  packages/amazonq/.changes/next-release/Bug Fix-62081c53-09b4-46b0-80b0-6eb853ffabd6.json
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: none

fix test failure in windows
  packages/amazonq/test/unit/codewhisperer/util/supplemetalContextUtil.test.ts
Due: none

build(deps): remove `@aws/fully-qualified-names` dependency
  package-lock.json
  packages/amazonq/scripts/build/copyFiles.ts
  packages/core/package.json
  packages/toolkit/scripts/build/copyFiles.ts
Due: none

update
  packages/core/src/amazonq/lsp/types.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

adjust code description
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

line number
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

symbol support
  packages/core/src/amazonq/lsp/types.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

provide symbols
  packages/core/package.nls.json
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/types.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

text update
  packages/core/package.nls.json
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

icon
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

update timeout
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

rename
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

update icon
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

build(deps): remove `@aws/fully-qualified-names` dependency #6807
  package-lock.json
  packages/amazonq/scripts/build/copyFiles.ts
  packages/core/package.json
  packages/toolkit/scripts/build/copyFiles.ts
Due: none

add permissions prompt
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformFileHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationHubViewProvider.ts
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
Due: codewhisperer

fix(amazonq): invalid version in language server cache causes crash
  packages/core/src/shared/lsp/utils/cleanup.ts
  packages/core/src/test/shared/lsp/utils/cleanup.test.ts
Due: none

wip
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
  packages/core/src/codewhispererChat/controllers/chat/chatRequest/converter.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/controllers/chat/model.ts
  packages/core/src/codewhispererChat/tools/fsRead.ts
  packages/core/src/shared/utilities/workspaceUtils.ts
Due: none

docs: add "Q Developer" marketplace tag
  packages/amazonq/package.json
Due: none

t
  packages/amazonq/test/unit/codewhisperer/util/supplemetalContextUtil.test.ts
Due: none

a
  packages/core/src/codewhisperer/util/supplementalContext/supplementalContextUtil.ts
Due: codewhisperer

patch
  packages/core/src/codewhisperer/util/supplementalContext/supplementalContextUtil.ts
Due: codewhisperer

fix(inline-completion): potential inline completion failure due to input validation exception of supplemental context (#6758)
  packages/amazonq/.changes/next-release/Bug Fix-bde47093-ee34-4802-a556-d1e5dc526f4d.json
  packages/amazonq/test/unit/codewhisperer/util/supplemetalContextUtil.test.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/util/supplementalContext/supplementalContextUtil.ts
Due: codewhisperer

feat(amazonq): Add changelog item for enabling inline code suggestions via Amazon Q Language Server (#6800)
  packages/amazonq/.changes/next-release/Feature-7a3c930e-cc8e-4323-9ecd-c1bf767fd2ed.json
Due: none

fix(amazonq): invalid version in language server cache causes crash (#6808)
  packages/core/src/shared/lsp/utils/cleanup.ts
  packages/core/src/test/shared/lsp/utils/cleanup.test.ts
Due: none

fix(amazonq): Open multiple VSCode instances crashes VSCode
  packages/core/src/shared/lsp/lspResolver.ts
Due: none

refactor(workspaceutil): unify file collecting utilities (#6804)
  packages/core/src/amazonq/util/files.ts
  packages/core/src/codewhisperer/util/zipUtil.ts
  packages/core/src/shared/utilities/workspaceUtils.ts
  packages/core/src/testInteg/shared/utilities/workspaceUtils.test.ts
Due: codewhisperer

refactor: rename parameter according to PR comment
  packages/core/src/amazonq/util/files.ts
  packages/core/src/amazonqDoc/session/sessionState.ts
Due: none

test: move testing file into same package
  packages/core/src/amazonq/util/files.ts
  packages/core/src/test/amazonq/util/files.test.ts
Due: none

docs: add "Q Developer" marketplace tag (#6810)
  packages/amazonq/package.json
Due: none

refactor: break up and simplify components
  packages/core/src/amazonq/util/files.ts
Due: none

feat(amazonq): add open chat command
  packages/amazonq/.changes/next-release/Feature-fa845e78-1e76-407a-be8a-e64c63b98795.json
  packages/amazonq/package.json
  packages/core/package.nls.json
Due: none

Refactoring code to store the logs from the terminal.
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none
