Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

tests
  packages/amazonq/test/e2e/lsp/lspInstallerUtil.ts
  packages/core/src/shared/lsp/manifestResolver.ts
Due: none

fix
  packages/amazonq/test/e2e/lsp/lspInstallerUtil.ts
Due: none

Add authUtil instantiation to test files
  packages/amazonq/test/unit/codewhisperer/service/recommendationHandler.test.ts
  packages/amazonq/test/unit/codewhisperer/tracker/codewhispererTracker.test.ts
Due: none

Move AuthUtil instantiation to beforeEarch
  packages/core/src/test/login/webview/vue/backend_amazonq.test.ts
Due: none

Add testAuthUtil to region profile manager
  packages/amazonq/test/unit/codewhisperer/region/regionProfileManager.test.ts
Due: none

Update start URL in test
  packages/amazonq/test/unit/codewhisperer/service/recommendationHandler.test.ts
Due: none

Fix unit tests
  packages/amazonq/test/unit/codewhisperer/region/regionProfileManager.test.ts
  packages/amazonq/test/unit/codewhisperer/service/recommendationHandler.test.ts
  packages/amazonq/test/unit/codewhisperer/tracker/codewhispererTracker.test.ts
Due: none

Move AmazonQ backend test to AmazonQ package
  packages/amazonq/test/unit/amazonq/backend_amazonq.test.ts
  packages/core/src/codewhisperer/index.ts
  packages/core/src/login/webview/index.ts
Due: codewhisperer

feat(amazonq): pass workspaceIdentifier when initializing AmazonQ language server
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

feat: add error code to invalid node error
  packages/core/src/shared/lsp/utils/platform.ts
Due: none

feat: add error code when lsp check fails
  packages/core/src/shared/lsp/utils/platform.ts
Due: none

fix(amazonq): Minor string change in quickActionCommands for /test (#7246)
  packages/core/src/amazonq/webview/ui/quickActions/generator.ts
Due: none

fix(amazonq) Previous and subsequent cells are used as context for completion in a Jupyter notebook
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

fix(amazonq) Previous and subsequent cells are used as context for completion in a Jupyter notebook
  packages/amazonq/.changes/next-release/Bug Fix-9b0e6490-39a8-445f-9d67-9d762de7421c.json
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

Complete function rename; refactored notebook logic out of main function.
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

Lint fix
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

Move language-to-comment mapping to runtimeLanguageContext
  packages/amazonq/test/unit/codewhisperer/util/runtimeLanguageContext.test.ts
  packages/core/src/codewhisperer/util/editorContext.ts
  packages/core/src/codewhisperer/util/runtimeLanguageContext.ts
Due: codewhisperer

Fix test name to be extractCellsSliceContext
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
Due: none

Apply suggestions from code review
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

Finish function renaming
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

truncate editor state with character limits
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

feat(amazonq): re-add activeState/line trackers
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/amazonq/src/app/inline/stateTracker/activeStateTracker.ts
  packages/amazonq/src/app/inline/stateTracker/lineTracker.ts
  packages/amazonq/test/unit/amazonq/apps/inline/completion.test.ts
  packages/amazonq/test/unit/amazonq/apps/inline/inlineTracker.test.ts
  packages/amazonq/test/unit/amazonq/apps/inline/recommendationService.test.ts
Due: codewhisperer

refactor the constant into constant.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

better comment
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

fix(amazonq): add a more descriptive issue for firewall problems (#7251)
  packages/amazonq/test/e2e/lsp/lspInstallerUtil.ts
  packages/core/src/shared/lsp/baseLspInstaller.ts
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/manifestResolver.ts
Due: none

telemetry(amazonq): align flare/vscode codewhisperer_serviceInvocation metric (#7244)
  packages/amazonq/src/lsp/chat/messages.ts
Due: codewhisperer

add missed exports
  packages/core/src/shared/index.ts
Due: none

refactor: change error codes
  packages/core/src/shared/lsp/utils/platform.ts
Due: none

telemetry(amazonq): add an error code for when node validation fails. (#7254)
  packages/core/src/shared/lsp/utils/platform.ts
Due: none

fix(amazonq): Add AuthUtil test suite and fix unit tests (#7249)
  packages/amazonq/test/unit/amazonq/backend_amazonq.test.ts
  packages/amazonq/test/unit/codewhisperer/region/regionProfileManager.test.ts
  packages/amazonq/test/unit/codewhisperer/service/recommendationHandler.test.ts
  packages/amazonq/test/unit/codewhisperer/tracker/codewhispererTracker.test.ts
  packages/core/src/codewhisperer/index.ts
  packages/core/src/login/webview/index.ts
  packages/core/src/login/webview/vue/amazonq/backend_amazonq.ts
  packages/core/src/test/index.ts
  packages/core/src/test/login/webview/vue/backend_amazonq.test.ts
  packages/core/src/test/testAuthUtil.ts
Due: codewhisperer

telemetry(amazonq): expose FileCreationFailed exceptions
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

refactor: avoid recreating folder
  packages/amazonq/test/unit/codewhisperer/util/runtimeLanguageContext.test.ts
Due: none

test(amazonq): reduce flakiness by avoiding unnecessary fs operations. (#7259)
  packages/amazonq/test/unit/codewhisperer/util/runtimeLanguageContext.test.ts
Due: none

feat(amazonq): pass workspaceIdentifier when initializing AmazonQ lsp #7252
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

feat(amazonq): re-add activeState/line trackers (#7257)
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/amazonq/src/app/inline/stateTracker/activeStateTracker.ts
  packages/amazonq/src/app/inline/stateTracker/lineTracker.ts
  packages/amazonq/test/unit/amazonq/apps/inline/completion.test.ts
  packages/amazonq/test/unit/amazonq/apps/inline/inlineTracker.test.ts
  packages/amazonq/test/unit/amazonq/apps/inline/recommendationService.test.ts
  packages/core/src/shared/index.ts
Due: codewhisperer

add changelog
  packages/amazonq/.changes/next-release/Bug Fix-75375702-36b5-4e89-af57-4afe983a7238.json
Due: none

use truncate util
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

indent fix
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

fix(nep): truncate editor state (#7256)
  packages/amazonq/.changes/next-release/Bug Fix-75375702-36b5-4e89-af57-4afe983a7238.json
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer
