Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

Release 3.33.0
  package-lock.json
  packages/toolkit/.changes/3.33.0.json
  packages/toolkit/.changes/next-release/Feature-8f11662c-6a2c-45cf-82e4-bb85e0b3adb0.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Due: none

Release 1.35.0
  package-lock.json
  packages/amazonq/.changes/1.35.0.json
  packages/amazonq/.changes/next-release/Breaking Change-7a7320b8-e8a2-4d61-8f2d-7da04f1716da.json
  packages/amazonq/.changes/next-release/Bug Fix-15ddd682-232b-4bcd-a6e5-969f5c1c40c9.json
  packages/amazonq/.changes/next-release/Bug Fix-9f5467f7-da28-455c-9471-a5799055ddb7.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
Due: none

implement script for parsing diff
  .github/workflows/copyPasteDetection.yml
  .github/workflows/filterDuplicates.js
  .github/workflows/filterJscpd.js
Due: none

switch to single-script approach
  .github/workflows/filterJscpd.js
Due: none

add buffer time between 2 timeouts
  packages/core/src/codewhisperer/util/editorContext.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
Due: codewhisperer

add tests for script
  .github/workflows/copyPasteDetection.yml
  .github/workflows/filterDuplicates.js
  .github/workflows/test/test_diff.txt
Due: none

manually insert copy
  packages/core/src/awsService/ec2/explorer/ec2ParentNode.ts
Due: none

insert another copy
  packages/core/src/awsService/ec2/explorer/ec2ParentNode.ts
  packages/core/src/awsService/ec2/model.ts
Due: none

undo manual copies
  packages/core/src/awsService/ec2/model.ts
Due: none

Update version to snapshot version: 1.36.0-SNAPSHOT
  package-lock.json
  packages/amazonq/package.json
Due: none

Update version to snapshot version: 3.34.0-SNAPSHOT
  package-lock.json
  packages/toolkit/package.json
Due: none

isolate test
  packages/core/src/test/credentials/auth.test.ts
Due: none

add exception for eslint
  packages/core/src/test/credentials/auth.test.ts
Due: none

implement waitUntil on windows
  packages/core/src/shared/credentials/userCredentialsUtils.ts
Due: none

test(sam): slow SamCliLocalInvokeInvocation, ChildProcess tests #5964
  packages/core/src/shared/sam/cli/samCliLocalInvoke.ts
  packages/core/src/shared/sam/cli/samCliLocator.ts
  packages/core/src/shared/sam/cli/samCliSettings.ts
  packages/core/src/test/shared/sam/cli/samCliLocalInvoke.test.ts
Due: none

feat(feature dev): Add setting to allow Q to run code and test commands (#5853)
  packages/amazonq/.changes/next-release/Feature-10418729-4b46-4126-b1af-623a08f0223c.json
  packages/amazonq/package.json
  packages/core/package.nls.json
  packages/core/src/amazonqFeatureDev/constants.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/types.ts
  packages/core/src/amazonqFeatureDev/util/files.ts
  packages/core/src/codewhisperer/util/codewhispererSettings.ts
  packages/core/src/shared/filetypes.ts
  packages/core/src/shared/settings-amazonq.gen.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: codewhisperer, amazonqFeatureDev

refactor shared logic into another helper
  packages/core/src/shared/vscode/env.ts
  packages/core/src/test/testUtil.ts
Due: none

bake timeout into the fs module
  packages/core/src/shared/credentials/userCredentialsUtils.ts
  packages/core/src/shared/fs/fs.ts
Due: none

move afterEach back
  packages/core/src/test/applicationcomposer/messageHandlers/initMessageHandler.test.ts
Due: none

add errors if waitUntil fails
  packages/core/src/shared/fs/fs.ts
Due: none

undo fs changes
  packages/core/src/shared/fs/fs.ts
Due: none

add console.log statements
  packages/core/src/test/credentials/auth.test.ts
Due: none

fix merge conflicts
  packages/core/src/test/awsService/ec2/activation.test.ts
Due: none

try different type
  packages/core/src/test/awsService/ec2/activation.test.ts
Due: none

track code path
  packages/core/src/shared/credentials/userCredentialsUtils.ts
Due: none

add dispose after editor close
  packages/core/src/shared/utilities/textDocumentUtilities.ts
Due: none

add dispose to virtual txt doc
  packages/core/src/shared/utilities/textDocumentUtilities.ts
Due: none

add more logging
  packages/core/src/shared/credentials/userCredentialsUtils.ts
  packages/core/src/test/credentials/auth.test.ts
Due: none

Make task optional
  packages/amazonq/.changes/next-release/Bug Fix-46c5fb9b-1b36-4826-8520-ec03409bce79.json
  packages/amazonq/src/inlineChat/controller/inlineChatController.ts
Due: none

open file after accept
  packages/core/src/amazonq/commons/diff.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
Due: amazonqFeatureDev

disable file options
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/messenger/messenger.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/views/connector/connector.ts
Due: amazonqFeatureDev

introduce file level accept action button
  packages/amazonq/test/unit/amazonqFeatureDev/session/session.test.ts
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  packages/core/src/amazonq/webview/ui/commands.ts
  packages/core/src/amazonq/webview/ui/diffTree/actions.ts
  packages/core/src/amazonq/webview/ui/diffTree/types.ts
  packages/core/src/amazonqFeatureDev/app.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/amazonqFeatureDev/views/actions/uiMessageListener.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
  packages/core/src/test/amazonqFeatureDev/utils.ts
Due: amazonqFeatureDev

disable previous code result actions when providing feedback
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
Due: amazonqFeatureDev

update openFile behaviour
  packages/core/src/amazonq/commons/diff.ts
Due: none

update accept code telemetry for file-level accepts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
Due: amazonqFeatureDev

minor string updates
  packages/core/src/amazonq/webview/ui/diffTree/actions.ts
Due: none

update i18n and minor fixes
  packages/core/package.nls.json
  packages/core/src/amazonq/webview/ui/diffTree/actions.ts
  packages/core/src/amazonq/webview/ui/texts/constants.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/types.ts
Due: amazonqFeatureDev

only shows revert-rejection action when a file is rejected
  packages/core/src/amazonq/webview/ui/diffTree/actions.ts
Due: none

string updates on accept code buttons
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/messenger/messenger.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/amazonqFeatureDev/views/connector/connector.ts
Due: amazonqFeatureDev

fix style for deleted files
  packages/core/src/amazonq/webview/ui/main.ts
Due: none

Path conditions:
  codewhisperer: any of: packages/core/src/codewhisperer/
  amazonqFeatureDev: any of: packages/core/src/amazonqFeatureDev/
