Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

fix tests
  packages/amazonq/test/unit/amazonq/apps/inline/completion.test.ts
Due: none

Update version to snapshot version: 3.61.0-SNAPSHOT
  package-lock.json
  packages/toolkit/package.json
Due: none

Update version to snapshot version: 1.67.0-SNAPSHOT
  package-lock.json
  packages/amazonq/package.json
Due: none

Merge pull request #7277 from jpinkney-aws/closingBrackets
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/test/unit/amazonq/apps/inline/completion.test.ts
Due: codewhisperer

telemetry(amazonq): Emit metric on server crash
  packages/amazonq/src/lsp/client.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: codewhisperer

tests(amazonq): update inline tests for flare
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/test/e2e/inline/inline.test.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/shared/telemetry/exemptMetrics.ts
Due: codewhisperer

telemetry(amazonq): Emit metric on server crash (#7278)
  packages/amazonq/src/lsp/client.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: codewhisperer

test(amazonq): update inline tests for flare (#7274)
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/test/e2e/inline/inline.test.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/shared/telemetry/exemptMetrics.ts
Due: codewhisperer

feedback + CDM
  packages/amazonq/src/extension.ts
  packages/amazonq/src/lsp/client.ts
  packages/core/src/shared/vscode/env.ts
Due: codewhisperer

feedback
  packages/amazonq/src/extension.ts
  packages/amazonq/src/lsp/client.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/telemetry/util.ts
  packages/core/src/shared/vscode/env.ts
  packages/core/src/test/shared/vscode/env.test.ts
Due: codewhisperer

doc string
  packages/core/src/shared/vscode/env.ts
Due: none

telemetry(amazonq): expose FileCreationFailed exceptions #7260
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

fix(lsp): update extension version
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

set auth state before firing event
  packages/core/src/auth/auth2.ts
Due: none

use env var
  packages/amazonq/src/extension.ts
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

fix(lsp): send extension version to Q LSP #7279
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

fix(amazonq): adding logs for the agentic chat telemetry events (#7276)
  packages/amazonq/src/lsp/chat/messages.ts
Due: codewhisperer

feat(amazonq): import userWrittenCode configuration for inline with lsp
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

fix: add debounce to avoid request per keystroke
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

test: add tests to ensure request is debounced
  packages/amazonq/test/unit/amazonq/apps/inline/recommendationService.test.ts
Due: none

refactor: move Q LSP startup code in to separate function
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

refactor: adjust delay to be smaller
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

fix: use last args to avoid improper suggestions
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/amazonq/test/unit/amazonq/apps/inline/recommendationService.test.ts
  packages/core/src/shared/utilities/functionUtils.ts
  packages/core/src/test/shared/utilities/functionUtils.test.ts
Due: codewhisperer

deps: bump @aws-toolkits/telemetry to 1.0.318
  package-lock.json
  package.json
Due: none

fix: adjust tests to avoid lint error
  packages/core/src/test/shared/utilities/functionUtils.test.ts
Due: none

add abap support
  packages/core/src/codewhisperer/util/editorContext.ts
  packages/core/src/codewhisperer/util/runtimeLanguageContext.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: codewhisperer

refactor: move auth restore to right after creating the instance
  packages/amazonq/src/lsp/activation.ts
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

fix(amazonq): debounce inline suggestion requests. (#7289)
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/amazonq/test/unit/amazonq/apps/inline/recommendationService.test.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/shared/utilities/functionUtils.ts
  packages/core/src/test/shared/utilities/functionUtils.test.ts
Due: codewhisperer

fix(amazonq): pass uri.path as workspaceIdentifier when initializing AmazonQ lsp
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

fix(amazonq): pass uri.path as workspaceIdentifier when initializing #7291
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

deps: bump @aws-toolkits/telemetry to 1.0.318 #7290
  package-lock.json
  package.json
Due: none

refactor: move debounce above
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/amazonq/test/unit/amazonq/apps/inline/recommendationService.test.ts
Due: codewhisperer

test: add tests for debounce logic
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/test/unit/amazonq/apps/inline/completion.test.ts
Due: codewhisperer

fix: update Auth LSP before anything else
  packages/core/src/codewhisperer/util/authUtil.ts
Due: codewhisperer

fix: Show "Must select Developer Profile" message
  packages/amazonq/src/developerProfile/util.ts
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/codewhisperer/util/authUtil.ts
Due: codewhisperer

initial port
  aws-toolkit-vscode.code-workspace
  package-lock.json
  packages/amazonq/.vscode/launch.json
  packages/amazonq/src/app/inline/activation.ts
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/src/app/inline/imageRendering/displayImage.ts
  packages/amazonq/src/app/inline/imageRendering/imageRenderer.ts
  packages/amazonq/src/app/inline/imageRendering/svgGenerator.ts
  packages/core/package.json
Due: codewhisperer

refactor: bump debounce delay
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

fix(amazonq) Previous and subsequent cells are used as context for completion in a Jupyter notebook
  packages/amazonq/.changes/next-release/Bug Fix-9b0e6490-39a8-445f-9d67-9d762de7421c.json
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

Complete function rename; refactored notebook logic out of main function.
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

Fix test name to be extractCellsSliceContext
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
Due: none
