Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

editing the clear changes and updating test file
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
Due: codewhisperer

fixing package files that we don't want in commit
  package-lock.json
  packages/amazonq/package.json
Due: none

editing test file to use models patchinfo
  packages/amazonq/test/unit/amazonqGumby/transformationResultsHandler.test.ts
Due: none

adding functionality to allow jdk17 as source and display multiple git patches for selective transformation
  package-lock.json
  packages/amazonq/test/unit/amazonqGumby/transformationResultsHandler.test.ts
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
Due: codewhisperer

addressing comments to add to models and minor edits
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
Due: codewhisperer

updated tests to account for no diff.json and performed e2e transformation assuming current download artifact workflow
  packages/amazonq/test/unit/amazonqGumby/resources/files/diff.json
  packages/amazonq/test/unit/amazonqGumby/transformationResultsHandler.test.ts
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
  packages/core/src/shared/utilities/download.ts
Due: codewhisperer

added test cases for new parseDiff logic
  packages/amazonq/test/unit/amazonqGumby/transformationResultsHandler.test.ts
Due: none

removing redundant unit test
  packages/amazonq/test/unit/amazonqGumby/transformationResultsHandler.test.ts
Due: none

fix build issue with web only
  package-lock.json
  package.json
  packages/core/src/web/package.json
  packages/toolkit/package.json
  packages/webpack.base.config.js
  packages/webpack.web.config.js
Due: none

minimize changes
  packages/toolkit/package.json
Due: none

minimize dep changes
  package-lock.json
  packages/core/src/web/package.json
  packages/webpack.web.config.js
Due: none

refactor(shared): replace archiver with `@zip.js/zip.js` #4769
  package-lock.json
  packages/core/package.json
  packages/core/src/shared/utilities/zipStream.ts
  packages/core/src/test/shared/utilities/zipStream.test.ts
Due: none

fix(lambda): [Getting Started] wrong template path after saving Debug Configs
  packages/core/src/lambda/vue/configEditor/samInvokeFrontend.ts
Due: none

telemetry(amazonq): use ui_click telemetry for stop code generate button instead
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: amazonqFeatureDev

unit test
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

run npm audit fix
  package-lock.json
Due: none

refactor(ec2): enforce ssh key inside global storage. (#5814)
  packages/core/src/awsService/ec2/model.ts
  packages/core/src/awsService/ec2/sshKeyPair.ts
  packages/core/src/test/awsService/ec2/model.test.ts
  packages/core/src/test/awsService/ec2/sshKeyPair.test.ts
  packages/core/src/test/globalSetup.test.ts
  packages/core/src/test/shared/sshConfig.test.ts
Due: none

disable index telemetry
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

feat(amazonq) Increase polling rate for Q agent code summary
  packages/amazonq/.changes/next-release/Feature-4540d7be-edc2-42ce-b7e7-6f04b2bd9106.json
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

deps: remove archiver
  package-lock.json
  packages/core/package.json
Due: none

also support 0.1.20 lsp
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

refactor to fetcher implementations
  packages/core/src/notifications/controller.ts
  packages/core/src/notifications/types.ts
  packages/core/src/shared/vscode/setContext.ts
  packages/core/src/test/notifications/controller.test.ts
  packages/core/src/test/notifications/types.test.ts
Due: none

feat(amazonq): Increase polling rate for Q agent code summary (#5843)
  packages/amazonq/.changes/next-release/Feature-4540d7be-edc2-42ce-b7e7-6f04b2bd9106.json
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

fix comments
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/codewhisperer/util/commonUtil.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
  packages/core/src/shared/utilities/timeoutUtils.ts
Due: codewhisperer

typo
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

test(lambda): Local Invoke/Debug
  packages/core/src/test/lambda/vue/samInvokeBackend.test.ts
Due: none

test(lambda): sam/config.ts
  packages/core/src/shared/sam/config.ts
  packages/core/src/test/shared/sam/config.test.ts
  packages/core/src/test/shared/sam/samTestUtils.ts
Due: none

refactor(appBuilder): move WalkthroughNode
  packages/core/src/awsService/appBuilder/explorer/nodes/rootNode.ts
  packages/core/src/awsService/appBuilder/explorer/nodes/walkthroughNode.ts
  packages/core/src/test/shared/applicationBuilder/explorer/nodes/rootNode.test.ts
  packages/core/src/test/shared/applicationBuilder/explorer/nodes/walkthrough.test.ts
Due: none

fix(appbuilder): improve open handler logic
  packages/core/src/awsService/appBuilder/utils.ts
  packages/core/src/lambda/models/samLambdaRuntime.ts
  packages/core/src/test/awsService/appBuilder/utils.test.ts
Due: none

fix(appbuilder): update serverlessland URL
  packages/core/src/awsService/appBuilder/walkthrough.ts
  packages/core/src/testInteg/appBuilder/walkthrough.test.ts
Due: none

deps: remove archiver #5844
  package-lock.json
  packages/core/package.json
Due: none

dms setup
  packages/core/src/amazonq/webview/ui/quickActions/generator.ts
  packages/core/src/amazonq/webview/ui/tabs/constants.ts
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/session/session.ts
Due: none

use enum
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/codewhisperer/models/model.ts
Due: codewhisperer

first dms commit
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

part 1 of dms
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
  packages/core/src/amazonqGumby/chat/views/connector/connector.ts
  packages/core/src/amazonqGumby/errors.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/transformByQ/transformProjectValidationHandler.ts
Due: codewhisperer

part 2 of dms
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationHubViewProvider.ts
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
  packages/core/src/testE2E/amazonqGumby/transformByQ.test.ts
Due: codewhisperer

remove unneeded telemetry.record calls
  packages/core/src/amazonqGumby/chat/controller/controller.ts
Due: none

add telemetry
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
Due: codewhisperer

undo comment
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
Due: codewhisperer

Path conditions:
  codewhisperer: any of: packages/core/src/codewhisperer/
  amazonqFeatureDev: any of: packages/core/src/amazonqFeatureDev/
