Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            default:
                target: 70%
                threshold: 5%
                informational: true
            codewhisperer:
                paths:
                    - packages/core/src/codewhisperer/*
                flags:
                    - 'codewhisperer'
            amazonqFeatureDev:
                paths:
                    - packages/core/src/amazonqFeatureDev/*
                flags:
                    - 'amazonqFeatureDev'
            amazonqGumby:
                paths:
                    - packages/core/src/amazonqGumby/*
            codewhispererChat:
                paths:
                    - packages/core/src/codewhispererChat/*
            applicationcomposer:
                paths:
                    - packages/core/src/applicationcomposer/*
            stepFunctions:
                target: 50%
                threshold: 10%
                paths:
                    - packages/core/src/stepFunctions/*
            threatComposer:
                paths:
                    - packages/core/src/threatComposer/*
        patch: false
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - packages/core/src/codewhisperer/
    amazonqFeatureDev:
        paths:
            - packages/core/src/amazonqFeatureDev/

move over to fs
  packages/amazonq/scripts/build/copyFiles.ts
  packages/core/scripts/build/copyFiles.ts
  packages/toolkit/scripts/build/copyFiles.ts
Due: none

avoid undefined var
  packages/core/src/test/awsService/ec2/explorer/ec2ParentNode.test.ts
Due: none

Update upload.ts
  packages/core/src/amazonqFeatureDev/util/upload.ts
Due: amazonqFeatureDev

be more careful with stubbing
  packages/core/src/test/awsService/ec2/explorer/ec2ParentNode.test.ts
Due: none

test(lambda): SAM build integ tests
  packages/core/src/shared/sam/activation.ts
  packages/core/src/shared/sam/build.ts
  packages/core/src/testInteg/sam.test.ts
Due: none

config(amazonq): enable more languages in generateCompletion requests #5663
  packages/amazonq/test/unit/codewhisperer/tracker/codewhispererCodeCoverageTracker.test.ts
  packages/amazonq/test/unit/codewhisperer/util/runtimeLanguageContext.test.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/util/runtimeLanguageContext.ts
Due: codewhisperer

add type signature
  packages/amazonq/test/e2e/amazonq/framework/jsdomInjector.ts
Due: none

Update packages/amazonq/.changes/next-release/Feature-88ac445a-7a5a-4127-97f7-eaccd41629e6.json
  packages/amazonq/.changes/next-release/Feature-88ac445a-7a5a-4127-97f7-eaccd41629e6.json
Due: none

feat(amzonq): inline suggestion more json/yaml files #5733
  packages/amazonq/.changes/next-release/Feature-88ac445a-7a5a-4127-97f7-eaccd41629e6.json
  packages/amazonq/test/unit/codewhisperer/util/commonUtil.test.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/util/commonUtil.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

feat(amazonq): Automatically pause and resume @workspace indexing when OS CPU load is high (#5757)
  packages/amazonq/.changes/next-release/Feature-294f0da4-1fb4-43c9-90f2-e066d7351c3c.json
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

config(amazonq): crossfile config, increase lines per chunk #5739
  packages/amazonq/test/unit/codewhisperer/util/crossFileContextUtil.test.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/util/supplementalContext/crossFileContextUtil.ts
  packages/core/src/test/codewhisperer/testUtil.ts
Due: codewhisperer

fix(dev): add error messages for upload URL expiry (#5745)
  packages/amazonq/.changes/next-release/Bug Fix-55ef93ff-1589-41bc-a482-ed09002f1fd9.json
  packages/core/package.nls.json
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/errors.ts
  packages/core/src/amazonqFeatureDev/util/upload.ts
Due: amazonqFeatureDev

switch to cpSYnc
  packages/amazonq/scripts/build/copyFiles.ts
  packages/core/scripts/build/copyFiles.ts
  packages/toolkit/scripts/build/copyFiles.ts
Due: none

Update packages/amazonq/.changes/next-release/Bug Fix-dd58d9cb-4fb4-4cb3-a9a2-dc5c5462e529.json
  packages/amazonq/.changes/next-release/Bug Fix-dd58d9cb-4fb4-4cb3-a9a2-dc5c5462e529.json
Due: none

fix(amazonq dev): user can view diffs of previous /dev iterations #5756
  packages/amazonq/.changes/next-release/Bug Fix-dd58d9cb-4fb4-4cb3-a9a2-dc5c5462e529.json
  packages/amazonq/test/unit/amazonqFeatureDev/session/session.test.ts
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/messenger/messenger.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/amazonqFeatureDev/types.ts
  packages/core/src/amazonqFeatureDev/views/actions/uiMessageListener.ts
  packages/core/src/amazonqFeatureDev/views/connector/connector.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
  packages/core/src/test/amazonqFeatureDev/session/sessionState.test.ts
Due: amazonqFeatureDev

chore(amazonqFeatureDev): add changelog
  packages/amazonq/.changes/next-release/Bug Fix-0d324321-bddd-4f93-80c4-80978930f157.json
Due: none

Update vscodeTelemetry.json
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: none

fix(dev): remove trackScenario since its on common
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: none

fix(amazonqFeatureDev): include telemetry for empty scenario
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: amazonqFeatureDev

fix(amazonqFeatureDev): update telemetry based on comments
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: amazonqFeatureDev

Update sessionState.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

fix(amazonqFeatureDev): update naming accordingly
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: none

fix(amazonqFeatureDev): updated emit
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

disable polling set in tests that dont use it
  packages/core/src/test/awsService/ec2/explorer/ec2InstanceNode.test.ts
Due: none

telemetry(amazonq dev): track empty path file scenario #5625
  packages/amazonq/.changes/next-release/Bug Fix-0d324321-bddd-4f93-80c4-80978930f157.json
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

move into main function
  packages/amazonq/scripts/build/copyFiles.ts
  packages/core/scripts/build/copyFiles.ts
  packages/toolkit/scripts/build/copyFiles.ts
Due: none

test(clients): user agent is set
  packages/core/src/auth/sso/clients.ts
  packages/core/src/shared/clients/codewhispererChatClient.ts
  packages/core/src/test/shared/defaultAwsClientBuilder.test.ts
Due: none

Adding codeblockLanguage to InsertAtCursor and CopyToClipBoard events for UTG
  packages/core/src/amazonq/webview/ui/apps/cwChatConnector.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/controllers/chat/model.ts
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
  packages/core/src/codewhispererChat/view/connector/connector.ts
  packages/core/src/codewhispererChat/view/messages/messageListener.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: none

Adding Language to user events
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: none

add experimental node flag
  .github/workflows/node.js.yml
  .github/workflows/release.yml
  buildspec/packageTestVsix.yml
  buildspec/release/00clonerepo.yml
  buildspec/release/10changeversion.yml
  buildspec/release/20buildrelease.yml
  buildspec/release/40pushtogithub.yml
  buildspec/shared/linux-pre_build.sh
Due: none

adjust flag, add techdebt test
  .github/workflows/node.js.yml
  .github/workflows/release.yml
  buildspec/packageTestVsix.yml
  buildspec/release/00clonerepo.yml
  buildspec/release/10changeversion.yml
  buildspec/release/20buildrelease.yml
  buildspec/release/40pushtogithub.yml
  buildspec/shared/linux-pre_build.sh
  packages/core/src/test/techdebt.test.ts
Due: none

feat(amazonq): Decouple LSP from vector index creation; start LSP by default (#5702)
  packages/amazonq/.changes/next-release/Bug Fix-5576420e-6db2-4045-a99f-afced496da0f.json
  packages/core/src/amazonq/lsp/lspController.ts
Due: none

change flag
  .github/workflows/node.js.yml
  .github/workflows/release.yml
  buildspec/packageTestVsix.yml
  buildspec/release/00clonerepo.yml
  buildspec/release/10changeversion.yml
  buildspec/release/20buildrelease.yml
  buildspec/release/40pushtogithub.yml
  buildspec/shared/linux-pre_build.sh
  packages/core/src/test/techdebt.test.ts
Due: none

fix typo
  .github/workflows/node.js.yml
Due: none

make the flags contained in bash file
  buildspec/shared/linux-pre_build.sh
Due: none

remove experimental flag
  .github/workflows/node.js.yml
  .github/workflows/release.yml
  buildspec/packageTestVsix.yml
  buildspec/release/00clonerepo.yml
  buildspec/release/10changeversion.yml
  buildspec/release/20buildrelease.yml
  buildspec/release/40pushtogithub.yml
  buildspec/shared/linux-pre_build.sh
  packages/core/src/test/techdebt.test.ts
Due: none

try type assertions
  packages/amazonq/scripts/build/copyFiles.ts
  packages/core/scripts/build/copyFiles.ts
  packages/toolkit/scripts/build/copyFiles.ts
Due: none

feat(amazonq): add button to view and accept diff
  packages/amazonq/.changes/next-release/Feature-3ebcda93-ca02-4682-b475-dead26e94900.json
  packages/amazonq/src/extension.ts
  packages/amazonq/test/e2e/amazonq/featureDev.test.ts
  packages/amazonq/test/e2e/amazonq/framework/framework.ts
  packages/core/src/amazonq/commons/controllers/contentController.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/util/functionUtils.ts
  packages/core/src/amazonq/webview/generators/webViewContent.ts
  packages/core/src/amazonq/webview/ui/apps/cwChatConnector.ts
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  packages/core/src/amazonq/webview/ui/apps/gumbyChatConnector.ts
  packages/core/src/amazonq/webview/ui/commands.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/messages/controller.ts
  packages/core/src/amazonq/webview/ui/messages/handler.ts
  packages/core/src/amazonq/webview/ui/storages/tabsStorage.ts
  packages/core/src/codewhispererChat/app.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/model.ts
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
  packages/core/src/codewhispererChat/view/messages/messageListener.ts
  packages/core/src/shared/constants.ts
  packages/core/src/shared/errors.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/shared/utilities/editorUtilities.ts
  packages/core/src/shared/utilities/textDocumentUtilities.ts
  packages/core/src/shared/utilities/textUtilities.ts
Due: none

feat(amazonq): add button to view diff in IDE (#5338)
  packages/amazonq/.changes/next-release/Feature-3ebcda93-ca02-4682-b475-dead26e94900.json
  packages/amazonq/src/extension.ts
  packages/amazonq/test/e2e/amazonq/featureDev.test.ts
  packages/amazonq/test/e2e/amazonq/framework/framework.ts
  packages/core/src/amazonq/commons/controllers/contentController.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/util/functionUtils.ts
  packages/core/src/amazonq/webview/generators/webViewContent.ts
  packages/core/src/amazonq/webview/ui/apps/cwChatConnector.ts
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  packages/core/src/amazonq/webview/ui/apps/gumbyChatConnector.ts
  packages/core/src/amazonq/webview/ui/commands.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/messages/controller.ts
  packages/core/src/amazonq/webview/ui/messages/handler.ts
  packages/core/src/amazonq/webview/ui/storages/tabsStorage.ts
  packages/core/src/codewhispererChat/app.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/model.ts
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
  packages/core/src/codewhispererChat/view/messages/messageListener.ts
  packages/core/src/shared/constants.ts
  packages/core/src/shared/errors.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/shared/utilities/editorUtilities.ts
  packages/core/src/shared/utilities/textDocumentUtilities.ts
  packages/core/src/shared/utilities/textUtilities.ts
Due: none
