Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

Adding WaitUntil to Test gen api
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
Due: codewhisperer

docs(amazonq): Update /dev auto build setting strings (#6444)
  packages/amazonq/package.json
  packages/amazonq/test/unit/amazonqFeatureDev/util/files.test.ts
  packages/core/package.nls.json
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/util/files.ts
  packages/core/src/codewhisperer/util/codewhispererSettings.ts
  packages/core/src/shared/clients/s3Client.ts
  packages/core/src/shared/settings-amazonq.gen.ts
Due: codewhisperer, amazonqFeatureDev

fix(amazonq): security: disable auto linkify of text links in chat #6449
  package-lock.json
  packages/amazonq/.changes/next-release/Bug Fix-8212e8e4-f65f-4594-a04f-76d47c61b41e.json
  packages/core/package.json
Due: none

Safe
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: amazonqFeatureDev

style
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: amazonqFeatureDev

telemetry(amazonq): attach stack trace in onCodeGeneration failures
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: amazonqFeatureDev

Inheritance
  packages/core/src/amazonqFeatureDev/errors.ts
  packages/core/src/shared/errors.ts
  packages/core/src/test/shared/errors.test.ts
Due: codewhisperer, amazonqFeatureDev

Fix
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/errors.ts
  packages/core/src/shared/errors.ts
  packages/core/src/test/shared/errors.test.ts
Due: codewhisperer, amazonqFeatureDev

Whitelist
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
Due: amazonqFeatureDev

clarified log dimension
  packages/core/src/amazonqFeatureDev/session/session.ts
Due: amazonqFeatureDev

fix(amazonq): AB users with overridden customization can restore the default customization #6450
  packages/amazonq/.changes/next-release/Bug Fix-1d7e776d-333a-4f39-a8e6-29ea2ecb19c9.json
  packages/core/src/codewhisperer/util/customizationUtil.ts
  packages/core/src/test/amazonq/customizationUtil.test.ts
Due: codewhisperer

address comments and refactor
  packages/amazonq/test/e2e/amazonq/testGen.test.ts
  packages/core/src/shared/index.ts
Due: none

fix(policychecks): use the selected credentials profile #6074
  packages/core/src/awsService/accessanalyzer/vue/iamPolicyChecks.ts
  packages/core/src/test/awsService/accessanalyzer/iamPolicyChecks.test.ts
  packages/toolkit/.changes/next-release/Bug Fix-2a3bed78-156a-4391-b79d-225ae6d98939.json
Due: none

feat(lambda): user can open CWL Live Tail from Lambda function #6423
  packages/core/package.nls.json
  packages/core/src/awsService/appBuilder/explorer/nodes/deployedNode.ts
  packages/core/src/awsService/cloudWatchLogs/activation.ts
  packages/core/src/awsService/cloudWatchLogs/commands/tailLogGroup.ts
  packages/core/src/awsService/cloudWatchLogs/wizard/tailLogGroupWizard.ts
  packages/core/src/lambda/activation.ts
  packages/core/src/test/awsService/cloudWatchLogs/commands/tailLogGroup.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/wizard/tailLogGroupWizard.test.ts
  packages/toolkit/.changes/next-release/Feature-48c399ea-d42f-4ea1-8f32-d8bc1486a107.json
  packages/toolkit/package.json
Due: none

feat(q-dev): /dev can be configured to run code, tests #6453
  packages/amazonq/.changes/next-release/Feature-10418729-4b46-4126-b1af-623a08f0223c.json
  packages/amazonq/package.json
  packages/amazonq/test/unit/amazonqFeatureDev/session/session.test.ts
  packages/amazonq/test/unit/amazonqFeatureDev/util/files.test.ts
  packages/core/package.nls.json
  packages/core/src/amazonq/commons/types.ts
  packages/core/src/amazonqFeatureDev/constants.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/util/files.ts
  packages/core/src/codewhisperer/util/codewhispererSettings.ts
  packages/core/src/shared/clients/s3Client.ts
  packages/core/src/shared/filetypes.ts
  packages/core/src/shared/settings-amazonq.gen.ts
  packages/core/src/shared/utilities/workspaceUtils.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: codewhisperer, amazonqFeatureDev

test(amazonq): E2E tests for /test #6431
  packages/amazonq/test/e2e/amazonq/testGen.test.ts
  packages/core/src/shared/index.ts
Due: none

fix(example): Add closing bracket to Amazon Q inline example
  packages/amazonq/.changes/next-release/Bug Fix-e2bb3c83-52e8-4ae9-aedb-844e8780971b.json
  packages/core/src/amazonq/onboardingPage/walkthrough.ts
  packages/core/src/codewhisperer/vue/genSuggestionTab.vue
Due: codewhisperer

fix: pin client versions used by toolkit
  packages/core/package.json
Due: none

refactor(amazonq): move src/inline -> src/app/inline
  packages/amazonq/src/app/inline/activation.ts
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/src/extension.ts
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

deps: regen other client to fix to same version
  src.gen/@amzn/amazon-q-developer-streaming-client/LICENSE
  src.gen/@amzn/amazon-q-developer-streaming-client/README.md
  src.gen/@amzn/amazon-q-developer-streaming-client/package-lock.json
  src.gen/@amzn/amazon-q-developer-streaming-client/package.json
  src.gen/@amzn/amazon-q-developer-streaming-client/src/commands/SendMessageCommand.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/src/models/models_0.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/src/protocols/Aws_json1_0.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/src/runtimeConfig.browser.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/src/runtimeConfig.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/typedoc.json
Due: none

deps: fix other @aws-sdk/* packages
  packages/core/package.json
Due: none

deps: update package-lock
  package-lock.json
Due: none

test: bump threshold
  packages/core/src/testInteg/perf/zipcode.test.ts
Due: none

test: bump other threshold
  packages/core/src/testInteg/perf/prepareRepoData.test.ts
Due: none

update web mode
  docs/web.md
  package-lock.json
  package.json
Due: none

test: skip all performance tests
  packages/core/src/shared/performance/performance.ts
  packages/core/src/testInteg/perf/prepareRepoData.test.ts
  packages/core/src/testInteg/perf/zipcode.test.ts
Due: none

chore: add doc telemetry diff method support for multiple files
  packages/core/src/amazonqDoc/session/session.ts
Due: none

docs(amazonq): Add instructions for debugging flare lsps
  docs/lsp-debugging.md
  packages/amazonq/.vscode/launch.json
  packages/amazonq/src/lsp/client.ts
  packages/core/src/shared/lsp/utils/platform.ts
Due: codewhisperer

fixup
  packages/amazonq/.vscode/launch.json
Due: none

fixup2
  packages/core/src/shared/regions/regionProvider.ts
  packages/core/src/testInteg/regionProvider.test.ts
Due: none

docs(amazonq): Add instructions for debugging flare lsps (#6455)
  docs/lsp-debugging.md
  packages/amazonq/.vscode/launch.json
  packages/amazonq/src/lsp/client.ts
  packages/core/src/shared/lsp/utils/platform.ts
Due: codewhisperer

build(web): update web mode deps (#6460)
  docs/web.md
  package-lock.json
  package.json
Due: none

deps: avoid fixing to specific version
  package-lock.json
  packages/core/package.json
Due: none

perf(amazonq): Adding backoff and retry for /test APIs (#6461)
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
Due: codewhisperer

deps: pin smithy major versions
  package-lock.json
  packages/core/package.json
Due: none

deps: add back missing module
  package-lock.json
  packages/core/package.json
Due: none

Update packages/amazonq/.changes/next-release/Bug Fix-e2bb3c83-52e8-4ae9-aedb-844e8780971b.json
  packages/amazonq/.changes/next-release/Bug Fix-e2bb3c83-52e8-4ae9-aedb-844e8780971b.json
Due: none

refactor: gross workarounds for it to build
  packages/core/src/auth/providers/sharedCredentialsProvider.ts
  packages/core/src/shared/errors.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/package-lock.json
Due: none

deps(amazonq): upgrade adm-zip to 0.5.16
  package-lock.json
  packages/amazonq/.changes/next-release/Bug Fix-0fdf9d44-2d93-47a9-8b9f-6c633fa51e0f.json
  packages/amazonq/test/unit/codewhisperer/util/zipUtil.test.ts
  packages/core/package.json
Due: none
