Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

Minor changes
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
Due: none

fix(amazonq): chat enablement isn't updated correctly on profile changed
  packages/amazonq/src/app/amazonqScan/app.ts
  packages/core/src/amazonq/webview/generators/webViewContent.ts
  packages/core/src/amazonqDoc/app.ts
  packages/core/src/amazonqFeatureDev/app.ts
  packages/core/src/amazonqGumby/app.ts
  packages/core/src/amazonqTest/app.ts
Due: codewhisperer, amazonqFeatureDev

fix(amazonq): error handling for getting customizations
  packages/core/src/codewhisperer/util/customizationUtil.ts
Due: codewhisperer

feat(amazonq): skip registering run command log file
  packages/amazonq/.changes/next-release/Feature-86f056f5-4ac4-47be-8167-09c19a529a1e.json
  packages/core/src/amazonq/session/sessionState.ts
  packages/core/src/test/amazonq/session/sessionState.test.ts
Due: none

refactor: poll more frequently by leveraging cache
  packages/amazonq/src/lsp/auth.ts
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/test/unit/amazonq/lsp/auth.test.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/utilities/index.ts
Due: codewhisperer

Addressing comments
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
Due: none

fix: remove redundant logging message
  packages/amazonq/src/lsp/auth.ts
Due: codewhisperer

fix(chat): file links open in other apps
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

feat(amazonq lsp): add authFollowUpClicked implementation
  packages/amazonq/src/lsp/chat/messages.ts
  packages/amazonq/test/unit/amazonq/lsp/chat/messages.test.ts
Due: codewhisperer

Update version to snapshot version: 1.54.0-SNAPSHOT
  package-lock.json
  packages/amazonq/package.json
Due: none

docs: CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: CONTRIBUTING.md #6885
  CONTRIBUTING.md
Due: none

Update version to snapshot version: 3.53.0-SNAPSHOT
  package-lock.json
  packages/toolkit/package.json
Due: none

test: remove brackets and flip case
  .github/workflows/node.js.yml
Due: none

test: try a different revert
  .github/workflows/node.js.yml
Due: none

retry
  .github/workflows/node.js.yml
Due: none

try original with push
  .github/workflows/node.js.yml
Due: none

making updates optional for executeBash tool
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/tools/executeBash.ts
Due: none

deps(amazonq): update api model json (#6849)
  packages/core/src/codewhisperer/client/user-service-2.json
Due: codewhisperer

Update packages/core/src/shared/clients/codewhispererChatClient.ts
  packages/core/src/shared/clients/codewhispererChatClient.ts
Due: none

fix(cw): retry 1 times cw streaming sdk client #6798
  packages/core/src/shared/clients/codewhispererChatClient.ts
Due: none

chat telemetry
  packages/core/src/amazonq/commons/controllers/contentController.ts
  packages/core/src/codewhisperer/util/codeWhispererSession.ts
  packages/core/src/codewhisperer/util/diagnosticsUtil.ts
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: codewhisperer

diagnostics
  packages/amazonq/test/unit/codewhisperer/util/diagnosticsUtil.test.ts
  packages/core/src/codewhisperer/index.ts
  packages/core/src/codewhisperer/util/diagnosticsUtil.ts
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: codewhisperer

only fetch diagnostics on accept
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

diagnostic severity
  packages/core/src/codewhisperer/util/diagnosticsUtil.ts
Due: codewhisperer

simplify
  packages/core/src/codewhisperer/util/diagnosticsUtil.ts
Due: codewhisperer

add diagnostics
  packages/core/src/codewhisperer/util/codeWhispererSession.ts
  packages/core/src/codewhisperer/util/diagnosticsUtil.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

dedup added/removed
  packages/core/src/codewhisperer/util/diagnosticsUtil.ts
Due: codewhisperer

update src.gen with new chat apis model
  package-lock.json
  packages/core/package.json
  packages/core/src/shared/utilities/asyncCollection.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/README.md
  src.gen/@amzn/amazon-q-developer-streaming-client/package-lock.json
  src.gen/@amzn/amazon-q-developer-streaming-client/package.json
  src.gen/@amzn/amazon-q-developer-streaming-client/src/QDeveloperStreamingClient.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/src/commands/SendMessageCommand.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/src/endpoints.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/src/models/models_0.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/src/protocols/Aws_json1_0.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/src/runtimeConfig.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/tsconfig.es.json
  src.gen/@amzn/amazon-q-developer-streaming-client/tsconfig.json
  src.gen/@amzn/amazon-q-developer-streaming-client/typedoc.json
  src.gen/@amzn/codewhisperer-streaming/README.md
  src.gen/@amzn/codewhisperer-streaming/package-lock.json
  src.gen/@amzn/codewhisperer-streaming/package.json
  src.gen/@amzn/codewhisperer-streaming/src/CodeWhispererStreamingClient.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/ExportResultArchiveCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/GenerateAssistantResponseCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/GenerateTaskAssistPlanCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/SendMessageCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/endpoints.ts
  src.gen/@amzn/codewhisperer-streaming/src/models/models_0.ts
  src.gen/@amzn/codewhisperer-streaming/src/protocols/Aws_restJson1.ts
  src.gen/@amzn/codewhisperer-streaming/src/runtimeConfig.ts
  src.gen/@amzn/codewhisperer-streaming/tsconfig.es.json
  src.gen/@amzn/codewhisperer-streaming/tsconfig.json
Due: none

update src.gen with new chat apis model
  package-lock.json
  src.gen/@amzn/amazon-q-developer-streaming-client/package-lock.json
  src.gen/@amzn/amazon-q-developer-streaming-client/package.json
  src.gen/@amzn/codewhisperer-streaming/package-lock.json
  src.gen/@amzn/codewhisperer-streaming/package.json
Due: none

feat(chat): Add ListDirectory tool
  packages/core/src/codewhispererChat/tools/fsRead.ts
  packages/core/src/codewhispererChat/tools/listDirectory.ts
  packages/core/src/codewhispererChat/tools/toolUtils.ts
  packages/core/src/codewhispererChat/tools/tool_index.json
  packages/core/src/shared/logger/logger.ts
  packages/core/src/test/codewhispererChat/tools/fsRead.test.ts
  packages/core/src/test/codewhispererChat/tools/listDirectory.test.ts
  packages/core/src/test/codewhispererChat/tools/toolShared.test.ts
Due: none

Fix fsRead validation requiring file path, update tool_index.json
  packages/core/src/codewhispererChat/tools/fsRead.ts
  packages/core/src/codewhispererChat/tools/tool_index.json
Due: none

Fix fsRead test, improve tool description
  packages/core/src/codewhispererChat/tools/tool_index.json
  packages/core/src/test/codewhispererChat/tools/fsRead.test.ts
Due: none

Update unit tests
  packages/core/src/test/codewhispererChat/tools/listDirectory.test.ts
  packages/core/src/test/codewhispererChat/tools/toolShared.test.ts
Due: none

fix(chat): fsRead doesn't show readRange
  packages/core/src/codewhispererChat/tools/fsRead.ts
Due: none

Address comments, change list directory result format
  packages/core/src/codewhispererChat/tools/fsRead.ts
  packages/core/src/codewhispererChat/tools/listDirectory.ts
  packages/core/src/codewhispererChat/tools/tool_index.json
  packages/core/src/shared/utilities/workspaceUtils.ts
Due: none

Fix unit test
  packages/core/src/test/codewhispererChat/tools/listDirectory.test.ts
Due: none

Update README.md
  README.md
Due: none
