Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

solve simple member expression case
  plugins/eslint-plugin-aws-toolkits/lib/rules/no-async-in-foreach.ts
Due: none

start of work on next case
  plugins/eslint-plugin-aws-toolkits/lib/rules/no-async-in-foreach.ts
  plugins/eslint-plugin-aws-toolkits/test/rules/no-async-in-foreach.test.ts
Due: none

switch to banning general usage
  .eslintrc.js
  plugins/eslint-plugin-aws-toolkits/index.ts
  plugins/eslint-plugin-aws-toolkits/lib/rules/no-async-in-foreach.ts
  plugins/eslint-plugin-aws-toolkits/lib/rules/no-foreach.ts
  plugins/eslint-plugin-aws-toolkits/test/rules/no-async-in-foreach.test.ts
  plugins/eslint-plugin-aws-toolkits/test/rules/no-foreach.test.ts
Due: none

update comment
  plugins/eslint-plugin-aws-toolkits/lib/rules/no-foreach.ts
Due: none

start migration
  packages/core/scripts/build/generateServiceClient.ts
  packages/core/scripts/lint/testLint.ts
  packages/core/src/extensionNode.ts
  packages/core/src/shared/utilities/collectionUtils.ts
  packages/toolkit/package.json
  packages/toolkit/src/api.ts
  plugins/eslint-plugin-aws-toolkits/lib/rules/no-incorrect-once-usage.ts
  plugins/eslint-plugin-aws-toolkits/lib/rules/no-string-exec-for-child-process.ts
  plugins/eslint-plugin-aws-toolkits/test/rules/no-foreach.test.ts
  scripts/generateSettings.ts
Due: none

refactor textUtilities tests
  packages/core/src/amazonq/commons/controllers/contentController.ts
  packages/core/src/amazonq/commons/diff.ts
  packages/core/src/shared/utilities/collectionUtils.ts
  packages/core/src/shared/utilities/textUtilities.ts
  packages/core/src/test/shared/utilities/textUtilities.test.ts
Due: none

remove dead import
  packages/core/src/test/shared/utilities/textUtilities.test.ts
Due: none

finish migrating Q
  packages/amazonq/src/inlineChat/controller/inlineChatController.ts
  packages/amazonq/src/inlineChat/output/computeDiff.ts
  packages/amazonq/test/unit/codewhisperer/service/keyStrokeHandler.test.ts
  packages/amazonq/test/unit/codewhisperer/util/crossFileContextUtil.test.ts
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/amazonq/test/unit/codewhisperer/util/runtimeLanguageContext.test.ts
  packages/amazonq/test/unit/codewhisperer/util/securityScanLanguageContext.test.ts
  packages/amazonq/test/web/testRunner.ts
Due: codewhisperer

use TestFolder
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
Due: none

partial migration
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/webview/ui/quickActions/handler.ts
  packages/core/src/amazonq/webview/ui/storages/tabsStorage.ts
  packages/core/src/amazonqDoc/app.ts
  packages/core/src/amazonqFeatureDev/app.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/applicationcomposer/composerWebview.ts
  packages/core/src/auth/credentials/sharedCredentials.ts
  packages/core/src/auth/credentials/validation.ts
  packages/core/src/auth/sso/cache.ts
  packages/core/src/auth/sso/server.ts
  packages/core/src/awsService/accessanalyzer/vue/iamPolicyChecks.ts
  packages/core/src/awsService/appBuilder/explorer/detectSamProjects.ts
  packages/core/src/awsService/appBuilder/wizards/templateParametersWizard.ts
  packages/core/src/awsService/apprunner/activation.ts
  packages/core/src/awsService/apprunner/explorer/apprunnerNode.ts
  packages/core/src/awsService/cdk/explorer/detectCdkProjects.ts
  packages/core/src/awsService/cloudWatchLogs/commands/tailLogGroup.ts
  packages/core/src/awsService/cloudWatchLogs/document/logStreamsCodeLensProvider.ts
  packages/core/src/awsexplorer/toolView.ts
  packages/core/src/codecatalyst/explorer.ts
  packages/core/src/codecatalyst/wizards/devenvSettings.ts
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/codewhisperer/client/codewhisperer.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/service/completionProvider.ts
  packages/core/src/codewhisperer/service/diagnosticsProvider.ts
  packages/core/src/codewhisperer/service/importAdderProvider.ts
  packages/core/src/codewhisperer/service/recommendationHandler.ts
  packages/core/src/shared/utilities/collectionUtils.ts
Due: codewhisperer, amazonqFeatureDev

Create python-package-conda.yml
  .github/workflows/python-package-conda.yml
Due: none

telemetry(amazonq): send metric data in `onCodeGeneration` #6226
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/types.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: codewhisperer, amazonqFeatureDev

continued migration efforts
  packages/core/src/codewhisperer/service/recommendationHandler.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformFileHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
  packages/core/src/codewhisperer/tracker/codewhispererCodeCoverageTracker.ts
  packages/core/src/codewhisperer/util/authUtil.ts
  packages/core/src/codewhisperer/util/closingBracketUtil.ts
  packages/core/src/codewhisperer/util/customizationUtil.ts
  packages/core/src/codewhisperer/util/editorContext.ts
  packages/core/src/codewhisperer/util/licenseUtil.ts
Due: codewhisperer

address comments
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/transformByQ/transformMavenHandler.ts
Due: codewhisperer

fix lint
  packages/core/src/codewhisperer/service/transformByQ/transformMavenHandler.ts
Due: codewhisperer

mark remaining exceptions
  aws-toolkit-vscode.code-workspace
  packages/amazonq/src/inlineChat/output/computeDiff.ts
  packages/amazonq/test/unit/codewhisperer/service/keyStrokeHandler.test.ts
  packages/amazonq/test/unit/codewhisperer/util/crossFileContextUtil.test.ts
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/amazonq/test/unit/codewhisperer/util/runtimeLanguageContext.test.ts
  packages/amazonq/test/unit/codewhisperer/util/securityScanLanguageContext.test.ts
  packages/amazonq/test/web/testRunner.ts
  packages/core/scripts/build/generateServiceClient.ts
  packages/core/scripts/lint/testLint.ts
  packages/core/src/amazonqDoc/app.ts
  packages/core/src/awsService/accessanalyzer/vue/iamPolicyChecks.ts
  packages/core/src/awsService/apprunner/explorer/apprunnerNode.ts
  packages/core/src/awsService/cloudWatchLogs/commands/tailLogGroup.ts
  packages/core/src/awsService/ec2/activation.ts
  packages/core/src/awsService/ec2/remoteSessionManager.ts
  packages/core/src/codewhisperer/service/importAdderProvider.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformFileHandler.ts
  packages/core/src/codewhisperer/views/securityPanelViewProvider.ts
  packages/core/src/codewhispererChat/storages/triggerEvents.ts
  packages/core/src/shared/codelens/goCodeLensProvider.ts
  packages/core/src/shared/treeview/resourceTreeDataProvider.ts
  packages/core/src/shared/utilities/diffUtils.ts
  packages/core/src/stepFunctions/asl/aslServer.ts
  packages/core/src/test/codewhispererChat/editor/codelens.test.ts
  packages/core/src/test/credentials/sso/ssoAccessTokenProvider.test.ts
  packages/core/src/test/lambda/commands/listSamResources.test.ts
  packages/core/src/test/shared/fs/fs.test.ts
  packages/core/src/test/shared/vscode/window.ts
  packages/toolkit/src/api.ts
  plugins/eslint-plugin-aws-toolkits/lib/rules/no-incorrect-once-usage.ts
  plugins/eslint-plugin-aws-toolkits/lib/rules/no-string-exec-for-child-process.ts
Due: codewhisperer

tests(amazonq): welcome page and explore agents page tests
  packages/amazonq/test/e2e/amazonq/assert.ts
  packages/amazonq/test/e2e/amazonq/explore.test.ts
  packages/amazonq/test/e2e/amazonq/framework/framework.ts
  packages/amazonq/test/e2e/amazonq/framework/messenger.ts
  packages/amazonq/test/e2e/amazonq/welcome.test.ts
  packages/core/src/amazonq/index.ts
Due: codewhisperer

test(amazonq): welcome page and explore agents page tests (#6232)
  packages/amazonq/test/e2e/amazonq/assert.ts
  packages/amazonq/test/e2e/amazonq/explore.test.ts
  packages/amazonq/test/e2e/amazonq/framework/framework.ts
  packages/amazonq/test/e2e/amazonq/framework/messenger.ts
  packages/amazonq/test/e2e/amazonq/welcome.test.ts
  packages/core/src/amazonq/index.ts
Due: codewhisperer

tests(amazonq): Add e2e tests for general amazon q chat panel
  packages/amazonq/test/e2e/amazonq/assert.ts
  packages/amazonq/test/e2e/amazonq/chat.test.ts
  packages/amazonq/test/e2e/amazonq/framework/framework.ts
  packages/amazonq/test/e2e/amazonq/template.test.ts
  packages/amazonq/test/e2e/amazonq/welcome.test.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: codewhisperer

test
  buildspec/linuxE2ETests.yml
  buildspec/linuxIntegrationTests.yml
  buildspec/linuxTests.yml
  scripts/mergeReports.ts
Due: none

fix(auth): debounce getToken() function
  packages/core/src/auth/sso/ssoAccessTokenProvider.ts
Due: none

implement small manual fixes
  .eslintrc.js
  aws-toolkit-vscode.code-workspace
  packages/amazonq/src/inlineChat/output/computeDiff.ts
  packages/core/src/codewhisperer/service/recommendationHandler.ts
  packages/core/src/codewhisperer/util/supplementalContext/rankBm25.ts
  packages/core/src/codewhispererChat/controllers/chat/chatRequest/converter.ts
  packages/core/src/shared/extensions/git.ts
  packages/core/src/test/awsService/cloudWatchLogs/commands/tailLogGroup.test.ts
  packages/core/src/test/shared/crashMonitoring.test.ts
Due: codewhisperer

fix new cases on master
  packages/amazonq/test/e2e/amazonq/explore.test.ts
  packages/amazonq/test/e2e/amazonq/welcome.test.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: none

avoid touching workspace file
  aws-toolkit-vscode.code-workspace
Due: none

update fonts
  packages/toolkit/package.json
Due: none

add clone manually
  packages/core/src/test/shared/clients/ec2Client.test.ts
Due: none

remove clone
  packages/core/src/test/shared/clients/ec2Client.test.ts
Due: none

fix(amazonq): don't emit entire spawnResult in telemetry
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
Due: codewhisperer

redundant metric
  packages/core/src/amazonqGumby/chat/controller/controller.ts
Due: none

add metric
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
Due: codewhisperer

config(packagejson): update fonts (#6283)
  packages/toolkit/package.json
Due: none

test(core): Log amazonq/toolkit tests at the bottom of the logs
  buildspec/linuxE2ETests.yml
  buildspec/linuxIntegrationTests.yml
  buildspec/linuxTests.yml
  package.json
  scripts/createTestReport.ts
  scripts/mergeReports.ts
Due: none

Test failures
  packages/amazonq/test/unit/validation.test.ts
  packages/core/src/test/shared/applicationBuilder/explorer/nodes/appNode.test.ts
Due: none

add info str and centralize test file
  .github/workflows/filterDuplicates.js
Due: none

fix typo
  .github/workflows/filterDuplicates.js
Due: none

implement basic tracker class
  packages/core/src/shared/utilities/processUtils.ts
Due: none
