Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

refactor(sso-login): Extract err msg to const from string literal
  packages/core/src/auth/sso/constants.ts
  packages/core/src/auth/sso/validation.ts
  packages/core/src/login/webview/vue/login.vue
Due: none

refactor(sso-login): Encapsulate start url err msgs in enum
  packages/core/src/auth/sso/constants.ts
  packages/core/src/auth/sso/validation.ts
  packages/core/src/login/webview/vue/login.vue
Due: none

feat(/dev): enable featured dev chat feedback
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  packages/core/src/amazonqFeatureDev/app.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/views/actions/uiMessageListener.ts
  packages/core/src/test/amazonqFeatureDev/utils.ts
Due: amazonqFeatureDev

telemetry(featuredev): add feedback telemetry
  packages/amazonq/.changes/next-release/Feature-fb724754-850b-41b3-b3dd-2484b40720ff.json
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  packages/core/src/amazonqFeatureDev/app.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/views/actions/uiMessageListener.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
  packages/core/src/test/amazonqFeatureDev/utils.ts
Due: amazonqFeatureDev

Update packages/amazonq/.changes/next-release/Feature-fb724754-850b-41b3-b3dd-2484b40720ff.json
  packages/amazonq/.changes/next-release/Feature-fb724754-850b-41b3-b3dd-2484b40720ff.json
Due: none

Delete packages/amazonq/.changes/next-release/Feature-fb724754-850b-41b3-b3dd-2484b40720ff.json
  packages/amazonq/.changes/next-release/Feature-fb724754-850b-41b3-b3dd-2484b40720ff.json
Due: none

feat(amazonqFeatureDev): include status detail for in progress state
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

refactor(amazonqFeatureDev): update messaging after code its generated
  packages/core/package.nls.json
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

Update package.nls.json
  packages/core/package.nls.json
Due: none

chore(amazonqFeatureDev): add changelog
  packages/amazonq/.changes/next-release/Feature-0da66e82-7f81-46c7-be39-5634cf0a64f3.json
Due: none

auth: add more network errors
  packages/core/src/shared/errors.ts
Due: none

Update packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
Due: amazonqFeatureDev

telemetry(amazonq): update telemetry (#4847)
  gradle/libs.versions.toml
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerManager.kt
  plugins/amazonq/codetransform/jetbrains-community/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeTransformTelemetryManager.kt
Due: none

auth: catch non 200 response code errors as network errors
  packages/core/src/shared/errors.ts
  packages/core/src/test/shared/errors.test.ts
Due: none

auth: handle EBUSY as network error
  packages/core/src/shared/errors.ts
  packages/core/src/test/shared/errors.test.ts
Due: none

changelog items
  packages/amazonq/.changes/next-release/Bug Fix-8f6470e0-51f9-42c9-9c6a-54874eb3bbcb.json
  packages/toolkit/.changes/next-release/Bug Fix-1ad41a80-c0f4-4401-a603-7c037571dd7c.json
Due: none

fix(amazonq): show instructions for finding JDK path on Linux
  packages/amazonq/.changes/next-release/Bug Fix-cf2cb680-6b37-4d51-a34a-5b5f03bd04c4.json
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

fix typo
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

Remove feature dev plan generation phase
  .changes/next-release/removal-14da4406-6839-4c23-a82e-df9ad486c446.json
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/FeatureDevConstants.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/FeatureDevExceptions.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/clients/FeatureDevClient.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/clients/GenerateTaskAssistPlanResult.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/controller/FeatureDevController.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/controller/FeatureDevControllerExtensions.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/messages/FeatureDevMessage.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/model/ZipCreationResult.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/CodeGenerationState.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/PrepareCodeGenerationState.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/PrepareRefinementState.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/RefinementState.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/Session.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/SessionStateTypes.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/util/FeatureDevControllerUtil.kt
  plugins/amazonq/chat/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/util/FeatureDevService.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/FeatureDevTestBase.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/clients/FeatureDevClientTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/controller/FeatureDevControllerTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/PrepareRefinementStateTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/RefinementStateTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/SessionTest.kt
  plugins/amazonq/chat/jetbrains-community/tst/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/util/FeatureDevServiceTest.kt
  plugins/core/jetbrains-community/src/software/aws/toolkits/jetbrains/services/amazonq/FeatureDevSessionContext.kt
Due: none

Modify customer facing copies
  plugins/core/resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Due: none

Amazon Q Code Transform: Remove deprecated metrics
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformMavenHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformProjectValidationHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
  packages/core/src/test/techdebt.test.ts
Due: codewhisperer

fix(lambda): Correcting path so that it works with all OS (#1692)
  packages/core/src/shared/applicationBuilder/explorer/nodes/appNode.ts
Due: none

bug fix for regions which did not support serverless API
  packages/core/src/awsService/redshift/explorer/redshiftNode.ts
Due: none

fix(amazonq): show instructions for finding JDK path on Linux (#5533)
  packages/amazonq/.changes/next-release/Bug Fix-cf2cb680-6b37-4d51-a34a-5b5f03bd04c4.json
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

fix(amazonqFeatureDev): remove strings to include in a separate PR
  packages/core/package.nls.json
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

fix(auth): handle new errors during SSO token refresh (#5532)
  packages/amazonq/.changes/next-release/Bug Fix-8f6470e0-51f9-42c9-9c6a-54874eb3bbcb.json
  packages/core/src/shared/errors.ts
  packages/core/src/test/shared/errors.test.ts
  packages/toolkit/.changes/next-release/Bug Fix-1ad41a80-c0f4-4401-a603-7c037571dd7c.json
Due: none

fix(amazonqFeatureDev): remove extra spacing on nls file
  packages/core/package.nls.json
Due: none

Update packages/core/src/awsService/redshift/explorer/redshiftNode.ts
  packages/core/src/awsService/redshift/explorer/redshiftNode.ts
Due: none

switch to relative path
  packages/amazonq/test/unit/codewhisperer/util/editorContext.test.ts
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

telemetry(featuredev): add feedback telemetry (#5531)
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  packages/core/src/amazonqFeatureDev/app.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/views/actions/uiMessageListener.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
  packages/core/src/test/amazonqFeatureDev/utils.ts
Due: amazonqFeatureDev

fix(amazonq): sign-in notification displaying if user is signed in
  packages/amazonq/.changes/next-release/Bug Fix-cf81a6d7-2bc9-4888-9142-ce036245dd0e.json
  packages/amazonq/src/app/chat/activation.ts
Due: none

fix(amazonq): update security scan languages (#5523)
  packages/amazonq/.changes/next-release/Bug Fix-e18d0bfd-d423-4c64-9454-b221eff45b7f.json
  packages/core/src/shared/featureConfig.ts
  packages/core/src/test/fake/mockFeatureConfigData.ts
  packages/core/src/test/shared/featureConfig.test.ts
Due: none

correct relative path
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

fix(amazonq): sign-in notification displaying if user is signed in (#5544)
  packages/amazonq/.changes/next-release/Bug Fix-cf81a6d7-2bc9-4888-9142-ce036245dd0e.json
  packages/amazonq/src/app/chat/activation.ts
Due: none

fix lint
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/codewhisperer/service/transformByQ/transformMavenHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformProjectValidationHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
Due: codewhisperer

fix(fetureconfigprovider): add additional utility methods (#5539)
  packages/amazonq/.changes/next-release/Bug Fix-e18d0bfd-d423-4c64-9454-b221eff45b7f.json
  packages/core/src/shared/featureConfig.ts
  packages/core/src/test/fake/mockFeatureConfigData.ts
  packages/core/src/test/shared/featureConfig.test.ts
Due: none

remove usage of codeTransformLocalMavenVersion
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
Due: codewhisperer

fix(getting started): build fixes (#1693)
  packages/core/src/shared/applicationBuilder/explorer/samProject.ts
  packages/core/src/shared/sam/build.ts
Due: none

feat(dev): include in progress state agent details in code generation (#5489)
  packages/amazonq/.changes/next-release/Feature-0da66e82-7f81-46c7-be39-5634cf0a64f3.json
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

Path conditions:
  codewhisperer: any of: packages/core/src/codewhisperer/
  amazonqFeatureDev: any of: packages/core/src/amazonqFeatureDev/
