Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

fix: help > open logs may not work after interacting with other options (#4139)
  .changes/next-release/Bug Fix-402cf60e-4ce2-4886-9133-b77af3b6f42b.json
  src/shared/logger/commands.ts
Due: none

small fixes to Amazon Q tree nodes in toolkit view (#4137)
  .changes/next-release/Bug Fix-c3b1288b-9bb9-41a8-910e-44bd160631a4.json
  src/amazonq/activation.ts
  src/amazonq/explorer/amazonQChildrenNodes.ts
  src/amazonq/onboardingPage/index.ts
  src/auth/ui/vue/show.ts
  src/codewhisperer/commands/basicCommands.ts
  src/codewhispererChat/commands/registerCommands.ts
Due: codewhisperer

fix: fix tests
  src/codewhisperer/service/transformByQHandler.ts
  src/testInteg/amazonqGumby/transformByQ.test.ts
Due: codewhisperer

wip refactor
  src/codewhisperer/models/model.ts
  src/codewhisperer/service/classifierTrigger.ts
  src/codewhisperer/service/inlineCompletionService.ts
  src/codewhisperer/service/keyStrokeHandler.ts
  src/codewhisperer/service/recommendationHandler.ts
  src/codewhisperer/service/recommendationService.ts
  src/codewhisperer/util/codeWhispererSession.ts
  src/codewhisperer/util/editorContext.ts
  src/codewhisperer/util/runtimeLanguageContext.ts
  src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

Fix sign out in the Getting Started panel (#4043)
  .changes/next-release/bugfix-b72c9a8f-a3bd-4259-bc15-e36767cb294e.json
  jetbrains-core/src/software/aws/toolkits/jetbrains/core/gettingstarted/SetupAuthenticationDialog.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/core/gettingstarted/editor/GettingStartedPanel.kt
Due: none

remove redundant Omit type
  src/codewhisperer/util/codeWhispererSession.ts
  src/codewhisperer/util/editorContext.ts
  src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

patch
  src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

Apply suggestions from code review
  src/shared/telemetry/telemetryService.ts
  src/shared/telemetry/util.ts
Due: none

finish implementation of PR suggestions
  src/shared/telemetry/telemetryService.ts
  src/shared/telemetry/util.ts
Due: none

update metrics exempt list
  src/shared/telemetry/exemptMetrics.ts
Due: none

fix: pass validation for metric 'aws_modifySetting'
  src/codewhisperer/commands/basicCommands.ts
  src/shared/telemetry/exemptMetrics.ts
Due: codewhisperer

codecatalyst: Bad auth state when adding connection + skip onboarding
  src/auth/ui/vue/show.ts
  src/codecatalyst/explorer.ts
Due: none

NoopWatcher returns correctly
  src/shared/cloudformation/activation.ts
Due: none

codecatalyst: Bad auth state when adding connection + skip onboarding (#4150)
  src/auth/ui/vue/show.ts
  src/codecatalyst/explorer.ts
Due: none

amazonQ: only add missing scopes intentionally
  src/amazonq/auth/controller.ts
  src/amazonq/explorer/amazonQChildrenNodes.ts
  src/codewhisperer/commands/basicCommands.ts
  src/codewhisperer/util/authUtil.ts
  src/test/codewhisperer/util/authUtil.test.ts
Due: codewhisperer

NoopWatcher returns correctly (#4151)
  src/shared/cloudformation/activation.ts
Due: none

update language coefficients for IaC languages
  src/codewhisperer/service/classifierTrigger.ts
Due: codewhisperer

telemetry: enforce `result` and `reason` properties for emitted metrics (#4103)
  docs/TESTPLAN.md
  src/codewhisperer/commands/basicCommands.ts
  src/shared/telemetry/exemptMetrics.ts
  src/shared/telemetry/telemetryLogger.ts
  src/shared/telemetry/telemetryService.ts
  src/shared/telemetry/util.ts
  src/test/shared/telemetry/spans.test.ts
Due: codewhisperer

update telemetry models
  src/codewhisperer/client/user-service-2.json
Due: codewhisperer

fix models
  src/codewhisperer/client/user-service-2.json
Due: codewhisperer

update enum
  src/codewhisperer/client/user-service-2.json
Due: codewhisperer

update telemetry callsites
  src/codewhisperer/tracker/codewhispererTracker.ts
  src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: codewhisperer

Support for JSON with comments for security scans (#4090)
  src/codewhisperer/models/constants.ts
  src/codewhisperer/util/dependencyGraph/dependencyGraphFactory.ts
  src/codewhisperer/util/runtimeLanguageContext.ts
  src/test/codewhisperer/util/dependencyGraphFactory.test.ts
Due: codewhisperer

codewhisperer: update language coefficients for IaC languages (#4153)
  src/codewhisperer/service/classifierTrigger.ts
Due: codewhisperer

add type to signature
  src/codewhisperer/commands/basicCommands.ts
  src/codewhisperer/util/authUtil.ts
Due: codewhisperer

CW: Code Change in import statement
  src/codewhisperer/util/dependencyGraph/rubyDependencyGraph.ts
Due: codewhisperer

address comments
  src/codewhisperer/util/dependencyGraph/goDependencyGraph.ts
  src/test/codewhisperer/util/dependencyGraph/goDependencyGraph.test.ts
Due: codewhisperer

feat(codewhisperer): golang support (#4138)
  .changes/next-release/Feature-9c1f0662-e3b1-486d-a16d-db27923fe3ba.json
  src/codewhisperer/models/constants.ts
  src/codewhisperer/util/dependencyGraph/dependencyGraph.ts
  src/codewhisperer/util/dependencyGraph/dependencyGraphFactory.ts
  src/codewhisperer/util/dependencyGraph/goDependencyGraph.ts
  src/test/codewhisperer/testUtil.ts
  src/test/codewhisperer/util/dependencyGraph/goDependencyGraph.test.ts
  src/testFixtures/workspaceFolder/go1-zip/go.mod
  src/testFixtures/workspaceFolder/go1-zip/help.go
  src/testFixtures/workspaceFolder/go1-zip/main.go
  src/testFixtures/workspaceFolder/go1-zip/util/number.go
Due: codewhisperer

update language coefficients for IaC languages (#4047)
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/service/CodeWhispererClassifierConstants.kt
Due: none

Merge conflicts
  src/test/codewhisperer/util/dependencyGraph/dependencyGraphFactory.test.ts
Due: none

CodeWhisperer security scans support for Ruby files. (#4133)
  .changes/next-release/Feature-186b5746-5987-4c64-9c6a-54f7e3b91dbc.json
  src/codewhisperer/models/constants.ts
  src/codewhisperer/util/dependencyGraph/dependencyGraph.ts
  src/codewhisperer/util/dependencyGraph/dependencyGraphFactory.ts
  src/codewhisperer/util/dependencyGraph/rubyDependencyGraph.ts
  src/test/codewhisperer/util/dependencyGraph/dependencyGraphFactory.test.ts
  src/test/codewhisperer/util/dependencyGraph/rubyDependencyGraph.test.ts
  src/testFixtures/workspaceFolder/ruby-plain-sam-app/src/app.rb
  src/testFixtures/workspaceFolder/ruby-plain-sam-app/template.yaml
Due: codewhisperer

Revert "featureDev: remove codegen"
  package.json
  src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  src/amazonq/webview/ui/main.ts
  src/amazonq/webview/ui/quickActions/generator.ts
  src/amazonq/webview/ui/quickActions/handler.ts
  src/amazonq/webview/ui/tabs/generator.ts
  src/amazonqFeatureDev/app.ts
  src/amazonqFeatureDev/client/codewhispererruntime-2022-11-11.json
  src/amazonqFeatureDev/client/featureDev.ts
  src/amazonqFeatureDev/constants.ts
  src/amazonqFeatureDev/controllers/chat/controller.ts
  src/amazonqFeatureDev/controllers/chat/messenger/messenger.ts
  src/amazonqFeatureDev/errors.ts
  src/amazonqFeatureDev/limits.ts
  src/amazonqFeatureDev/models.ts
  src/amazonqFeatureDev/session/session.ts
  src/amazonqFeatureDev/session/sessionConfigFactory.ts
  src/amazonqFeatureDev/session/sessionState.ts
  src/amazonqFeatureDev/types.ts
  src/amazonqFeatureDev/util/telemetryHelper.ts
  src/amazonqFeatureDev/views/connector/connector.ts
  src/codewhispererChat/controllers/chat/telemetryHelper.ts
  src/test/amazonqFeatureDev/session/sessionState.test.ts
Due: amazonqFeatureDev

added the addParentsPom to the maven command (#4029)
  .changes/next-release/bugfix-e7224ad0-f4a7-4ef5-aba8-6130c235dab2.json
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/model/CodeModernizerSessionContext.kt
Due: none

add check for invalid arg
  src/codewhisperer/commands/basicCommands.ts
Due: codewhisperer

CodeWhisperer security scans support for Ruby files. (#4033)
  .changes/next-release/feature-6a101625-f0e1-4ed9-939e-57e2f90cb253.json
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/CodeScanSessionConfig.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/RubyCodeScanSessionConfig.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererConstants.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererRubyCodeScanTest.kt
Due: none

Add timed refresh to Cloud9 CodeWhisperer view after load
  src/extension.ts
Due: none

codewhisperer: golang support (#4037)
  .changes/next-release/feature-81157d0b-9a89-44f1-9fd3-467605f0c538.json
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/CodeScanSessionConfig.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/sessionconfig/GoCodeScanSessionConfig.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererConstants.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererGoCodeScanTest.kt
Due: none

Add unit tests for Gumby client (#4045)
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codemodernizer/CodeModernizerSession.kt
  jetbrains-core/tst-resources/codemodernizer/expectedFile
  jetbrains-core/tst-resources/codemodernizer/overwrittenFile
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codemodernizer/CodeWhispererCodeModernizerGumbyClientTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codemodernizer/CodeWhispererCodeModernizerSessionTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codemodernizer/CodeWhispererCodeModernizerTest.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/codemodernizer/CodeWhispererCodeModernizerTestBase.kt
Due: none

test: add unit tests
  package.json
  src/codewhisperer/service/transformByQHandler.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
  src/test/codewhisperer/commands/transformByQ.test.ts
  src/testInteg/amazonqGumby/transformByQ.test.ts
Due: codewhisperer

fix
  src/amazonqGumby/entrypoint.ts
Due: none

Path conditions:
  codewhisperer: any of: src/codewhisperer/
  amazonqFeatureDev: any of: src/amazonqFeatureDev/
