Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

revert package changes
  packages/amazonq/.vscode/tasks.json
  packages/core/package.json
Due: none

feat(amazonq): support customization through language server
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/test/unit/amazonq/apps/inline/completion.test.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/index.ts
  packages/core/src/codewhisperer/ui/codeWhispererNodes.ts
  packages/core/src/codewhisperer/util/customizationUtil.ts
Due: codewhisperer

feat(chat): Stream executeBash output to chat
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/tools/chatStream.ts
  packages/core/src/codewhispererChat/tools/executeBash.ts
  packages/core/src/shared/logger/logger.ts
Due: none

fix circular import
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/tools/toolShared.ts
  packages/core/src/test/codewhispererChat/tools/toolShared.test.ts
Due: none

move toolUtils to a separate file
  packages/core/src/codewhispererChat/tools/toolUtils.ts
Due: none

revert: local changes included in merge
  packages/amazonq/.vscode/tasks.json
  packages/amazonq/package.json
Due: none

revert package changes
  packages/amazonq/.vscode/tasks.json
  packages/amazonq/package.json
Due: none

test(amazonq): add mock for IntersectionObserver
  packages/amazonq/test/e2e/amazonq/framework/jsdomInjector.ts
Due: none

fix: move inside function
  packages/amazonq/test/e2e/amazonq/framework/jsdomInjector.ts
Due: none

test(amazonq): add mock for IntersectionObserver (#6867)
  packages/amazonq/test/e2e/amazonq/framework/jsdomInjector.ts
Due: none

Revert "feat(amazonq): ask for permission to rerun job #6627"
  packages/amazonq/.changes/next-release/Feature-b5f9e589-3415-4e4e-b7b2-f292b5436ad0.json
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

Add unit tests to validate sign out and chat intro message changes Update changelog to add SageMaker Unified Studio features Address review comments and linting
  packages/amazonq/.changes/next-release/Feature-390d2096-ea1e-43b9-a889-2494d6e9e6d3.json
  packages/amazonq/.changes/next-release/Feature-3c42f632-46b8-4e59-b5fa-75d638f3f08d.json
  packages/amazonq/package.json
  packages/amazonq/src/app/chat/activation.ts
  packages/core/src/amazonq/util/amazonQState.ts
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
  packages/core/src/shared/vscode/setContext.ts
  packages/core/src/test/amazonq/webview/ui/tabs/generator.test.ts
  packages/core/src/test/codewhisperer/commands/basicCommands.test.ts
Due: codewhisperer

rc 22
  packages/amazonq/src/lsp/config.ts
Due: codewhisperer

telemetry(amazonq): requestId2, logging for createUpload #6857
  package-lock.json
  package.json
  packages/core/src/codewhisperer/service/securityScanHandler.ts
Due: codewhisperer

Remove mynahUI dependency from generator test to fix CI build failure
  packages/core/src/test/amazonq/webview/ui/tabs/generator.test.ts
Due: none

build: ensure npm is used for watch task
  packages/amazonq/.vscode/tasks.json
  packages/core/.vscode/tasks.json
  packages/toolkit/.vscode/tasks.json
Due: none

fix(amazonq): hide feedback form
  packages/amazonq/.changes/next-release/Feature-b5f9e589-3415-4e4e-b7b2-f292b5436ad0.json
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
Due: none

fix(amazonq): hide feedback form (#6872)
  packages/amazonq/.changes/next-release/Feature-b5f9e589-3415-4e4e-b7b2-f292b5436ad0.json
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
Due: none

fix(amazonq): fit & finish / bugbash issues
  packages/amazonq/package.json
  packages/amazonq/test/unit/codewhisperer/region/regionProfileManager.test.ts
  packages/core/src/amazonq/webview/generators/webViewContent.ts
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
  packages/core/src/amazonq/webview/webView.ts
  packages/core/src/amazonqTest/chat/storages/chatSession.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/region/regionProfileManager.ts
  packages/core/src/codewhisperer/service/recommendationService.ts
  packages/core/src/codewhisperer/ui/codeWhispererNodes.ts
  packages/core/src/codewhisperer/ui/statusBarMenu.ts
  packages/core/src/codewhisperer/util/authUtil.ts
  packages/core/src/login/webview/vue/amazonq/backend_amazonq.ts
  packages/core/src/login/webview/vue/backend.ts
  packages/core/src/login/webview/vue/regionProfileSelector.vue
  packages/core/src/login/webview/vue/toolkit/backend_toolkit.ts
Due: codewhisperer

feat(inline): send profile arn with inline APIs #2103
  packages/core/src/codewhisperer/client/codewhisperer.ts
  packages/core/src/codewhisperer/tracker/codewhispererCodeCoverageTracker.ts
  packages/core/src/codewhisperer/tracker/codewhispererTracker.ts
  packages/core/src/codewhisperer/util/editorContext.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
  packages/core/src/shared/featureConfig.ts
Due: codewhisperer

feat(generic chat): send profile arn with chat APIs #2104
  packages/amazonq/src/inlineChat/provider/inlineChatProvider.ts
  packages/amazonq/test/unit/codewhispererChat/controllers/chat/chatRequest/converter.test.ts
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/chatRequest/converter.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/model.ts
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: codewhisperer

feat(review): send profile arn with codeScan, testGen APIs
  packages/core/src/codewhisperer/commands/startCodeFixGeneration.ts
  packages/core/src/codewhisperer/commands/startSecurityScan.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/service/codeFixHandler.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

feat(chat): use ChatStream to show tool description
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/tools/chatStream.ts
  packages/core/src/codewhispererChat/tools/executeBash.ts
Due: none

build: ensure npm is used for watch task (#6871)
  packages/amazonq/.vscode/tasks.json
  packages/core/.vscode/tasks.json
  packages/toolkit/.vscode/tasks.json
Due: none

feat(transform): pass profile arn to transformation APIs
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationHubViewProvider.ts
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
Due: codewhisperer

feat(feature-dev): pass profile arn to feature dev API
  packages/core/src/amazonqFeatureDev/client/codewhispererruntime-2022-11-11.json
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
Due: amazonqFeatureDev

telemetry(amazonq): didSelectProfile
  packages/amazonq/test/unit/codewhisperer/region/regionProfileManager.test.ts
  packages/core/src/amazonq/webview/generators/webViewContent.ts
  packages/core/src/codewhisperer/region/regionProfileManager.ts
  packages/core/src/codewhisperer/ui/codeWhispererNodes.ts
  packages/core/src/login/webview/vue/amazonq/backend_amazonq.ts
  packages/core/src/login/webview/vue/backend.ts
  packages/core/src/login/webview/vue/regionProfileSelector.vue
  packages/core/src/login/webview/vue/toolkit/backend_toolkit.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: codewhisperer

fix(amazonq): fix command name and typo
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/test/unit/amazonq/apps/inline/completion.test.ts
  packages/core/src/codewhisperer/ui/codeWhispererNodes.ts
  packages/core/src/codewhisperer/util/customizationUtil.ts
Due: codewhisperer

feat(stepfunctions): use readonly mode of workflowStudio to render StateMachine Graph in CDK applications.
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/stepFunctions/activation.ts
  packages/core/src/stepFunctions/commands/visualizeStateMachine/abstractAslVisualizationManager.ts
  packages/core/src/stepFunctions/commands/visualizeStateMachine/aslVisualization.ts
  packages/core/src/stepFunctions/commands/visualizeStateMachine/aslVisualizationCDK.ts
  packages/core/src/stepFunctions/commands/visualizeStateMachine/aslVisualizationCDKManager.ts
  packages/core/src/stepFunctions/commands/visualizeStateMachine/renderStateMachineGraphCDK.ts
  packages/core/src/stepFunctions/workflowStudio/handleMessage.ts
  packages/core/src/stepFunctions/workflowStudio/types.ts
  packages/core/src/stepFunctions/workflowStudio/workflowStudioEditor.ts
  packages/core/src/stepFunctions/workflowStudio/workflowStudioEditorProvider.ts
  packages/core/src/test/stepFunctions/workflowStudio/workflowStudioApiHandler.test.ts
  packages/toolkit/.changes/next-release/Feature-bd80ac3c-3d3c-45c3-aa6a-16231a63c43d.json
Due: none

feat(chat): add confirmation buttons and tool descriptions
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/tools/chatStream.ts
  packages/core/src/codewhispererChat/tools/fsRead.ts
  packages/core/src/codewhispererChat/tools/fsWrite.ts
Due: none

Implementation of code diff for File Write along with Accept and Reject buttons
  packages/core/src/amazonq/webview/ui/apps/cwChatConnector.ts
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/tools/chatStream.ts
  packages/core/src/codewhispererChat/tools/fsWrite.ts
Due: none

feat(amazonq lsp): Make chat client assets configurable
  CONTRIBUTING.md
  docs/lsp.md
  packages/amazonq/.vscode/launch.json
  packages/amazonq/src/lsp/chat/webviewProvider.ts
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/src/lsp/config.ts
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/core/src/shared/lsp/baseLspInstaller.ts
Due: codewhisperer

fix(appbuilder): Prevent parallel build processes on the same template (#6172)
  packages/core/src/awsService/appBuilder/explorer/openTemplate.ts
  packages/core/src/shared/sam/build.ts
  packages/core/src/shared/sam/constants.ts
  packages/core/src/shared/sam/deploy.ts
  packages/core/src/shared/sam/sync.ts
  packages/core/src/shared/sam/utils.ts
  packages/core/src/test/shared/sam/build.test.ts
  packages/core/src/testInteg/sam.test.ts
  packages/toolkit/.changes/next-release/Bug Fix-db0d3605-5cb7-4b78-b4ae-29be86f51f99.json
Due: none

fix tests
  packages/amazonq/test/unit/amazonq/lsp/config.test.ts
Due: none

deps(amazonq): mynah 4.26.1
  package-lock.json
  packages/core/package.json
Due: none

Fix: Removing the spinner component after Reject and code diff is clicked
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/tools/executeBash.ts
  packages/core/src/codewhispererChat/tools/fsRead.ts
  packages/core/src/codewhispererChat/tools/fsWrite.ts
  packages/core/src/codewhispererChat/tools/toolUtils.ts
  packages/core/src/test/codewhispererChat/tools/toolShared.test.ts
Due: none

deps(amazonq): mynah 4.26.1 #6879
  package-lock.json
  packages/core/package.json
Due: none

fix(amazonq lsp): add getConnectionMetadata handler before auth initialiation
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

Release 1.53.0
  package-lock.json
  packages/amazonq/.changes/1.53.0.json
  packages/amazonq/.changes/next-release/Bug Fix-3f6a2026-9dd8-4b50-8a73-765ead8717b4.json
  packages/amazonq/.changes/next-release/Feature-5f829ea1-e33b-4687-bc6d-76ed1558cd7e.json
  packages/amazonq/.changes/next-release/Feature-7a3c930e-cc8e-4323-9ecd-c1bf767fd2ed.json
  packages/amazonq/.changes/next-release/Feature-fa845e78-1e76-407a-be8a-e64c63b98795.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
Due: none

Release 3.52.0
  package-lock.json
  packages/toolkit/.changes/3.52.0.json
  packages/toolkit/.changes/next-release/Bug Fix-db0d3605-5cb7-4b78-b4ae-29be86f51f99.json
  packages/toolkit/.changes/next-release/Feature-279a0842-feff-4089-8529-61376bf8cf97.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Due: none
