Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            default:
                target: 70%
                threshold: 5%
                informational: true
            codewhisperer:
                paths:
                    - packages/core/src/codewhisperer/*
                flags:
                    - 'codewhisperer'
            amazonqFeatureDev:
                paths:
                    - packages/core/src/amazonqFeatureDev/*
                flags:
                    - 'amazonqFeatureDev'
            amazonqGumby:
                paths:
                    - packages/core/src/amazonqGumby/*
            codewhispererChat:
                paths:
                    - packages/core/src/codewhispererChat/*
            applicationcomposer:
                paths:
                    - packages/core/src/applicationcomposer/*
            stepFunctions:
                target: 50%
                threshold: 10%
                paths:
                    - packages/core/src/stepFunctions/*
            threatComposer:
                paths:
                    - packages/core/src/threatComposer/*
        patch: false
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - packages/core/src/codewhisperer/
    amazonqFeatureDev:
        paths:
            - packages/core/src/amazonqFeatureDev/

disable previous file list on new session
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
Due: amazonqFeatureDev

fix diff test
  packages/core/src/test/amazonq/common/diff.test.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: none

update controller tests
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: none

chore
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

fix diff test
  packages/core/src/amazonq/index.ts
  packages/core/src/test/amazonq/common/diff.test.ts
Due: none

fix rebase
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
Due: none

open deleted file in a diff
  packages/core/src/amazonq/commons/diff.ts
Due: none

auto trigger next step if all files accepted
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
Due: amazonqFeatureDev

replace disablePreviousFileList with session.disableFileList from controller
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
Due: amazonqFeatureDev

fix edge case for triggering next step
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
Due: amazonqFeatureDev

upgrade mynah-ui version
  package-lock.json
  packages/core/package.json
Due: none

address PR comment
  packages/amazonq/test/e2e/amazonq/featureDev.test.ts
Due: none

update button text for the case to continue
  packages/amazonq/test/e2e/amazonq/featureDev.test.ts
  packages/core/package.nls.json
  packages/core/src/amazonqFeatureDev/session/session.ts
Due: amazonqFeatureDev

update e2e tests for file-level accepts
  packages/amazonq/test/e2e/amazonq/featureDev.test.ts
  packages/amazonq/test/e2e/amazonq/framework/messenger.ts
Due: none

update e2e test clickActionButton wait time
  packages/amazonq/test/e2e/amazonq/featureDev.test.ts
Due: none

remove disableFileList test from controller
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: none

add e2e tests for file-level accepts
  packages/amazonq/test/e2e/amazonq/featureDev.test.ts
  packages/amazonq/test/e2e/amazonq/framework/messenger.ts
Due: none

refactor insert code pill text logic
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
Due: amazonqFeatureDev

minor fix for CodeIterationLimitError
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

check if cache is being returned
  packages/core/src/auth/auth.ts
  packages/core/src/shared/credentials/userCredentialsUtils.ts
  packages/core/src/test/credentials/auth.test.ts
Due: none

address comments
  packages/core/src/shared/utilities/textDocumentUtilities.ts
  packages/core/src/test/notifications/rendering.test.ts
Due: none

fix(amazonq): tutorial always showing on start #5949
  packages/amazonq/.changes/next-release/Bug Fix-46c5fb9b-1b36-4826-8520-ec03409bce79.json
  packages/amazonq/src/inlineChat/controller/inlineChatController.ts
  packages/core/src/codewhisperer/views/lineAnnotationController.ts
Due: codewhisperer

add more logging
  packages/core/src/auth/credentials/store.ts
  packages/core/src/auth/secondaryAuth.ts
Due: none

reduce repeat
  packages/core/src/test/credentials/auth.test.ts
Due: none

add one more logging statement
  packages/core/src/auth/secondaryAuth.ts
Due: none

rebump to 1000
  packages/core/src/test/credentials/auth.test.ts
Due: none

switch back to JSON.stringify as exception
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

use dict version of isMinVscode
  packages/core/src/shared/vscode/env.ts
  packages/core/src/test/applicationcomposer/messageHandlers/generateResourceHandler.test.ts
  packages/core/src/test/applicationcomposer/messageHandlers/initMessageHandler.test.ts
  packages/core/src/test/testUtil.ts
Due: none

increase threshold to 10
  .github/workflows/jscpd.json
Due: none

build(lint): reduce strictness of copy-paste detection #5985
  .github/workflows/jscpd.json
Due: none

make options an optional param
  packages/core/src/shared/vscode/env.ts
Due: none

Convert LogGroupName to ARN from CWLGroupInfo if LogGroup is selected from Explorer. Rename LogGroupName to LogGroupArn in LiveTail
  packages/core/src/awsService/cloudWatchLogs/commands/tailLogGroup.ts
  packages/core/src/awsService/cloudWatchLogs/registry/liveTailSession.ts
  packages/core/src/awsService/cloudWatchLogs/registry/liveTailSessionRegistry.ts
  packages/core/src/awsService/cloudWatchLogs/wizard/tailLogGroupWizard.ts
  packages/core/src/test/awsService/cloudWatchLogs/commands/tailLogGroup.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/registry/liveTailRegistry.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/wizard/tailLogGroupWizard.test.ts
Due: none

change logging statements
  packages/core/src/auth/auth.ts
  packages/core/src/auth/credentials/store.ts
  packages/core/src/auth/secondaryAuth.ts
Due: none

remove unused import
  packages/core/src/test/awsService/cloudWatchLogs/wizard/tailLogGroupWizard.test.ts
Due: none

cap depth at 12
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

add more debugging
  packages/core/src/auth/auth.ts
  packages/core/src/auth/credentials/store.ts
Due: none

another log
  packages/core/src/auth/auth.ts
Due: none

add more logging
  packages/core/src/auth/auth.ts
Due: none
