Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

feat(amazonq): support pinned context (#7493)
  package-lock.json
  packages/amazonq/src/lsp/chat/activation.ts
  packages/amazonq/src/lsp/chat/messages.ts
  packages/amazonq/src/lsp/client.ts
  packages/core/package.json
  packages/core/src/amazonq/webview/ui/quickActions/handler.ts
  packages/core/src/shared/index.ts
Due: codewhisperer

Add language-servers back to workspace
  aws-toolkit-vscode.code-workspace
Due: none

fix suggestion states
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/src/app/inline/sessionManager.ts
Due: codewhisperer

fix bug
  packages/amazonq/src/app/inline/completion.ts
Due: codewhisperer

minimize changes
  packages/amazonq/src/app/inline/sessionManager.ts
Due: codewhisperer

rm console log
  packages/amazonq/src/app/inline/completion.ts
Due: codewhisperer

deps: bump @aws-toolkits/telemetry to 1.0.324
  package-lock.json
  package.json
Due: none

fix unit test
  packages/amazonq/test/unit/amazonq/apps/inline/completion.test.ts
Due: none

fix(amazonq): Correctly report suggestion state. (#7502)
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/test/unit/amazonq/apps/inline/completion.test.ts
Due: codewhisperer

fix(amazonq): update text for STV2 feature
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

typo
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
Due: codewhisperer

undo unnecessary changes
  aws-toolkit-vscode.code-workspace
  packages/amazonq/.vscode/launch.json
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/codewhisperer/client/codewhisperer.ts
  packages/core/src/codewhisperer/region/regionProfileManager.ts
  packages/core/src/codewhisperer/util/authUtil.ts
  packages/core/src/shared/clients/codewhispererChatClient.ts
Due: codewhisperer, amazonqFeatureDev

fix: increase memory limit for amazon q
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

set env variables using IDE settings
  packages/core/src/shared/lsp/utils/platform.ts
Due: none

improve typeahead experience
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/amazonq/src/app/inline/sessionManager.ts
Due: codewhisperer

update
  packages/amazonq/src/app/inline/completion.ts
Due: codewhisperer

handle certs
  packages/core/src/shared/lsp/utils/platform.ts
Due: none

fix(amazonq): improve typeahead experience (#7512)
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/amazonq/src/app/inline/sessionManager.ts
Due: codewhisperer

docs(amazonq): add changelog for pinned context
  packages/amazonq/.changes/next-release/Feature-3bbb9f7b-e344-4522-9e33-9d966214ef0c.json
Due: none

use tls instead
  packages/core/src/shared/lsp/utils/platform.ts
Due: none

Release 1.76.0
  package-lock.json
  packages/amazonq/.changes/1.76.0.json
  packages/amazonq/.changes/next-release/Bug Fix-665b0f02-d6fe-4cfc-ac52-564f35d12aa5.json
  packages/amazonq/.changes/next-release/Feature-35bcb9ac-0cc5-456f-8159-765a6deb3b47.json
  packages/amazonq/.changes/next-release/Feature-3bbb9f7b-e344-4522-9e33-9d966214ef0c.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
Due: none

Release 3.66.0
  package-lock.json
  packages/toolkit/.changes/3.66.0.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Due: none

hack to make this build
  packages/core/src/shared/lsp/utils/platform.ts
  packages/webpack.base.config.js
Due: none

ci: use use windows-latest
  .github/workflows/node.js.yml
Due: none

fix import
  packages/core/src/shared/lsp/utils/platform.ts
  packages/webpack.base.config.js
Due: none

Update version to snapshot version: 3.67.0-SNAPSHOT
  package-lock.json
  packages/toolkit/package.json
Due: none

Update version to snapshot version: 1.77.0-SNAPSHOT
  package-lock.json
  packages/amazonq/package.json
Due: none

Release 1.77.0
  package-lock.json
  packages/amazonq/.changes/1.77.0.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
Due: none

undo more unnecessary changes
  packages/amazonq/test/unit/codewhisperer/tracker/codewhispererTracker.test.ts
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/codewhisperer/client/codewhisperer.ts
  packages/core/src/codewhisperer/region/regionProfileManager.ts
  packages/core/src/codewhisperer/util/authUtil.ts
  packages/core/src/shared/clients/codewhispererChatClient.ts
Due: codewhisperer, amazonqFeatureDev

fix logout bug
  packages/core/src/auth/auth2.ts
  packages/core/src/codewhisperer/util/authUtil.ts
Due: codewhisperer

cleanup & unit tests
  packages/amazonq/src/app/inline/EditRendering/displayImage.ts
  packages/amazonq/src/app/inline/EditRendering/svgGenerator.ts
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/test/unit/app/inline/EditRendering/svgGenerator.test.ts
Due: codewhisperer

Update version to snapshot version: 1.78.0-SNAPSHOT
  package-lock.json
  packages/amazonq/package.json
Due: none

fix: chatOptions are missing in q chat
  packages/amazonq/src/lsp/chat/messages.ts
Due: codewhisperer

ci: use windows-latest image for github CI (#7508)
  .github/workflows/node.js.yml
Due: none

fix: using event-driven approach instead of arbitary values for fixing the icon missing issue
  packages/amazonq/src/lsp/chat/messages.ts
Due: codewhisperer

Update versions of cfn-policy-validator from 0.0.34 to 0.0.36 and tf-policy-validator from 0.0.8 to 0.0.9
  packages/core/src/awsService/accessanalyzer/vue/iamPolicyChecks.vue
  packages/toolkit/.changes/next-release/Feature-2fdc05d7-db85-4a4f-8af5-ec729fade8fd.json
Due: none

get system certs
  packages/core/src/shared/lsp/utils/platform.ts
Due: none

feat(stepfunctions): add provider file for new entry point and webview
  packages/core/src/stepFunctions/activation.ts
  packages/core/src/stepFunctions/executionDetails/executionDetailProvider.ts
Due: none

fix import
  packages/core/src/shared/lsp/utils/platform.ts
Due: none

docs(amazonq): Improved the local LSP setup documentation with more information
  docs/lsp.md
Due: none

Path conditions:
  codewhisperer: any of: packages/core/src/codewhisperer/, packages/core/src/amazonq*/*, packages/amazonq/src/, but not: node_modules/, plugins/, scripts/, src.gen/
  amazonqFeatureDev: any of: packages/core/src/amazonqFeatureDev/, but not: node_modules/, plugins/, scripts/, src.gen/
