Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

telemetry(codewhisperer): new fields #4165
  src/codewhisperer/client/codewhisperer.ts
  src/codewhisperer/client/user-service-2.json
  src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

fix(codecatalyst): no longer prompt builder ID sign in when opening dev env
  .changes/next-release/Bug Fix-9755489d-974e-41a5-9031-f4e0a50ab9e7.json
  src/codecatalyst/commands.ts
Due: none

fix(codecatalyst): no longer prompt builder ID sign in when opening dev env (#4166)
  .changes/next-release/Bug Fix-9755489d-974e-41a5-9031-f4e0a50ab9e7.json
  src/codecatalyst/commands.ts
Due: none

telemetry: ui_click when deleting connection from list
  src/auth/utils.ts
Due: none

Remove moment from getRelativeDate (#4162)
  src/shared/utilities/textUtilities.ts
  src/test/s3/explorer/s3FileNode.test.ts
  src/test/shared/utilities/textUtilities.test.ts
Due: none

feat(featureDev): add createUploadUrl and uploadCode api metrics
  src/amazonqFeatureDev/errors.ts
  src/amazonqFeatureDev/session/session.ts
  src/amazonqFeatureDev/session/sessionState.ts
  src/amazonqFeatureDev/util/files.ts
  src/amazonqFeatureDev/util/upload.ts
  src/test/amazonqFeatureDev/util/files.test.ts
Due: amazonqFeatureDev

update telemetry library
  package-lock.json
  package.json
Due: none

change metric name
  package-lock.json
  src/amazonqFeatureDev/session/sessionState.ts
  src/amazonqFeatureDev/util/files.ts
Due: amazonqFeatureDev

fix test
  src/amazonqFeatureDev/util/files.ts
  src/test/amazonqFeatureDev/util/files.test.ts
Due: amazonqFeatureDev

make upload code error statusCode unknown
  src/amazonqFeatureDev/util/upload.ts
Due: amazonqFeatureDev

gumby: improve error handling and add more tests (#4146)
  package.json
  src/amazonqGumby/entrypoint.ts
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/models/constants.ts
  src/codewhisperer/service/transformByQHandler.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
  src/test/amazonqGumby/entrypoint.test.ts
  src/test/codewhisperer/commands/transformByQ.test.ts
  src/testInteg/amazonqGumby/transformByQ.test.ts
  src/testInteg/util/amazonQUtil.ts
Due: codewhisperer

feat(amazonqFeatureDev): add new metrics to api operations (#4157)
  package-lock.json
  package.json
  src/amazonqFeatureDev/errors.ts
  src/amazonqFeatureDev/session/session.ts
  src/amazonqFeatureDev/session/sessionState.ts
  src/amazonqFeatureDev/util/files.ts
  src/amazonqFeatureDev/util/upload.ts
  src/test/amazonqFeatureDev/util/files.test.ts
Due: amazonqFeatureDev

codewhisperer: update scan polling frequency #4164
  .changes/next-release/Bug Fix-8dafab20-12b5-41a2-8786-889ec65cc70a.json
  src/codewhisperer/models/constants.ts
Due: codewhisperer

Feedback, convert Insights timestamp
  src/cloudWatchLogs/commands/viewLogStream.ts
  src/cloudWatchLogs/document/textContent.ts
  src/ecs/commands.ts
  src/iot/explorer/iotCertificateNode.ts
  src/iot/explorer/iotPolicyVersionNode.ts
  src/s3/explorer/s3FileNode.ts
  src/shared/constants.ts
  src/shared/logger/activation.ts
  src/shared/utilities/textUtilities.ts
  src/test/cloudWatchLogs/commands/viewLogStream.test.ts
  src/test/cloudWatchLogs/registry/logDataRegistry.test.ts
  src/test/iot/explorer/iotPolicyVersionNode.test.ts
  src/test/s3/explorer/s3FileNode.test.ts
Due: none

remove moment
  package-lock.json
  package.json
Due: none

Opening a SAM Template only triggers CFN registry if CodeLenses enabled (#4145)
  src/shared/codelens/samTemplateCodeLensProvider.ts
Due: none

Update src/shared/clients/codecatalystClient.ts
  src/shared/clients/codecatalystClient.ts
Due: none

feedback
  src/cloudWatchLogs/commands/viewLogStream.ts
  src/cloudWatchLogs/document/textContent.ts
  src/ecs/commands.ts
  src/iot/explorer/iotCertificateNode.ts
  src/iot/explorer/iotPolicyVersionNode.ts
  src/s3/explorer/s3FileNode.ts
  src/shared/utilities/textUtilities.ts
  src/test/cloudWatchLogs/commands/viewLogStream.test.ts
  src/test/cloudWatchLogs/registry/logDataRegistry.test.ts
  src/test/iot/explorer/iotPolicyVersionNode.test.ts
  src/test/s3/explorer/s3FileNode.test.ts
Due: none

CodeCatalystClient throws ToolkitError on call (#4140)
  src/shared/clients/codecatalystClient.ts
  src/shared/errors.ts
Due: none

unnecessary dispose
  src/extension.ts
Due: none

codewhisperer: increase poll frequency (#4057)
  .changes/next-release/bugfix-66a7da0a-f67d-4391-9b71-7dd71c002461.json
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererConstants.kt
Due: none

Remove moment dependency (#4163)
  package-lock.json
  package.json
  src/cloudWatchLogs/commands/viewLogStream.ts
  src/cloudWatchLogs/document/textContent.ts
  src/ecs/commands.ts
  src/iot/explorer/iotCertificateNode.ts
  src/iot/explorer/iotPolicyVersionNode.ts
  src/s3/explorer/s3FileNode.ts
  src/shared/constants.ts
  src/shared/logger/activation.ts
  src/shared/utilities/textUtilities.ts
  src/test/cloudWatchLogs/commands/viewLogStream.test.ts
  src/test/cloudWatchLogs/registry/logDataRegistry.test.ts
  src/test/iot/explorer/iotPolicyVersionNode.test.ts
  src/test/s3/explorer/s3FileNode.test.ts
Due: none

telemetry: ui_click when deleting connection from list (#4168)
  src/auth/utils.ts
Due: none

handle unknown language
  src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: none

pr feedback
  src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: none

feat(codewhisperer): add new field in sendTelemetryEvent (#4058)
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/credentials/CodeWhispererClientAdaptor.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/telemetry/ClientMetadata.kt
  sdk-codegen/codegen-resources/codewhispererruntime/service-2.json
Due: none

Don't show CodeWhisperer status widget in remote env (#4056)
  .changes/next-release/bugfix-bc2c5c25-2e62-43fa-a407-76486cfab45d.json
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/status/CodeWhispererStatusBarWidgetFactory.kt
Due: none

Updating version to 2.2
  .changes/2.2.json
  .changes/next-release/bugfix-1489ecef-fd38-459e-b33a-9d9c3017a816.json
  .changes/next-release/bugfix-32139a16-d00e-43e2-aab8-a356008abfd1.json
  .changes/next-release/bugfix-66a7da0a-f67d-4391-9b71-7dd71c002461.json
  .changes/next-release/bugfix-b72c9a8f-a3bd-4259-bc15-e36767cb294e.json
  .changes/next-release/bugfix-bc2c5c25-2e62-43fa-a407-76486cfab45d.json
  .changes/next-release/bugfix-e7224ad0-f4a7-4ef5-aba8-6130c235dab2.json
  .changes/next-release/feature-6a101625-f0e1-4ed9-939e-57e2f90cb253.json
  .changes/next-release/feature-6a3685d3-e758-4083-8c1c-2fe1779a2a8f.json
  .changes/next-release/feature-81157d0b-9a89-44f1-9fd3-467605f0c538.json
  .changes/next-release/removal-7b9cff71-9f8f-4669-9009-9e4e911b271e.json
  .changes/next-release/removal-ecd37ab2-89a3-4675-ad62-68cf1b57b043.json
  CHANGELOG.md
  gradle.properties
Due: none

fix: add result field to metric
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

telemetry: add result field to metric #4171
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

featureDev: Add tests for ensuring telemetry events are being sent
  src/amazonqFeatureDev/client/featureDev.ts
  src/amazonqFeatureDev/controllers/chat/controller.ts
  src/amazonqFeatureDev/session/session.ts
  src/shared/telemetry/exemptMetrics.ts
  src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
  src/test/amazonqFeatureDev/session/session.test.ts
  src/test/amazonqFeatureDev/session/sessionState.test.ts
  src/test/amazonqFeatureDev/utils.ts
Due: amazonqFeatureDev

Add timed refresh to Cloud9 CodeWhisperer view after load (#4155)
  src/extension.ts
Due: none

fix aws c9 chain suggestion bug
  .changes/next-release/Bug Fix-18261950-9a6c-4fdf-b618-5c45ffaa3e82.json
  src/codewhisperer/service/keyStrokeHandler.ts
Due: codewhisperer

telemetry(featureDev): missing "result" field, tests #4167
  src/amazonqFeatureDev/client/featureDev.ts
  src/amazonqFeatureDev/controllers/chat/controller.ts
  src/amazonqFeatureDev/session/session.ts
  src/shared/telemetry/exemptMetrics.ts
  src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
  src/test/amazonqFeatureDev/session/session.test.ts
  src/test/amazonqFeatureDev/session/sessionState.test.ts
  src/test/amazonqFeatureDev/utils.ts
Due: amazonqFeatureDev

fix(codecatalyst): default to builder ID sign in if URI contains no IdC params
  src/codecatalyst/uriHandlers.ts
  src/test/codecatalyst/uriHandlers.test.ts
Due: none

changelog
  .changes/next-release/Feature-2ff8de35-44b3-4bc1-b89f-0c5a6ee7e960.json
  package.nls.json
Due: none

telemetry: add reason field to metric emission
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

fix(codecatalyst): default to builder ID sign in if URI contains no IdC params (#4174)
  src/codecatalyst/uriHandlers.ts
  src/test/codecatalyst/uriHandlers.test.ts
Due: none

CW: Support IaaC languages with file extension instead of editor language for code generation
  src/codewhisperer/commands/onAcceptance.ts
  src/codewhisperer/commands/onInlineAcceptance.ts
  src/codewhisperer/commands/startSecurityScan.ts
  src/codewhisperer/service/completionProvider.ts
  src/codewhisperer/service/inlineCompletionItemProvider.ts
  src/codewhisperer/service/recommendationHandler.ts
  src/codewhisperer/util/editorContext.ts
  src/codewhisperer/util/runtimeLanguageContext.ts
  src/codewhisperer/util/telemetryHelper.ts
Due: codewhisperer

telemetry: add code transform data byte size and result field to metrics
  .changes/next-release/Feature-20c6488b-1750-4ca6-9eb3-b509f49f194b.json
  src/amazonqGumby/telemetry/codeTransformTelemetry.ts
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/service/transformByQHandler.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
Due: codewhisperer

Path conditions:
  codewhisperer: any of: src/codewhisperer/
  amazonqFeatureDev: any of: src/amazonqFeatureDev/
