Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

refactor: customerUserAgent -> userAgent
  packages/core/src/shared/awsClientBuilderV3.ts
  packages/core/src/test/shared/awsClientBuilderV3.test.ts
Due: none

refactor: remove blank line
  packages/core/src/shared/awsClientBuilderV3.ts
Due: none

refactor: use partialClone over omitIfPresent
  packages/core/src/shared/awsClientBuilderV3.ts
Due: none

refactor: add depth field to partialClone
  packages/core/src/shared/awsClientBuilderV3.ts
Due: none

refactor: rename test file
  packages/core/src/test/shared/awsClientBuilder.test.ts
Due: none

refactor: clean up tests
  packages/core/src/test/shared/awsClientBuilderV3.test.ts
Due: none

deps(sdkv3): start migration to v3 with new client builder (#6097)
  package-lock.json
  packages/core/package.json
  packages/core/src/shared/awsClientBuilderV3.ts
  packages/core/src/shared/utilities/tsUtils.ts
  packages/core/src/test/shared/awsClientBuilder.test.ts
  packages/core/src/test/shared/awsClientBuilderV3.test.ts
Due: none

use curl and modified echo logs
  buildspec/release/70checkmarketplace.yml
Due: none

Update packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/controller.ts
Due: none

test: add tests using credentials shim
  packages/core/src/test/shared/awsClientBuilderV3.test.ts
Due: none

ci: rename "jscpd" job to "lint-duplicate-code"
  .github/workflows/node.js.yml
Due: none

ci: rename "jscpd" job to "lint-duplicate-code" #6443
  .github/workflows/node.js.yml
Due: none

str
  packages/core/package.nls.json
  packages/core/src/shared/featureConfig.ts
Due: none

feat(release): check for marketplace update (#6426)
  buildspec/release/70checkmarketplace.yml
Due: none

fix(amazonq): allow including binary files when execution is enabled #6430
  packages/amazonq/test/unit/amazonqFeatureDev/util/files.test.ts
  packages/core/src/amazonqFeatureDev/util/files.ts
  packages/core/src/shared/filetypes.ts
  packages/core/src/shared/utilities/workspaceUtils.ts
  packages/core/src/test/shared/filetypes.test.ts
Due: amazonqFeatureDev

types: slightly improve types
  packages/core/src/shared/awsClientBuilderV3.ts
  packages/core/src/shared/clients/wrapper.ts
Due: none

refactor: small cleanup
  packages/core/src/shared/clients/ssm.ts
Due: none

deps(amazonq): upgrade adm-zip to 0.5.16
  package-lock.json
  packages/core/package.json
Due: none

config(chat): try opt in implicit `@workspace` context once for treatment group #6217
  packages/core/package.nls.json
  packages/core/src/shared/featureConfig.ts
Due: none

use openTextDocument helper
  packages/amazonq/test/e2e/amazonq/testGen.test.ts
  packages/core/src/shared/index.ts
Due: none

feat(lsp): older and delisted versions of lsp are automatically removed (#6409)
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/lsp/utils/cleanup.ts
  packages/core/src/shared/utilities/tsUtils.ts
  packages/core/src/test/shared/lsp/utils/cleanup.test.ts
  packages/core/src/test/shared/utilities/tsUtils.test.ts
Due: codewhisperer

fix(amazonq): Seperate inline completion from regular codewhisperer activation
  packages/amazonq/src/extension.ts
  packages/amazonq/src/extensionNode.ts
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/codewhisperer/index.ts
Due: codewhisperer

telemetry(amazonq): code fix events #6420
  package-lock.json
  package.json
  packages/amazonq/test/unit/codewhisperer/service/securityScanHandler.test.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
Due: codewhisperer

fix: add changelog
  packages/amazonq/.changes/next-release/Bug Fix-0fdf9d44-2d93-47a9-8b9f-6c633fa51e0f.json
Due: none

refactor: rename wrappers to clients
  packages/core/src/awsService/ec2/model.ts
  packages/core/src/awsService/ec2/remoteSessionManager.ts
  packages/core/src/shared/clients/clientWrapper.ts
  packages/core/src/shared/clients/ssm.ts
  packages/core/src/test/awsService/ec2/model.test.ts
  packages/core/src/test/awsService/ec2/remoteSessionManager.test.ts
Due: none

fixed: for security reasons, disabled auto linkify for link texts coming in markdown other than [TEXT](URL) format
  package-lock.json
  packages/amazonq/.changes/next-release/Bug Fix-8212e8e4-f65f-4594-a04f-76d47c61b41e.json
  packages/core/package.json
Due: none

refactor: improving typing constraints
  packages/core/src/shared/clients/clientWrapper.ts
Due: none

refactor: use datetime constants
  packages/core/src/test/shared/awsClientBuilderV3.test.ts
Due: none

refactor(amazonq): Move codewhisperer activation from core to amazonq
  packages/amazonq/src/extension.ts
  packages/amazonq/src/inline/activation.ts
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/codewhisperer/index.ts
Due: codewhisperer

deps: bump telemetry version and remove local changes
  package-lock.json
  package.json
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: none

refactor: cleanup minor details
  packages/core/src/shared/utilities/tsUtils.ts
  packages/core/src/test/techdebt.test.ts
Due: none

test(sdkv3): add tests for expiring credentials (#6442)
  packages/core/src/test/shared/awsClientBuilderV3.test.ts
Due: none

fix(amazonq): Register invokeInlineCompletion and rejectCodeSuggestion with lsp implementation
  packages/amazonq/src/lsp/activation.ts
  packages/core/src/codewhisperer/service/recommendationHandler.ts
Due: codewhisperer

refactor(stepfunctions): move common test code to beforeEach
  packages/core/src/test/stepFunctions/workflowStudio/workflowStudioApiHandler.test.ts
Due: none

chore(amazonq): Update /dev auto build setting strings
  packages/amazonq/package.json
  packages/amazonq/test/unit/amazonqFeatureDev/util/files.test.ts
  packages/core/package.nls.json
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/util/files.ts
  packages/core/src/codewhisperer/util/codewhispererSettings.ts
  packages/core/src/shared/settings-amazonq.gen.ts
Due: codewhisperer, amazonqFeatureDev

fix: Lint fixes
  packages/core/src/shared/clients/s3Client.ts
Due: none

fix: use stub to avoid race condition
  packages/core/src/shared/fs/fs.ts
  packages/core/src/test/shared/fs/fs.test.ts
Due: none

Allow AB users with an overridden customization to go back to the default customization
  packages/amazonq/.changes/next-release/Bug Fix-1d7e776d-333a-4f39-a8e6-29ea2ecb19c9.json
  packages/core/src/codewhisperer/util/customizationUtil.ts
  packages/core/src/test/amazonq/customizationUtil.test.ts
Due: codewhisperer

test: add back expected telemetry metadata
  packages/core/src/test/shared/fs/fs.test.ts
Due: none

telemetry: remove default emit
  packages/core/src/shared/fs/fs.ts
Due: none
