Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

test update
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
Due: none

run maven JAR
  packages/amazonq/.changes/next-release/Feature-d46a67ff-b237-46cc-b6e7-8de8f2e87f45.json
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
  packages/core/resources/amazonqTransform/QCT-Maven.jar
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/errors.ts
  packages/core/src/codewhisperer/client/codewhisperer.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformFileHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformMavenHandler.ts
  packages/core/src/dev/config.ts
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
  packages/core/src/testInteg/perf/zipcode.test.ts
Due: codewhisperer

Implement _getIamCredential and its callers
  packages/core/src/auth/auth2.ts
  packages/core/src/codewhisperer/util/authUtil.ts
Due: codewhisperer

Update version to snapshot version: 3.66.0-SNAPSHOT
  package-lock.json
  packages/toolkit/package.json
Due: none

Release 1.75.0
  package-lock.json
  packages/amazonq/.changes/1.75.0.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
Due: none

Update version to snapshot version: 1.76.0-SNAPSHOT
  package-lock.json
  packages/amazonq/package.json
Due: none

small yaml format change
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
Due: none

feat: enable model selection from serverCapabilities
  packages/amazonq/src/lsp/chat/activation.ts
  packages/amazonq/src/lsp/chat/webviewProvider.ts
Due: codewhisperer

fix(amazonq): only show lines of code
  packages/amazonq/.changes/next-release/Bug Fix-665b0f02-d6fe-4cfc-ac52-564f35d12aa5.json
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
Due: codewhisperer

remove changelog
  packages/amazonq/.changes/next-release/Bug Fix-665b0f02-d6fe-4cfc-ac52-564f35d12aa5.json
Due: none

add back changelog
  packages/amazonq/.changes/next-release/Bug Fix-665b0f02-d6fe-4cfc-ac52-564f35d12aa5.json
Due: none

add test
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
Due: none

update test
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
Due: none

Display diff animation progressively
  packages/amazonq/src/lsp/chat/diffAnimation/diffAnimationController.ts
  packages/amazonq/src/lsp/chat/diffAnimation/diffAnimationHandler.ts
  packages/amazonq/src/lsp/chat/messages.ts
Due: codewhisperer

refactor the diffAnimation codes and write unit tests
  packages/amazonq/src/lsp/chat/diffAnimation/README.md
  packages/amazonq/src/lsp/chat/diffAnimation/animationQueueManager.ts
  packages/amazonq/src/lsp/chat/diffAnimation/chatProcessor.ts
  packages/amazonq/src/lsp/chat/diffAnimation/diffAnalyzer.ts
  packages/amazonq/src/lsp/chat/diffAnimation/diffAnimationController.ts
  packages/amazonq/src/lsp/chat/diffAnimation/diffAnimationHandler.ts
  packages/amazonq/src/lsp/chat/diffAnimation/fileSystemManager.ts
  packages/amazonq/src/lsp/chat/diffAnimation/types.ts
  packages/amazonq/src/lsp/chat/diffAnimation/vscodeIntegration.ts
  packages/amazonq/src/lsp/chat/diffAnimation/webviewManager.ts
  packages/amazonq/src/lsp/chat/messages.ts
  packages/amazonq/test/unit/lsp/chat/diffAnimation/diffAnimationController.test.ts
  packages/amazonq/test/unit/lsp/chat/diffAnimation/diffAnimationHandler.test.ts
Due: codewhisperer

FIx duplication error
  packages/amazonq/test/unit/lsp/chat/diffAnimation/diffAnimationController.test.ts
  packages/amazonq/test/unit/lsp/chat/diffAnimation/diffAnimationHandler.test.ts
Due: none

Fix final duplicate in controller test - use helper function
  packages/amazonq/test/unit/lsp/chat/diffAnimation/diffAnimationController.test.ts
Due: none

Eliminate final duplicate with setupAnimationAndStop helper
  packages/amazonq/test/unit/lsp/chat/diffAnimation/diffAnimationController.test.ts
Due: none

fix duplicate issues
  packages/amazonq/test/unit/lsp/chat/diffAnimation/diffAnimationController.test.ts
Due: none

Final duplicate elimination - refactor isAnimating test with helper
  packages/amazonq/test/unit/lsp/chat/diffAnimation/diffAnimationController.test.ts
Due: none

feat(amazonq): support pinned context
  packages/amazonq/src/lsp/chat/activation.ts
  packages/amazonq/src/lsp/chat/messages.ts
  packages/amazonq/src/lsp/client.ts
  packages/core/src/amazonq/webview/ui/quickActions/handler.ts
  packages/core/src/shared/index.ts
Due: codewhisperer

Eliminate final duplicate - use setupAnimationAndCheckStaticDiff helper
  packages/amazonq/test/unit/lsp/chat/diffAnimation/diffAnimationController.test.ts
Due: none

fix an mock error in test
  packages/amazonq/test/unit/lsp/chat/diffAnimation/diffAnimationController.test.ts
Due: none

fix a test duplication error
  packages/amazonq/test/unit/lsp/chat/diffAnimation/diffAnimationController.test.ts
Due: none

fix a duplication error
  packages/amazonq/test/unit/lsp/chat/diffAnimation/diffAnimationController.test.ts
Due: none

remove duplicate tests
  packages/amazonq/test/unit/lsp/chat/diffAnimation/diffAnimationController.test.ts
Due: none

remove a duplicate test
  packages/amazonq/test/unit/lsp/chat/diffAnimation/diffAnimationController.test.ts
Due: none

fix(amazonq): only show lines of code (#7489)
  packages/amazonq/.changes/next-release/Bug Fix-665b0f02-d6fe-4cfc-ac52-564f35d12aa5.json
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
Due: codewhisperer

fix a test logic error
  packages/amazonq/test/unit/lsp/chat/diffAnimation/diffAnimationController.test.ts
Due: none

fix: bring back config
  packages/toolkit/package.json
Due: none

default false
  packages/toolkit/package.json
Due: none

fix(amazonq): bring back experimental config (#7495)
  packages/toolkit/package.json
Due: none

deps: upgrade language-server-runtimes, mynah-ui
  package-lock.json
  packages/amazonq/src/lsp/chat/messages.ts
  packages/core/package.json
  packages/core/src/amazonq/webview/ui/quickActions/handler.ts
Due: codewhisperer

fix(amazonq): delete iam profile when logout
  aws-toolkit-vscode.code-workspace
  packages/core/src/auth/auth2.ts
Due: none

start modifying auth2 consumers
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/auth/auth2.ts
  packages/core/src/codewhisperer/client/codewhisperer.ts
  packages/core/src/codewhisperer/region/regionProfileManager.ts
  packages/core/src/codewhisperer/util/authUtil.ts
  packages/core/src/shared/clients/codewhispererChatClient.ts
Due: codewhisperer, amazonqFeatureDev

Remove unnecessary workspace file from decorations folder
  packages/amazonq/src/inlineChat/decorations/aws-toolkit-vscode.code-workspace
Due: codewhisperer

Revert workspace file to original state without language-servers path
  aws-toolkit-vscode.code-workspace
Due: none

add change log
  packages/amazonq/.changes/next-release/Feature-35bcb9ac-0cc5-456f-8159-765a6deb3b47.json
Due: none
