Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

telemetry(lambda): nit to use sessionDuration correctly for debug duration (#7728)
  packages/core/src/lambda/remoteDebugging/ldkController.ts
Due: none

adding some spaces to make auth more readable
  packages/amazonq/test/e2e_new/amazonq/utils/authUtils.ts
Due: none

feat(amazonq): enable show logs feature
  packages/amazonq/src/lsp/chat/messages.ts
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

Revert "fix(amazonq): match rotating logger level"
  packages/amazonq/src/lsp/rotatingLogChannel.ts
  packages/amazonq/src/test/rotatingLogChannel.test.ts
Due: codewhisperer

Revert "feat(amazonq): added logs of toolkit to the same disk place too"
  packages/amazonq/src/extension.ts
  packages/amazonq/src/lsp/rotatingLogChannel.ts
Due: codewhisperer

Revert "feature(amazonq): start rotating logging to disk with cleanup"
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/src/lsp/rotatingLogChannel.ts
  packages/amazonq/src/test/rotatingLogChannel.test.ts
Due: codewhisperer

feat(smus): Enhance project switching functionality
  packages/core/package.nls.json
  packages/core/src/sagemakerunifiedstudio/explorer/activation.ts
  packages/core/src/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioProjectNode.ts
  packages/core/src/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioRootNode.ts
  packages/core/src/sagemakerunifiedstudio/shared/client/datazoneClient.ts
  packages/core/src/test/sagemakerunifiedstudio/explorer/activation.test.ts
  packages/core/src/test/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioProjectNode.test.ts
  packages/core/src/test/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioRootNode.test.ts
  packages/core/src/test/sagemakerunifiedstudio/shared/client/datazoneClient.test.ts
  packages/toolkit/package.json
Due: none

feat(smus): Add basic SMUS login UI to SMUS explorer (#2168)
  packages/core/src/sagemakerunifiedstudio/explorer/activation.ts
  packages/core/src/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioAuthInfoNode.ts
  packages/core/src/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioRegionNode.ts
  packages/core/src/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioRootNode.ts
  packages/core/src/sagemakerunifiedstudio/shared/client/datazoneClient.ts
  packages/core/src/test/sagemakerunifiedstudio/explorer/activation.test.ts
  packages/core/src/test/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioAuthInfoNode.test.ts
  packages/core/src/test/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioRegionNode.test.ts
  packages/core/src/test/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioRootNode.test.ts
Due: none

refactor
  packages/amazonq/src/lsp/chat/messages.ts
Due: codewhisperer

feat(amazonq): enable show logs (#7733)
  packages/amazonq/src/extension.ts
  packages/amazonq/src/lsp/chat/messages.ts
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/src/lsp/rotatingLogChannel.ts
  packages/amazonq/src/test/rotatingLogChannel.test.ts
Due: codewhisperer

feat(stepfunctions): Supporting Express Executions in Execution Details (#7664)
  packages/core/package.nls.json
  packages/core/src/shared/clients/lambdaClient.ts
  packages/core/src/stepFunctions/activation.ts
  packages/core/src/stepFunctions/commands/viewExecutionDetails.ts
  packages/core/src/stepFunctions/executionDetails/executionDetailProvider.ts
  packages/core/src/stepFunctions/executionDetails/handleMessage.ts
  packages/core/src/stepFunctions/messageHandlers/stepFunctionApiHandler.ts
  packages/core/src/stepFunctions/messageHandlers/types.ts
  packages/core/src/stepFunctions/utils.ts
  packages/core/src/stepFunctions/wizards/viewExecutionDetailsWizard.ts
  packages/core/src/test/stepFunctions/apiHandler/stepFunctionApiHandler.test.ts
Due: none

fix(amazonq): put agentic review redirect behind feature flag
  packages/amazonq/src/app/amazonqScan/app.ts
  packages/amazonq/src/app/amazonqScan/models/constants.ts
  packages/amazonq/src/lsp/chat/commands.ts
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

fix(amazonq): enable codeReviewInChat flag for VSCode
  packages/amazonq/src/app/amazonqScan/models/constants.ts
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

fix race condition when accepting inline completion
  packages/amazonq/src/app/inline/completion.ts
Due: codewhisperer

feat(amazonq): UI Tests Baseline Framework Complete Set Up (#7727)
  packages/amazonq/test/e2e/amazonq/VET.test.ts
  packages/amazonq/test/e2e_new/amazonq/helpers/pinContextHelper.ts
  packages/amazonq/test/e2e_new/amazonq/helpers/quickActionsHelper.ts
  packages/amazonq/test/e2e_new/amazonq/helpers/switchModelHelper.ts
  packages/amazonq/test/e2e_new/amazonq/tests/chat.test.ts
  packages/amazonq/test/e2e_new/amazonq/tests/pinContext.test.ts
  packages/amazonq/test/e2e_new/amazonq/tests/quickActions.test.ts
  packages/amazonq/test/e2e_new/amazonq/tests/switchModel.test.ts
  packages/amazonq/test/e2e_new/amazonq/utils/authUtils.ts
  packages/amazonq/test/e2e_new/amazonq/utils/cleanupUtils.ts
  packages/amazonq/test/e2e_new/amazonq/utils/generalUtils.ts
  packages/amazonq/test/e2e_new/amazonq/utils/setup.ts
  packages/amazonq/test/e2e_new/amazonq/utils/testContext.ts
Due: none

fix race condition
  packages/amazonq/src/app/inline/completion.ts
Due: codewhisperer

refactor(amazonq): Removing unwanted / agents code
  packages/core/src/amazonq/indexNode.ts
  packages/core/src/amazonq/webview/ui/apps/amazonqCommonsConnector.ts
  packages/core/src/amazonq/webview/ui/apps/docChatConnector.ts
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  packages/core/src/amazonq/webview/ui/apps/testChatConnector.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonq/webview/ui/connectorAdapter.ts
  packages/core/src/amazonq/webview/ui/followUps/generator.ts
  packages/core/src/amazonq/webview/ui/followUps/handler.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/messages/controller.ts
  packages/core/src/amazonq/webview/ui/quickActions/generator.ts
  packages/core/src/amazonq/webview/ui/quickActions/handler.ts
  packages/core/src/amazonq/webview/ui/storages/tabsStorage.ts
  packages/core/src/amazonq/webview/ui/tabs/constants.ts
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
  packages/core/src/amazonqDoc/app.ts
  packages/core/src/amazonqFeatureDev/app.ts
  packages/core/src/amazonqTest/app.ts
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqTest/chat/controller/messenger/messengerUtils.ts
  packages/core/src/amazonqTest/chat/session/session.ts
  packages/core/src/amazonqTest/chat/storages/chatSession.ts
  packages/core/src/amazonqTest/chat/views/actions/uiMessageListener.ts
  packages/core/src/amazonqTest/chat/views/connector/connector.ts
  packages/core/src/amazonqTest/error.ts
  packages/core/src/amazonqTest/index.ts
  packages/core/src/amazonqTest/models/constants.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
  packages/core/src/codewhisperer/util/zipUtil.ts
  packages/core/src/shared/db/chatDb/util.ts
  packages/core/src/shared/filesystemUtilities.ts
  packages/core/src/test/codewhisperer/zipUtil.test.ts
Due: codewhisperer, amazonqFeatureDev

removing unwanted test files
  packages/amazonq/src/app/chat/node/activateAgents.ts
  packages/amazonq/test/e2e/amazonq/doc.test.ts
  packages/amazonq/test/e2e/amazonq/featureDev.test.ts
  packages/amazonq/test/e2e/amazonq/testGen.test.ts
Due: codewhisperer

Add RedHat Dev Workspaces
  packages/core/src/shared/vscode/env.ts
Due: none

fix(amazonq): fix Inline completion acceptance and reject telemetry race condition (#7734)
  packages/amazonq/src/app/inline/completion.ts
Due: codewhisperer

feat(amazonq): emit metrics for explainIssue and applyFix
  packages/amazonq/src/lsp/chat/commands.ts
Due: codewhisperer

other(amazonq): remove unnecessary notes file
  P261194666.md
Due: none

feat(amazonq): add keyboard shortcut for stop/reject/run commands (#7703)
  packages/amazonq/package.json
  packages/amazonq/src/lsp/chat/commands.ts
  packages/amazonq/src/lsp/chat/messages.ts
  packages/amazonq/src/lsp/chat/webviewProvider.ts
  packages/amazonq/src/lsp/client.ts
  packages/core/src/shared/vscode/setContext.ts
Due: codewhisperer

Revert "other(amazonq): remove unnecessary notes file"
  P261194666.md
Due: none

emit telemetry for auth_iamOptionClick
  aws-toolkit-vscode.code-workspace
  packages/core/src/login/webview/vue/backend.ts
  packages/core/src/login/webview/vue/login.vue
Due: none

updated npm scripts in order to work correctly with our packaging and properly placing resources in new directory
  package.json
Due: none

fix eslint problems
  packages/amazonq/src/extensionNode.ts
  packages/core/src/codewhisperer/util/authUtil.ts
  packages/core/src/login/webview/vue/amazonq/backend_amazonq.ts
  packages/core/src/login/webview/vue/backend.ts
Due: codewhisperer

fix emitIamClick according to new auth_signInOptionClcik
  packages/core/src/login/webview/vue/backend.ts
Due: none

updated npm scripts
  package.json
Due: none

revert(amazonq): remove unnecessary notes file (#7737)
  P261194666.md
Due: none

adding call to execution detail provider
  packages/core/src/stepFunctions/vue/executeStateMachine/executeStateMachine.ts
Due: none

fix(amazonq): update shortcut name to reuse for MCP tools
  aws-toolkit-vscode.code-workspace
  packages/amazonq/.vscode/launch.json
  packages/amazonq/package.json
Due: none

fix: revert dev config
  aws-toolkit-vscode.code-workspace
  packages/amazonq/.vscode/launch.json
Due: none

add credentialType to iam telemetry metadata and fix emitIamClick
  packages/core/src/login/webview/vue/amazonq/backend_amazonq.ts
  packages/core/src/login/webview/vue/backend.ts
Due: none

feat(sagemakerunifiedstudio): Add view notebook jobs page (#2171)
  packages/core/src/sagemakerunifiedstudio/notebookScheduling/activation.ts
  packages/core/src/sagemakerunifiedstudio/notebookScheduling/backend/notebookJobWebview.ts
  packages/core/src/sagemakerunifiedstudio/notebookScheduling/utils/constants.ts
  packages/core/src/sagemakerunifiedstudio/notebookScheduling/vue/app.vue
  packages/core/src/sagemakerunifiedstudio/notebookScheduling/vue/components/cronSchedule.vue
  packages/core/src/sagemakerunifiedstudio/notebookScheduling/vue/components/jobsDefinitions.vue
  packages/core/src/sagemakerunifiedstudio/notebookScheduling/vue/components/jobsList.vue
  packages/core/src/sagemakerunifiedstudio/notebookScheduling/vue/components/keyValueParameter.vue
  packages/core/src/sagemakerunifiedstudio/notebookScheduling/vue/components/scheduleParameters.vue
  packages/core/src/sagemakerunifiedstudio/notebookScheduling/vue/composables/useClient.ts
  packages/core/src/sagemakerunifiedstudio/notebookScheduling/vue/composables/useJobs.ts
  packages/core/src/sagemakerunifiedstudio/notebookScheduling/vue/createSchedule/app.vue
  packages/core/src/sagemakerunifiedstudio/notebookScheduling/vue/createSchedule/backend.ts
  packages/core/src/sagemakerunifiedstudio/notebookScheduling/vue/index.ts
  packages/core/src/sagemakerunifiedstudio/notebookScheduling/vue/views/createJobPage.vue
  packages/core/src/sagemakerunifiedstudio/notebookScheduling/vue/views/viewJobsPage.vue
  packages/core/src/sagemakerunifiedstudio/shared/ux/icons/downloadIcon.vue
  packages/core/src/sagemakerunifiedstudio/shared/ux/styles.css
  packages/core/src/sagemakerunifiedstudio/shared/ux/tkBox.vue
  packages/core/src/sagemakerunifiedstudio/shared/ux/tkCheckboxField.vue
  packages/core/src/sagemakerunifiedstudio/shared/ux/tkExpandableSection.vue
  packages/core/src/sagemakerunifiedstudio/shared/ux/tkFixedLayout.vue
  packages/core/src/sagemakerunifiedstudio/shared/ux/tkHighlightContainer.vue
  packages/core/src/sagemakerunifiedstudio/shared/ux/tkIconButton.vue
  packages/core/src/sagemakerunifiedstudio/shared/ux/tkInputField.vue
  packages/core/src/sagemakerunifiedstudio/shared/ux/tkLabel.vue
  packages/core/src/sagemakerunifiedstudio/shared/ux/tkRadioField.vue
  packages/core/src/sagemakerunifiedstudio/shared/ux/tkSelectField.vue
  packages/core/src/sagemakerunifiedstudio/shared/ux/tkSpaceBetween.vue
  packages/core/src/sagemakerunifiedstudio/shared/ux/tkTabs.vue
  packages/toolkit/package.json
Due: none

fix(amazonq): point to the log file inside the folder
  packages/amazonq/src/lsp/chat/messages.ts
Due: codewhisperer

closing execute webview after calling provider
  packages/core/src/stepFunctions/vue/executeStateMachine/executeStateMachine.ts
Due: none

Added change log
  packages/toolkit/.changes/next-release/Feature-eb3fdb2e-b75b-4789-8b2f-e18130aa1ccf.json
Due: none
