Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            default:
                target: 70%
                threshold: 5%
                informational: true
            codewhisperer:
                paths:
                    - packages/core/src/codewhisperer/*
                flags:
                    - 'codewhisperer'
            amazonqFeatureDev:
                paths:
                    - packages/core/src/amazonqFeatureDev/*
                flags:
                    - 'amazonqFeatureDev'
            amazonqGumby:
                paths:
                    - packages/core/src/amazonqGumby/*
            codewhispererChat:
                paths:
                    - packages/core/src/codewhispererChat/*
            applicationcomposer:
                paths:
                    - packages/core/src/applicationcomposer/*
            stepFunctions:
                target: 50%
                threshold: 10%
                paths:
                    - packages/core/src/stepFunctions/*
            threatComposer:
                paths:
                    - packages/core/src/threatComposer/*
        patch: false
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - packages/core/src/codewhisperer/
    amazonqFeatureDev:
        paths:
            - packages/core/src/amazonqFeatureDev/

test(ec2): ensure that private key is not written to telemetry (#5779)
  packages/core/src/awsService/ec2/sshKeyPair.ts
  packages/core/src/shared/telemetry/telemetryLogger.ts
  packages/core/src/test/awsService/ec2/model.test.ts
  packages/core/src/test/awsService/ec2/sshKeyPair.test.ts
  packages/core/src/test/testUtil.ts
Due: none

feat(ec2): provide link for customer to view system logs (#5633)
  packages/core/package.nls.json
  packages/core/src/awsService/cloudWatchLogs/changeLogSearch.ts
  packages/core/src/awsService/cloudWatchLogs/cloudWatchLogsUtils.ts
  packages/core/src/awsService/cloudWatchLogs/commands/copyLogResource.ts
  packages/core/src/awsService/cloudWatchLogs/commands/saveCurrentLogDataContent.ts
  packages/core/src/awsService/cloudWatchLogs/commands/searchLogGroup.ts
  packages/core/src/awsService/cloudWatchLogs/commands/viewLogStream.ts
  packages/core/src/awsService/cloudWatchLogs/document/logDataDocumentProvider.ts
  packages/core/src/awsService/cloudWatchLogs/document/logStreamsCodeLensProvider.ts
  packages/core/src/awsService/cloudWatchLogs/registry/logDataRegistry.ts
  packages/core/src/awsService/ec2/activation.ts
  packages/core/src/awsService/ec2/commands.ts
  packages/core/src/awsService/ec2/ec2LogDocumentProvider.ts
  packages/core/src/lambda/vue/remoteInvoke/invokeLambda.ts
  packages/core/src/shared/clients/ec2Client.ts
  packages/core/src/shared/constants.ts
  packages/core/src/shared/utilities/textDocumentUtilities.ts
  packages/core/src/shared/utilities/textUtilities.ts
  packages/core/src/shared/utilities/uriUtils.ts
  packages/core/src/test/awsService/cloudWatchLogs/commands/copyLogResource.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/commands/saveCurrentLogDataContent.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/document/logDataDocumentProvider.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/document/logStreamsCodeLensProvider.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/registry/logDataRegistry.test.ts
  packages/core/src/test/awsService/cloudWatchLogs/utils.test.ts
  packages/core/src/test/awsService/ec2/ec2LogDocumentProvider.test.ts
  packages/core/src/test/setupUtil.ts
  packages/toolkit/.changes/next-release/Feature-754ec8b7-71ed-4be0-8f07-5eedd1e0fa12.json
Due: none

feat(time): Add Interval class (#5792)
  packages/core/src/shared/utilities/timeoutUtils.ts
  packages/core/src/test/shared/utilities/timeoutUtils.test.ts
Due: none

Release 3.29.0
  package-lock.json
  packages/toolkit/.changes/3.29.0.json
  packages/toolkit/.changes/next-release/Bug Fix-a0acdaa1-7356-4f58-bc9b-fb7b708fe831.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Due: none

deps: drop fs-extra #5803
  package-lock.json
  packages/core/package.json
Due: none

deps: more-precise version of `@types/node` #5801
  package-lock.json
  package.json
  packages/core/src/test/techdebt.test.ts
Due: none

ci: don't output code coverage table in logs (#5813)
  packages/toolkit/.c8rc.json
Due: none

fix(test): flaky test (#5809)
  packages/core/src/test/shared/crashMonitoring.test.ts
Due: none

feat(amazonqFeatureDev): include stop generation based on token cancellation
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/amazonqFeatureDev/types.ts
Due: amazonqFeatureDev

refactor(amazonqFeatureDev): include updated rts model
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

fix(amazonqFeatureDev): include currentCodeGenerationId to track reference for stop code generation
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

refactor(amazonqFeatureDev): add logic for codeGenerationId
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
Due: amazonqFeatureDev

fix(amazonqFeatureDev): create a new token to stop and iterate in the same session
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

fix(dev): apply fixes based on new eslint rules
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

fix(amazonqFeatureDev): use shared context from action to check cancellation
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

fix(amazonqFeatureDev): require isCancellation to localize in the instance and abort the individual call
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

fix(amazonqFeatureDev): don't share state to prepare code since code cancellation should be in gen
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

fix(dev): merge conflicts and missing commas
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
Due: amazonqFeatureDev

ci: fix windows tests
  packages/toolkit/.c8rc.json
Due: none

fix(dev): fix merge conflicts
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
Due: amazonqFeatureDev

test(lambda): avoid mocks in sam/utils tests
  packages/core/src/shared/sam/utils.ts
  packages/core/src/test/shared/sam/utils.test.ts
Due: none

skip path test on windows, avoid generate assertion on windows
  packages/core/src/awsService/ec2/sshKeyPair.ts
  packages/core/src/test/shared/utilities/testUtils.test.ts
Due: none

add debugging statement for ci
  packages/core/scripts/test/launchTestUtilities.ts
Due: none

clear dir inbetween each test
  packages/core/src/test/globalSetup.test.ts
Due: none

Update packages/core/src/test/shared/utilities/pathFind.test.ts
  packages/core/src/test/shared/utilities/pathFind.test.ts
Due: none

Update packages/core/src/test/shared/utilities/testUtils.test.ts
  packages/core/src/test/shared/utilities/testUtils.test.ts
Due: none

Update packages/core/scripts/test/launchTestUtilities.ts
  packages/core/scripts/test/launchTestUtilities.ts
Due: none

fix env ref
  packages/core/src/test/shared/utilities/pathFind.test.ts
Due: none

remove delete inbetween tests
  packages/core/src/test/globalSetup.test.ts
Due: none

test(lambda): fix unit test
  packages/core/src/test/awsService/appBuilder/samProject.test.ts
Due: none

add shell true to avoid error
  packages/core/scripts/test/launchTestUtilities.ts
Due: none

run in shell windows only
  packages/core/scripts/test/launchTestUtilities.ts
Due: none

remove temp dir each test
  packages/core/src/test/globalSetup.test.ts
Due: none

adjust codecatalyst to use global context in tests
  packages/core/src/test/shared/sshConfig.test.ts
Due: none

remove dead imports
  packages/core/src/test/shared/sshConfig.test.ts
Due: none

clear global storage instead of deleting
  packages/core/src/test/awsService/ec2/sshKeyPair.test.ts
  packages/core/src/test/globalSetup.test.ts
Due: none

remove shell command temp
  packages/core/scripts/test/launchTestUtilities.ts
Due: none

remove dependency on project in scripts
  packages/core/scripts/test/launchTestUtilities.ts
Due: none

test(ec2): add security related unit tests (#5778)
  packages/core/src/awsService/ec2/sshKeyPair.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/shared/remoteSession.ts
  packages/core/src/shared/utilities/pathFind.ts
  packages/core/src/test/shared/remoteSession.test.ts
  packages/core/src/test/shared/utilities/pathFind.test.ts
  packages/core/src/test/shared/utilities/testUtils.test.ts
  packages/core/src/test/testUtil.ts
Due: codewhisperer
