Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

fix unreliable tests
  src/test/codewhisperer/commands/onAcceptance.test.ts
  src/test/codewhisperer/commands/onInlineAcceptance.test.ts
Due: none

fix unexpected right context merging causes recommednation gets trimmed (#4108)
  .changes/next-release/bugfix-71c6ba6c-d774-49b0-b7fb-81e14a1cb3f0.json
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/service/CodeWhispererRecommendationManager.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/CodeWhispererRecommendationManagerTest.kt
Due: none

test: allow environment variables in toolkit test scripts
  scripts/test/launchTestUtilities.ts
Due: none

feat: add FeatureDev client with CreateTaskAssistConversation operation (#1784)
  jetbrains-core/src/software/aws/toolkits/jetbrains/core/credentials/sono/SonoConstants.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/clients/FeatureDevClient.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/controller/FeatureDevController.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/util/CodeWhispererConstants.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/amazonqFeatureDev/FeatureDevTestBase.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/amazonqFeatureDev/clients/FeatureDevClientTest.kt
  sdk-codegen/codegen-resources/codewhispererruntime/service-2.json
Due: none

move to reset
  src/test/codewhisperer/commands/onAcceptance.test.ts
  src/test/codewhisperer/commands/onInlineAcceptance.test.ts
  src/test/codewhisperer/testUtil.ts
Due: none

test: allow environment variables in toolkit test scripts #4323
  scripts/test/launchTestUtilities.ts
Due: none

fix(gumby): minor telemetry changes
  src/amazonqFeatureDev/util/download.ts
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/service/transformByQHandler.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
  src/shared/utilities/download.ts
Due: codewhisperer, amazonqFeatureDev

switch to got
  src/testE2E/amazonq/featureDev.test.ts
Due: none

fixup
  docs/TESTPLAN.md
  docs/TEST_E2E.md
Due: none

fixup
  src/amazonqFeatureDev/controllers/chat/controller.ts
  src/amazonqFeatureDev/userFacingText.ts
  src/testE2E/amazonq/featureDev.test.ts
  src/testE2E/amazonq/framework/framework.ts
  src/testE2E/amazonq/framework/jsdomInjector.ts
  src/testE2E/amazonq/framework/messenger.ts
Due: amazonqFeatureDev

tests: Introduce an e2e testing framework for Amazon Q
  docs/E2E_TESTING_ARCHITECTURE.md
  docs/TESTPLAN.md
  docs/images/amazon_q_e2e.png
  package-lock.json
  package.json
  src/amazonq/activation.ts
  src/amazonq/apps/initContext.ts
  src/amazonq/messages/messageListener.ts
  src/amazonq/webview/generators/webViewContent.ts
  src/amazonq/webview/ui/main.ts
  src/amazonq/webview/ui/styles/dark.scss
  src/amazonqFeatureDev/controllers/chat/controller.ts
  src/amazonqFeatureDev/text.ts
  src/testE2E/amazonq/featureDev.test.ts
  src/testE2E/amazonq/framework/framework.ts
  src/testE2E/amazonq/framework/messenger.ts
  src/testE2E/amazonq/framework/text.ts
Due: amazonqFeatureDev

docs: Add documentation for environment variables
  CONTRIBUTING.md
Due: none

Added meet q page when users sign in through Codewhisperer (#4092)
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonq/explorerActions/SignInToQAction.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonq/gettingstarted/QGettingStartedUtils.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/explorer/nodes/CodeWhispererReconnectNode.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/explorer/nodes/GetStartedNode.kt
Due: none

Updating version to 2.5
  .changes/2.5.json
  .changes/next-release/bugfix-71c6ba6c-d774-49b0-b7fb-81e14a1cb3f0.json
  CHANGELOG.md
  gradle.properties
Due: none

address feedback
  src/applicationcomposer/activation.ts
Due: none

make fs not execute on import
  src/shared/systemUtilities.ts
Due: none

make AWS.Token actually exist
  src/auth/sso/sdkV2Compat.ts
Due: none

refactor: minor code reorganization
  src/extensionWeb.ts
Due: none

refactor: convert path better in SystemUtilities
  src/shared/systemUtilities.ts
  src/test/shared/systemUtilities.test.ts
Due: none

browser: Initialize Auth in browser
  package.json
  src/auth/activation.ts
  src/auth/ui/vue/show.ts
  src/extensionWeb.ts
Due: none

Release 2.7.0
  .changes/2.7.0.json
  .changes/next-release/Bug Fix-acaea338-3c74-41b5-b09a-839806679551.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(gumby): enhance telemetry to include error log
  src/amazonqGumby/entrypoint.ts
  src/amazonqGumby/telemetry/codeTransformTelemetry.ts
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

Update version to snapshot version: 2.8.0-SNAPSHOT
  package-lock.json
  package.json
Due: none

Updating SNAPSHOT version to 2.6-SNAPSHOT
  gradle.properties
Due: none

codewhisperer: update reference setting description
  package.nls.json
Due: none

some initial changes to scripts, package jsons
  package-lock.json
  package.json
  packages/toolkit/package.json
  scripts/clean.ts
  scripts/prepare.ts
Due: none

docs: Add documentation for environment variables #4327
  CONTRIBUTING.md
Due: none

fix(gumby): redact file patch from error messages
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

codewhisperer: Allow endpoint/region overrides for dev mode
  CONTRIBUTING.md
  src/amazonqFeatureDev/client/featureDev.ts
  src/codewhisperer/client/codewhisperer.ts
  src/codewhisperer/models/constants.ts
  src/shared/clients/codecatalystClient.ts
  src/shared/settings.ts
  src/test/shared/settingsConfiguration.test.ts
Due: codewhisperer, amazonqFeatureDev

featureDev: Remove internal endpoint settings
  package.json
  src/amazonqFeatureDev/client/featureDev.ts
Due: amazonqFeatureDev

fix failing tests after merge
  src/amazonqFeatureDev/controllers/chat/controller.ts
  src/testE2E/amazonq/featureDev.test.ts
Due: amazonqFeatureDev

feat: add featureDev sessionManagement
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/FeatureDevApp.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/InboundAppMessagesHandler.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/controller/FeatureDevController.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/messages/FeatureDevMessage.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/ConversationNotStartedState.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/Session.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/SessionState.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/session/SessionStateTypes.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/amazonqFeatureDev/storage/ChatSessionStorage.kt
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/codewhisperer/amazonqFeatureDev/storage/ChatSessionStorageTest.kt
Due: none

fix(gumby): improve logging
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

fix(gumby): undo accidentally pushed changes
  src/codewhisperer/commands/startTransformByQ.ts
Due: codewhisperer

build script updates
  .gitignore
  package.json
  packages/toolkit/package.json
  packages/toolkit/scripts/build/generateIcons.ts
  packages/toolkit/scripts/build/generateNonCodeFiles.ts
  packages/toolkit/scripts/build/generateServiceClient.ts
  scripts/clean.ts
  src.gen/@amzn/codewhisperer-streaming/tsconfig.json
Due: none

Delete src.gen/.DS_Store
  src.gen/.DS_Store
Due: none

fix
  src/shared/systemUtilities.ts
Due: none

Path conditions:
  codewhisperer: any of: src/codewhisperer/
  amazonqFeatureDev: any of: src/amazonqFeatureDev/
