Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            default:
                threshold: 1
                informational: true
            codewhisperer:
                target: 70%
                paths:
                    - src/codewhisperer/*
                flags:
                    - 'codewhisperer'
            amazonqFeatureDev:
                target: 70%
                paths:
                    - src/amazonqFeatureDev/*
                flags:
                    - 'amazonqFeatureDev'
        patch: no
        changes: no

comment: off

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - src/codewhisperer/
    amazonqFeatureDev:
        paths:
            - src/amazonqFeatureDev/

fix(cloud9): error when expanding S3 folder
  .changes/next-release/Bug Fix-80b20b86-cc12-4387-976c-681c09cbd942.json
  .github/workflows/node.js.yml
  buildspec/linuxE2ETests.yml
  buildspec/linuxIntegrationTests.yml
  buildspec/linuxTests.yml
  buildspec/windowsTests.yml
  src/shared/utilities/textUtilities.ts
  src/test/cloudWatchLogs/commands/saveCurrentLogDataContent.test.ts
  src/test/cloudWatchLogs/document/textContent.test.ts
  src/test/cloudWatchLogs/registry/logDataRegistry.test.ts
  src/test/globalSetup.test.ts
  src/test/iot/explorer/iotPolicyVersionNode.test.ts
  src/test/s3/explorer/s3FileNode.test.ts
  src/test/shared/utilities/textUtilities.test.ts
Due: none

Revert "remove $TZ env var from CI"
  .github/workflows/node.js.yml
  buildspec/linuxE2ETests.yml
  buildspec/linuxIntegrationTests.yml
  buildspec/linuxTests.yml
  buildspec/windowsTests.yml
Due: none

browser: remove "got" in codewhisperer #4291
  src/amazonqFeatureDev/util/upload.ts
  src/applicationcomposer/webviewManager.ts
  src/codewhisperer/service/securityScanHandler.ts
  src/codewhisperer/service/transformByQHandler.ts
  src/common/request.ts
  src/test/amazonqFeatureDev/session/sessionState.test.ts
  src/test/codewhisperer/commands/startSecurityScan.test.ts
  src/test/common/request.test.ts
  src/testE2E/amazonqGumby/transformByQ.test.ts
  src/testInteg/common/request.ts
Due: codewhisperer, amazonqFeatureDev

fix(telemetry): metrics emitted without the `result` property #4295
  src/awsexplorer/activation.ts
Due: none

fix(cloud9): "Failed to run command: aws.viewLogsAtMessage"
  src/shared/logger/commands.ts
Due: none

fix(cloud9): error when expanding S3 folder #4293
  .changes/next-release/Bug Fix-80b20b86-cc12-4387-976c-681c09cbd942.json
  .github/workflows/node.js.yml
  buildspec/linuxE2ETests.yml
  buildspec/linuxIntegrationTests.yml
  buildspec/linuxTests.yml
  buildspec/windowsTests.yml
  src/shared/utilities/textUtilities.ts
  src/test/cloudWatchLogs/commands/saveCurrentLogDataContent.test.ts
  src/test/cloudWatchLogs/document/textContent.test.ts
  src/test/cloudWatchLogs/registry/logDataRegistry.test.ts
  src/test/globalSetup.test.ts
  src/test/iot/explorer/iotPolicyVersionNode.test.ts
  src/test/s3/explorer/s3FileNode.test.ts
  src/test/shared/utilities/textUtilities.test.ts
Due: none

tests: set $TZ a different way
  .github/workflows/node.js.yml
  buildspec/linuxE2ETests.yml
  buildspec/linuxIntegrationTests.yml
  buildspec/linuxTests.yml
  buildspec/windowsTests.yml
  scripts/test/launchTestUtilities.ts
  src/test/globalSetup.test.ts
Due: none

fix(cloud9): "Failed to run command: aws.viewLogsAtMessage" #4296
  src/shared/logger/commands.ts
Due: none

tests: remove NO_COVERAGE
  buildspec/linuxE2ETests.yml
  buildspec/linuxIntegrationTests.yml
Due: none

deps: update "xml2js"
  package-lock.json
  package.json
Due: none

MRU-TextDocuments cache initial implementation, /test not done
  src/extension.ts
  src/shared/utilities/collectionUtils.ts
  src/shared/utilities/editorUtilities.ts
Due: none

add remove api
  src/shared/utilities/collectionUtils.ts
Due: none

tst for remove
  src/test/shared/utilities/collectionUtils.test.ts
Due: none

Release 2.6.0
  .changes/2.6.0.json
  .changes/next-release/Bug Fix-3f2c34ab-615e-4501-b697-75b38a7f4c39.json
  .changes/next-release/Bug Fix-454d780d-97bc-49af-9391-527808d8bd33.json
  .changes/next-release/Bug Fix-55510462-3473-4c65-a3f8-52f6a79e4a26.json
  .changes/next-release/Bug Fix-80b20b86-cc12-4387-976c-681c09cbd942.json
  .changes/next-release/Bug Fix-ff0dcc4b-4981-43b3-9c16-75a91b5a43a6.json
  .changes/next-release/Feature-46a5faf6-6909-48b4-bce3-d74e390b5519.json
  .changes/next-release/Feature-a4a67f74-2ea2-4e18-9864-c8904e0128e6.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

deps: update "@vscode/test-web"
  package-lock.json
  package.json
Due: none

fix(appcomposer): Use default docs message and clean up code
  src/shared/sam/sync.ts
Due: none

refactor: simplify validateMetricEvent()
  src/shared/telemetry/util.ts
Due: none

fix(telemetry): metrics emitted without the `result` property #4295
  src/shared/telemetry/telemetryService.ts
Due: none

fix(appcomposer): remove unused import
  src/shared/sam/sync.ts
Due: none

Update version to snapshot version: 2.7.0-SNAPSHOT
  package-lock.json
  package.json
Due: none

deps: update "@vscode/test-web" #4301
  package-lock.json
  package.json
Due: none

write in code lens
  src/applicationcomposer/activation.ts
Due: none

npm newChange
  .changes/next-release/Feature-c2593f64-d7ec-4552-915d-47245c1239c4.json
Due: none

adjust language for feature desc
  .changes/next-release/Feature-c2593f64-d7ec-4552-915d-47245c1239c4.json
Due: none

feat(gumby): use only diff.patch to apply patch
  src/codewhisperer/models/model.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
  src/test/codewhisperer/service/transformationResultsHandler.test.ts
Due: codewhisperer

build: flag to zip the packaged VSIX
  .gitignore
  scripts/build/package.ts
Due: none

fix: fix unit test
  src/codewhisperer/service/transformationResultsViewProvider.ts
  src/test/codewhisperer/service/resources/modifiedFile.diff
  src/test/codewhisperer/service/resources/removedFile.diff
  src/test/codewhisperer/service/transformationResultsHandler.test.ts
Due: codewhisperer

fix: remove RemovedChangeNode class
  src/codewhisperer/service/transformationResultsViewProvider.ts
Due: codewhisperer

tests: explicitly set TZ for local tests
  scripts/test/launchTestUtilities.ts
  src/test/cloudWatchLogs/registry/logDataRegistry.test.ts
  src/test/testRunner.ts
Due: none

feature(QTransform): Detect and add telemetry for 1p dependencies
  package-lock.json
  package.json
  src/codewhisperer/commands/startTransformByQ.ts
  src/shared/telemetry/vscodeTelemetry.json
Due: codewhisperer

tests: explicitly set TZ for local tests (#4304)
  scripts/test/launchTestUtilities.ts
  src/test/cloudWatchLogs/registry/logDataRegistry.test.ts
  src/test/testRunner.ts
Due: none

browser: remove fs-extra uses from systemUtilities.ts
  src/shared/systemUtilities.ts
Due: none

browser: remove fs-extra uses from systemUtilities.ts (#4294)
  src/shared/systemUtilities.ts
Due: none

refactor(gumby): use only diff.patch to apply patch #4306
  src/codewhisperer/models/model.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
  src/test/codewhisperer/service/resources/modifiedFile.diff
  src/test/codewhisperer/service/resources/removedFile.diff
  src/test/codewhisperer/service/transformationResultsHandler.test.ts
Due: codewhisperer

deps: "glob" is a runtime dependency
  package-lock.json
  package.json
  scripts/lint/testLint.ts
  src/codewhisperer/util/supplementalContext/utgUtils.ts
  src/dev/codecatalyst.ts
  src/test/testRunner.ts
Due: codewhisperer

feat(appcomposer): prompt for IAM credentials #4247
  .changes/next-release/Bug Fix-acaea338-3c74-41b5-b09a-839806679551.json
  src/applicationcomposer/webviewManager.ts
  src/auth/utils.ts
  src/shared/sam/sync.ts
  src/shared/utilities/messages.ts
Due: none

Fix Windows unit test environment (#4104)
  buildspec/windowsTests.yml
Due: none

fix(gumby): remove unneeded dep and improve error handling
  package-lock.json
  package.json
  src/codewhisperer/service/transformationResultsViewProvider.ts
Due: codewhisperer

fix: make summary button enabled after accept/reject changes
  package.json
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
Due: codewhisperer

codewhisperer: add scan job id in logs (#4112)
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/codescan/CodeWhispererCodeScanManager.kt
Due: none
