Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

fixes for WaitTimeout and added comments.
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/shared/utilities/timeoutUtils.ts
  packages/core/src/test/codewhispererChat/storages/conversationTracker.test.ts
Due: none

fix downloadExportResultAcrchive api call not passed with profileArn and cause 400 error
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
  packages/core/src/shared/utilities/download.ts
  packages/core/src/testInteg/perf/downloadExportResultArchive.test.ts
Due: codewhisperer

fixes for merge conflicts
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
Due: none

changelog
  packages/amazonq/.changes/next-release/Bug Fix-a8339a5e-5367-46a8-82f4-84369b384adb.json
Due: none

fix(amazonq): make code fix's line number or file to be accurate
  packages/amazonq/.changes/next-release/Bug Fix-42b2c2f0-e40e-4f97-842b-cb7ead1a010b.json
  packages/core/src/codewhisperer/commands/startCodeFixGeneration.ts
  packages/core/src/codewhisperer/service/securityIssueProvider.ts
Due: codewhisperer

Update securityIssueProvider.ts
  packages/core/src/codewhisperer/service/securityIssueProvider.ts
Due: codewhisperer

Fix broken keyPath to ssh-keygen
  packages/core/src/awsService/ec2/sshKeyPair.ts
Due: none

fix for lint errors
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
  packages/core/src/shared/utilities/timeoutUtils.ts
  packages/core/src/test/codewhispererChat/storages/conversationTracker.test.ts
Due: none

change style and log
  packages/amazonq/.changes/next-release/Bug Fix-42b2c2f0-e40e-4f97-842b-cb7ead1a010b.json
  packages/core/src/codewhisperer/service/securityIssueProvider.ts
Due: codewhisperer

improve JSON parse error handling
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
Due: none

fix for import errors
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
  packages/core/src/shared/utilities/timeoutUtils.ts
Due: none

fix(amazonq): make code fix's line number or file to be accurate (#7023)
  packages/amazonq/.changes/next-release/Bug Fix-42b2c2f0-e40e-4f97-842b-cb7ead1a010b.json
  packages/core/src/codewhisperer/commands/startCodeFixGeneration.ts
  packages/core/src/codewhisperer/service/securityIssueProvider.ts
Due: codewhisperer

Update toolResult status correctly for failed bash command
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/tools/executeBash.ts
  packages/core/src/codewhispererChat/tools/toolShared.ts
Due: none

fix the string and correct the programmer-mode icon
  package-lock.json
  packages/core/package.json
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
Due: none

patch
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
Due: codewhisperer

feat(chat): agentic chat loop stop with trigger ID for tracking conversation #6990
  packages/core/src/amazonq/webview/ui/apps/cwChatConnector.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/storages/chatSession.ts
  packages/core/src/codewhispererChat/storages/conversationTracker.ts
  packages/core/src/codewhispererChat/tools/chatStream.ts
  packages/core/src/codewhispererChat/tools/executeBash.ts
  packages/core/src/codewhispererChat/tools/toolUtils.ts
  packages/core/src/codewhispererChat/view/connector/connector.ts
  packages/core/src/shared/utilities/timeoutUtils.ts
  packages/core/src/test/codewhispererChat/storages/conversationTracker.test.ts
Due: none

/dev
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
Due: amazonqFeatureDev

ste
  packages/core/src/amazonqDoc/session/session.ts
  packages/core/src/codewhisperer/client/codewhisperer.ts
Due: codewhisperer

fix(chat): Fix failure caused by merge conflicts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

fix(amazonq): downloadExportResultAcrchive api not passed with profileArn and cause 400 error (#7022)
  packages/amazonq/.changes/next-release/Bug Fix-a8339a5e-5367-46a8-82f4-84369b384adb.json
  packages/core/src/amazonqDoc/session/session.ts
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/codewhisperer/client/codewhisperer.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
  packages/core/src/shared/utilities/download.ts
  packages/core/src/testInteg/perf/downloadExportResultArchive.test.ts
Due: codewhisperer, amazonqFeatureDev

Release 1.59.0
  package-lock.json
  packages/amazonq/.changes/1.59.0.json
  packages/amazonq/.changes/next-release/Bug Fix-42b2c2f0-e40e-4f97-842b-cb7ead1a010b.json
  packages/amazonq/.changes/next-release/Bug Fix-a8339a5e-5367-46a8-82f4-84369b384adb.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
Due: none

Update version to snapshot version: 1.60.0-SNAPSHOT
  package-lock.json
  packages/amazonq/package.json
Due: none

fix the import parameter in controller and the programmer mode UI
  package-lock.json
  packages/core/package.json
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

fix for pair programmer mode message in chat
  package-lock.json
  packages/core/package.json
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: none

refactor(amazonq): Refactor main.ts into a re-usable component
  packages/core/src/amazonq/webview/ui/main.ts
Due: none

update codeWhisper API for new model inputs
  packages/core/src/codewhisperer/client/user-service-2.json
Due: codewhisperer

refactor(amazonq): Refactor main.ts into a re-usable component (#7033)
  packages/core/src/amazonq/webview/ui/main.ts
Due: none

fix(chat): fix for pair programmer mode message in chat (#7029)
  package-lock.json
  packages/core/package.json
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

feat(amazonq): Add region profile manager functionality
  packages/core/src/codewhisperer/region/regionProfileManager.ts
  packages/core/src/codewhisperer/util/authUtil.ts
Due: codewhisperer

Remove unnecessary type enforcing
  packages/core/src/codewhisperer/region/regionProfileManager.ts
Due: codewhisperer

feat(amazonq): Add region profile manager functionality (#7036)
  packages/core/src/codewhisperer/region/regionProfileManager.ts
  packages/core/src/codewhisperer/util/authUtil.ts
Due: codewhisperer

feat(chat): Add explanation for tool invocation for fsWrite and executeBash
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/tools/chatStream.ts
  packages/core/src/codewhispererChat/tools/executeBash.ts
  packages/core/src/codewhispererChat/tools/fsWrite.ts
  packages/core/src/codewhispererChat/tools/tool_index.json
Due: none

feat(sagemaker-connect): sagemaker explorer, user can list spaces #2124
  package-lock.json
  packages/core/package.json
  packages/core/resources/icons/aws/sagemaker/code-editor.svg
  packages/core/resources/icons/aws/sagemaker/jupyter-lab.svg
  packages/core/src/awsService/sagemaker/explorer/sagemakerParentNode.ts
  packages/core/src/awsService/sagemaker/explorer/sagemakerSpaceNode.ts
  packages/core/src/awsService/sagemaker/utils.ts
  packages/core/src/awsexplorer/regionNode.ts
  packages/core/src/shared/clients/sagemaker.ts
  packages/core/src/test/awsService/sagemaker/explorer/sagemakerParentNode.test.ts
  packages/core/src/test/awsService/sagemaker/explorer/sagemakerSpaceNode.test.ts
  packages/core/src/test/awsService/sagemaker/utils.test.ts
  packages/core/src/test/shared/clients/sagemakerClient.test.ts
Due: none

fix the padding
  package-lock.json
  packages/core/package.json
  packages/core/resources/css/amazonq-webview.css
Due: none

fix(amazonq-chat): padding is too narrow #7038
  package-lock.json
  packages/core/package.json
  packages/core/resources/css/amazonq-webview.css
Due: none

Add the grep search tool.
  packages/core/src/codewhispererChat/tools/grepSearch.ts
  packages/core/src/test/codewhispererChat/tools/grepSearch.test.ts
Due: none

add programmer card
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
Due: none

chat vs agenticChat
  package-lock.json
  package.json
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/telemetryHelper.ts
Due: none
