Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

refactor: remove redundant edit suggestion check from completion provider
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/test/unit/amazonq/apps/inline/completion.test.ts
Due: codewhisperer

fix(amazonq): update lsp client name to support Sagemaker AI origin for agentic chat (#7857)
  packages/core/src/shared/telemetry/util.ts
  packages/core/src/test/shared/telemetry/util.test.ts
Due: none

fix(amazonq): Don't show inline completions when a edit is displayed (#7839)
  packages/amazonq/src/app/inline/EditRendering/displayImage.ts
  packages/amazonq/src/app/inline/EditRendering/imageRenderer.ts
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/src/app/inline/editSuggestionState.ts
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/amazonq/src/app/inline/sessionManager.ts
  packages/amazonq/test/unit/amazonq/apps/inline/recommendationService.test.ts
  packages/amazonq/test/unit/app/inline/completion.test.ts
Due: codewhisperer

Responding to PR comments from Laura
  packages/amazonq/test/e2e_new/amazonq/tests/inline.test.ts
  packages/amazonq/test/e2e_new/amazonq/utils/generalUtils.ts
Due: none

feat(smus): Add credential providers for SMUS (#2187)
  packages/core/src/auth/auth.ts
  packages/core/src/sagemakerunifiedstudio/auth/providers/connectionCredentialsProvider.ts
  packages/core/src/sagemakerunifiedstudio/auth/providers/domainExecRoleCredentialsProvider.ts
  packages/core/src/sagemakerunifiedstudio/auth/providers/projectRoleCredentialsProvider.ts
  packages/core/src/sagemakerunifiedstudio/auth/providers/smusAuthenticationProvider.ts
  packages/core/src/sagemakerunifiedstudio/auth/smusAuthenticationProvider.ts
  packages/core/src/sagemakerunifiedstudio/explorer/activation.ts
  packages/core/src/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioAuthInfoNode.ts
  packages/core/src/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioDataNode.ts
  packages/core/src/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioProjectNode.ts
  packages/core/src/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioRootNode.ts
  packages/core/src/sagemakerunifiedstudio/shared/client/datazoneClient.ts
  packages/core/src/sagemakerunifiedstudio/shared/smusUtils.ts
  packages/core/src/test/sagemakerunifiedstudio/auth/connectionCredentialsProvider.test.ts
  packages/core/src/test/sagemakerunifiedstudio/auth/domainExecRoleCredentialsProvider.test.ts
  packages/core/src/test/sagemakerunifiedstudio/auth/model.test.ts
  packages/core/src/test/sagemakerunifiedstudio/auth/projectRoleCredentialsProvider.test.ts
  packages/core/src/test/sagemakerunifiedstudio/auth/smusAuthenticationProvider.test.ts
  packages/core/src/test/sagemakerunifiedstudio/explorer/activation.test.ts
  packages/core/src/test/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioAuthInfoNode.test.ts
  packages/core/src/test/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioDataNode.test.ts
  packages/core/src/test/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioProjectNode.test.ts
  packages/core/src/test/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioRootNode.test.ts
  packages/core/src/test/sagemakerunifiedstudio/shared/client/datazoneClient.test.ts
  packages/core/src/test/sagemakerunifiedstudio/shared/smusUtils.test.ts
Due: none

fix: address rebase conflicts with mainline
  .gitignore
  package-lock.json
  packages/amazonq/.changes/next-release/Bug Fix-316fb610-0ea9-40d1-bdb7-d371a6be4a4e.json
  packages/amazonq/.changes/next-release/Bug Fix-7261a487-e80a-440f-b311-2688e256a886.json
  packages/amazonq/.changes/next-release/Bug Fix-9d694e40-7fc7-4504-b08c-6b22a5ebcb1c.json
  packages/amazonq/package.json
  packages/amazonq/src/app/inline/EditRendering/imageRenderer.ts
  packages/core/src/shared/settings-amazonq.gen.ts
Due: codewhisperer

fix(amazonq): discard/reject edit suggestion if it isn't valid (#7848)
  packages/amazonq/src/app/inline/EditRendering/displayImage.ts
Due: codewhisperer

refactor(amazonq): reorganize transformation history code (#7843)
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/transformByQ/transformFileHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationHistoryHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationHubViewProvider.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
  packages/core/src/test/amazonqGumby/transformationJobHistory.test.ts
Due: codewhisperer

feat(amazonq): add setup for ui-tests (#7597)
  package-lock.json
  package.json
  packages/amazonq/test/e2e/amazonq/VET.test.ts
Due: none

feat(amazonq): adding a simple chat prompt test (#7643)
  packages/amazonq/test/e2e/amazonq/VET.test.ts
Due: none

feat(amazonq): package.json npm scripts for build issues with vscode-extension-tester (VET) (#7666)
  package-lock.json
  package.json
Due: none

feat(amazonq): UI Tests Baseline Framework Complete Set Up (#7727)
  packages/amazonq/test/e2e/amazonq/VET.test.ts
Due: none

updated npm scripts in order to work correctly with our packaging and properly placing resources in new directory
  package.json
Due: none

Merge master into feature/ui-e2e-tests (#7680)
  package-lock.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
  packages/amazonq/src/app/inline/EditRendering/svgGenerator.ts
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/amazonq/src/app/inline/sessionManager.ts
  packages/amazonq/src/extension.ts
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/test/unit/amazonq/apps/inline/recommendationService.test.ts
  packages/core/package.json
  packages/core/src/amazonq/indexNode.ts
  packages/core/src/amazonq/webview/ui/storages/tabsStorage.ts
  packages/core/src/amazonqDoc/app.ts
  packages/core/src/amazonqFeatureDev/app.ts
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/shared/utilities/index.ts
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Due: codewhisperer, amazonqFeatureDev

feat(amazonq): Implement inline completion test (#7752)
  package-lock.json
  package.json
Due: none

Merge master into feature/ui-e2e-tests (#7767)
  package-lock.json
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/amazonq/src/app/inline/sessionManager.ts
  packages/amazonq/src/lsp/client.ts
  packages/core/src/amazonq/indexNode.ts
  packages/core/src/amazonq/webview/ui/storages/tabsStorage.ts
  packages/core/src/amazonqDoc/app.ts
  packages/core/src/amazonqFeatureDev/app.ts
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
Due: codewhisperer, amazonqFeatureDev

initializing rules
  packages/amazonq/test/e2e_new/amazonq/helpers/rulesHelper.ts
  packages/amazonq/test/e2e_new/amazonq/tests/rules.test.ts
Due: none

changes to rules
  packages/amazonq/test/e2e_new/amazonq/tests/rules.test.ts
  packages/amazonq/test/e2e_new/amazonq/utils/generalUtils.ts
Due: none

implementation done
  packages/amazonq/test/e2e_new/amazonq/helpers/rulesHelper.ts
  packages/amazonq/test/e2e_new/amazonq/tests/rules.test.ts
  packages/amazonq/test/e2e_new/amazonq/utils/generalUtils.ts
Due: none

fix(amazonq): Inline test after function addition, writeToTextEditor fix, and package.json pathing fix (#7800)
  package.json
Due: none

some initial implementation, and a gitignore fix, as well as a testFileFolder
  .gitignore
  packages/amazonq/test/e2e_new/amazonq/helpers/rulesHelper.ts
  packages/amazonq/test/e2e_new/amazonq/tests/rules.test.ts
  packages/amazonq/test/e2e_new/amazonq/utils/resources/testFolder/testFile
Due: none

lint actions fix
  packages/amazonq/test/e2e_new/amazonq/tests/rules.test.ts
Due: none

some initial implementation, and a gitignore fix, as well as a testFileFolder
  packages/amazonq/test/e2e_new/amazonq/tests/rules.test.ts
Due: none

implementation done
  packages/amazonq/test/e2e_new/amazonq/tests/rules.test.ts
Due: none

feature: add shortcut test
  packages/amazonq/test/e2e_new/amazonq/tests/shortcut.test.ts
  packages/amazonq/test/e2e_new/amazonq/utils/generalUtils.ts
Due: none

feature: add inline shortcut test
  packages/amazonq/test/e2e_new/amazonq/tests/inline.test.ts
  packages/amazonq/test/e2e_new/amazonq/utils/generalUtils.ts
Due: none

fix: small PR comments
  packages/amazonq/test/e2e_new/amazonq/tests/inline.test.ts
  packages/amazonq/test/e2e_new/amazonq/utils/generalUtils.ts
Due: none

undoing changes
  .gitignore
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
  packages/amazonq/src/app/inline/EditRendering/displayImage.ts
  packages/amazonq/src/app/inline/EditRendering/svgGenerator.ts
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/amazonq/src/app/inline/sessionManager.ts
  packages/amazonq/src/extension.ts
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/test/unit/amazonq/apps/inline/recommendationService.test.ts
  packages/core/package.json
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/transformByQ/transformFileHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationHubViewProvider.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
  packages/core/src/shared/telemetry/util.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/shared/utilities/index.ts
  packages/core/src/test/amazonqGumby/transformationJobHistory.test.ts
  packages/core/src/test/shared/telemetry/util.test.ts
  packages/toolkit/package.json
Due: codewhisperer

fix(amazonq): refactor the code base
  packages/amazonq/src/lsp/chat/diffAnimation/diffAnimationHandler.ts
  packages/amazonq/src/lsp/chat/messages.ts
Due: codewhisperer

ci: create GitHub releases for release candidate branches
  .github/workflows/release.yml
  .github/workflows/setup-release-candidate.yml
Due: none

ci: create GitHub releases for release candidate branches (#7862)
  .github/workflows/release.yml
  .github/workflows/setup-release-candidate.yml
Due: none

fix(amazonq): refactor codes
  packages/amazonq/src/lsp/chat/diffAnimation/diffAnimationHandler.ts
Due: codewhisperer

fix(ci): use PAT token in RC workflow
  .github/workflows/setup-release-candidate.yml
Due: none

feat(amazonq): auto-reject edit suggestions when cursor moves >25 lines away
  jscpd-report.json
  packages/amazonq/.changes/next-release/Feature-6c4c84d3-77b5-46b9-ac0e-7dc9dc9884af.json
  packages/amazonq/src/app/inline/EditRendering/displayImage.ts
  packages/amazonq/test/unit/amazonq/apps/inline/recommendationService.test.ts
  packages/amazonq/test/unit/app/inline/EditRendering/displayImage.test.ts
Due: codewhisperer

Delete jscpd-report.json
  jscpd-report.json
Due: none

chore: use PAT token in RC workflow (#7866)
  .github/workflows/setup-release-candidate.yml
Due: none

Update generalUtils.ts
  packages/amazonq/test/e2e_new/amazonq/utils/generalUtils.ts
Due: none

Path conditions:
  codewhisperer: any of: packages/core/src/codewhisperer/, packages/core/src/amazonq*/*, packages/amazonq/src/, but not: node_modules/, plugins/, scripts/, src.gen/
  amazonqFeatureDev: any of: packages/core/src/amazonqFeatureDev/, but not: node_modules/, plugins/, scripts/, src.gen/
