Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

use 3 retries
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
Due: codewhisperer

nit: rename tests
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
Due: none

nit: text change
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
Due: codewhisperer

fix test
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
Due: none

test(inline-suggestion): crossFileContextUtil.test using real clock and test timeouts #6258
  packages/amazonq/test/unit/codewhisperer/util/crossFileContextUtil.test.ts
Due: none

Fix TailLogGroup test not disposing its event listeners
  packages/core/src/test/awsService/cloudWatchLogs/commands/tailLogGroup.test.ts
Due: none

fix(amazonq): allow postgresql as target DB #6259
  packages/amazonq/.changes/next-release/Bug Fix-525ae1a7-9ded-4bd1-8357-0a4c0e7fe33f.json
  packages/core/src/codewhisperer/models/model.ts
Due: codewhisperer

refactor(settings): non-async isPromptEnabled() #6255
  packages/core/src/auth/sso/ssoAccessTokenProvider.ts
  packages/core/src/awsService/apprunner/commands/pauseService.ts
  packages/core/src/awsService/apprunner/wizards/deploymentButton.ts
  packages/core/src/awsService/ecs/commands.ts
  packages/core/src/awsService/s3/fileViewerManager.ts
  packages/core/src/codecatalyst/activation.ts
  packages/core/src/codewhisperer/commands/gettingStartedPageCommands.ts
  packages/core/src/codewhisperer/util/authUtil.ts
  packages/core/src/codewhisperer/vue/backend.ts
  packages/core/src/shared/awsContextCommands.ts
  packages/core/src/shared/extensionStartup.ts
  packages/core/src/shared/sam/activation.ts
  packages/core/src/shared/sam/sync.ts
  packages/core/src/shared/settings.ts
  packages/core/src/shared/utilities/messages.ts
  packages/core/src/test/shared/settings.test.ts
Due: codewhisperer

implement lint rule for inline async
  plugins/eslint-plugin-aws-toolkits/index.ts
  plugins/eslint-plugin-aws-toolkits/lib/rules/no-inline-async-foreach.ts
  plugins/eslint-plugin-aws-toolkits/test/rules/no-inline-async-foreach.test.ts
Due: none

add to eslint
  .eslintrc.js
  plugins/eslint-plugin-aws-toolkits/lib/rules/no-inline-async-foreach.ts
Due: none

fix supplementalContextUtil.test failure
  packages/amazonq/test/unit/codewhisperer/util/supplemetalContextUtil.test.ts
Due: none

Assert error thrown is as expected
  packages/core/src/test/awsService/cloudWatchLogs/commands/tailLogGroup.test.ts
Due: none

test(cwl): Fix TailLogGroup test not disposing its event listeners #6267
  packages/core/src/test/awsService/cloudWatchLogs/commands/tailLogGroup.test.ts
Due: none

test(inline-suggestion): supplementalContextUtil.test failure #6269
  packages/amazonq/test/unit/codewhisperer/util/supplemetalContextUtil.test.ts
Due: none

fix(amazonq): increase GetTransformation maxRetries #6220
  packages/core/src/codewhisperer/client/codewhisperer.ts
Due: codewhisperer

Sending metric data for onCodeGeneration
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/types.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: codewhisperer, amazonqFeatureDev

Fix tests
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: amazonqFeatureDev

Codecov
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
Due: amazonqFeatureDev

RTS Validation
  packages/core/src/amazonqFeatureDev/session/session.ts
Due: amazonqFeatureDev

Feature
  packages/amazonq/.changes/next-release/Feature-06bf59c2-da3f-4ab5-ab86-634b3c25bd5e.json
Due: none

fix(amazonq): retry S3 upload (#6246)
  packages/amazonq/.changes/next-release/Bug Fix-f7bb3f35-1b43-4604-b3bd-c2e7f1b65083.json
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformProjectValidationHandler.ts
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
Due: codewhisperer

docs: mention EC2
  README.md
  packages/toolkit/README.md
Due: none

Send success after finally
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
Due: amazonqFeatureDev

remove old check line
  packages/core/src/testInteg/codecatalyst/devEnv.test.ts
Due: none

test(codecatalyst): only fail test if message is >1 minute off #6265
  packages/core/src/testInteg/codecatalyst/devEnv.test.ts
Due: none

catch async defined functions
  plugins/eslint-plugin-aws-toolkits/lib/rules/no-inline-async-foreach.ts
  plugins/eslint-plugin-aws-toolkits/test/rules/no-inline-async-foreach.test.ts
Due: none

clean up helper functions
  plugins/eslint-plugin-aws-toolkits/lib/rules/no-inline-async-foreach.ts
  plugins/eslint-plugin-aws-toolkits/test/rules/no-inline-async-foreach.test.ts
Due: none

add more test cases
  plugins/eslint-plugin-aws-toolkits/test/rules/no-inline-async-foreach.test.ts
Due: none

feat(amazonq): add view summary button in chat
  packages/amazonq/.changes/next-release/Feature-1e7f3af5-7c94-4c60-8909-a61c0b06e02e.json
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
Due: codewhisperer

add test cases for remaining cases
  .eslintrc.js
  plugins/eslint-plugin-aws-toolkits/index.ts
  plugins/eslint-plugin-aws-toolkits/lib/rules/no-async-in-foreach.ts
  plugins/eslint-plugin-aws-toolkits/test/rules/no-async-in-foreach.test.ts
Due: none

add test
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
Due: none

ci: GHA jobs re-trigger too frequently
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/lintcommit.js
  .github/workflows/node.js.yml
  .github/workflows/notification.yml
Due: none

ci: editing PR description re-triggers all GitHub Actions #6274
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/lintcommit.js
  .github/workflows/node.js.yml
  .github/workflows/notification.yml
Due: none

fix(amazonq): code block extends beyond margins #6253
  packages/amazonq/.changes/next-release/Bug Fix-c0428af9-a9e5-4f7f-a4f3-9cfe4ea851c9.json
  packages/core/resources/css/securityIssue.css
Due: none

Update packages/amazonq/.changes/next-release/Feature-06bf59c2-da3f-4ab5-ab86-634b3c25bd5e.json
  packages/amazonq/.changes/next-release/Feature-06bf59c2-da3f-4ab5-ab86-634b3c25bd5e.json
Due: none

Fix reviews
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/types.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: codewhisperer, amazonqFeatureDev

Delete packages/amazonq/.changes/next-release/Feature-06bf59c2-da3f-4ab5-ab86-634b3c25bd5e.json
  packages/amazonq/.changes/next-release/Feature-06bf59c2-da3f-4ab5-ab86-634b3c25bd5e.json
Due: none

fix(amazonq): respond in chat right away when user enters JDK path
  packages/amazonq/.changes/next-release/Bug Fix-a9be5502-257b-4c77-b632-94515dd68bf0.json
  packages/core/src/codewhisperer/service/transformByQ/transformMavenHandler.ts
Due: codewhisperer

deps(amazonq): update mynah ui to 4.21.3
  package-lock.json
  packages/core/package.json
Due: none

deps(amazonq): update mynah ui to 4.21.3 (#6276)
  package-lock.json
  packages/core/package.json
Due: none
