Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

fix authUtil test
  packages/core/src/test/amazonqDoc/utils.ts
  packages/core/src/test/testAuthUtil.ts
Due: none

integrate with exsited utils
  packages/amazonq/src/lsp/chat/autoDebug/shared/diagnosticUtils.ts
Due: codewhisperer

fix(amazonq): Skip prefix matching for Edits suggestions that trigger on acceptance
  packages/amazonq/src/app/inline/completion.ts
Due: codewhisperer

Revert "fix(amazonq): update LSP client info name for sagemaker unified studi…"
  packages/amazonq/src/lsp/client.ts
  packages/core/src/shared/extensionUtilities.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/telemetry/util.ts
  packages/core/src/test/shared/extensionUtilities.test.ts
  packages/core/src/test/shared/telemetry/util.test.ts
Due: codewhisperer

fix(amazonq): revert update LSP client info name for sagemaker unified studio #7786 (#7813)
  packages/amazonq/src/lsp/client.ts
  packages/core/src/shared/extensionUtilities.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/telemetry/util.ts
  packages/core/src/test/shared/extensionUtilities.test.ts
  packages/core/src/test/shared/telemetry/util.test.ts
Due: codewhisperer

feat(amazonq): display transformation history and add ability to resume interrupted jobs (#7781)
  packages/amazonq/.changes/next-release/Feature-dffec708-ae10-45d7-bcfd-b1c07a84de12.json
  packages/amazonq/package.json
  packages/core/package.nls.json
  packages/core/src/amazonqGumby/activation.ts
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationHubViewProvider.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
  packages/core/src/shared/datetime.ts
  packages/core/src/test/amazonqGumby/transformationJobHistory.test.ts
Due: codewhisperer

fix(amazonq): Skip prefix matching for Edits suggestions that trigger on acceptance (#7814)
  packages/amazonq/src/app/inline/completion.ts
Due: codewhisperer

Fix SSO migration from production auth
  packages/amazonq/package.json
  packages/core/src/codewhisperer/util/authUtil.ts
  packages/core/src/test/credentials/auth2.test.ts
Due: codewhisperer

initializing rules
  packages/amazonq/test/e2e_new/amazonq/helpers/rulesHelper.ts
  packages/amazonq/test/e2e_new/amazonq/tests/rules.test.ts
Due: none

Fix SSO migration from production auth
  packages/amazonq/package.json
  packages/core/src/codewhisperer/util/authUtil.ts
Due: codewhisperer

"fix(amazonq): update LSP client info name for sagemaker unified studio #7786 (#7813)"
  packages/amazonq/src/lsp/client.ts
  packages/core/src/shared/extensionUtilities.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/telemetry/util.ts
  packages/core/src/test/shared/extensionUtilities.test.ts
  packages/core/src/test/shared/telemetry/util.test.ts
Due: codewhisperer

feature: view history test
  packages/amazonq/test/e2e_new/amazonq/tests/chat.test.ts
Due: none

Fix SSO migration from production auth
  packages/core/src/codewhisperer/util/authUtil.ts
Due: codewhisperer

Revert package.json change
  packages/amazonq/package.json
Due: none

fix authUtil tests and description for getMfaSerial
  packages/amazonq/package.json
  packages/amazonq/test/unit/codewhisperer/util/authUtil.test.ts
  packages/core/src/auth/credentials/utils.ts
  packages/core/src/codewhisperer/util/authUtil.ts
Due: codewhisperer

Move IAM profile options into typed object
  packages/amazonq/test/unit/codewhisperer/util/authUtil.test.ts
  packages/core/src/auth/auth2.ts
  packages/core/src/auth/credentials/utils.ts
  packages/core/src/auth/sso/cache.ts
  packages/core/src/codewhisperer/util/authUtil.ts
  packages/core/src/login/webview/vue/amazonq/backend_amazonq.ts
  packages/core/src/test/credentials/auth2.test.ts
Due: codewhisperer

Remove STS cache watcher
  packages/core/src/auth/auth2.ts
  packages/core/src/auth/sso/cache.ts
  packages/core/src/codewhisperer/util/authUtil.ts
  packages/core/src/test/testAuthUtil.ts
Due: codewhisperer

fix authUtil tests and description for getMfaSerial
  packages/amazonq/test/unit/codewhisperer/util/authUtil.test.ts
  packages/core/src/auth/credentials/utils.ts
Due: none

edit a comment
  packages/amazonq/src/lsp/chat/autoDebug/lsp/autoDebugLspClient.ts
Due: codewhisperer

test fix
  packages/core/src/test/amazonqGumby/transformationJobHistory.test.ts
Due: none

feat(stepfunctions): Handling newExecution and editStateMachine (#7779)
  packages/core/src/stepFunctions/commands/downloadStateMachineDefinition.ts
  packages/core/src/stepFunctions/executionDetails/executionDetailProvider.ts
  packages/core/src/stepFunctions/executionDetails/handleMessage.ts
  packages/core/src/stepFunctions/messageHandlers/types.ts
  packages/core/src/stepFunctions/utils.ts
  packages/core/src/stepFunctions/vue/executeStateMachine/executeStateMachine.ts
  packages/core/src/test/stepFunctions/utils.test.ts
Due: none

test(amazonq): minor test fix (#7819)
  packages/core/src/test/amazonqGumby/transformationJobHistory.test.ts
Due: none

some initial implementation, and a gitignore fix, as well as a testFileFolder
  .gitignore
  packages/amazonq/test/e2e_new/amazonq/helpers/rulesHelper.ts
  packages/amazonq/test/e2e_new/amazonq/tests/rules.test.ts
  packages/amazonq/test/e2e_new/amazonq/utils/resources/testFolder/testFile
Due: none

fix(amazonq): validate yaml file for required keys
  packages/core/src/amazonqFeatureDev/client/featuredevproxyclient.d.ts
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/transformByQ/transformFileHandler.ts
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
Due: codewhisperer, amazonqFeatureDev

remove accidentally-committed file
  packages/core/src/amazonqFeatureDev/client/featuredevproxyclient.d.ts
Due: amazonqFeatureDev

fix(amazonq): update LSP client info name for sagemaker unified studio and fix unit tests
  packages/core/src/test/shared/extensionUtilities.test.ts
Due: none

feat(amazonq): Auto Debug Functionality (#7609)
  packages/amazonq/src/extension.ts
  packages/amazonq/src/lsp/chat/activation.ts
  packages/amazonq/src/lsp/chat/autoDebug/activation.ts
  packages/amazonq/src/lsp/chat/autoDebug/codeActionsProvider.ts
  packages/amazonq/src/lsp/chat/autoDebug/commands.ts
  packages/amazonq/src/lsp/chat/autoDebug/controller.ts
  packages/amazonq/src/lsp/chat/autoDebug/diagnostics/diagnosticsMonitor.ts
  packages/amazonq/src/lsp/chat/autoDebug/diagnostics/errorContext.ts
  packages/amazonq/src/lsp/chat/autoDebug/diagnostics/problemDetector.ts
  packages/amazonq/src/lsp/chat/autoDebug/index.ts
  packages/amazonq/src/lsp/chat/autoDebug/lsp/autoDebugLspClient.ts
  packages/amazonq/src/lsp/chat/autoDebug/shared/diagnosticUtils.ts
Due: codewhisperer

send firstCompletionDisplayLatency in multiple reject cases
  packages/amazonq/src/app/inline/EditRendering/displayImage.ts
  packages/amazonq/src/app/inline/completion.ts
Due: codewhisperer

send firstCompletionDisplayLatency in multiple reject cases (#7821)
  packages/amazonq/src/app/inline/EditRendering/displayImage.ts
  packages/amazonq/src/app/inline/completion.ts
Due: codewhisperer

revert dev purpose changes
  aws-toolkit-vscode.code-workspace
  package-lock.json
  package.json
  packages/amazonq/.vscode/launch.json
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/toolkit/package.json
Due: codewhisperer

revert dev purpose changes
  packages/amazonq/test/unit/amazonq/apps/inline/recommendationService.test.ts
Due: none

feat(amazonq): update lsp clientname to support sagemaker unified studio case (#7817)
  packages/amazonq/src/lsp/client.ts
  packages/core/src/shared/extensionUtilities.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/telemetry/util.ts
  packages/core/src/test/shared/extensionUtilities.test.ts
  packages/core/src/test/shared/telemetry/util.test.ts
Due: codewhisperer

.
  scripts/clean.ts
Due: none

patch
  package-lock.json
  packages/amazonq/.vscode/launch.json
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/core/package.json
Due: codewhisperer

feat(smsus): Add connection handling for SMUS (#2179)
  packages/core/package.nls.json
  packages/core/src/auth/secondaryAuth.ts
  packages/core/src/sagemakerunifiedstudio/auth/model.ts
  packages/core/src/sagemakerunifiedstudio/auth/smusAuthenticationProvider.ts
  packages/core/src/sagemakerunifiedstudio/explorer/activation.ts
  packages/core/src/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioAuthInfoNode.ts
  packages/core/src/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioRootNode.ts
  packages/core/src/sagemakerunifiedstudio/shared/client/datazoneClient.ts
  packages/core/src/shared/globalState.ts
  packages/core/src/shared/vscode/setContext.ts
  packages/core/src/test/sagemakerunifiedstudio/explorer/activation.test.ts
  packages/core/src/test/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioAuthInfoNode.test.ts
  packages/core/src/test/sagemakerunifiedstudio/explorer/nodes/sageMakerUnifiedStudioRootNode.test.ts
  packages/core/src/test/sagemakerunifiedstudio/shared/client/datazoneClient.test.ts
  packages/toolkit/package.json
Due: none

fix: test
  packages/amazonq/.vscode/launch.json
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/amazonq/test/unit/amazonq/apps/inline/recommendationService.test.ts
  packages/core/package.json
Due: codewhisperer

r
  package-lock.json
Due: none

fix: test
  packages/amazonq/src/app/inline/completion.ts
  packages/amazonq/src/app/inline/recommendationService.ts
  packages/amazonq/test/unit/amazonq/apps/inline/recommendationService.test.ts
Due: codewhisperer
