Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

ci(jscpd): check changed lines only, to avoid false positives #5950
  .github/workflows/filterDuplicates.js
  .github/workflows/node.js.yml
  .github/workflows/test/test_diff.txt
Due: none

add option in dev menu to start processes
  packages/core/src/dev/activation.ts
  packages/core/src/shared/utilities/processUtils.ts
Due: none

address comments
  packages/core/src/amazonqGumby/chat/controller/controller.ts
Due: none

wip
  packages/core/src/codewhisperer/util/zipUtil.ts
Due: codewhisperer

add dependency to track pid usage
  package-lock.json
  package.json
  packages/core/src/shared/utilities/processUtils.ts
Due: none

telemetry(amazonq): attach stack trace in onCodeGeneration failures
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: amazonqFeatureDev

clarified log dimension
  packages/core/src/amazonqFeatureDev/session/session.ts
Due: amazonqFeatureDev

style
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: amazonqFeatureDev

warn on exceeding thresholds
  packages/core/src/shared/utilities/processUtils.ts
Due: none

add first test case
  packages/core/src/shared/utilities/pollingSet.ts
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: none

expand test suite
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: none

fix(amazonq): use correct doc link
  packages/amazonq/.changes/next-release/Bug Fix-99919167-cb02-4bb1-846a-949a55b37130.json
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

set disabled to false
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
Due: none

simplify and expand test suite
  packages/core/src/shared/utilities/pollingSet.ts
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: none

telemetry(amazonq): add metric for transformation type (#6284)
  packages/core/src/amazonqGumby/chat/controller/controller.ts
Due: none

fix(amazonq): use correct doc link (#6297)
  packages/amazonq/.changes/next-release/Bug Fix-99919167-cb02-4bb1-846a-949a55b37130.json
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

fix(amazonq): increase maxRetries for GetPlan
  packages/core/src/codewhisperer/client/codewhisperer.ts
Due: codewhisperer

fix(amazonq): increase maxRetries for GetPlan (#6298)
  packages/core/src/codewhisperer/client/codewhisperer.ts
Due: codewhisperer

add more tests
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: none

fix e2e test
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
Due: codewhisperer

fix e2e test
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
Due: none

refactor
  packages/core/src/shared/utilities/processUtils.ts
Due: none

feat(amazonq): "View Summary" button in chat #6270
  packages/amazonq/.changes/next-release/Feature-1e7f3af5-7c94-4c60-8909-a61c0b06e02e.json
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
Due: codewhisperer

remove tracker interface
  packages/core/src/shared/utilities/processUtils.ts
Due: none

test
  buildspec/linuxTests.yml
Due: none

fix: Include mvn and gradle files in repo archives
  packages/amazonq/.changes/next-release/Bug Fix-993929aa-5dd5-440a-9150-8ae5ba5f56ac.json
  packages/core/src/shared/filetypes.ts
Due: none

feat(amazonq): support Java 21
  packages/amazonq/.changes/next-release/Feature-53329937-cce0-4e4a-abfb-356511a3ca5a.json
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
Due: codewhisperer

don't mock zip method
  packages/amazonq/test/unit/codewhisperer/util/zipUtil.test.ts
Due: none

remove console.log
  packages/core/src/codewhisperer/util/zipUtil.ts
Due: codewhisperer

add test
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/codewhisperer/client/user-service-2.json
  packages/core/src/codewhisperer/models/constants.ts
Due: codewhisperer

add test
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
Due: none

telemetry(amazonq): use run block instead of emit
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
Due: codewhisperer

fix lint
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
Due: codewhisperer

fix(docdb): Update dbInstanceNode on UI when status changed
  packages/core/src/docdb/explorer/dbClusterNode.ts
  packages/core/src/docdb/explorer/dbElasticClusterNode.ts
  packages/core/src/docdb/explorer/dbGlobalClusterNode.ts
  packages/core/src/docdb/explorer/dbInstanceNode.ts
Due: none

refactor wording
  packages/core/src/dev/activation.ts
  packages/core/src/shared/utilities/processUtils.ts
Due: none

use topic logger
  packages/core/src/shared/logger/logger.ts
  packages/core/src/shared/utilities/processUtils.ts
Due: none

improve test performance by properly stopping timer
  packages/core/src/shared/utilities/pollingSet.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: none
