Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

Add git-secrets to verification tasks (#4072)
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/toolkit-git-secrets.gradle.kts
  buildSrc/src/test/kotlin/software/aws/toolkits/gradle/GitSecretsTest.kt
  buildspec/linuxTests.yml
  gradle/libs.versions.toml
  jetbrains-core/tst/software/aws/toolkits/jetbrains/services/telemetry/TelemetryServiceTest.kt
  resources/build.gradle.kts
Due: none

fix references and remove createRelease from root package.json
  package.json
  packages/toolkit/package.json
  packages/toolkit/scripts/build/copyFiles.ts
  packages/toolkit/scripts/build/generateIcons.ts
  packages/toolkit/src/apprunner/wizards/codeRepositoryWizard.ts
  packages/toolkit/src/codecatalyst/repos/remoteSourceProvider.ts
  packages/toolkit/src/codewhisperer/views/securityIssue/vue/root.vue
  packages/toolkit/src/shared/extensions/git.ts
  packages/toolkit/src/testInteg/shared/extensions/git.test.ts
  packages/toolkit/webpack.config.js
Due: none

wip inline hint + cw editor gutter
  package.json
  src/codewhisperer/activation.ts
  src/codewhisperer/service/inlineCompletionService.ts
  src/codewhisperer/service/keyStrokeHandler.ts
  src/codewhisperer/service/recommendationHandler.ts
  src/codewhisperer/service/recommendationService.ts
  src/shared/utilities/editorUtilities.ts
Due: codewhisperer

patch
  resources/icons/aws/codewhisperer/editor-gutter-white.svg
  resources/icons/aws/codewhisperer/editor-gutter.svg
  src/codewhisperer/service/serviceContainer.ts
  src/codewhisperer/views/annotations/annotationUtils.ts
  src/codewhisperer/views/annotations/lineAnnotationController.ts
  src/codewhisperer/views/annotations/lineTracker.ts
Due: codewhisperer

fix up . config files and move .vscodeignore to toolkit package
  .c8rc.json
  .eslintignore
  .github/CODEOWNERS
  .github/dependabot.yml
  .prettierignore
  codecov.yml
  package-lock.json
  packages/toolkit/.vscodeignore
Due: none

update scripts
  package.json
  packages/toolkit/package.json
  plugins/eslint-plugin-aws-toolkits/package.json
  scripts/clean.ts
Due: none

unify isCWRunning state into one place instead of two
  src/codewhisperer/service/inlineCompletionService.ts
  src/codewhisperer/service/keyStrokeHandler.ts
  src/codewhisperer/service/recommendationHandler.ts
  src/codewhisperer/service/recommendationService.ts
  src/test/codewhisperer/service/keyStrokeHandler.test.ts
Due: codewhisperer

lintter: remove unneeded catch block
  src/codewhisperer/service/recommendationService.ts
Due: codewhisperer

refactor: convert path better in SystemUtilities
  src/shared/systemUtilities.ts
  src/test/shared/systemUtilities.test.ts
Due: none

browser: dont check icon paths when in browser
  src/shared/icons.ts
Due: none

browser: debugging the browser changes
  docs/browser.md
  package.json
Due: none

browser: support homedir when in browser
  src/auth/sso/cache.ts
  src/shared/systemUtilities.ts
  src/testBrowser/shared/systemUtilities.test.ts
Due: none

rename: browserRun script package.json
  .gitignore
  docs/browser.md
  package.json
Due: none

run formatter
  src/testBrowser/shared/systemUtilities.test.ts
Due: none

browser: run chrome window w/ debugging
  .vscode/launch.json
  .vscode/tasks.json
  docs/browser.md
  package.json
Due: none

browser: debugging in chrome works!
  .vscode/launch.json
  package.json
  src/extensionWeb.ts
Due: none

rename: browser script
  .vscode/launch.json
  .vscode/tasks.json
  package.json
Due: none

browser: Run Auth Activation in browser (#4317)
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  docs/browser.md
  package.json
  src/auth/activation.ts
  src/auth/sso/cache.ts
  src/auth/sso/sdkV2Compat.ts
  src/auth/ui/vue/show.ts
  src/extensionWeb.ts
  src/shared/icons.ts
  src/shared/systemUtilities.ts
  src/test/shared/systemUtilities.test.ts
  src/testBrowser/shared/systemUtilities.test.ts
Due: none

patch
  src/codewhisperer/service/inlineCompletionService.ts
  src/codewhisperer/service/keyStrokeHandler.ts
  src/codewhisperer/service/recommendationService.ts
  src/codewhisperer/views/annotations/annotationUtils.ts
  src/codewhisperer/views/annotations/lineAnnotationController.ts
  src/test/codewhisperer/service/keyStrokeHandler.test.ts
Due: codewhisperer

move types, fix tsconfig, scripts
  .eslintrc.js
  package-lock.json
  package.json
  packages/toolkit/package.json
  packages/toolkit/scripts/build/createRelease.ts
  packages/toolkit/src/apprunner/wizards/codeRepositoryWizard.ts
  packages/toolkit/src/codecatalyst/repos/remoteSourceProvider.ts
  packages/toolkit/src/shared/extensions/git.ts
  packages/toolkit/src/testInteg/shared/extensions/git.test.ts
  packages/toolkit/tsconfig.json
  packages/toolkit/types/cloudformation-schema-js-yaml.d.ts
  packages/toolkit/types/git.d.ts
  packages/toolkit/types/gitignore-parser.d.ts
  packages/toolkit/types/jsonSchemaService.d.ts
  packages/toolkit/types/vue-types.d.ts
  plugins/eslint-plugin-aws-toolkits/package.json
  tsconfig.json
Due: none

added Compute Env to Post metrics
  package-lock.json
  package.json
  src/shared/telemetry/service-2.json
  src/shared/telemetry/telemetryClient.ts
  src/shared/telemetry/util.ts
Due: none

refactor: delete src.gen/.DS_Store #4333
  src.gen/.DS_Store
Due: none

refactor(codewhisperer): unify isCWRunning state to one place #4336
  src/codewhisperer/service/inlineCompletionService.ts
  src/codewhisperer/service/keyStrokeHandler.ts
  src/codewhisperer/service/recommendationHandler.ts
  src/codewhisperer/service/recommendationService.ts
  src/test/codewhisperer/service/keyStrokeHandler.test.ts
Due: codewhisperer

fix linting, add header to gitignore-parser.d.ts
  package.json
  packages/toolkit/package.json
  packages/toolkit/src/testLint/eslint.test.ts
  packages/toolkit/types/gitignore-parser.d.ts
  scripts/lint/testLint.ts
Due: none

browser: start shared activation method
  src/extension.ts
  src/extensionShared.ts
  src/extensionWeb.ts
Due: none

browser: move global variable setup in to shared
  src/extension.ts
  src/extensionShared.ts
Due: none

browser: move initialization functions to shared activation
  src/extension.ts
  src/extensionShared.ts
Due: none

browser: move telemetry activation to shared activation
  src/extension.ts
  src/extensionShared.ts
Due: none

browser: move some auth to shared activation
  src/extension.ts
  src/extensionShared.ts
Due: none

patch
  src/codewhisperer/activation.ts
  src/codewhisperer/service/recommendationService.ts
  src/codewhisperer/service/serviceContainer.ts
  src/codewhisperer/views/annotations/annotationUtils.ts
  src/codewhisperer/views/annotations/lineAnnotationController.ts
Due: codewhisperer

patch
  src/codewhisperer/views/annotations/annotationUtils.ts
Due: codewhisperer

feat(amazonq/featureDev): multiple workspace folders
  src/amazonqFeatureDev/client/featureDev.ts
  src/amazonqFeatureDev/controllers/chat/controller.ts
  src/amazonqFeatureDev/controllers/chat/messenger/messenger.ts
  src/amazonqFeatureDev/session/session.ts
  src/amazonqFeatureDev/session/sessionConfigFactory.ts
  src/amazonqFeatureDev/session/sessionState.ts
  src/amazonqFeatureDev/types.ts
  src/amazonqFeatureDev/util/files.ts
  src/amazonqFeatureDev/views/connector/connector.ts
  src/shared/codelens/codeLensUtils.ts
  src/shared/sam/debugger/pythonSamDebug.ts
  src/shared/utilities/collectionUtils.ts
  src/shared/utilities/textUtilities.ts
  src/shared/utilities/workspaceUtils.ts
  src/srcShared/fs.ts
  src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
  src/test/amazonqFeatureDev/session/sessionState.test.ts
  src/test/amazonqFeatureDev/util/files.test.ts
  src/test/shared/utilities/collectionUtils.test.ts
  src/test/shared/utilities/textUtilities.test.ts
  src/test/testUtil.ts
  src/testInteg/shared/utilities/workspaceUtils.test.ts
Due: amazonqFeatureDev

patch
  src/codewhisperer/views/annotations/annotationUtils.ts
  src/codewhisperer/views/annotations/lineAnnotationController.ts
Due: codewhisperer

add link to documentation
  package.json
  package.nls.json
Due: none

enable browser webpack again, copy doc files over for extension packing.
  .gitignore
  package-lock.json
  package.json
  packages/toolkit/.vscodeignore
  packages/toolkit/package.json
  packages/toolkit/scripts/build/copyFiles.ts
  packages/toolkit/webpack.config.js
Due: none

move src/browser workspace from toolkit package.json to root package.json
  package-lock.json
Due: none

update some CI commands to use -w packages/toolkit
  .github/workflows/release.yml
  buildspec/packageTestVsix.yml
Due: none

feat(gumby): add error logs txt file to upload ZIP
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/models/constants.ts
  src/codewhisperer/models/model.ts
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

Path conditions:
  codewhisperer: any of: src/codewhisperer/
  amazonqFeatureDev: any of: src/amazonqFeatureDev/
