Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

test(amazonq): add skipped test report generator (#6540)
  package.json
  scripts/skippedTestReport.ts
Due: none

ci: merge locally in CI
  .github/workflows/node.js.yml
Due: none

ci: remove hint about outdated target
  .github/workflows/filterDuplicates.js
Due: none

fixup
  packages/amazonq/src/extension.ts
Due: codewhisperer

feat(amazonq): Notify users to reload when amazonqLSP experiment flag has changed (#6494)
  packages/amazonq/src/extension.ts
Due: codewhisperer

switch to oidc client name
  packages/amazonq/src/lsp/client.ts
  packages/core/src/auth/sso/ssoAccessTokenProvider.ts
  packages/core/src/shared/extensionUtilities.ts
Due: codewhisperer

Release 3.46.0
  package-lock.json
  packages/toolkit/.changes/3.46.0.json
  packages/toolkit/.changes/next-release/Feature-b2217598-82cb-4268-b731-e137fa6a92e8.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Due: none

Release 1.47.0
  package-lock.json
  packages/amazonq/.changes/1.47.0.json
  packages/amazonq/.changes/next-release/Bug Fix-704d175a-a99f-4ce7-bf08-b94d6f7218c0.json
  packages/amazonq/.changes/next-release/Bug Fix-aff621e4-1c1a-450e-91a7-8fd63fe90a5d.json
  packages/amazonq/.changes/next-release/Bug Fix-cd65fb78-14de-4214-baac-2e998c4fb143.json
  packages/amazonq/.changes/next-release/Bug Fix-e9cfb8e0-540c-45ec-b3b7-313ac07c87a7.json
  packages/amazonq/.changes/next-release/Feature-d86356a0-bc42-4187-a7f8-205afbc25d76.json
  packages/amazonq/.changes/next-release/Feature-d9128dff-2867-4bf4-9046-2a52a36803d7.json
  packages/amazonq/.changes/next-release/Feature-f0b1a42d-ee00-4b68-9160-cbae9bd27873.json
  packages/amazonq/.changes/next-release/Removal-319fc7c8-22e0-44f1-a636-2f4040689b32.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
Due: none

fix(amazonq): Update initializationOptions extension name (#6468)
  packages/amazonq/src/lsp/client.ts
  packages/core/src/auth/sso/ssoAccessTokenProvider.ts
  packages/core/src/shared/extensionUtilities.ts
Due: codewhisperer

docs: add explanation and link to job.
  .github/workflows/node.js.yml
Due: none

feat(amazonq): user cancellable lsp download
  packages/core/src/shared/lsp/lspResolver.ts
Due: none

minor refactors
  packages/core/src/shared/lsp/lspResolver.ts
Due: none

update
  packages/amazonq/test/e2e/lsp/lspInstaller.test.ts
Due: none

config(amazonq): simplify language server configuration options (#6570)
  CONTRIBUTING.md
  packages/amazonq/.vscode/launch.json
  packages/amazonq/src/lsp/config.ts
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/amazonq/test/e2e/lsp/lspInstaller.test.ts
  packages/amazonq/test/unit/amazonq/lsp/config.test.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/settings.ts
Due: codewhisperer

Update version to snapshot version: 1.48.0-SNAPSHOT
  package-lock.json
  packages/amazonq/package.json
Due: none

Update version to snapshot version: 3.47.0-SNAPSHOT
  package-lock.json
  packages/toolkit/package.json
Due: none

test(core): Use a fake global state for integ/e2e tests (#6565)
  packages/core/src/testInteg/globalSetup.test.ts
Due: none

deps(auth): remove dependence on deprecated and outdated `@aws-sdk/*` packages. (#6474)
  docs/faq-credentials.md
  package-lock.json
  packages/core/package.json
  packages/core/src/auth/providers/ec2CredentialsProvider.ts
  packages/core/src/auth/providers/ecsCredentialsProvider.ts
  packages/core/src/auth/providers/sharedCredentialsProvider.ts
  packages/core/src/test/credentials/provider/sharedCredentialsProvider.test.ts
Due: none

remove console.log
  packages/amazonq/test/e2e/amazonq/testGen.test.ts
Due: none

refactor: undo unnecessary import change
  packages/core/src/auth/providers/sharedCredentialsProvider.ts
Due: none

fix(test): add unit test for prepareRepoData on multi-root workspace
  packages/amazonq/test/unit/amazonqFeatureDev/util/files.test.ts
Due: none

ci: add fake identity to avoid merge error
  .github/workflows/node.js.yml
Due: none

docs: link comments together
  .github/workflows/node.js.yml
Due: none

Merge master into feature/sdkv3 (#6576)
  docs/faq-credentials.md
  package-lock.json
  packages/core/package.json
  packages/core/src/auth/providers/ec2CredentialsProvider.ts
  packages/core/src/auth/providers/ecsCredentialsProvider.ts
  packages/core/src/auth/providers/sharedCredentialsProvider.ts
  packages/core/src/test/credentials/provider/sharedCredentialsProvider.test.ts
Due: none

fix(amazonq): fix view summary button
  packages/amazonq/.changes/next-release/Bug Fix-eac82ab9-bdab-47c4-834d-600cb1a0b6a2.json
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
Due: codewhisperer

ignore this change
  packages/core/src/amazonq/messages/messagePublisher.ts
Due: none

DefaultAmazonQAppInitContext
  packages/amazonq/test/e2e/amazonq/testGen.test.ts
Due: none

DefaultAmazonQAppInitContext with sleep
  packages/amazonq/test/e2e/amazonq/testGen.test.ts
Due: none

test(amazonq): Set UI ready before executing amazonq e2e tests
  packages/amazonq/test/e2e/amazonq/framework/framework.ts
Due: none

fixup
  packages/amazonq/test/e2e/amazonq/framework/framework.ts
  packages/amazonq/test/e2e/amazonq/framework/messenger.ts
Due: none

fixup
  packages/amazonq/test/e2e/amazonq/framework/framework.ts
Due: none

Add comment
  packages/amazonq/test/e2e/amazonq/framework/framework.ts
Due: none

config(amazonq): Add override settings for workspace context lsp
  packages/amazonq/src/lsp/activation.ts
  packages/amazonq/src/lsp/config.ts
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/amazonq/test/e2e/lsp/lspInstaller.test.ts
  packages/amazonq/test/unit/amazonq/lsp/config.test.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/lsp/config.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/dev/activation.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/lsp/lspInstaller.ts
  packages/core/src/shared/settings.ts
Due: codewhisperer

a
  CONTRIBUTING.md
Due: none

test(amazonq): Set UI ready before executing amazonq e2e tests (#6580)
  packages/amazonq/test/e2e/amazonq/framework/framework.ts
  packages/amazonq/test/e2e/amazonq/framework/messenger.ts
Due: none

removed DefaultAmazonQAppInitContext, and passes locally
  packages/amazonq/test/e2e/amazonq/testGen.test.ts
Due: none

save
  CONTRIBUTING.md
Due: none

Autoload first matching debug config when the local invoke view is opened
  packages/core/src/lambda/vue/configEditor/samInvokeBackend.ts
Due: none

seperate testGen folder in testFixtures
  packages/core/src/testFixtures/workspaceFolder/testGenFolder/src/main/Math.java
  packages/core/src/testFixtures/workspaceFolder/testGenFolder/src/main/math.js
  packages/core/src/testFixtures/workspaceFolder/testGenFolder/src/main/math.py
  packages/core/src/testFixtures/workspaceFolder/testGenFolder/src/main/math.ts
  packages/core/src/testFixtures/workspaceFolder/testGenFolder/src/test/MathTest.java
  packages/core/src/testFixtures/workspaceFolder/testGenFolder/src/test/test_math.py
Due: none

deps(cw): regen clients with codegen at 0.25.x (#6439)
  package-lock.json
  packages/core/package.json
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/shared/errors.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/LICENSE
  src.gen/@amzn/amazon-q-developer-streaming-client/README.md
  src.gen/@amzn/amazon-q-developer-streaming-client/package-lock.json
  src.gen/@amzn/amazon-q-developer-streaming-client/package.json
  src.gen/@amzn/amazon-q-developer-streaming-client/src/commands/SendMessageCommand.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/src/models/models_0.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/src/protocols/Aws_json1_0.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/src/runtimeConfig.browser.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/src/runtimeConfig.ts
  src.gen/@amzn/amazon-q-developer-streaming-client/typedoc.json
  src.gen/@amzn/codewhisperer-streaming/LICENSE
  src.gen/@amzn/codewhisperer-streaming/README.md
  src.gen/@amzn/codewhisperer-streaming/package-lock.json
  src.gen/@amzn/codewhisperer-streaming/package.json
  src.gen/@amzn/codewhisperer-streaming/src/CodeWhispererStreaming.ts
  src.gen/@amzn/codewhisperer-streaming/src/CodeWhispererStreamingClient.ts
  src.gen/@amzn/codewhisperer-streaming/src/auth/httpAuthExtensionConfiguration.ts
  src.gen/@amzn/codewhisperer-streaming/src/auth/httpAuthSchemeProvider.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/ExportResultArchiveCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/GenerateAssistantResponseCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/GenerateTaskAssistPlanCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/SendMessageCommand.ts
  src.gen/@amzn/codewhisperer-streaming/src/commands/index.ts
  src.gen/@amzn/codewhisperer-streaming/src/endpoints.ts
  src.gen/@amzn/codewhisperer-streaming/src/extensionConfiguration.ts
  src.gen/@amzn/codewhisperer-streaming/src/index.ts
  src.gen/@amzn/codewhisperer-streaming/src/models/CodeWhispererStreamingServiceException.ts
  src.gen/@amzn/codewhisperer-streaming/src/models/models_0.ts
  src.gen/@amzn/codewhisperer-streaming/src/protocols/Aws_restJson1.ts
  src.gen/@amzn/codewhisperer-streaming/src/runtimeConfig.browser.ts
  src.gen/@amzn/codewhisperer-streaming/src/runtimeConfig.shared.ts
  src.gen/@amzn/codewhisperer-streaming/src/runtimeConfig.ts
  src.gen/@amzn/codewhisperer-streaming/src/runtimeExtensions.ts
  src.gen/@amzn/codewhisperer-streaming/tsconfig.json
  src.gen/@amzn/codewhisperer-streaming/typedoc.json
Due: amazonqFeatureDev

Path conditions:
  codewhisperer: any of: packages/core/src/codewhisperer/, packages/core/src/amazonq*/*, packages/amazonq/src/, but not: node_modules/, plugins/, scripts/, src.gen/
  amazonqFeatureDev: any of: packages/core/src/amazonqFeatureDev/, but not: node_modules/, plugins/, scripts/, src.gen/
