Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

Update Q Chat Introduction message and disable Q Signout option for SMUS based CodeEditor App
  packages/amazonq/package.json
  packages/amazonq/src/app/chat/activation.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/util/amazonQState.ts
  packages/core/src/amazonq/webview/generators/webViewContent.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/tabs/constants.ts
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
  packages/core/src/codewhisperer/ui/statusBarMenu.ts
  packages/core/src/shared/vscode/setContext.ts
Due: codewhisperer

Add unit tests to validate sign out and chat intro message changes Update changelog to add SageMaker Unified Studio features Address review comments and linting
  packages/amazonq/.changes/next-release/Feature-390d2096-ea1e-43b9-a889-2494d6e9e6d3.json
  packages/amazonq/.changes/next-release/Feature-3c42f632-46b8-4e59-b5fa-75d638f3f08d.json
  packages/amazonq/package.json
  packages/amazonq/src/app/chat/activation.ts
  packages/core/src/amazonq/util/amazonQState.ts
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
  packages/core/src/shared/vscode/setContext.ts
  packages/core/src/test/amazonq/webview/ui/tabs/generator.test.ts
  packages/core/src/test/codewhisperer/commands/basicCommands.test.ts
Due: codewhisperer

Remove mynahUI dependency from generator test to fix CI build failure
  packages/core/src/test/amazonq/webview/ui/tabs/generator.test.ts
Due: none

Update context var setup in extension activation for both node and web instead of chat activation, utils refactored
  packages/amazonq/src/app/chat/activation.ts
  packages/amazonq/src/extension.ts
  packages/core/src/amazonq/webview/generators/webViewContent.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/tabs/constants.ts
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
  packages/core/src/auth/auth.ts
  packages/core/src/codewhisperer/ui/statusBarMenu.ts
  packages/core/src/extension.ts
  packages/core/src/shared/extensionUtilities.ts
  packages/core/src/shared/vscode/constants.ts
Due: codewhisperer

fix(amazonq): suppress linter
  packages/amazonq/src/app/inline/customizationService.ts
  packages/amazonq/test/unit/amazonq/apps/inline/customizationService.test.ts
Due: codewhisperer

update
  packages/core/src/codewhisperer/util/editorContext.ts
Due: codewhisperer

update imports:
  packages/amazonq/src/lsp/client.ts
Due: codewhisperer

minimize changes
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/src/lsp/config.ts
  packages/core/src/shared/settings-amazonq.gen.ts
Due: codewhisperer

minimize changes
  packages/core/src/shared/settings-amazonq.gen.ts
Due: none

update
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/src/lsp/config.ts
Due: codewhisperer

fix(amazonq): fix /transform test and remove feedback form
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
Due: none

add test
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
Due: none

remove .only
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
Due: none

Fix exports for auth
  packages/amazonq/test/unit/amazonq/lsp/chat/messages.test.ts
  packages/core/src/amazonq/index.ts
Due: codewhisperer

feat(amazonq lsp): add authFollowUpClicked implementation (#6886)
  packages/amazonq/src/lsp/chat/messages.ts
  packages/amazonq/test/unit/amazonq/lsp/chat/messages.test.ts
  packages/core/src/amazonq/index.ts
Due: codewhisperer

Bumping up the mynah UI version to v4.27.0
  package-lock.json
  packages/core/package.json
Due: none

fix(amazonq): fix /transform test, remove feedback form #6903
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
Due: none

fix(amazonq): use new FF
  packages/core/src/codewhisperer/ui/codeWhispererNodes.ts
Due: codewhisperer

deps(amazonq): mynah-ui 4.27.0 #6901
  package-lock.json
  packages/amazonq/.changes/next-release/Feature-e5ed7aac-542d-41ee-8abe-d32db5de73ae.json
  packages/core/package.json
Due: none

feat(amazonq): clean up all sessions storage on profileChanged #2115
  packages/amazonq/src/app/amazonqScan/chat/controller/controller.ts
  packages/core/src/amazonq/commons/baseChatStorage.ts
  packages/core/src/amazonqDoc/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/storages/chatSession.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/storages/chatSession.ts
Due: codewhisperer, amazonqFeatureDev

config(amazonq): use external endpoints
  packages/amazonq/test/unit/codewhisperer/region/regionProfileManager.test.ts
  packages/core/src/codewhisperer/region/regionProfileManager.ts
Due: codewhisperer

Fix for chat history for multuple tabs and user tool ignore.
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/storages/chatHistory.ts
  packages/core/src/codewhispererChat/storages/chatHistoryStorage.ts
Due: none

feat(chat): Add warning UI for high risk bash command
  package-lock.json
  packages/core/package.json
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/tools/chatStream.ts
  packages/core/src/codewhispererChat/tools/executeBash.ts
  packages/core/src/codewhispererChat/tools/toolUtils.ts
  packages/core/src/test/codewhispererChat/tools/executeBash.test.ts
  packages/core/src/test/codewhispererChat/tools/toolShared.test.ts
Due: none

fix for merge conflicts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
Due: none

feat(chat): Add warning UI for high risk bash command (#6895)
  package-lock.json
  packages/core/package.json
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/tools/chatStream.ts
  packages/core/src/codewhispererChat/tools/executeBash.ts
  packages/core/src/codewhispererChat/tools/toolUtils.ts
  packages/core/src/test/codewhispererChat/tools/executeBash.test.ts
  packages/core/src/test/codewhispererChat/tools/toolShared.test.ts
Due: none

feat(amazonq): conversation persistence, view and search chat history, chat export
  package-lock.json
  packages/amazonq/.changes/next-release/Feature-2cf2317a-aa6e-4413-aa57-e0d8905ab109.json
  packages/amazonq/.changes/next-release/Feature-80e49868-8e04-4648-aace-ad34ef57eba2.json
  packages/amazonq/.changes/next-release/Feature-ed1e1b2e-0073-4de0-99b8-e417298328e6.json
  packages/core/package.json
  packages/core/src/amazonq/webview/ui/apps/baseConnector.ts
  packages/core/src/amazonq/webview/ui/apps/docChatConnector.ts
  packages/core/src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  packages/core/src/amazonq/webview/ui/commands.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonq/webview/ui/detailedList/detailedListConnector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/codewhispererChat/app.ts
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
  packages/core/src/codewhispererChat/controllers/chat/chatRequest/converter.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/controllers/chat/model.ts
  packages/core/src/codewhispererChat/controllers/chat/tabBarController.ts
  packages/core/src/codewhispererChat/view/connector/connector.ts
  packages/core/src/codewhispererChat/view/messages/messageListener.ts
  packages/core/src/shared/clients/chatDb/chatDb.ts
  packages/core/src/shared/clients/chatDb/helpers.ts
Due: none

fix: linter errors
  packages/core/src/codewhispererChat/controllers/chat/tabBarController.ts
Due: none

feat(amazonq): select chat history item on enter key press
  packages/core/src/amazonq/webview/ui/apps/baseConnector.ts
  packages/core/src/amazonq/webview/ui/connector.ts
  packages/core/src/amazonq/webview/ui/detailedList/detailedListConnector.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/shared/db/chatDb/chatDb.ts
Due: none

fix(amazonq): check if tab is already open before exporting from history
  packages/core/src/codewhispererChat/controllers/chat/tabBarController.ts
  packages/core/src/shared/db/chatDb/chatDb.ts
Due: none

fix: move chatDb file, add docstrings
  packages/core/src/codewhispererChat/clients/chat/v0/chat.ts
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/controllers/chat/messenger/messenger.ts
  packages/core/src/codewhispererChat/controllers/chat/tabBarController.ts
  packages/core/src/codewhispererChat/view/messages/messageListener.ts
  packages/core/src/shared/db/chatDb/chatDb.ts
  packages/core/src/shared/db/chatDb/util.ts
Due: none

feat(sagemaker): disable Q signout on SMUS #6850
  packages/amazonq/.changes/next-release/Feature-390d2096-ea1e-43b9-a889-2494d6e9e6d3.json
  packages/amazonq/.changes/next-release/Feature-3c42f632-46b8-4e59-b5fa-75d638f3f08d.json
  packages/amazonq/package.json
  packages/amazonq/src/extension.ts
  packages/core/src/amazonq/webview/generators/webViewContent.ts
  packages/core/src/amazonq/webview/ui/main.ts
  packages/core/src/amazonq/webview/ui/tabs/constants.ts
  packages/core/src/amazonq/webview/ui/tabs/generator.ts
  packages/core/src/codewhisperer/ui/statusBarMenu.ts
  packages/core/src/extension.ts
  packages/core/src/shared/extensionUtilities.ts
  packages/core/src/shared/vscode/constants.ts
  packages/core/src/shared/vscode/setContext.ts
  packages/core/src/test/codewhisperer/commands/basicCommands.test.ts
Due: codewhisperer

fix for chat history for multuple tabs and user tool ignore
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/storages/chatHistory.ts
  packages/core/src/codewhispererChat/storages/chatHistoryStorage.ts
Due: none

Renaming TabHistory function.
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/storages/chatHistoryStorage.ts
Due: none

formatting the stderr
  packages/core/src/codewhispererChat/tools/executeBash.ts
Due: none

/review: automatically generate fix without clicking Generate Fix button
  packages/amazonq/.changes/next-release/Feature-77c028a2-092e-4ee6-b782-d6ddc930f304.json
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/shared/settings-amazonq.gen.ts
Due: codewhisperer

fix(chat): fix for chat history for multuple tabs and user tool ignore (#6906)
  packages/core/src/codewhispererChat/controllers/chat/controller.ts
  packages/core/src/codewhispererChat/storages/chatHistory.ts
  packages/core/src/codewhispererChat/storages/chatHistoryStorage.ts
Due: none

feat(chat): Split commands by additonal operators
  packages/core/src/codewhispererChat/tools/executeBash.ts
  packages/core/src/test/codewhispererChat/tools/executeBash.test.ts
Due: none

feat(chat): Split commands by additonal operators (#6908)
  packages/core/src/codewhispererChat/tools/executeBash.ts
  packages/core/src/test/codewhispererChat/tools/executeBash.test.ts
Due: none

(fix)chat: fix the bash output is not formatted (#6907)
  packages/core/src/codewhispererChat/tools/executeBash.ts
Due: none

fix tests
  packages/amazonq/test/unit/amazonq/lsp/config.test.ts
Due: none
