Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            default:
                threshold: 1
                informational: true
            codewhisperer:
                target: 70%
                paths:
                    - src/codewhisperer/*
                flags:
                    - 'codewhisperer'
            amazonqFeatureDev:
                target: 70%
                paths:
                    - src/amazonqFeatureDev/*
                flags:
                    - 'amazonqFeatureDev'
        patch: no
        changes: no

comment: off

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - src/codewhisperer/
    amazonqFeatureDev:
        paths:
            - src/amazonqFeatureDev/

test: fix keyStrokeHanlder test
  src/test/codewhisperer/service/keyStrokeHandler.test.ts
Due: none

fix(tests): CW mockEditor initialized incorrectly
  src/test/codewhisperer/service/keyStrokeHandler.test.ts
Due: none

codewhisperer: add action to customization notification (#4095)
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/customization/CodeWhispererModelConfigurator.kt
  jetbrains-core/src/software/aws/toolkits/jetbrains/services/codewhisperer/service/CodeWhispererService.kt
  resources/resources/software/aws/toolkits/resources/MessagesBundle.properties
Due: none

Updating version to 2.4
  .changes/2.4.json
  .changes/next-release/bugfix-c5fe39dc-62e3-4580-8fc4-d1bf7876c1d2.json
  .changes/next-release/bugfix-e16b8891-087a-4164-a9de-1e051a7e66c0.json
  CHANGELOG.md
  gradle.properties
Due: none

fix: delete ZIP in finally block
  .changes/next-release/Bug Fix-488470d7-db3a-48fe-8c06-2b499e374995.json
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

nit: comment message
  src/codewhisperer/commands/startTransformByQ.ts
Due: codewhisperer

nit: comment
  src/testE2E/amazonqGumby/transformByQ.test.ts
Due: none

fix(tests): "TypeError: … undefined (reading 'isMapped')"
  src/test/dynamicResources/awsResourceManager.test.ts
Due: none

fix(tests): "TypeError: … undefined (reading 'isMapped')" #4250
  src/test/dynamicResources/awsResourceManager.test.ts
Due: none

refactor(codewhisperer): simplify isValidResponse()
  src/codewhisperer/service/recommendationHandler.ts
Due: codewhisperer

fix(tests): "Unable to read file 's3-read-test:..."
  src/s3/commands/openFile.ts
  src/s3/fileViewerManager.ts
  src/test/s3/util/fileViewerManager.test.ts
Due: none

refactor(codewhisperer): simplify isValidResponse() #4251
  src/codewhisperer/service/recommendationHandler.ts
Due: codewhisperer

fixup! fix(tests): "Unable to read file 's3-read-test:..."
  src/s3/fileViewerManager.ts
  src/test/s3/util/fileViewerManager.test.ts
Due: none

fixed conflict package and lock json
  package-lock.json
  package.json
Due: none

fixed code block background removed unused parameters
  package-lock.json
  package.json
  src/amazonq/webview/ui/messages/handler.ts
  src/amazonq/webview/ui/quickActions/handler.ts
Due: none

added changelog
  .changes/next-release/Bug Fix-335f2fb2-ad96-4031-8777-1edba11b4d21.json
Due: none

fix(tests): "Unable to read file 's3-read-test:..." #4252
  src/s3/commands/openFile.ts
  src/s3/fileViewerManager.ts
  src/test/s3/util/fileViewerManager.test.ts
Due: none

fix(tests): "rejected promise … Error: No access"
  CONTRIBUTING.md
  src/auth/connection.ts
Due: none

fix(tests): rejected promise "command 'aws.codeWhisperer.refresh' not found"
  src/codewhisperer/commands/basicCommands.ts
  src/codewhisperer/util/authUtil.ts
  src/codewhisperer/util/customizationUtil.ts
  src/codewhisperer/util/getStartUrl.ts
  src/codewhisperer/util/showSsoPrompt.ts
  src/shared/vscode/commands2.ts
Due: codewhisperer

tests: "rejected promise … waiting for browser login"
  src/test/credentials/sso/ssoAccessTokenProvider.test.ts
Due: none

updated changelog text
  .changes/next-release/Bug Fix-335f2fb2-ad96-4031-8777-1edba11b4d21.json
Due: none

revert mynah-ui update
  package-lock.json
  package.json
Due: none

updated mynah ui version
  package-lock.json
  package.json
Due: none

renamed mynah-ui version to its original
  package-lock.json
  package.json
  src/amazonq/webview/ui/apps/amazonqCommonsConnector.ts
  src/amazonq/webview/ui/apps/cwChatConnector.ts
  src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  src/amazonq/webview/ui/connector.ts
  src/amazonq/webview/ui/followUps/generator.ts
  src/amazonq/webview/ui/followUps/handler.ts
  src/amazonq/webview/ui/followUps/model.ts
  src/amazonq/webview/ui/main.ts
  src/amazonq/webview/ui/messages/controller.ts
  src/amazonq/webview/ui/messages/handler.ts
  src/amazonq/webview/ui/quickActions/generator.ts
  src/amazonq/webview/ui/quickActions/handler.ts
  src/amazonq/webview/ui/tabs/generator.ts
  src/amazonqFeatureDev/controllers/chat/controller.ts
  src/amazonqFeatureDev/controllers/chat/messenger/messenger.ts
  src/amazonqFeatureDev/views/connector/connector.ts
Due: amazonqFeatureDev

fix(amazonq): code-block styling #4253
  .changes/next-release/Bug Fix-335f2fb2-ad96-4031-8777-1edba11b4d21.json
  package-lock.json
  package.json
  src/amazonq/webview/ui/apps/amazonqCommonsConnector.ts
  src/amazonq/webview/ui/apps/cwChatConnector.ts
  src/amazonq/webview/ui/apps/featureDevChatConnector.ts
  src/amazonq/webview/ui/connector.ts
  src/amazonq/webview/ui/followUps/generator.ts
  src/amazonq/webview/ui/followUps/handler.ts
  src/amazonq/webview/ui/followUps/model.ts
  src/amazonq/webview/ui/main.ts
  src/amazonq/webview/ui/messages/controller.ts
  src/amazonq/webview/ui/messages/handler.ts
  src/amazonq/webview/ui/quickActions/generator.ts
  src/amazonq/webview/ui/quickActions/handler.ts
  src/amazonq/webview/ui/tabs/generator.ts
  src/amazonqFeatureDev/controllers/chat/controller.ts
  src/amazonqFeatureDev/controllers/chat/messenger/messenger.ts
  src/amazonqFeatureDev/views/connector/connector.ts
Due: amazonqFeatureDev

fix(tests): "rejected promise … CodeWhisperer Security Scan"
  src/test/codewhisperer/commands/startSecurityScan.test.ts
Due: none

fix(tests): "rejected promise … FileSystemError … big-image.jpg"
  src/test/s3/util/fileViewerManager.test.ts
Due: none

ci: fail on "rejected promise not handled"
  buildspec/linuxTests.yml
  buildspec/shared/common.sh
  buildspec/shared/linux-pre_build.sh
Due: none

nit: comment
  src/codewhisperer/service/transformationHubViewProvider.ts
Due: codewhisperer

fix: add changelog item
  .changes/next-release/Bug Fix-40e7e079-f63c-4ca8-8639-8a8810f59f85.json
Due: none

Update Bug Fix-488470d7-db3a-48fe-8c06-2b499e374995.json
  .changes/next-release/Bug Fix-488470d7-db3a-48fe-8c06-2b499e374995.json
Due: none

fix(gumby): add jobId to feedback, delete temp files, use shell:true #4237
  .changes/next-release/Bug Fix-40e7e079-f63c-4ca8-8639-8a8810f59f85.json
  .changes/next-release/Bug Fix-488470d7-db3a-48fe-8c06-2b499e374995.json
  package.json
  src/codewhisperer/commands/startTransformByQ.ts
  src/codewhisperer/models/model.ts
  src/codewhisperer/service/transformByQHandler.ts
  src/codewhisperer/service/transformationHubViewProvider.ts
  src/codewhisperer/service/transformationResultsViewProvider.ts
  src/feedback/vue/submitFeedback.ts
  src/testE2E/amazonqGumby/transformByQ.test.ts
Due: codewhisperer

codewhisperer: add action to customization notification (#4235)
  .changes/next-release/Feature-9c583c77-3b07-4c5e-b5c2-ba32b9d29963.json
  src/codewhisperer/util/customizationUtil.ts
Due: codewhisperer

fix(gumby): surround path with double quotes
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

fix(gumby): surround path with double quotes (#4256)
  src/codewhisperer/service/transformByQHandler.ts
Due: codewhisperer

fix closing symbols handling fails if there is typeahead
  src/codewhisperer/commands/onInlineAcceptance.ts
  src/codewhisperer/models/model.ts
  src/codewhisperer/service/inlineCompletionItemProvider.ts
  src/codewhisperer/util/closingBracketUtil.ts
Due: codewhisperer

patch tst
  src/test/codewhisperer/commands/onInlineAcceptance.test.ts
Due: none

patch tst
  src/test/codewhisperer/commands/onAcceptance.test.ts
Due: none

fix: missing dependabot updates
  .github/dependabot.yml
Due: none

fix: missing dependabot updates #4258
  .github/dependabot.yml
Due: none
