Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

codecov.yml:

# To validate:
#   cat codecov.yml | curl --data-binary @- https://codecov.io/validate

codecov:
    notify:
        require_ci_to_pass: no

ignore:
    - 'node_modules/'
    - 'plugins/'
    - 'scripts/'
    - 'src.gen/'

coverage:
    precision: 2
    round: down
    range: '70...100'

    status:
        project:
            # Note: `default` measures the entire project.
            # It does NOT define defaults "inherited" by other `project` items.
            # https://docs.codecov.com/docs/commit-status
            default:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                target: 80
                threshold: 5
                only_pulls: true
            codewhisperer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhisperer/'
                    - 'packages/core/src/amazonq*/*'
                    - 'packages/amazonq/src/'
                flags:
                    - 'codewhisperer'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqFeatureDev:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqFeatureDev/*'
                flags:
                    - 'amazonqFeatureDev'
                target: 80
                threshold: 5
                only_pulls: true
            amazonqGumby:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/amazonqGumby/*'
                target: 80
                threshold: 5
                only_pulls: true
            codewhispererChat:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/codewhispererChat/*'
                target: 80
                threshold: 5
                only_pulls: true
            applicationcomposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/applicationcomposer/*'
                target: 80
                threshold: 5
                only_pulls: true
            stepFunctions:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/stepFunctions/*'
                target: 50
                threshold: 10
                only_pulls: true
            threatComposer:
                informational: true # Always pass. Ignore `target`, `threshold`, etc.
                paths:
                    - 'packages/core/src/threatComposer/*'
                target: 80
                threshold: 5
                only_pulls: true
        patch:
            default:
                # Note: `default` measures the entire project.
                # It does NOT define defaults "inherited" by other `project` items.
                # https://docs.codecov.com/docs/commit-status
                target: 90
                threshold: 5
                only_pulls: true
                informational: false # Fail if PR changes are not covered.
                # branches:
                #     - master
        changes: false

comment: false

github_checks:
    annotations: false

flags:
    codewhisperer:
        paths:
            - 'packages/core/src/codewhisperer/'
            - 'packages/core/src/amazonq*/*'
            - 'packages/amazonq/src/'
    amazonqFeatureDev:
        paths:
            - 'packages/core/src/amazonqFeatureDev/'

UTG Error handling rebasing
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqTest/error.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/codeFixHandler.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/codewhisperer/util/zipUtil.ts
Due: codewhisperer

fix logging
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
Due: codewhisperer

add changelog
  packages/amazonq/.changes/next-release/Bug Fix-34e877a1-d2ca-4c93-9dee-5dd2019769fe.json
Due: none

test(amazonq): messages at different remaining iteration counts #6381
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: amazonqFeatureDev

telemetry(amazonq): unit test generation #6386
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqTest/error.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/codeFixHandler.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
  packages/core/src/codewhisperer/util/zipUtil.ts
Due: codewhisperer

fix(lambda): AppBuilder messages #6362
  packages/core/src/awsService/appBuilder/explorer/detectSamProjects.ts
  packages/core/src/awsService/appBuilder/explorer/nodes/appNode.ts
  packages/core/src/awsService/appBuilder/explorer/nodes/deployedNode.ts
  packages/core/src/awsService/appBuilder/explorer/samProject.ts
  packages/core/src/awsService/appBuilder/utils.ts
  packages/core/src/awsService/appBuilder/walkthrough.ts
  packages/core/src/test/awsService/appBuilder/explorer/detectSamProjects.test.ts
  packages/core/src/test/awsService/appBuilder/explorer/samProject.test.ts
  packages/core/src/test/awsService/appBuilder/utils.test.ts
  packages/core/src/test/awsService/appBuilder/walkthrough.test.ts
  packages/core/src/test/shared/applicationBuilder/explorer/nodes/appNode.test.ts
  packages/core/src/test/shared/applicationBuilder/explorer/nodes/deployedNode.test.ts
  packages/toolkit/.changes/next-release/Bug Fix-b033b55b-52a5-488a-a4a7-c3228232bca6.json
Due: none

fix(amazonq): setMaven correctly #6384
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformMavenHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
Due: codewhisperer

feat(amazonq): grouping options for code issues #6330
  packages/amazonq/.changes/next-release/Feature-f0d4f2ca-72c5-4434-8cf3-fcd742bf33d7.json
  packages/amazonq/package.json
  packages/amazonq/test/unit/codewhisperer/models/model.test.ts
  packages/amazonq/test/unit/codewhisperer/service/securityIssueTreeViewProvider.test.ts
  packages/amazonq/test/unit/codewhisperer/ui/prompters.test.ts
  packages/core/package.nls.json
  packages/core/src/codewhisperer/activation.ts
  packages/core/src/codewhisperer/client/codewhisperer.ts
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/index.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/securityIssueTreeViewProvider.ts
  packages/core/src/codewhisperer/ui/prompters.ts
  packages/core/src/shared/globalState.ts
  packages/core/src/test/index.ts
Due: codewhisperer

perf(childprocess): track/monitor health of spawned processes #6304
  packages/core/src/dev/activation.ts
  packages/core/src/shared/logger/logger.ts
  packages/core/src/shared/utilities/pollingSet.ts
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: none

seperate verification and downloading
  packages/core/src/shared/lsp/lspResolver.ts
Due: none

add telemetry for validation step
  packages/core/src/shared/lsp/lspResolver.ts
Due: none

fix
  packages/core/src/shared/resourcefetcher/node/httpResourceFetcher.ts
  packages/core/src/test/awsService/appBuilder/walkthrough.test.ts
Due: none

refactor(core): Make HttpResourceFetcher platform agnostic (#6379)
  packages/core/src/lambda/commands/downloadLambda.ts
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
  packages/core/src/shared/resourcefetcher/node/httpResourceFetcher.ts
  packages/core/src/shared/utilities/cliUtils.ts
  packages/core/src/test/awsService/appBuilder/walkthrough.test.ts
Due: none

rename metrics and types
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/lsp/lspResolver.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: none

reduce duplication across stage implementations
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/util.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/shared/lsp/lspResolver.ts
Due: none

undo unnecessary change
  packages/core/src/amazonq/lsp/lspClient.ts
Due: none

refactor(core): Improve httpResourceFetcher API
  packages/core/src/lambda/utils.ts
  packages/core/src/lambda/vue/configEditor/samInvokeBackend.ts
  packages/core/src/lambda/vue/remoteInvoke/invokeLambda.ts
  packages/core/src/shared/resourcefetcher/httpResourceFetcher.ts
  packages/core/src/shared/resourcefetcher/resourcefetcher.ts
  packages/core/src/shared/sam/debugger/csharpSamDebug.ts
  packages/core/src/shared/schemas.ts
  packages/core/src/stepFunctions/utils.ts
  packages/core/src/test/lambda/vue/remoteInvoke/invokeLambda.test.ts
  packages/core/src/test/lambda/vue/samInvokeBackend.test.ts
  packages/core/src/test/shared/resourceFetcher/httpResourceFetcher.test.ts
  packages/core/src/test/testUtil.ts
Due: none

refactor(core): Remove composite resource fetcher
  packages/core/src/shared/resourcefetcher/compositeResourceFetcher.ts
  packages/core/src/test/shared/resourceFetcher/compositeResourceFetcher.test.ts
Due: none

revert(amazonq): defaultServiceConfig endpoint change
  packages/core/src/codewhisperer/client/codewhisperer.ts
Due: codewhisperer

revert(amazonq): defaultServiceConfig endpoint change #6392
  packages/core/src/codewhisperer/client/codewhisperer.ts
Due: codewhisperer

deps(amazonq): bump mynahui to 4.21.5
  package-lock.json
  packages/amazonq/.changes/next-release/Bug Fix-097e1816-d641-481d-8709-dae31a987473.json
  packages/amazonq/.changes/next-release/Bug Fix-63892126-9705-48ca-9772-d35003737838.json
  packages/amazonq/.changes/next-release/Bug Fix-7545b1a5-9cc7-416e-aafd-0d2733142941.json
  packages/amazonq/.changes/next-release/Bug Fix-845cedee-af40-430a-9a6d-47d387f7fb1a.json
  packages/amazonq/.changes/next-release/Feature-3dab51da-4ae6-4691-a8d1-bd142beee740.json
  packages/core/package.json
Due: none

docs(amazonq): removed incorrect changelog items
  packages/amazonq/.changes/next-release/Bug Fix-63892126-9705-48ca-9772-d35003737838.json
  packages/amazonq/.changes/next-release/Bug Fix-845cedee-af40-430a-9a6d-47d387f7fb1a.json
  packages/amazonq/.changes/next-release/Feature-3dab51da-4ae6-4691-a8d1-bd142beee740.json
Due: none

deps(amazonq): bump mynahui to 4.21.5 #6393
  package-lock.json
  packages/amazonq/.changes/next-release/Bug Fix-097e1816-d641-481d-8709-dae31a987473.json
  packages/amazonq/.changes/next-release/Bug Fix-7545b1a5-9cc7-416e-aafd-0d2733142941.json
  packages/core/package.json
Due: none

add units to process stat keys
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: none

resolve circ dep
  packages/core/src/shared/utilities/processUtils.ts
Due: none

fix(amazonq): allow for prompt updates after error, prevent iteration limit exceeded errors
  packages/amazonq/.changes/next-release/Bug Fix-11625969-6700-4d10-805f-b6eaea2287a2.json
  packages/amazonq/.changes/next-release/Bug Fix-fdf7f991-1da6-405d-8a8a-3ce1af1db29d.json
  packages/amazonq/test/e2e/amazonq/doc.test.ts
  packages/core/package.nls.json
  packages/core/src/amazonq/commons/connector/baseMessenger.ts
  packages/core/src/amazonqDoc/constants.ts
  packages/core/src/amazonqDoc/controllers/chat/controller.ts
  packages/core/src/amazonqDoc/errors.ts
  packages/core/src/amazonqDoc/messenger.ts
  packages/core/src/amazonqDoc/session/sessionState.ts
Due: codewhisperer

fix failing tests
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: none

refactor(lsp): Use internal ChildProcess module for launching language servers (#6374)
  packages/amazonq/src/lsp/client.ts
  packages/core/src/amazonq/lsp/lspClient.ts
  packages/core/src/shared/index.ts
  packages/core/src/shared/lsp/utils/platform.ts
  packages/core/src/shared/utilities/processUtils.ts
Due: codewhisperer

rename commands and remove outdated changelog
  packages/amazonq/.changes/next-release/Feature-db34038d-d2bf-4b6e-b4dc-ac84c0156ab5.json
  packages/amazonq/package.json
  packages/core/package.nls.json
  packages/core/src/extension.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/toolkit/.changes/next-release/Feature-82e8146f-5dec-4af6-8f55-482471fdb4ad.json
  packages/toolkit/package.json
Due: none

update changelog
  packages/amazonq/.changes/next-release/Feature-31e78111-a241-44e5-9163-a81c5ef380d6.json
  packages/toolkit/.changes/next-release/Feature-db12e8e0-fc45-46e9-81e7-62d85aee2140.json
Due: none

update telemetry
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/processUtils.test.ts
Due: none

make it clear it is currently being logged
  packages/core/package.nls.json
Due: none

Update packages/amazonq/.changes/next-release/Bug Fix-34e877a1-d2ca-4c93-9dee-5dd2019769fe.json
  packages/amazonq/.changes/next-release/Bug Fix-34e877a1-d2ca-4c93-9dee-5dd2019769fe.json
Due: none

fix(amazonq): codefix does not do error handling (#6307)
  packages/amazonq/.changes/next-release/Bug Fix-38581ab6-e9f3-4b45-aef9-5f93e4a97a26.json
  packages/core/package.nls.json
  packages/core/resources/css/securityIssue.css
  packages/core/src/codewhisperer/commands/basicCommands.ts
  packages/core/src/codewhisperer/models/errors.ts
  packages/core/src/codewhisperer/service/codeFixHandler.ts
  packages/core/src/codewhisperer/views/securityIssue/securityIssueWebview.ts
  packages/core/src/codewhisperer/views/securityIssue/vue/root.vue
  packages/core/src/test/codewhisperer/commands/basicCommands.test.ts
Due: codewhisperer

update changelog to match
  packages/amazonq/.changes/next-release/Feature-31e78111-a241-44e5-9163-a81c5ef380d6.json
  packages/toolkit/.changes/next-release/Feature-db12e8e0-fc45-46e9-81e7-62d85aee2140.json
Due: none

improve interface by making bad state impossible
  packages/core/src/awsService/apprunner/explorer/apprunnerNode.ts
  packages/core/src/awsService/ec2/explorer/ec2ParentNode.ts
  packages/core/src/shared/utilities/pollingSet.ts
  packages/core/src/shared/utilities/processUtils.ts
  packages/core/src/test/shared/utilities/pollingSet.test.ts
Due: none

update tests that relied on prev behavior
  packages/core/src/test/awsService/ec2/activation.test.ts
  packages/core/src/test/awsService/ec2/explorer/ec2InstanceNode.test.ts
Due: none

fix(amazonq): allow for more iterations on prompt related errors
  packages/core/src/amazonqDoc/errors.ts
  packages/core/src/amazonqDoc/session/sessionState.ts
Due: codewhisperer

config(amazonq): lower timeout for auto reviews
  packages/amazonq/test/unit/codewhisperer/service/securityScanHandler.test.ts
  packages/core/src/codewhisperer/index.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/service/securityScanHandler.ts
  packages/core/src/shared/index.ts
Due: codewhisperer

fix(amazonq): replace icons with text
  packages/core/package.nls.json
  packages/core/src/codewhisperer/service/transformByQ/transformationHubViewProvider.ts
Due: codewhisperer
