Repository aws/aws-toolkit-vscode: changes, and which Codecov flags are due for each by the changed paths.
All: codewhisperer, amazonqFeatureDev

p
  packages/amazonq/test/unit/codewhisperer/util/supplemetalContextUtil.test.ts
Due: none

d
  packages/core/src/codewhisperer/util/supplementalContext/supplementalContextUtil.ts
Due: codewhisperer

fix conflicts
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
Due: codewhisperer

telemetry(amazonq): add vectorIndexEnabled boolean to workspace index telemetry (#6720)
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: none

feat(amazonq): client-side build support
  packages/amazonq/test/e2e/amazonq/transformByQ.test.ts
  packages/amazonq/test/unit/amazonqGumby/transformApiHandler.test.ts
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messengerUtils.ts
  packages/core/src/amazonqGumby/chat/session/session.ts
  packages/core/src/codewhisperer/commands/startTransformByQ.ts
  packages/core/src/codewhisperer/models/constants.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformFileHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformMavenHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationHubViewProvider.ts
  packages/core/src/codewhisperer/service/transformByQ/transformationResultsViewProvider.ts
  packages/core/src/test/codewhisperer/commands/transformByQ.test.ts
Due: codewhisperer

fix imports
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformMavenHandler.ts
Due: codewhisperer

telemetry(amazonq): Update /dev error classification logic
  packages/core/src/amazonq/errors.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/errors.ts
  packages/core/src/amazonqFeatureDev/session/session.ts
  packages/core/src/amazonqFeatureDev/session/sessionState.ts
  packages/core/src/shared/telemetry/vscodeTelemetry.json
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: codewhisperer, amazonqFeatureDev

feat(q-featuredev): skip registering run command log file, minor fix of feature dev sessionState unit test
  packages/core/src/amazonqFeatureDev/client/featureDev.ts
  packages/core/src/test/amazonqFeatureDev/client/featureDev.test.ts
  packages/core/src/test/amazonqFeatureDev/session/sessionState.test.ts
Due: amazonqFeatureDev

use pathUtils normalize
  packages/core/src/codewhisperer/util/zipUtil.ts
Due: codewhisperer

telemetry(amazonq): remove common definitions (#6729)
  packages/core/src/shared/telemetry/vscodeTelemetry.json
Due: none

docs(amazonq): Add documentation for Flare chat activation + e2e testing
  docs/TEST_E2E.md
  docs/lsp-debugging.md
  docs/lsp.md
Due: none

fix: ignore jscpd duplicate in test data
  packages/core/src/test/awsService/apprunner/explorer/apprunnerServiceNode.test.ts
  packages/core/src/test/ssmDocument/commands/updateDocumentVersion.test.ts
Due: none

telemetry(amazonq): deprecate `codewhisperer_userDecision` metric (#6702)
  packages/amazonq/test/unit/codewhisperer/commands/onAcceptance.test.ts
  packages/amazonq/test/unit/codewhisperer/commands/onInlineAcceptance.test.ts
  packages/amazonq/test/unit/codewhisperer/service/recommendationHandler.test.ts
  packages/amazonq/test/unit/codewhisperer/util/telemetryHelper.test.ts
  packages/core/src/codewhisperer/util/telemetryHelper.ts
  packages/core/src/shared/telemetry/exemptMetrics.ts
Due: codewhisperer

feat(amazonq): manifest deprecation message with optional don't show (#6604)
  packages/core/src/dev/activation.ts
  packages/core/src/shared/lsp/manifestResolver.ts
  packages/core/src/shared/settings-amazonq.gen.ts
  packages/core/src/shared/settings.ts
Due: none

fix: adjust stubs to use new paginator
  packages/core/src/awsService/apprunner/explorer/apprunnerNode.ts
  packages/core/src/shared/clients/apprunner.ts
  packages/core/src/test/awsService/apprunner/explorer/apprunnerNode.test.ts
Due: none

refactor: migrate listConnections
  packages/core/src/awsService/apprunner/wizards/codeRepositoryWizard.ts
  packages/core/src/shared/clients/apprunner.ts
  packages/core/src/test/awsService/apprunner/wizards/codeRepositoryWizard.test.ts
Due: none

fix: migrate listOperations
  packages/core/src/shared/clients/apprunner.ts
Due: none

fix(amazonq): incorrect path for diff on windows (#6740)
  packages/amazonq/.changes/next-release/Bug Fix-f80cc751-cb9d-45b6-a03a-3aec945a4565.json
  packages/core/src/codewhisperer/util/zipUtil.ts
Due: codewhisperer

refactor: migrate wizard typing
  packages/core/src/awsService/apprunner/explorer/apprunnerNode.ts
  packages/core/src/awsService/apprunner/wizards/apprunnerCreateServiceWizard.ts
  packages/core/src/awsService/apprunner/wizards/codeRepositoryWizard.ts
  packages/core/src/awsService/apprunner/wizards/imageRepositoryWizard.ts
  packages/core/src/shared/clients/apprunner.ts
  packages/core/src/test/awsService/apprunner/wizards/createServiceWizard.test.ts
Due: none

add yaml file to zip
  packages/core/src/amazonqGumby/chat/controller/controller.ts
  packages/core/src/amazonqGumby/chat/controller/messenger/messenger.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/transformByQ/transformApiHandler.ts
  packages/core/src/codewhisperer/service/transformByQ/transformFileHandler.ts
Due: codewhisperer

refactor: remove remaining imports
  packages/core/src/awsService/apprunner/explorer/apprunnerNode.ts
  packages/core/src/awsService/apprunner/explorer/apprunnerServiceNode.ts
  packages/core/src/awsService/apprunner/wizards/apprunnerCreateServiceWizard.ts
  packages/core/src/awsService/apprunner/wizards/codeRepositoryWizard.ts
  packages/core/src/shared/clients/apprunner.ts
  packages/core/src/test/awsService/apprunner/wizards/codeRepositoryWizard.test.ts
  packages/core/src/test/awsService/apprunner/wizards/imageRepositoryWizard.test.ts
Due: none

update view diff test to account for plan summary
  packages/amazonq/test/e2e/amazonq/testGen.test.ts
Due: none

refactor: clean up type definitions
  packages/core/src/shared/clients/apprunner.ts
Due: none

error message phrase
  packages/amazonq/test/e2e/amazonq/testGen.test.ts
Due: none

refactor: cleanup
  packages/core/src/awsService/apprunner/explorer/apprunnerNode.ts
  packages/core/src/awsService/apprunner/explorer/apprunnerServiceNode.ts
  packages/core/src/awsService/apprunner/wizards/codeRepositoryWizard.ts
Due: none

test(amazonq): update view diff test (#6777)
  packages/amazonq/test/e2e/amazonq/testGen.test.ts
Due: none

Release 3.50.0
  package-lock.json
  packages/toolkit/package.json
Due: none

Release 1.51.0
  package-lock.json
  packages/amazonq/.changes/1.51.0.json
  packages/amazonq/.changes/next-release/Bug Fix-4f680a31-ba5e-4baa-9984-666e0c1c2b72.json
  packages/amazonq/.changes/next-release/Bug Fix-917c4c75-6019-4d7d-a246-0248cf2be55d.json
  packages/amazonq/.changes/next-release/Bug Fix-b89574ec-9f50-4b4c-b548-30bfce5d0999.json
  packages/amazonq/.changes/next-release/Bug Fix-f80cc751-cb9d-45b6-a03a-3aec945a4565.json
  packages/amazonq/.changes/next-release/Feature-5950fb35-8db4-4794-878e-e981c754d912.json
  packages/amazonq/.changes/next-release/Feature-6192cfc5-c6cb-4302-bfcf-ec90cac95b72.json
  packages/amazonq/.changes/next-release/Feature-96409066-931c-4488-b943-7bee68626547.json
  packages/amazonq/CHANGELOG.md
  packages/amazonq/package.json
Due: none

fix(amazonq): allow extension activation during amazon q lsp initialization
  packages/amazonq/src/extension.ts
Due: codewhisperer

refactor: unify middleware definitions
  packages/core/src/auth/sso/clients.ts
  packages/core/src/shared/awsClientBuilderV3.ts
  packages/core/src/test/shared/awsClientBuilderV3.test.ts
Due: none

feat: generalize performance logging into utility
  packages/core/src/shared/clients/clientWrapper.ts
  packages/core/src/shared/logger/perfLogger.ts
Due: none

fix(amazonq): Reduce redundant mapping from error to metric type
  packages/core/src/amazonqFeatureDev/controllers/chat/controller.ts
  packages/core/src/amazonqFeatureDev/errors.ts
  packages/core/src/test/amazonqFeatureDev/controllers/chat/controller.test.ts
Due: codewhisperer, amazonqFeatureDev

Build Exec ShortAnswer Refactoring (#10)
  packages/core/src/amazonqTest/chat/controller/controller.ts
  packages/core/src/amazonqTest/chat/session/session.ts
  packages/core/src/codewhisperer/commands/startTestGeneration.ts
  packages/core/src/codewhisperer/models/model.ts
  packages/core/src/codewhisperer/service/testGenHandler.ts
Due: codewhisperer

feat(amazonq): re-add basic chat through a language server
  packages/amazonq/src/extension.ts
  packages/amazonq/src/extensionNode.ts
  packages/amazonq/src/lsp/chat/activation.ts
  packages/amazonq/src/lsp/chat/commands.ts
  packages/amazonq/src/lsp/chat/messages.ts
  packages/amazonq/src/lsp/chat/webviewProvider.ts
  packages/amazonq/src/lsp/client.ts
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/core/src/shared/lsp/baseLspInstaller.ts
  packages/core/src/shared/lsp/types.ts
  packages/core/src/shared/settings-toolkit.gen.ts
  packages/toolkit/package.json
Due: codewhisperer

test: add testing for new util
  packages/core/src/shared/clients/clientWrapper.ts
  packages/core/src/shared/logger/perfLogger.ts
  packages/core/src/test/shared/logger/perflog.test.ts
Due: none

docs(amazonq): Add documentation for Flare chat activation + e2e testing (#6775)
  docs/TEST_E2E.md
  docs/lsp-debugging.md
  docs/lsp.md
Due: none

refactor: avoid noisy imports
  packages/core/src/awsService/apprunner/explorer/apprunnerNode.ts
  packages/core/src/awsService/apprunner/explorer/apprunnerServiceNode.ts
  packages/core/src/awsService/apprunner/wizards/apprunnerCreateServiceWizard.ts
  packages/core/src/awsService/apprunner/wizards/codeRepositoryWizard.ts
  packages/core/src/awsService/apprunner/wizards/imageRepositoryWizard.ts
  packages/core/src/shared/clients/apprunner.ts
  packages/core/src/test/awsService/apprunner/explorer/apprunnerNode.test.ts
  packages/core/src/test/awsService/apprunner/explorer/apprunnerServiceNode.test.ts
  packages/core/src/test/awsService/apprunner/wizards/codeRepositoryWizard.test.ts
  packages/core/src/test/awsService/apprunner/wizards/createServiceWizard.test.ts
  packages/core/src/test/awsService/apprunner/wizards/imageRepositoryWizard.test.ts
Due: none

test(amazonq): add language server activation tests
  packages/amazonq/src/lsp/lspInstaller.ts
  packages/amazonq/test/e2e/lsp/amazonqLsp.test.ts
  packages/amazonq/test/e2e/lsp/lspInstaller.test.ts
  packages/amazonq/test/e2e/lsp/lspInstallerUtil.ts
  packages/amazonq/test/e2e/lsp/workspaceContextLsp.test.ts
  packages/core/src/amazonq/index.ts
  packages/core/src/amazonq/lsp/lspController.ts
  packages/core/src/amazonq/lsp/workspaceInstaller.ts
  packages/core/src/dev/activation.ts
Due: codewhisperer

fixup
  packages/amazonq/test/e2e/lsp/amazonqLsp.test.ts
  packages/amazonq/test/e2e/lsp/workspaceContextLsp.test.ts
Due: none

fix imports
  packages/core/src/shared/sam/utils.ts
Due: none

Path conditions:
  codewhisperer: any of: packages/core/src/codewhisperer/, packages/core/src/amazonq*/*, packages/amazonq/src/, but not: node_modules/, plugins/, scripts/, src.gen/
  amazonqFeatureDev: any of: packages/core/src/amazonqFeatureDev/, but not: node_modules/, plugins/, scripts/, src.gen/
